[2017-01-27 11:46] 23Skidoo commented on #4271
So basically flag constraints should be better documented and referred to from more places?

[2017-01-27 11:53] phadej commented on #4271
I tried
[code]
and `cabal` silently succeed with

[code]

so there's an UX and documentation problem. For now I'm ok with if someone tells how to do what I want

[2017-01-27 11:55] 23Skidoo commented on #4271
Does `new-build --constraint "servant-js +example"` work for you?

[2017-01-27 11:57] phadej commented on #4271
Just "found" it myself. Yeah, it works. Thanks!

---

definitely an UX problem:
- universal flag: `-fflag`
- per-package flag: `--constraint "pkg +flag"`

[2017-01-27 12:03] phadej opened #4272 "Don't reuse `Simple` command argument parsing for `new-build` commands."
ATM `--help` is essentially useless. Adding `new-build` specific options is hard. There are a lot of flags that /might/ have effect.

As an example: `-f` for `new-build` and for `Setup.hs` could have different (former be a superset) semantics.

[2017-01-27 12:22] phadej opened #4273 "Changes in `D.S.Build` break stacks setup-hs--shim"
Especially the change of `initialBuildSteps` signature.

cc @ezyang

[code]

For the reference: https://github.com/commercialhaskell/stack/blob/master/src/setup-shim/StackSetupShim.hs

---

I guess we cannot make migration story better, but at least `initialBuildSteps` needs a haddock.

[2017-01-27 12:27] phadej commented on #4273
It seems that sometimes in stack internals changed as it tries to compile shim with `Cabal` in the repository (I have `stack-head` as it uses hackage-security). So with next `stack` the development of `cabal-install` will be impossible, due this "bug". I guess @ezyang is best one to say how to make stack's shim compatible

[2017-01-27 14:50] saurabhnanda commented on #4253
I'm facing something similar at http://stackoverflow.com/questions/41896211/how-to-use-packageimports-extension-to-shadow-a-module

@RyanGlScott based on your research, is this a GHCi only bug, or does this happened in GHC compiled code as well? My initial research seems to show that it happens in GHC-compiled code as well (although I didn't try to isolate the case like you did).

[2017-01-27 17:00] 23Skidoo commented on #4005
Relevant GHC ticket filed by @arybczak: https://ghc.haskell.org/trac/ghc/ticket/13194

[2017-01-27 17:04] Ericson2314 commented on #1493
@grayjay the difference is the prune function---it limits the number of `QualExes` and there can already be only one `QualBase`, thus the length of the path must be finite. [I forgot to use prune too on user-specified constraints, but those are also finite and worst-case just wouldn't apply, so less harm there.]

Specifying a single compiler/platform, or single cross and native compiler/platform,

[2017-01-27 21:37] ezyang commented on #4273
Probably the easiest way to keep BC is to rename the new initialBuildSteps to componentInitialBuildSteps, and then add back initialBuildSteps whose semantics is "run initial build steps for all components"

[2017-01-27 21:49] ezyang opened #4276 "Procedure for detecting BC breaking API changes in Cabal library"
Refactoring is good, and it is the way that code continuously improves. But I've observed that it is, esp on big refactors, it is easy to forget that you made a BC-breaking change to a user-facing problem. Then we only get notification that someone's code broke when we actually do a release and their code breaks.

In an ideal world, Cabal's public facing API would be carefully considered, so that

[2017-01-27 21:56] ezyang commented on #4272
Not against the refactor.  Note that historically `cabal-install` only options were added to `ConfigExFlags`.

[2017-01-27 22:04] ezyang commented on #4271
`-fflag` doesn't mean universal flag. It originates as a flag to `./Setup configure`, where it sets the flag *of the package being configured.* This is related to #4272, since new-build shouldn't accept this flag, it only makes sense if there is a unique package you are configuring.

[2017-01-27 22:08] ezyang commented on #4271
Related to discovery on the command line: #937 on warning when `-f` doesn't exist. (It's not entirely trivial to say what the correct semantics are.)

[2017-01-27 22:11] ezyang commented on #4174
Yep.

[2017-01-27 22:14] ezyang commented on #4263
I think it should be OK to dump all of the dynamic libraries for `.cabal/store` in a single directory. @christiaanb do you want to submit a patch? `dylib`s are hashed correctly; they will look like `libHSp-0.1.0.0-hash-ghcx.y.z.dylib`

[2017-01-27 22:22] phadej commented on #4271
I didn't look in "5.5. Configuring builds with cabal.project", as it doesn't mention flags in the title.
---

The documentation contradicts with your claim:

---

IMHO it's *bad* idea to inherit "Any flag accepted by ./Setup configure.". Examples:

[code]

or

[code]

[code]

`--enable-tests` is crippled. What if I want everything and tests from few packages. Or, as I needed today, build everythin

[2017-01-27 22:48] ezyang opened #4277 "Shorter Travis build times"
Travis takes too long to run; esp Mac OS X on GHC 8.0.1 which is running up against the limit.  What can we do?  I see two main ways we can win a lot:

1. cabal-install library.  Currently building cabal-install takes 740s (12min), but this far bigger than it should be: we actually have to build many modules FOUR times (134+70+72+119) because the test suites can't share a library between themselve

[2017-01-28 00:00] mboes opened #4278 "Cabal doesn't actually use cpphs for .cpphs files"
According to the [Cabal User guide](https://www.haskell.org/cabal/users-guide/developing-packages.html#modules-and-preprocessors), `.cpphs` files are preprocessed using the `cpphs` tool.

But this doesn't seem to be the case. Create any trivial Cabal package, including at least one file with a .pphs extension. Notice the verbose output:

[code]

[2017-01-28 00:16] 23Skidoo commented on #4277
One thing we can do here is add a special `cabal-install.cabal` file for CI only that has those modules exposed as a library. We'll have to be careful to keep both `.cabal` files in sync, though.

branches.

Or just use `commit --amend` and `push -f`. This is how haddocks deployment to `cabal-website/gh-pages` works already.

[2017-01-28 00:33] 23Skidoo commented on #4276
Would be also nice if it worked for arbitrary Hackage packages.

[2017-01-28 00:36] phadej commented on #4277
I could develop `cabal-refact` to be able to do `.cabal` file editing on travis, if would help? I plan to make a "refactoring" generating `exposed-modules` anyway...

[2017-01-28 00:39] phadej commented on #3638
FWIW, there is bare bones `new-test` which simply builds and runs all tests matching build targets.

[2017-01-28 03:58] ezyang commented on #4277
@phadej That probably would be the most robust way of doing it, assuming cabal-refact doesn't take too long to build.

[2017-01-28 05:32] codygman commented on #3332
Eventually sure. And we don't want to tie our hands up implementing it later. However I think this cabal new-install feature alone without ability to roll back is **very** valuable on its own and will give many the option of using cabal new-build rather than stack in their workflows.

[2017-01-28 10:28] ezyang commented on #4277
OK, prototype is here: https://github.com/ezyang/sake-bot
I tested the strategy with a small repo.

Look at that link for full info, but the proposal is this:

1. Change cabal's travis.yml to ONLY build Cabal/cabal-install. After it's done, it Travis will push the built commit to a new Git repo that accumulates Cabal build products.
2. That repo will be setup on Travis, and will start running the

[2017-01-28 16:33] kolmodin commented on #4277
I find Mikhail's solution in https://github.com/haskell/cabal/issues/4277#issuecomment-275808894 is far simpler than the alternatives.

Another solution would be to add the each unit test separately to theTravis  test matrix instead of all together.

[2017-01-28 17:18] grayjay commented on #4277
We could also run the solver-quickcheck test suite in fewer builds, since it shouldn't be platform dependent.

[2017-01-28 18:31] 23Skidoo commented on #4277
One potential problem with using GH repos for storing binary artifacts is that GH doesn't allow storing large files (>100 MiB IIRC). However, I think that we can use GitHub releases (which use S3 under the hood) to store large files, as they are allowed to be quite large.

[2017-01-28 19:07] ezyang commented on #4277
While this would get us down the build limit, we'd end up wasting a lot of time rebuilding the build products each test. We're already doing this now (Cabal versus cabal-install tests) but I'd rather not.

Yes, although the solver-quickcheck tests are pretty speedy (10s), so we wouldn't get that much benefit.

In my local checkout, the largest individual file is 40MB (the cabal executable.) So...

[2017-01-28 19:38] grayjay commented on #1493
I meant that we should make sure that the solver continues to handle cycles well before increasing the pruning depth beyond 0.  I don't know if this will be an issue, but increasing the depth might cause the solver to search a large tree of possibilities every time it encounters a cycle through setup dependencies, when it could backtrack quickly with a depth of 0.

So the solver never has to choos

[2017-01-28 19:40] ezyang commented on #4120
Known workarounds:

1. If the data-files don't change much, run an old style "cabal install" which will stick the install files where the bogus paths are looking
2. Set environment variables to where the data-files are (note that your in-tree data files need to have the same layout as when they are installed, which may not necessarily be the case)

[2017-01-29 15:39] JimiC opened #4280 "SVG logo"
I'm looking for an SVG version of the logo to use in [vscode-icons](https://github.com/vscode-icons/vscode-icons) to associate `.cabal` files with an icon. I found a link @ https://github.com/haskell/cabal/issues/307#issuecomment-5891601 but it's not available anymore.

Any help would be much appreciated.

[2017-01-29 15:46] JimiC commented on #4280
Found it @ https://www.haskell.org/cabal/images/Cabal.svg

[2017-01-29 15:46] #4280 closed

[2017-01-29 18:17] Ericson2314 commented on #1493
@grayjay Granted, I haven't looked to much at the solver code, but as I understand it, cycles would be handled the same, and qualifiers essentially would unroll the cycle up to the length of the qualifier, with the longest qualifier in the series handling the remaining cycle. I hope that makes sense :).

In the new-build world, "improvement" i.e. dropping already-built packages/components from the

[2017-01-29 18:31] kostonstyle opened #4281 "Failed to install hackage-security-0.5.2.2"
Hi all

When I try to install cabal on my macOS Sierra Version 10.12.1 I've got following error:

[code]
The cabal version on my mac:

[code]
I tried to run `ghc-pkg check` and got a lot of package problems, few examples:
[code]

Thanks

[2017-01-29 20:34] ezyang commented on #4281
It sounds like `/Users/developer/.cabal/lib` has been blown away somehow. One easy way to reset the state of your system is to delete `/Users/developer/.cabal` (back up `.cabal/config` maybe) and then restart the install.

[2017-01-31 07:35] PierreVDL opened #4283 "feedback on files being processed by build-tools"
Calling "stack build" currently doesn't report the files that are being processed by build-tools such as happy and alex.
 When multiple files are processed by build-tools,
 it is no longer clear to which file the reported errors and/or warnings belong.

Could the files being processed by build-tools be echoed,
 such that it becomes clear to which file a message belongs?

To give an example:
 I pre

[2017-01-31 12:03] dudebout opened #4284 "dynlibdir does not work with build-type Custom"
When the build-type is set to Custom in a cabal file, the dynlibdir feature is not working. Instead of placing the .so in the per-abi directory, the .so is placed in the per-module directory.

The following example shows the issue:

[code]

[2017-01-31 12:35] 23Skidoo commented on #4284
/cc @christiaanb

[2017-01-31 13:27] christiaanb commented on #4284
That's odd, the default `dynlibdir` is clearly `$libdir/$abi`: https://github.com/haskell/cabal/blob/382143aa7322605d1a9f0480e383490e186c7ea0/Cabal/Distribution/Simple/InstallDirs.hs#L201

[2017-01-31 13:33] 23Skidoo commented on #4284
Maybe the setup script gets compiled with Cabal that came with GHC 8.0.1 and that fails somehow.

[2017-01-31 13:43] christiaanb commented on #4284
That's what's happening, the Cabal bundled with ghc 8.0.1 is too old: https://github.com/haskell/cabal/blob/6e2d243d1cd243882b29ccd717bdf53c94c1cb76/Cabal/Distribution/Simple/InstallDirs.hs#L184

[2017-01-31 14:09] 23Skidoo commented on #4284
Maybe we can print a warning in this case?

[2017-01-31 14:16] christiaanb commented on #4284
Print warnings for all flags being filtered out by [filterConfigureFlags](https://github.com/haskell/cabal/blob/7cdc32fd786f18b87f060f7cf9bf8a2799338190/cabal-install/Distribution/Client/Setup.hs#L370)? or specifically `dynlibdir`?

[2017-01-31 14:27] 23Skidoo commented on #4284
I don't think we need to do it in all cases, but in this one I think we should.

[2017-01-31 14:54] 23Skidoo opened #4285 "Improve the error message when integer-gmp is not installed"
This came up at $WORK. My colleague upgraded GHC and then got the following error when trying to install `shake`:

[code]

The root cause of the error is that his GHC was configured not to use GMP, so `integer-simple` was installed instead of `integer-gmp`. It's however not very obvious from the output and there is a lot of noise about conflicts: maybe we can do something smarter in the case when

[2017-01-31 15:56] phadej opened #4286 "Subsections in custom-setup"
By reading http://cabal.readthedocs.io/en/latest/developing-packages.html#custom-setup-scripts it's not clear whether subsections e.g. `if os(windows)` are supported. IIRC they aren't, but IMHO it's good idea to explicitly mention this (and the reasoning behind).

Also: if such section is added, cabal crashes:

[code]

(I'm not sure what parsec variant does).

[2017-01-31 16:16] 23Skidoo commented on #4286
I think the idea was to make custom-setup as simple as possible, so it's probably deliberate, but the error message should be improved.

/cc @dcoutts

[2017-01-31 16:17] 23Skidoo commented on #4281
Seems to be a case of borked system configuration, optimistically closing.

[2017-01-31 16:17] #4281 closed

[2017-01-31 16:18] phadej commented on #4286
FWIW: I guess it should crash, but (and) parser should warn about this. I can look into the code issue, but I don't know about the reasons to improve the documentation.

[2017-01-31 16:30] grayjay commented on #4285
That's weird, I thought that the solver applied the non-installable package check first.  I'll look into it when I have time.

Do you have the -v3 log?

[2017-01-31 16:38] 23Skidoo commented on #4285
I don't, maybe @Paczesiowa does.

[2017-01-31 19:37] ezyang commented on #4286
See also #4047 which is a proposal to allow a custom setup to be an external executable, in which case the current setup stanza restrictions do not apply. CC @Ericson2314

[2017-01-31 21:16] claudeha opened #4287 "cabal exec uses default ghc version instead of one appropriate to sandbox"
`cabal exec` uses `ghc` instead of the version used to install packages to the sandbox.  Moreover `-w` is not recognized by `cabal exec`, so I can't force which version it uses.

    $ cabal sandbox init
    Writing a default package environment file to
    /home/claude/code/local/haskell/sandbox-bug/cabal.sandbox.config
    Creating a new sandbox at
    /home/claude/code/local/haskell/sandbox-bug

[2017-01-31 21:21] dcoutts commented on #4287
So it looks like exec is setting up the GHC_PACKAGE_PATH based on the default ghc, rather than the one used in the construction of the sandbox (since the sandbox doesn't have any notion of a selected compiler).

We should confirm when we implement cabal new-exec that we use the ghc path for the selected compiler.

[2017-01-31 21:21] 23Skidoo commented on #4287
[code]

Here, the correct `ghci` version (8.0.1) is invoked, but

[2017-01-31 21:34] claudeha commented on #4287
As requested in IRC:

    $ cabal exec bash
    $ echo $GHC_PACKAGE_PATH
    /home/claude/code/local/haskell/sandbox-bug/.cabal-sandbox/x86_64-linux-ghc-8.0.2-packages.conf.d:/home/claude/opt/lib/ghc-8.0.2/package.conf.d

[2017-01-31 21:40] dcoutts commented on #4287
So I think this is hard to fix in the current sandbox implementation because the sandbox lacks any notion of a selected compiler. The same sandbox can be used with any number of ghc versions at once, and none is privileged. A `cabal exec -w ghc-8.0.1` flag would be possible but it's not practical to expect users to use it.

On the other hand this should work fine with the new project based impleme

[2017-01-31 21:53] 23Skidoo commented on #4287
This is not quite correct, the compiler that the user specified via `cabal configure -w` is considered to be the currently selected one, though there still may be some places where we forget to take it into account (like `cabal exec`).

[2017-02-01 00:29] Ericson2314 commented on #4047
In https://github.com/haskell/cabal/issues/1493 I've talked about using multiple compilers/platforms when solving. One thing this elides over is when components from the same package are used in a different phase---e.g. if a package's library uses it's executable, or more common a custom setup. In this case, even with per-component solving, we often want to make sure all components in a package ar

[2017-02-01 13:17] phadej opened #4288 "new-build failure"
Reproducible with ghc-8.0.1 and ghc-8.0.2

[code]

### Steps to reproduce

[code]

/note/ `-j1` isn't necessary

### Additional info

#### part of new-build log building the distributive

[code]

That directory doesn't seem to exist.

[2017-02-01 13:32] phadej commented on #4288
does any one remember was there a bug in 1.24?

The *GHC-7.10.3* seems successfully register stuff:

[code]

But otoh, `distributive` travis did pass yesterday fine.

[2017-02-01 13:46] phadej commented on #4288
[code]

I see there is comment in `ProjectBuilding`:

[code]

but why there is both `.../setup register` and `ghc-pkg update` ?

ping @dcoutts

[2017-02-01 14:26] phadej commented on #4288
hmm..

Interestingly, if i `cabal get distributive-0.5.2` and add `Cabal, filepath, directory` to setup-depends, problem seems go away. But those packages aren't **directly** used in Setup.lhs

[2017-02-01 14:44] 23Skidoo commented on #4288
Just bumped into this as well.

[2017-02-01 15:27] 23Skidoo commented on #4288
I wonder why the setup script compiled without `Cabal` in `build-depends` of the `custom-setup` section, since it seems to be importing stuff from `Distribution.*`.

[2017-02-01 15:46] phadej commented on #4288
@23Skidoo edited the original issue with minimal example. if `cabal-install` knows how to handle `setup-depends`, `Setup.hs` doesn't need `Cabal`, if you check the CPP magic there properly.

[2017-02-01 16:41] 23Skidoo commented on #4288
@phadej Thanks, that clears it.

[2017-02-01 19:10] sjakobi commented on #1890
It isn't sufficiently widely known that the default setting for `Manual` is `False`.

I suggest that in a first step `cabal check` should warn about implicit `Manual: False` settings and that in a second step, the `Manual` field should be made compulsory.

[2017-02-01 19:38] sjakobi opened #4290 "`cabal check` should recommend against using the `stability` field"
It seems to be consensus that the `stability` field is often misleading and shouldn't be used any more. See for example [Simon Marlow's comment on this issue](http://stackoverflow.com/a/3847493/1013393).

Therefore I propose that `cabal check` should recommend any explicit settings in the `stability` field.

As the `stability` field can also be set on a per-module basis (see e.g. [Data.Set](http:/

[2017-02-02 00:07] ezyang commented on #4288
At a guess, this is probably because cabal-install is applying an upper bound to the choice of Cabal library, even when an older version of Cabal wouldn't work with a new GHC? Though I'm a bit confused because 1.24 should be a permitted version in any case.

[2017-02-02 00:11] ezyang commented on #3567
Added @alexbiehl for https://github.com/haskell/cabal/pull/4289

[2017-02-02 01:52] dudebout opened #4291 "Relocatable is broken because some double dots in a path are not interpreted (GHC 8.0 only)"
Installing some packages as relocatable is not working. For example:

[code]
The issue is that the double dots in the string `/tmp/cabal-bug/.ghc/x86_64-linux-8.0.1/../../.cabal/lib/x86_64-linux-ghc-8.0.1/stm-2.4.4.1-4z2NRWnB0NIIUvSJsHW0kF` are not interpreted before checking if `/tmp/cabal-bug/.cabal` is a prefix.

[2017-02-02 14:58] bennofs commented on #4277
Travis appears to run at most 4 builds from the same matrix in parallel (not sure if that's a temporary limitation or always the case), so splitting it up won't improve total build time.

Another possibility for improving travis build time would be using the travis build cache to get incremental rebuilds (and cache library dependencies).

IMO, the solution using two repos is quite a hack (it makes

[2017-02-02 20:04] ezyang commented on #4277
@bennofs

Nope, that's what sake-bot is for: it takes the build status from the second repo and posts it to the first repo. So you'll see if tests succeeded or not, and you'll be able to look at the usual place to find a link to the actual build result. So yes, it's kind of a hack, but I don't think it's that terrible.

We already cache library dependencies. At least with the current new-build imp

[2017-02-02 20:51] #4273 closed

[2017-02-02 21:15] ezyang commented on #4277
One thing to wonder about in the two repo setup: what exactly should get pushed to the second repo? At a first glance you might think just the binaries we want to test should be enough, but some tests involve compiling against the Cabal library, so all of that data also needs to be propagated. Should we copy all of `.cabal` into the Git repository, or should we be more surgical, or should we try t

[2017-02-03 07:18] ezyang commented on #4277
Here is the WIP branch for two-repository Travis builds. https://github.com/ezyang/cabal/pull/9

It looks like the tax for spinning up a totally new instance is something like 5min (in particular PPA downloads are *really slow*). The build time numbers are bogus because I turned on heavy caching for dev; I'm going to do a full rebuild now and see what the end to end numbers end up looking like.

[2017-02-03 08:23] phadej opened #4293 "sdist fails with non-installed custom-depends:"
[code]

Do we need `cabal new-sdist`?

[2017-02-03 08:25] phadej commented on #4293
Or is there some workaround (the dependency is in store)?

[2017-02-03 08:33] 23Skidoo commented on #4293
Probably yes.

[2017-02-03 09:07] 23Skidoo commented on #4293
I don't think there is a way to do this now, but it should be possible to add by tinkering with `D.S.SetupWrapper`.

[2017-02-03 22:13] #4150 closed

[2017-02-03 22:29] bgamari commented on #3576
@23Skidoo yes, ideally we would have a final release tag for `Cabal` by late February.

[2017-02-04 00:16] ezyang commented on #4293
Workaround should be to set `builddir` to new-build's created dist directory.

[2017-02-04 00:23] ezyang commented on #4291
Note that you need to use GHC 8.0 to trigger this bug. I was able to reproduce with cabal-install-1.24.0.2 and cabal-install HEAD 9930ea81133d4988138553b86ca026b91d0f4674.

@dudebout, would you be interested in trying to fix this bug? I might be able to point you in the right direction where the path is being computed.

[2017-02-04 00:26] ezyang commented on #4290
The test for a stability field in the package description should be easy enough.

`cabal check` does not currently make any invocations to the compiler so it's definitely not in the scope of current `cabal check`. And, AFAICT, probably the code that understands how to tell if a module has a stability field is in Haddock itself. Maybe this counts as a Haddock feature request?

[2017-02-04 00:36] ezyang commented on #4287
Given that this will eventually be a legacy codepath, I'm OK with adding `-w` or, if what @23Skidoo says is true, just fixing the code to take that into account. @claudeha, fixing this bug probably will not be a priority, FYI, but if you submit a patch I'll try to merge it.

[2017-02-04 00:42] ezyang commented on #4283
Yes, this should be easy to do by modifying `preprocessFile`. Hardest thing is deciding exactly what we want output, at what verbosity. Your suggestion is to print just the preprocessor name and file name (NO flags), but this is a bit difficult because the `PreProcessor` struct doesn't record the name of the preprocessor (nor can we easily add it without breaking Custom setup compatibility.) What

[2017-02-04 01:07] ezyang commented on #4278
Reproduced. The reason for this is that Cabal is hard-coded to prefer the GHC preprocessor:

{{{
-- |Standard preprocessors: GreenCard, c2hs, hsc2hs, happy, alex and cpphs.
knownSuffixHandlers :: [ PPSuffixHandler ]
knownSuffixHandlers =
  [ ("gc",     ppGreenCard)
  , ("chs",    ppC2hs)
  , ("hsc",    ppHsc2hs)
  , ("x",      ppAlex)
  , ("y",      ppHappy)
  , ("ly",     ppHappy)
  , ("cpphs",

[2017-02-04 01:39] dudebout commented on #4291
I'd be happy to take a stab at it.

[2017-02-04 17:37] piyush-kurur opened #4294 "Allow per file gcc flags while compiling c code for ffi"
At the onset let me say that this is a feature request that not many people would need. However if one wants to do platform dependent compilation this is valuable.

The problem is the following: Let us say you have two implementation for the stream cipher chacha20 one tuned to use some processor extension like avx2. and another which does not have it. For gcc to be effictive we need to compile wit

[2017-02-05 03:08] grayjay commented on #4154
#4176 fixed the bad error message, and #4257 made unqualified constraints only apply to top-level dependencies.

[2017-02-05 03:08] #4154 closed

[2017-02-05 08:34] grayjay commented on #1783
I think that cabal is much better at handling restrictive upper bounds now that it can reorder goals with the conflict counting feature added in #3513.  If a package has a restrictive upper bound and it occurs frequently in conflict sets, conflict counting causes the solver to choose the packages affected by the constraint earlier.  Then it can make choices that take the constraint into account.

[2017-02-05 08:34] #1783 closed

[2017-02-05 08:36] grayjay commented on #3582
See #1783 for a discussion of alternative solvers.

[2017-02-05 17:21] phadej opened #4295 "custom-setup solving problem, is `Cabal` version shared across all `Setup.hs`?"
Happens only with GHC 7.8.4 and older.

With the code in https://github.com/phadej/cabal-doctest/commit/742c2d009d33d2f00fd9cb010382c5a397b7f590
Only if I add a `cabal-doctests >=1.0.1` bound to `example.cabal`'s setup-depends, I'll get a solver error https://travis-ci.org/phadej/cabal-doctest/jobs/198593113

This is very unfortunate, as I don't see why there can't be valid plan (`Cabal` for `Comp

[2017-02-05 17:27] phadej commented on #4295
cc @grayjay

[2017-02-05 17:27] phadej commented on #4295
I have no idea where from the `Cabal >= 1.20` bound comes from. Feel free to ask me on IRC for more details.

[2017-02-05 19:22] claudeha commented on #4287
In my particular instance, I was using sandboxes without a `.cabal` file, so I'd prefer `-w` for `cabal exec` rather than the `cabal configure -w` mechanism.  But it's not such a high priority for me either (so I won't be submitting a patch), it was not too much work to recreate my sandbox with the latest `ghc`.

[2017-02-05 20:55] ezyang commented on #4295
new-build requires 1.20 or later because 1.18 setup does not support `--dependency`, so it's not possible for us to request specific packages. 80de7ff4fa5cc5c1a5b1e620787750e08f91325b and #4051

[2017-02-05 20:56] #4270 closed

[2017-02-05 21:58] grayjay commented on #4295
The problem is that new-build adds all packages from cabal.project to the list of targets for the dependency solver, so they all are required to have consistent dependencies.  In this example, the solver would ideally choose the installed `Cabal` for `example`'s `doctests` test suite and a newer `Cabal` for `example`'s setup script.  The test suite needs the installed `Cabal`, because it depends o

[2017-02-06 06:27] phadej commented on #4295
@grayjay thanks for the explanation!

[2017-02-06 20:46] tuncer opened #4296 "Solver possibly confused and selects wrong package version"
Trying to install `idris` together with `alex` (which will pull in `QuickCheck`) confuses the solver, as it decides to install `idris 0.9.14.2` and not `latest:0.99`. I was able to work around it by installing `alex` and `idris` separately, but I don't think the solver should do that, unless there's something wrong with `alex.cabal` or `idris.cabal`.

To reproduce, run `cabal install alex idris --

[2017-02-06 20:47] tuncer commented on #4296
/cc @grayjay @23Skidoo

[2017-02-06 21:07] ezyang commented on #1127
@phadej has been working on a Parsec parser which will make this easier, but if we decide to modify GPD to store this information that is a fairly major breaking change. One possibility is to store the data out of line in a data structure of its own (similar to how API annotations in GHC work.)

CC https://github.com/fpco/stackage/issues/871
CC @rvion

[2017-02-07 06:12] phadej commented on #4296
Ineable to reproduce using quite recent `cabal` from `master`. Neither with `build` or `new-build`.

[2017-02-07 07:36] PierreVDL commented on #4283
Since, in my case, the output is analyzed automatically, I don't mind a chatty output.
Yet, I can understand that some user only want `the actual command that was run` in case `there was output`.
For me, the crucial requirement is to be able to determine to which command the output belongs, when output occurs.

[2017-02-07 09:08] 23Skidoo commented on #4296
I was able to reproduce this, here's the `-v3` log: https://gist.github.com/23Skidoo/292113b08619828996b5258d51156807

[2017-02-07 09:16] 23Skidoo commented on #4296
I think this has to do with `idris-0.99` having a dependency on `vector < 0.12` and `idris-0.9.14.2` having no upper bound in its dependency on `vector`. If you run `cabal install --dry-run QuickCheck idris --allow-newer=idris:vector`, it will pick `idris-0.99`.

[2017-02-07 09:19] 23Skidoo commented on #4296
Notice also that `cabal install QuickCheck idris-0.99` is able to find a solution (by picking `vector-0.11.0.0`).

[2017-02-07 09:24] PierreVDL opened #4297 "support test library"
Only one library can be defined in a single Cabal file.
According to https://github.com/haskell/cabal/issues/2716 it is a fundamental design decision.

As a developer, I want to expose additional functionality for test purposes only.
For example, I want to expose generators of test data defined in a package
such that it can be used by packages that use that test data (e.g. for QuickCheck).

One wa

[2017-02-07 09:28] ezyang commented on #4297
Does #4206 encompass this? If so, please pipe in on that thread supporting the feature!

[2017-02-07 09:29] phadej commented on #4296
Ah, I tried to `cabal get idris-0.99` and `cabal install` there. IMHO this is the same issue as many others where solver doesn't really know which plan is better (though here the idris with higher version numbers could be preferred).

So in sandbox (e.g. without `vector-0.12` installed globally) the `cabal install idris-0.99` should work, shouldn't it?

[2017-02-07 09:30] 23Skidoo commented on #4297
Don't internal libraries available in current `master` (1.25+) solve your problems? See http://cabal.readthedocs.io/en/latest/developing-packages.html#library

[2017-02-07 09:38] 23Skidoo commented on #4296
`cabal install idris QuickCheck` exhibits the same problem in a sandbox. `cabal install idris-0.99` and `cabal install idris-0.99 QuickCheck` work fine both in and outside a sandbox.

[2017-02-07 09:43] phadej commented on #4296
@23Skidoo I don't have any `vector` installed, and

[code]

[2017-02-07 09:51] 23Skidoo commented on #4296
@phadej You need to run `cabal install idris QuickCheck` to reproduce this problem.

[2017-02-07 09:57] PierreVDL commented on #4297
#4206 does encompass this.
Yet #4206 encompasses more than strictly need by me.

[2017-02-07 09:59] PierreVDL commented on #4297
internal libraries don't solve my problem: I want to use the test-library in the test code of other packages.

[2017-02-07 16:56] snoyberg opened #4298 "Solver takes over 10 minutes, resulting in a failed Travis build"
You can see the Travis build here: https://travis-ci.org/yesodweb/yesod/jobs/199252979. Steps to reproduce:

1.   Clone the repo https://github.com/yesodweb/yesod at commit `9ee3c3707441963835be04d38b14831c6d9e4b29`.

2.   With GHC 8.0.1 and cabal-install 1.24.0.0, run:
[code]
3.  I did this with an index last updated at 16:42 on 2017-02-07

Expected: the build plan can be calculated.

Actual: bui

[2017-02-07 16:58] phadej commented on #4298
could you try `cabal-head`? it has much better solver.

[2017-02-07 17:01] snoyberg commented on #4298
Sure, I've just pushed a commit for that. Build should occur at:

https://travis-ci.org/yesodweb/yesod/builds/199293634

[2017-02-07 17:05] 23Skidoo commented on #4298
Seems to be fixed in `HEAD`.

[2017-02-07 17:06] #4298 closed

[2017-02-07 17:07] 23Skidoo commented on #4298
@snoyberg Do you need a fix for this issue backported the 1.24 branch, or can you wait for the 2.0 release (which should be out at the same time as GHC 8.2)?

[2017-02-07 17:09] snoyberg commented on #4298
If it works with cabal-head, I can update the Travis job to just use that for 8.0.1, which should be fine overall. No need for this specific issue to cut a new release, but thank you. Worst case scenario, if HEAD turns out to be unstable, I'll just add this to an expected-failures case and leave the 8.0.1 testing to Stack.

[2017-02-07 20:50] ezyang commented on #4295
Note that the `--independent-goals` flag is currently disabled.

[2017-02-07 20:57] ezyang opened #4299 "Cannot find solution with +parsec on Cabal, with cabal-install HEAD"
As of a1d9e88d32eaa9b28ed973e3f6dfe3aa74993fda, I can no longer depsolve Cabal successfully with `cabal new-build`, with the `+parsec` flag (i.e. running `cabal new-build --constraint "Cabal +parsec"`). Here's the v3 log: http://lpaste.net/377459545791791104. The error I get in the end is:

[code]

CC @grayjay

[2017-02-07 21:15] ezyang commented on #4299
I verified that 5cb0408ed3c00773665698a39d8b1f53db574b98 does not suffer from this problem.

[2017-02-07 21:16] ezyang commented on #4297
@PierreVDL Is there a substantially simpler version of #4206 that solves your problem? #4206 is unlikely to get solved in the near future.

[2017-02-07 22:57] ezyang commented on #3567
Added @sergv for https://github.com/haskell/cabal/pull/4302

[2017-02-08 08:15] PierreVDL commented on #4297
A simpler solution could be: introduce a keyword like `test-library` or `library test`.
For me, the constraint that this keyword might only be used when a library is present is acceptable.

When a test library is not declared, exactly the same behaviour as currently is implemented will be obtained. In particular, when I include the package / *.cabal file in another package to build a test
the norm

[2017-02-08 08:39] PierreVDL commented on #4297
I realized that another choice is possible:
so we have the normal functionality and the test functionality we would like to expose.

We can make two libraries:
one that contains the normal functionality and
another that contains both the normal and the test functionality.

However, we can also make two libraries as follows:
one that contains the normal functionality and
another that contains only

[2017-02-08 13:00] PierreVDL commented on #4206
Is public / private enough? Or is a test scope needed as well?
See e.g. https://github.com/haskell/cabal/issues/4297

[2017-02-08 17:07] pm0kjp commented on #3434
@madhavan020985 et al.,  I'm having the same problem, not sure how to backtrack to haskell 7.6.  This is a brand new install of cabal-install-1.24.0.2, and upon bootstrapping I get the error
[code]
I'm trying to set up a production server so the powers that be probably don't want me using an unreleased version of cabal-install.  So backtracking Haskell itself is the best bet.  I have only installe

[2017-02-08 17:18] 23Skidoo commented on #3434
@pm0kjp Try running `bootstrap.sh` with `--no-doc`. You may also want to try `EXTRA_CONFIGURE_OPTS="" ./bootstrap.sh --no-doc` to cut down on compilation time.

[2017-02-08 18:20] pm0kjp commented on #3434
`EXTRA_CONFIGURE_OPTS="" ./bootstrap.sh --no-doc` did the trick!

Thanks @23Skidoo!

[2017-02-08 22:08] amosr opened #4306 "C source files are not recompiled when headers change"
For projects with C source files and headers, the check whether it needs to recompile is naive and only looks at whether the source file has changed.
So if you have two files `foo.h` and `foo.c`, touching `foo.h` should cause `foo.c` to be recompiled.

The same problem exists for `.hsc` files: https://github.com/haskell/cabal/issues/24 and https://github.com/haskell/cabal/issues/3087.

One idea fo

[2017-02-08 22:23] ezyang commented on #4306
Although this seems similar to the problem for hsc files, I actually think these are not related; `checkNeedsRecompilation` is only called for building C sources (I don't see any call sites), so #3087 must a different bug somewhere else.

#4174 would probably help us implement more accurate recomp avoidance. Barring that, it is probably true that the only way we can figure out whether or not we ne

[2017-02-08 22:28] amosr commented on #4306
Yeah - I suspect to fix the hsc files, you would want to do something similar: call `hsc2hs` to generate the C file and then run `gcc -M` on it.

Shake sounds like a much nicer long-term solution

[2017-02-09 03:18] bgamari commented on #3576
How close are we to cutting a 2.0 branch at this point?

[2017-02-09 03:42] 23Skidoo commented on #3576
@bgamari I think I'll do it during the weekend.

[2017-02-09 05:01] grayjay commented on #4299
It looks like this was caused by #4257.  Thanks for catching it!  It is due to the solver only applying unqualified constraints to top-level dependencies.  The main error is in these lines from the log, especially level 229:

[code]

cabal-testsuite needs to use Cabal-1.25.0.0 as a setup dependency.  Because of the single instance restriction, it has to be the same instance as the Cabal build targ

[2017-02-09 06:06] ezyang commented on #4299
Aha! I think you hit the nail on the head.  I verified that with `--constraint "any.Cabal +parsec"` the solver is able to figure it out.

This is a bit of a corner case, so I don't think we should revert #4257; it looks like this only gets triggered if:

* You have an inplace package which a setup script (transitively) depends on, AND
* You toggle a manual flag

(am I correct in claiming these wou

[2017-02-09 20:53] alanz opened #4310 "`cabal init` should allow exe and/or lib and/or tests"
A common pattern (and the default for stack) is to have an `app` directory with the Main.hs for an executable, a library section and a test one.

Also, using the same directory for an exe and a lib can lead to compilation of the lib both as a lib and for the exe.

Proposal

1. In the exe only case, put it in an `app` directory.
2. Do not make it exclusive. Ask for exe, lib, test.

Perhaps even ask

[2017-02-10 00:37] kenta2 commented on #163
Yet one more package that this bug affects is hlibBladeRF-0.1.0.6 which depends on libbladeRF.  Ubuntu 14.04 provides
$ pkg-config --modversion libbladeRF
0.10.0-0.9.0.15.8ba2499

This one *almost* parses correctly as a tag; the only issue is that simpleParse in Cabal/Distribution/Text.hs assumes tags are Char.isAlphaNum, but the period is not alphanumeric.

[2017-02-12 06:06] grayjay commented on #4296
I think that the solver chose an older version of `idris` because it chose the version too late in the solving process.  Here is the start of the log:

[code]

There is a conflict between the versions of `vector`, `primitive`, and `idris`.  The solver can either downgrade `primitive` to `0.6.1.0` or downgrade `idris` to `0.9.14.2` to resolve it.  Since `idris` is lower in the search tree, the solv

[2017-02-12 06:23] grayjay commented on #4299
In this case, `cabal-testsuite` specifies the development version of `Cabal` with `Cabal >= 1.25` in `setup-depends`, so it has to be linked to avoid creating two instances with the same version.  I tried removing the constraints on `Cabal` from `cabal-testsuite.cabal` and `cabal-install.cabal`, and then the solver found an install plan that used `Cabal-1.24.2.0` for the setup scripts.

That sound

[2017-02-12 11:58] chubin opened #4314 "Can't install haskell98"
[code]

Operating system: Fedora 25

[code]

[2017-02-12 12:02] ezyang commented on #4314
haskell98 does not support GHC 7.10 and later, alas.

[2017-02-12 12:02] #4314 closed

[2017-02-12 12:12] chubin commented on #4314
Ok, thank you very much. I did not know this. Could you please say me, what package should I use instead for the following modules?

[code]

Or such a replacement is not possible at all?
And I should rewrite the code completely (or at least deeper than do a simple package replacement)?

[2017-02-12 12:27] ezyang commented on #4314
Your best bet is to port the code to use the new-style Haskell modules. I don't know of a good porting guide but https://ghc.haskell.org/trac/ghc/wiki/Migration/7.10 might be a place to start.

[2017-02-12 12:27] chubin commented on #4314
Thank you, Edward!

[2017-02-12 15:51] chrissound opened #4315 "Having issues with test suite - no Main module?"
This is the command to fails with `stack ghci --test ScottyAttempt:ScottyAttemptTests`:

[code]

I'm not sure if I have configured my cabal file correctly. It's hard to know if this is a cabal / stack / ghc issue.
**ScottyAttempt.cabal:**
[code]

[2017-02-12 16:17] chrissound commented on #4315
In terms of directory structure:
[code]

src/Main.hs
[code]

src/Main2.hs
[code]

The reason I have this is because I wanted to be able to import the "Main" module in my tests (so within Tests.hs).

[2017-02-12 21:42] ezyang commented on #4315
In the future, it would be helpful if you could give us `-v3` logs from Cabal when it fails.

In any case, this is a GHC limitation, but one that likely can be solved using `-main-is`. Look at this example test:

[code]

If I compile this with `ghc --make B.hs -o B, I get `Warning: output was redirected with -o, but no output will be generated because there is no Main module.` This is because GHC

[2017-02-12 21:42] #4315 closed

[2017-02-12 22:35] trofi opened #4317 "detailed-0.9 tests break with --enable-executable-dynamic (ghc-8.0.2 / Cabal-1.24.2.0)"
Minimal test example: [dt.tar.gz](https://github.com/haskell/cabal/files/769705/dt.tar.gz)

Noticed on `STMonadTrans-0.4.3` hackage package.

When building `detailed-0.9` test suite with `--enable-executable-dynamic`
Cabal runs generated test stub with missing path in `LD_LIBRARY_PATH`:

Failure example:
[code]

works:
[code]

From a suerficial glance test library suts in a separate directory:
[co

[2017-02-12 22:49] ezyang commented on #4317
Thanks for the report. The logic for adding LD_LIBRARY_PATH is `depLibraryPaths` called in `Distribution.Simple.Test.LibV09`. Would you be interested in taking a look? (Does the executable test suite run correctly? If so, probably we're forgetting to put the inplace products in the path?)

[2017-02-13 03:52] slpopejoy opened #4319 "Add CURRENT_PACKAGE_VERSION or similar to cabal-macros.h"
Given that cabal-macros.h defines VERSION_[pkg] for every dep, it seems strange that we can't access something as simple as the current package version, unless of course I'm missing something.

I assume this would be a very easy and non-breaking change, and am happy to provide a PR. However there may be dragons, or it may already exist, so asking first!

[2017-02-13 03:59] ezyang commented on #4319
I don't see why not. Note that macros does define `CURRENT_COMPONENT_ID` which is usually derived off the of the version, but you're supposed to treat the string opaquely so...

[2017-02-13 04:35] ezyang commented on #3567
Added @slpopejoy for #4320

[2017-02-13 06:28] 23Skidoo commented on #4317
/cc @ttuegel

[2017-02-13 13:46] ttuegel commented on #4317
What version are you using? I think this was just fixed in master.

[2017-02-13 20:31] rwbarton commented on #3933
I also noticed this erroneous warning about `--global` while installing into a sandbox, with
[code]

[2017-02-13 20:38] int-e commented on #3933
The behavior was introduced in 9d59e40e9d which checks `configUserInstall` to check for the `--global` flag. However, `cabal.sandbox.config` files typically (always?) contain a line saying `user-install: false` and custom "global" installation paths, so that check is overzealous.

[2017-02-13 22:04] trofi commented on #4317
ghc-8.0.2 / Cabal-1.24.2.0 was broken.
I tried today's ghc-HEAD / Cabal-HEAD and it works \o/.

Thank you!

[2017-02-13 22:04] #4317 closed

[2017-02-13 22:07] trofi commented on #4317
Seems #4270 handled it.

[2017-02-14 15:23] RyanGlScott opened #4325 "Don't include deprecated versions when calculating "latest" version of a package"
Just now, I was baffled by this behavior:

[code]

Why would `cabal-install` not choose the later 1.5.0 version of `xml-conduit`, even after I told it `--allow-newer`? I then realized (after looking at the [`xml-conduit` Hackage page](http://hackage.haskell.org/package/xml-conduit)) that `xml-conduit-1.5.0` had been marked as deprecated.

It's thus sensible that `cabal-install` doesn't choose `xml

[2017-02-14 15:34] 23Skidoo commented on #4325
Yes, makes sense.

[2017-02-14 15:38] 23Skidoo commented on #4325
Though it looks like 1.5.0 is not deprecated, just non-preferred.

[2017-02-15 07:12] Rufflewind opened #4328 "Could use a better error message when the package simply doesn't exist in the package list"
I typed `cabal install time-1.8` and forgot to do `cabal update`.  The error message made it *seem* like there was a dependency resolution error, when in fact the real problem is that `time-1.8` is unknown.  I think the resolver should just bail early if one of the `==` constraints leads to something that simply doesn't exist.

[code]

[2017-02-15 10:19] ezyang commented on #3310
Circling back to this: I (once again) want to convert die into a custom exception type, but this time so that I can pass `Verbosity` along (so that I can mark "die" output). In my current patchset, I eagerly print out the error information, but this is actually bad because it means we get spurious output when the death is caught and then we do something else. But `topHandler` gets run before comma

[2017-02-15 11:27] ezyang opened #4329 "die with verbosity"
Currently, the `die` function in Cabal does not take a `Verbosity` parameter. I propose to introduce a new version of the function, `die'`, which does, bringing it in line with `info`, `debug` and `warn`, all of which take `Verbosity`.

**Motivation.** The story is a bit long, so buckle up.

1. I was working on improving the error messages for Backpack related functionality (e.g., what we report w

[2017-02-15 13:00] mboes commented on #4278
I think we want:

* use cpphs always for .cpphs files;
* never use cpphs for anything else;
* if cpphs is not available, error out.

This is consistent with the handling of e.g. .hsc files. Further, cpphs *does not* produce the same output as the system C preprocessor on all platforms and in all circumstances. It's more helpful to the user if (s)he is told that cpphs doesn't exist than to use the

[2017-02-15 21:49] kolmodin opened #4331 "Both binary and Cabal implements instance Binary Version"
`binary` is [failing on travis](https://travis-ci.org/kolmodin/binary) due to both `binary` and `Cabal` implementing `instance Binary Version`.
https://travis-ci.org/kolmodin/binary/jobs/202005906

`binary` since version `0.8.0.0`. https://github.com/kolmodin/binary/blob/master/src/Data/Binary/Class.hs#L725

`Cabal-1.24.2.0` has a guard for earlier versions than `0.8.0.0`.
https://hackage.haskell.

[2017-02-15 21:49] kolmodin commented on #4331
@hvr Maybe you have some idea?

[2017-02-15 21:53] ezyang commented on #4329
OK, new plan: completely preformat the error message before sending it over to top handler.

[2017-02-15 21:53] ezyang commented on #4331
Are you sure Travis isn't picking up an old version of Cabal which didn't have the guard?

[2017-02-15 21:59] ezyang opened #4332 "Deterministic solver output"
CC @grayjay

I wanted to add expect tests for the dependency solver but unfortunately the output wobbles depending on the state of built in packages. For example:

[code]

Is there anything we could do to make this totally deterministic, even when the global packages change?

[2017-02-16 01:25] ezyang commented on #4328
In general, the error message here is a bit silly because you're never really interested in all of the versions we rejected when there's an exact bound that failed to be satisfied...

CC @grayjay

[2017-02-16 01:27] ezyang commented on #4278
That sounds OK to me. In that case, it should be a simple matter of removing the special cases from `ppCpp`. @mboes would you be interested in giving this a try? Hardest thing is writing the test case.

[2017-02-16 06:33] kolmodin commented on #4331
I can increase the verbosity in the logs and let it run again.

Without verbosity;
[code]

[2017-02-17 01:14] 23Skidoo commented on #3987
This has been fixed by #4227, I assume?

[2017-02-17 01:19] 23Skidoo commented on #4155
@ezyang @Ericson2314

The 2.0 release is rapidly approaching, can we postpone this for 2.2?

[2017-02-17 01:26] 23Skidoo commented on #3651
@ttuegel Can this ticket be closed as fixed?

[2017-02-17 08:46] ezyang opened #4336 "regex-compat/regex-posix inexplicably buggy on Windows, DO NOT USE"
See: http://stackoverflow.com/questions/39047317/simple-regular-expression-substitution-crashes-on-windows-using-regex-compat/39101634#39101634 I discovered this while using regex-compat in the spirit of using an existing dependency that we had in our test suite.

On one of my Windows computers, using the regular expressions was sufficient to cause my program to hang indefinitely; on AppVeyor, reg

[2017-02-17 09:31] 23Skidoo commented on #4336
I remember bumping into this, but then it mysteriously went away after recompilation, so I never bothered to investigate.

[2017-02-17 09:38] 23Skidoo commented on #4336
The workaround is to use `regex-tdfa`, I guess?

[2017-02-17 09:52] ezyang commented on #4336
Yeah; in fact, it's a complete drop-in replacement. Patch coming.

[2017-02-17 11:36] ttuegel commented on #3651
Indeed, I pushed the fix for this but completely forgot about the issue!

[2017-02-17 11:36] #3651 closed

[2017-02-17 12:13] ysangkok commented on #3651
Seems like this was fixed in #4193

[2017-02-17 14:40] Ericson2314 commented on #4155
Won't the current syntax be grandfathered in yet?

[2017-02-17 21:32] acfoltzer commented on #3638
#4304 has `new-exec`

[2017-02-17 21:34] acfoltzer commented on #3638
Per @dmwit, `new-test` is also now implemented in master

[2017-02-17 22:30] kolmodin commented on #4331
I ran it with -j1 and then it passed... Something is fishy.

[2017-02-18 03:18] ezyang commented on #4331
@kolmodin I have a wild guess what's happening. First off, remember that you are building with GHC 7.8, which shipped with Cabal 1.18. Among other things, this version of Cabal did not support the `--dependency` flag which let us pick exactly which dependency we were to use. cabal-install will try its best to convince the setup script to build with the correct version of the dependency by specifyi

[2017-02-18 10:41] kolmodin commented on #4331
The version of `cabal-install` to be used is selected in the travis script, not necessarily the one that shipped with GHC.
I'll bump to more modern `cabal-install` and see if that fixes it.

[2017-02-18 14:02] kolmodin commented on #4331
The problem went away when `cabal-install-1.22` was used. At least for one run. The problem was easily reproducible before, so I assume it's fixed now.

[2017-02-18 14:02] #4331 closed

[2017-02-18 21:56] bgamari commented on #3576
@23Skidoo are we getting close yet? The 8.2 branch is going to be cut any second now.

[2017-02-18 21:59] ezyang commented on #3576
The 2.0 branch has been cut. Also FYI, I'd quite like this patchset https://github.com/haskell/cabal/pull/4337 to make it in the 2.0 branch.

[2017-02-18 23:28] 23Skidoo commented on #3576
@bgamari I'll tag the Cabal 2.0 release next week (there are a couple PRs that need to be merged), for now you can point the submodule at the 2.0 branch.

[2017-02-19 03:05] grayjay commented on #3987
@23Skidoo I wasn't able to build the base libraries with #4227, and I don't know if anyone else has tried.

[2017-02-19 08:26] 23Skidoo commented on #3987
@luite Can you please confirm that #4227 fixed this issue?

[2017-02-19 16:26] DemiMarie opened #4343 "Document the how to use cabal new-build to install a package"
I could not find any information on how to use `cabal new-build` to install a package.

[2017-02-19 21:56] 23Skidoo commented on #4343
This is not implemented, see #3332.

[2017-02-20 00:02] 23Skidoo commented on #3933
Fixed by 2ca7450ffd87a731ffade06f15567c89091a89e9.

[2017-02-20 00:02] #3933 closed

[2017-02-20 00:56] #4299 closed

[2017-02-20 20:24] grayjay commented on #4258
Thanks for the feedback.  I added a build flag in #4346 so that it would be easy to call the conditional assert from anywhere in cabal-install.

I think it would also be useful to warn when assertions are enabled.  I'm not sure where we should put the warning, though.

[2017-02-21 00:23] ezyang opened #4349 "Public key for cabal-website deploy RSA key"
@23Skidoo would it be possible to check in the public key for the Travis encrypted cabal-website deploy RSA key?

[2017-02-21 00:31] 23Skidoo commented on #4349
I don't have it on my current machine, but I can recreate it.

[2017-02-21 11:23] simonmar opened #4350 "Cabal should pass filenames, not module names, to GHC"
So here's the problem: suppose you want to have the source files for your unit tests next to the source files for your library.  e.g. `Foo.Bar` is the library module, and `Foo.Bar.Tests` is a test suite source file.  If you have a *lot* of source files in a deep hierarchy, this layout makes sense, because you don't have to duplicate the directory hierarchy.

You've already listed all the modules i

[2017-02-21 11:31] ezyang commented on #4350
It is a bit funny because we recently merged http://ghc.haskell.org/trac/ghc/ticket/13129 to help detect when a module isn't listed in `other-modules`, but it's definitely true that clearing the import list and then explicitly saying where all the files are would work too. This would require Cabal to know how to search the include directories for the source files, but it already knows that.

One c

[2017-02-21 16:44] #4258 closed

[2017-02-23 07:57] ezyang commented on #4297
Based on your previous comments, possibly the most expedient thing to do from an implementation perspective is to add a condition (maybe a special flag?) which is true when the top level goal is a test. But there have been philosophical objections to letting the APIs of packages change this way (which is why, for example, you can't demand a dependency have a flag set a certain way).

[2017-02-24 02:50] Ericson2314 commented on #2066
https://github.com/Ericson2314/cabal/tree/build-depends-cleanup -- maybe breaking changes are good for 2.0? Will elaborate later.

[2017-02-24 13:12] 23Skidoo commented on #4329
Option 2 looks the most principled to me; it's a pity we can't subclass `IOException`.

[2017-02-24 23:39] alethea opened #4356 "Add option to generate *nix register/unregister scripts on Windows"
I'm working on packaging some Haskell libraries for MSYS2, and it would be great if I could pass a flag to generate *nix shell style registration scripts instead of batch files.

[2017-02-24 23:42] ezyang opened #4357 "Make notice/warn/debug and friends thread safe"
At the moment, they are only as thread safe as a call to hPutStr is; in other words, not very.

The best way to fix this without introducing global mutable state is to finally implement the logging infrastructure for Verbosity that I've been muttering about:

1. Augment Verbosity with logger functions that it will call when it otherwise wanted to emit to stdout/stderr
2. Make a new smart construct

[2017-02-25 03:01] 23Skidoo commented on #4357
I actually implemented something like that for the first version of `cabal install -j`, but then the change was rolled back because the diff was too large/intrusive and `Handle`s are protected by locks.

/cc @dcoutts

[2017-02-25 03:04] ezyang commented on #4357
If we put the loggers in `Verbosity` there shouldn't really be any ripple effects.

[2017-02-25 03:19] 23Skidoo commented on #4357
IMO it would make sense to rename `Verbosity` to something like `Logger` if this change were to be implemented.

[2017-02-25 06:17] BardurArantsson commented on #4357
Personally, I think it might make more sense to do an MTL-style approach where we have a thin wrapper over IO which grants whatever capabilities are needed in any given piece of "IO" code... but then Verbosity *is* already plumbed into most places where we do any output[1], so it definitely seems like the least intrusive solution currently. The MTL-style approach has the admittedly very-long term

[2017-02-25 06:25] BardurArantsson opened #4359 "[Meta] Rebase only merges?"
I just noticed that we're (apparently) not doing merges any more, but only allowing rebase + FF... I think this may be a mistake unless we're willing to enforce stricter standards on individual commits including that they compile individually + have reasonable commit messages (or that they're squashed into one commit if they don't). WDYT? Am I being overly paranoid?

[2017-02-25 06:29] BardurArantsson commented on #4359
I should add that I'm actually a fan of the rebase-only approach, but my reason for it is that it makes the logs a lot cleaner. However, if we're not enforcing good commit messages and a "no spurious/bad commits" policy that reasoning doesn't apply.

I should also emphasize that realize that *many* (if not most) contributors actually do adhere to this pretty closely, but it can be quite a high hur

[2017-02-25 11:44] ezyang commented on #4359
I was in the habit of rebase merging PRs (because I like clean history), so I flipped it to be rebase only. Is the main motivation for CI'ing every commit if you rebase only to keep bisect working? If so clean history is not worth it. I flipped it back to merge only.

[2017-02-25 11:50] ezyang commented on #4357
I too would really like to see Cabal have some more monads (though, I quite like concrete but abstract monads ;-) But this would basically involve churning the entire codebase, and there's never quite a good time to do that... (it's even worse for Cabal library since everything stops being BC.)

[2017-02-25 13:43] BardurArantsson commented on #4357
Yeah, agreed. Though, I was thinking that a slow migration might be feasible with MTL-style type classes... (But Cabal would become... 'interesting'.). Realistically it's probably at least a year or two (calendar time) of effort, I should imagine.

AFAICT the `Verbosity` change you're suggesting doesn't actually make an MTL-style approach any more/less difficult later, so I'm definitely +1 on your

[2017-02-25 14:12] BardurArantsson commented on #4359
Yeah, it's primarily about bisect. (It's not that it makes bisect *impossible* per se, but it can make it *really* **really** annoying if e.g. 4 out of 6 commits don't actually build.

Anyway, as you've changed back to merge only, I'm closing this. :)

[2017-02-25 14:12] #4359 closed

[2017-02-26 22:45] grayjay commented on #4285
I started looking into this issue.  It turns out that most checks override earlier error messages, so the initial message about non-installable packages was being replaced with the message about constraints.

The solver enforces different types of constraints in eight steps that prune the search tree.  A node's children are stored in a `WeightedPSQ`, which pairs nodes with keys. The solver prunes

[2017-02-26 23:06] grayjay commented on #4328
I can think of two ways to handle this issue:

- Print a warning if any of the constraints don't match any packages before running the solver.  We should still run the solver, because constraints can also be used to prevent cabal from installing specific packages.  We perform a similar check here: https://github.com/haskell/cabal/blob/63ccb88ccace60d973216fc9e1bf406e8a7a055a/cabal-install/Distribu

[2017-02-26 23:07] grayjay commented on #4251
This issue is related to #4328.  I think we should continue printing all rejected versions in the -v3 log but try to summarize the message further in the short log.  We could also improve the -v3 log by only printing "aeson" once.

[2017-02-26 23:16] grayjay commented on #3502
cabal now has qualified constraints that apply to setup dependencies, top-level dependencies, and any dependency.  We'll probably need to implement per-component dependency solving before we add qualified constraints for build tools.

Related pull requests: #4211, #4219, #4228, #4236, #4252, #4257, #4342

We should be able to add setup qualified constraints to freeze files now.  We can continue to

[2017-02-27 04:19] bgamari opened #4360 "`allow-newer` in project file `package` stanza"
While updating my projects for, e.g. a new compiler, I often find it necessary to vendorize libraries while waiting for upstream to merge bound bump changes. This is a fair amount of work, but I find it more satisfying than the alternative of just accumulating entries in the global `allow-newer` list.

What I would really like is a way to easily lift a given bound in particular package from within

[2017-02-27 13:28] chrissound opened #4361 "Improve error message about stanzas"
I've just added the following lines in my **.cabal** file:
[code]

And get an error message of:
[code]

"Stanza" is mentioned only briefly within the cabal user guide (https://www.haskell.org/cabal/users-guide/installing-packages.html). Could we add documentation for this or improve the error message?

It works correctly if I move those lines to the end of the **.cabal** file.

[2017-02-28 23:39] jmn opened #4362 "Couldn't match expected type `Distribution.Simple.UserHooks.UserHooks' with actual type `Cabal-1.24.0.0:Distribution.Simple.UserHooks.UserHooks'"
[code]

Running `stack install yi` on Windows.

[2017-02-28 23:48] ezyang commented on #4362
`C:\Users\jmn\AppData\Local\Programs\stack\x86_64-windows\ghc-8.0.1\bin\ghc.EXE --make -odir C:\Users\jmn\AppData\Local\Temp\stack1752\glib-0.13.4.0\.stack-work\dist\ca59d0ab\setup -hidir C:\Users\jmn\AppData\Local\Temp\stack1752\glib-0.13.4.0\.stack-work\dist\ca59d0ab\setup -i -i. -package=Cabal-1.24.2.0 -clear-package-db -global-package-db -package-db=C:\sr\snapshots\c77fadea\pkgdb C:\Users\jmn\

[2017-03-01 01:30] jmn commented on #4362
Thanks, I installed gtk2hs-buildtools which made this go away. It was hard to deduce from the error message that this was the problem.

[2017-03-01 03:55] ezyang commented on #4362
OK, I'm going to close this.

Note that glib does [declare its dependency](https://hackage.haskell.org/package/glib-0.13.4.1/glib.cabal) on gtk2hs-buildtools:

[code]

so it still may be worth filing a Stack bug.

[2017-03-01 03:55] #4362 closed

[2017-03-03 07:23] ezyang opened #4365 "bootstrap.sh sometimes picks up wrong Cabal library when building Setup"
@ongy on `#haskell` IRC tried to bootstrap cabal-install using the bootstrap.sh script, but ran into the error:

[code]

When we checked the version of the Setup script for cabal-install, we found `./Setup --version: Cabal library version 1.24.0.0`

So, for some reason, GHC is picking the wrong version of the library when building Setup. This is not too surprising, seeing as bootstrap.sh doesn't t

[2017-03-03 10:20] ezyang opened #4367 "Segfault with process-1.2.3.0"
I've managed to tickle segfaults in our test suite when built against process-1.2.3.0, in TestSuiteTests/ExeV10/setup-no-tix.test.hs Freeze/legacy-disable-benchmarks.test.hs CustomPreProcess/setup.test.hs CustomPreProcess/setup.test.hs. I'm not sure why it doesn't repro on CI.

[2017-03-03 21:21] ezyang opened #4368 "openBinaryTempFileWithDefaultPermissions: does not exist"
I got this failure:

[code]

in this Windows build https://ci.appveyor.com/project/23Skidoo/cabal/build/%233257%20(master)

I guess autogen was not created? Maybe we should just have `writeAtomic` always ensure the temporary directory exists.

[2017-03-04 01:54] ezyang commented on #3972
I don't see why we can't use short path API. Isn't it sufficient to just call the Unicode version of GetShortPathName() prior to passing a path to anything? That will let us take any file path less than 32,767 characters in size and compress it into a short path. We will have to redo all of the IO libraries from base we use, but I kind of wanted to do this anyway to get accurate call stacks.

[2017-03-04 04:04] ezyang commented on #3972
I filed an upstream bug: https://ghc.haskell.org/trac/ghc/ticket/13373

[2017-03-04 06:16] ezyang opened #4372 "cabal new-build on GHC 8.0.2 can't bootstrap itself"
Here is a representative failure: https://travis-ci.org/haskell/cabal/jobs/207561490

Unfortunately, I don't seem to be (easily) able to reproduce locally.

[2017-03-04 06:19] ezyang commented on #4372
OK, the problem seems to be that hackage-repo-tool requires `directory < 1.3`

[2017-03-04 08:42] ezyang opened #4374 "dynamic-library-dirs on GHC 8.0.2 Mac OS X is not properly feature gated"
When I build unbounded-delays with a HEAD Cabal in the build plan on GHC 8.0.2 on Mac OS X, it appears that we use dynamic-library-dirs when installing the library, even though ghc-pkg with GHC 8.0.2 doesn't understand it.

[code]

Travis log https://travis-ci.org/haskell/cabal/jobs/207615132

CC @christiaanb

[2017-03-04 09:34] ezyang opened #4375 "new-build legacy Custom should build and install default setup deps"
For most of today I was scratching my head as to why https://travis-ci.org/haskell-pushbot/cabal-binaries/builds/207631674 was failing, but why the vanilla ghc-8.0.1 build was succeeding.

After inspecting the stores of the succeeding and failing builds, I discovered that the "hash" that the test was asking for didn't exist in the store. Here's what the test was looking for (this is installed in t

[2017-03-04 10:45] christiaanb commented on #4374
https://github.com/ghc/ghc/blob/ghc-8.0/compiler/main/PackageConfig.hs#L130 says that ghc-8.0.2 does know `dynamic-library-dirs`. How are you so sure that it's ghc-pkg that's creating that warning?

[2017-03-05 01:24] ezyang commented on #4374
You're right! It's not ghc-pkg, it's cabal, because this CI build is using an old version of cabal-install?

This is a bit unfortunate (cabal-install-1.24.0.0 fails in a hard to understand way with GHC 8.0.2) but I am not sure what we can do...

[2017-03-05 01:24] #4374 closed

[2017-03-05 01:32] 23Skidoo commented on #4374
Use `cabal-install-head` from @hvr's repo instead of 1.24?

[2017-03-05 01:39] ezyang commented on #4374
Nah, 1.24.0.2 works OK; I had forgotten to update the Mac OS X installation procedure ;)

[2017-03-05 20:10] ezyang commented on #4375
False alarm, this seems to be my fault!

[2017-03-05 20:10] #4375 closed

[2017-03-06 02:49] ezyang opened #4376 "Output marking is not thread-safe"
I have observed under some conditions, Cabal will interleave stderr and stdout:

[code]

(in this case, the Downloading message is occurring in a separate thread onto stdout, while "Extracting..." is stderr). This is bad juju. Probably the correct way to fix this is to prefix the markers on every line so we never get confused, but then we have to make sure stderr doesn't get interleaved within a s

[2017-03-06 05:34] ezyang commented on #4357
I looked into fixing this to solve #4376 but one thing that struck me is that we probably want to have some global mutable state anyway, to serve as the lock between instances by default. Otherwise, we'll have the unenviable task of tracking down all the places where we generate up a default verbosity and tagging them correctly. (I guess global mutable state doesn't feel too bad here, because stde

[2017-03-06 06:15] grayjay commented on #4332
I think we would need to somehow create a test package database that can be used with all versions of GHC.  Is there anything specific that you want to test in the solver's output, or do you want to reduce the amount of output that must be excluded by the expect tests?  The solver's output is also unstable because it can easily change after small code changes, especially changes to goal order.

[2017-03-06 06:19] grayjay opened #4377 "Print a warning when cabal is built with assertions enabled"
This idea is from #4258.  It would be useful to be able to check whether cabal was built with assertions enabled when measuring performance.  We could print the information with `--version`, or warn at the start of expensive commands, such as `new-build` or `install`.

[2017-03-06 06:20] grayjay commented on #4258
I opened a new issue: #4377

[2017-03-06 23:02] ezyang commented on #4332
I think the benefit of putting solver errors into expect tests is that when we start improving solver error messages, we can see how the messages improve over time, and we can also see when a change regresses a message. Even if a solver change causes the messages to wobble, it's good to make sure that the wobble isn't significant.

I think it's reasonable for solver output tests to be run on an en

[2017-03-07 02:47] ezyang commented on #4360
This is pretty easy to work around, so I'm not putting this as a release blocker.

[2017-03-07 02:50] ezyang commented on #4361
@chrissound It's hard to tell because you haven't posted the whole Cabal file, but I'm guessing you did something like:

[code]

Which, apparently, the parser doesn't know how to handle.

[2017-03-07 03:04] ezyang commented on #4328
Yeah, I like the second solution, it's pretty common to `git pull` but forget to update, and then have a `build-depends` make the solution unsat.

[2017-03-07 03:07] ezyang commented on #163
Perhaps, as a stopgap, we should just truncate the version string at the point where it stops looking like a normal version? This should be easy to implement, should be a very small change, and will get more packages compiling than before.

[2017-03-07 03:11] ezyang commented on #4306
Admittedly, it would be less horrible for Cabal to have a bad recompilation checker if there were an easy way to force recompilation. So that might be a short term fix which would be easier to develop a patch for.

As for `gcc -M`, honestly, I don't think it would take that long, esp. since I don't think people are shoving extremely large piles of C files into the Cabal build system. So, I would t

[2017-03-07 04:35] ezyang commented on #4294
I agree that the use-case is reasonable but I am having trouble thinking of what a reasonable format in the Cabal file would look like, we don't really have any precedent for this kind of option. There's a more general problem where Cabal scales poorly if you have a very complicated C project that needs building, since it really doesn't have any of the hooks or smarts you might need for a real wor

[2017-03-07 04:43] piyush-kurur commented on #4294
Let me see what can be done @TomMD @vincenthz can we work on this together. It seems we are the
ones most effected by this.

[2017-03-07 05:24] TomMD commented on #4294
@piyush-kurur Thank you for starting this issue.  I don't have the bandwidth at present to contribute technically but I'm happy to participate in discussions.

@ezyang The need for concrete contributions is noted.  For what it's worth the uses have always been very small bits of C code for point-solutions in larger Haskell programs.  For example, ShareMonad needed an easy way to fold a mask-then-x

[2017-03-07 06:18] piyush-kurur commented on #4294
@TomMD @ezyang  I just forked cabal and will be tracking changes in this branch

 https://github.com/piyush-kurur/cabal/tree/per-file-cflags

If I understand correctly, the first step is to get a consensus on how this is to be represented in the cabal file. As a starting point let us have the field cc-options-for which takes a filename and the cc-flags to be used for that particular file.

[code]

[2017-03-07 06:44] piyush-kurur commented on #4294
The other option is to have a separate cc-flags matcher file where the file (file-pattern) vs cc options are listed. It can then be activated by some kind of user hooks.  Older cabals just ingore this.

[2017-03-07 07:05] piyush-kurur commented on #4294
Just some more clarification. Often the code is compiled on a machine (let me call it the builder) that is different from the machine on which it is run (let me call it the target). To be specific let us consider an avx2 optimised function bar  inside the  foo.c. It might be the case that builder does not support avx2 but the target might. I see one solution to it

1. Compile of foo.c with the fla

[2017-03-07 07:15] piyush-kurur commented on #4294
Pointed out by @ongy

 http://stackoverflow.com/questions/12925989/gcc-enable-compiler-flags-only-on-specific-functions

This should solve a lot of problems

[2017-03-07 10:36] amigalemming opened #4379 "Use Data-Files without installation"
As long as I develop a package without Data-Files I can run and test my program locally using `cabal run` and `cabal repl`. As soon as I start to use Data-Files, the trouble begins. If I am in `ghci`/`cabal repl` I cannot simply hit `:reload` (or omit even that, since Haskell modules are not affected by Data-Files) anymore in order to adapt to changes in the Data-Files. I have to run `cabal instal

[2017-03-07 10:53] piyush-kurur commented on #4294
Here is more details.

https://gcc.gnu.org/wiki/FunctionSpecificOpt

While I have not tried it out, it looks like this should do the trick and I am okey with closing this issue at least for time being.

[2017-03-07 11:22] idontgetoutmuch opened #4380 "Building with cabal produces linker errors"
If I compile against the sources of `accelerate-llvm`, everything works; if I use `stack` (with a bit of faffing) everything works but with `cabal build` I get ghc linker errors. The details are all here: https://github.com/AccelerateHS/accelerate-llvm/issues/13.

Let me know if more details are needed.

[2017-03-07 13:16] snoyberg opened #4381 "Package IDs are not unique"
Following up from https://github.com/commercialhaskell/stack/issues/2904. Feel free to read my comments there for background on what downstream issues this caused, I'll focus on just Cabal here.

I've tested with cabal-install 1.24 and HEAD, and in both cases it appears that newly installed packages have an identical package id and key. Furthermore, changing the contents of the package do *not* re

[2017-03-07 20:08] ezyang commented on #4381
The assumption that is being made is that if the `id` does not change, relinking is not necessary. As you've seen, Cabal may allocate an identical `id` even if the source code changes. Before I talk about why it is this way, I think the correct way to solve this downstream is to relink depending on whether or not any of the inputs to the linker (i.e., the library files) have changed. A reasonable

[2017-03-07 20:12] ezyang commented on #4380
Hi @idontgetoutmuch, the most useful thing you could post is verbose logs of the failing cabal install build (in particular, I would like to see what arguments we are invoking ghc with) and verbose logs of the successful stack build (similarly: want to see what arguments GHC is invoked with.)

You might also consider building `accelerate-llvm` using `new-build`; it's possible that the problem is y

[2017-03-07 20:12] ezyang commented on #4294
OK, let's close this for now.

[2017-03-07 20:12] #4294 closed

[2017-03-08 07:36] idontgetoutmuch commented on #4380
Here's the command that cabal creates and which also fails with the same errors when run at the command line. I did try staring hard at it to see why it was failing but had to concede defeat :(

[code]

[2017-03-08 21:48] ezyang commented on #4380
That's not enough information. I tried building accelerate-llvm myself but a triggered a GHC panic (oops). Can you either (a) post the full logs that I requested, or (b) give detailed instructions for how you are building LLVM, including the versions of GHC and specific commits from repositories you are using?

[2017-03-09 07:35] ezyang opened #4384 "Proposal: Reduce CI matrix for PRs"
At the moment, we run builds under 14 different environments when we do CI. I have noticed that for the vast majority of commits, this is wasted effort. Usually, the important things are to (1) test every GHC version, (2) test Windows, and (3) test Mac OS X.

So, I propose to reduce the set of configurations we test during PRs to Linux (once for every GHC version), Windows, and the latest GHC with

[2017-03-09 08:37] 23Skidoo commented on #4384
Makes sense. Windows code sometimes breaks on older versions of GHC because of CPP, but we use only one version on AppVeyor anyway (would be nice if we did as part of the full check on `master`).

[2017-03-09 09:22] snoyberg commented on #4381
I guess that's that then. I don't think it's good practice for GHC to be regularly redefining fields and removing guarantees that downstream can rely upon. We'll work around this in Stack I guess, doesn't look like there's much alternative to doing so.

Thanks for the thorough response, even if it's not the response I was hoping for :)

[2017-03-09 09:22] #4381 closed

[2017-03-10 00:45] ezyang commented on #4384
Ugh, apparently, Travis can't actually do this directly.

[2017-03-10 17:25] DanielG commented on #4384
You could use `TRAVIS_PULL_REQUEST` to just short circuit the matrix elements you don't want I guess?

[2017-03-10 20:18] ezyang commented on #4384
Yeah. It's annoying though because we'll still end up with matrix entries (and pay the spin up costs) of every matrix entry we don't end up using.

[2017-03-10 21:57] Ashen-Vaults opened #4387 "bal"

[2017-03-10 21:57] #4387 closed

[2017-03-11 00:28] 23Skidoo commented on #4384
@ezyang Is there a relevant ticket on the Travis issue tracker? Perhaps we should create one.

[2017-03-11 00:32] ezyang commented on #4384
I think this one is the closest: https://github.com/travis-ci/travis-ci/issues/2778

[2017-03-11 11:10] cocreature opened #4388 "Dependency cycle when building cabal master using cabal master"
I built cabal from the master branch (40318a77f2bacfc8b82b466ff72d344d954b9602) using cabal 1.24. Now, I am trying to rebuild cabal at the same commit using the previously built cabal. However, I’m seeing the following error:

[code]

[2017-03-11 20:31] 23Skidoo commented on #4388
Which command do you use to build the project?

[2017-03-11 20:33] cocreature commented on #4388
Oh sorry, I completely forgot about that. I ran `cabal new-build all` and `cabal new-build cabal-install`. Both commands produce the same error.

[2017-03-11 21:30] grayjay commented on #4388
I ran `git bisect` and found that it was introduced two days ago, in 9752f2878a6318dc0e48068ed32cc6fb66defd86.

[2017-03-11 21:36] ezyang commented on #4388
Thanks @grayjay, I'll look into it.

[2017-03-11 22:34] ezyang commented on #4388
Problem is pretty simple: I forgot to filter out internal deps from the dependency calculation, and those are being reported as dependency loops.

[2017-03-12 03:12] grayjay opened #4390 "Solver sometimes doesn't add flags to the conflict set when using a non-default goal order."
This problem showed up in #4152.  It seems to occur when the solver chooses a flag that is used under a test suite, before it enables testing.  Currently, the default goal order doesn't allow the choices to be made in that order, so the bug can't happen with `cabal new-build`, `install`, etc.  The bug just prevents us from making changes to goal order, such as #4147.

Here is a test case that expo

[2017-03-12 04:02] grayjay opened #4391 "Solver: Add individual flags to conflict sets."
Currently, the solver uses one conflict set variable to represent all flags in a single package.  Say package `pkg-1.0` has two flags, `flagA` and `flagB`.  If either `flagA` or `flagB` introduces an unsatisfiable dependency, then the solver adds the variable `pkg-1.0:flag` to the conflict set.  Since `pkg-1.0:flag` represents all of `pkg`'s flags, the solver must backtrack and try flipping both `

[2017-03-12 04:09] grayjay commented on #4148
Closing as a duplicate of #3881.  I was able to build `hakyll` by adding `--constraint='pandoc-citeproc:setup.Cabal >= 1.24'`.

[2017-03-12 04:09] #4148 closed

[2017-03-12 04:10] grayjay commented on #3881
There is more discussion of this issue in #4148.

[2017-03-12 04:12] grayjay commented on #2429
Closing as a duplicate of #2397.

[2017-03-12 04:12] #2429 closed

[2017-03-12 04:13] grayjay commented on #2397
See #2429 for another example of how conditionals in flag definitions could be used.

[2017-03-12 07:54] #4388 closed

[2017-03-13 06:12] phadej opened #4393 "setup: Can't parse verbosity silent"
`cabal-install` seems to pass `-v silent` to Custom Setup.hs too.

[2017-03-13 06:17] phadej commented on #4393
i.e. `showForCabal` breaks when using Custom Setup.hs with older `Cabal`.

[2017-03-13 06:17] phadej commented on #4393
cc @ezyang

[2017-03-13 06:20] ezyang commented on #4393
@phadej can you test this patch

[code]

The "obvious" test doesn't repro for me but I read the code and I think I know what the problem is.

[2017-03-13 06:42] phadej commented on #4393
Seems to work. Is `showForCabal` change in 2.0, do we need to push it there too? @ezyang will you do? Thanks for prompt response

[2017-03-13 06:46] phadej commented on #4393
The bug is also in 2.0, with @hvr's `cabal-install-2.0`, (Herbert, would be great to have an updated package as soon as issue is fixed, otherwise it's impossible to build Custom packages on travis)

[code]

[2017-03-13 06:53] ezyang commented on #4393
I'm still a bit puzzled, because I can't trigger this when I make a simple Custom package and try to build it, even if it's built against 1.24. Maybe it's new-build only?

[2017-03-13 06:56] phadej commented on #4393
I tried only `new-build`, so maybe.

[2017-03-13 07:01] phadej commented on #4393
Workaround: `cabal new-build -v2` doesn't seem to execute the same code path: the

[code]
is used then

[2017-03-13 07:11] ezyang commented on #4393
OK, this explains why the test suite didn't catch it; we always operate at `-v2` in test suite! Patch incoming plus test.

[2017-03-13 08:48] #4393 closed

[2017-03-13 11:11] idontgetoutmuch commented on #4380
I will try to do this but I have other commitments.

[2017-03-14 01:49] ezyang opened #4395 "Before testing if libraries link, do a vanilla run to check if the compiler is misconfigured"
@angerman was reporting on IRC that Cabal couldn't find `iconv`, but everything seemed like it was in order. When he posted `-v3` logs, the true error came to light:

[code]

The failure of `clang` had nothing to do with linking `iconv`: rather, it was failing because of `clang: error: invalid linker name in argument '-fuse-ld=gold'`.

The way to solve this problem is, before we test if any of the

[2017-03-14 06:16] 23Skidoo commented on #4395
I thought we had it: https://github.com/haskell/cabal/blob/master/Cabal/Distribution/Simple/Utils.hs#L1333
Is it broken?

[2017-03-14 06:28] ezyang commented on #4395
Doesn't do you much good if you don't plumb it where necessary ;)

[code]

[2017-03-14 07:55] 23Skidoo commented on #4395
That's a backwards compat shim for Custom setups. I suppose we could deprecate it.

[2017-03-15 07:57] hvr commented on #3638
@dcoutts @ezyang @dmwit I notice with #4179 merged, there's now `cabal new-run` (courtesy of f2a8bdf4fa66d1468cc731e55b204eceb2b6389f), but as the commit message says:

So, this sounds like we're almost there? is the only thing left to do actually invoke the produced executable component now?

[2017-03-15 11:27] dcoutts commented on #3741
The concurrency strategy proposed in #4400 is more or less in line with the description above, specifically strategy 1 where we may occasionally waste work.

[2017-03-16 09:39] dcoutts commented on #3638
@hvr yes, new-run and new-bench CLI bits are in but they only build the things, they don't yet run.

[2017-03-17 06:41] ezyang opened #4401 "More documentation on code coverage/hpc"
Our code coverage documentation is a bit woeful, only mentioning the existence of `--enable-coverage`. Here is the bare minimum:

* The info in http://stackoverflow.com/questions/28416827/cabal-and-hpc-and-errors-when-running-tests-with-code-coverage
* More detail about how coverage integrates with test suites, calling out explicitly that other use cases of coverage are not directly supported (#39

[2017-03-18 19:43] bwo commented on #2441
Another person affected here. It's like it just forgets.

[2017-03-20 01:00] ezyang commented on #2146
This request was made for old-style local package repositories; with the new style, we would need to have `hackage-repo-tool` available because Cabal does not otherwise have the smarts to update the local repo.

[2017-03-20 01:02] ezyang opened #4402 "Specify remote repository target with cabal upload"
If you have multiple remote repositories, it might be convenient to call out specifically which one you want to upload to. Right now, we always take the "last" repository listed.

This is not urgent because you can always upload the tarball by hand.

[2017-03-20 01:11] ezyang opened #4403 "Solver gives bad error when inplace package version incompatible with other inplace package version"
Steps to repro:

1. I had a local copy of hackage-server, which has a fixed dependency Cabal == 1.24.*
2. I added a dev copy of Cabal (2.1.x) to my Nix project
3. I ran the solver:

[code]

I don't know why it's complaining about directory. I verified that changing the bound in hackage-server solved the problem. This is probably just the "solver rejects reasonable plan early, but then doesn't emit

[2017-03-20 01:55] grayjay commented on #4087
Here is a first pass at a design:

### Summary
- This design isn't 100% component-based: We keep package variables and add one
  boolean variable for each component.  However, the nodes of the dependency
  graph are components.
- We transform packages' dependency trees to handle all combinations of setup
  Cabal version, Buildable field value, component enabled/disabled, and
  `--enable-tests`/`be

[2017-03-20 04:22] grayjay commented on #4403
I think this is #941 (The solver only prints the message from the first conflict, even if it isn't relevant).  Another sign that the message about `directory` is irrelevant is that `directory` isn't contained in the final conflict set, on the last line.  I think that my suggestion in https://github.com/haskell/cabal/issues/941#issuecomment-230378305 would also work here, because the conflict set i

[2017-03-20 04:33] ezyang commented on #4087
Thanks, this looks great.

Per-component occurs if and only if:

* We are new-build
* build-type is not Custom
* cabal-version >= 1.8
* `--disable-per-component` is not specified

The canonical source of truth is `why_not_per_component` in ProjectPlanning. Probably best to just cross-reference two sites for now.

might break packages that only constrain dependencies for one component
(usually the

[2017-03-20 10:17] ezyang opened #4404 "Distribution.Package doesn't export Dependency anymore"
That's wrong. It should.

[2017-03-20 10:18] ezyang opened #4405 "Picking up too many monitor files when monitoring deps"
To ensure we rebuild when a dep changes, we monitor the monitor files of our deps. But we're incorrectly monitoring too many components: if we depend on the library from p, which shouldn't monitor the monitor file for the unit tests.

This manifests by, if you have a project that you've never built tests for, it will keep rebuilding your libraries when you rebuild.

[2017-03-20 10:22] ezyang opened #4406 "showVersion was gratuitously removed"
No reason we can't have it as an alias to display. DEPRECATE it even, if you like.

[2017-03-20 10:40] ezyang opened #4407 "Pattern synonyms for the abstract types"
This would help ease the transition burden for PackageName, Version and FlagName, which currently require a lot of mechanical rewriting to make abstract.

[2017-03-20 20:58] ezyang commented on #4402
Something that makes this a little more urgent is that there is no web UI for uploading Haddock documentation.

[2017-03-20 21:32] ezyang opened #4408 "Consider bringing back tag parsing to Text instance on Version"
I recently discovered a funny bug in Hackage:

[code]

This uses the Text instance on PackageId to parse a package identifier, and then looks in the versionTags of the resulting version to see if there are tags or not.

Actually, this totally doesn't do the right thing at all, because the parser for version numbers DROPPED the tags.

[code]

So there will NEVER be tags in the resulting `Version`,

[2017-03-21 03:23] #4405 closed

[2017-03-21 07:49] ezyang0 opened #4412 "new-haddock doesn't understand --for-hackage"
**Summary.** `cabal haddock` supports a `--for-hackage` flag which is not currently understood by `cabal new-haddock`. Steps to reproduce:

[code]

Adding support for this is a matter of threading this value through the various configuration data structures inside Cabal. If you grep for `haddockForHackage` you can see the main call-sites where support needs to be added. You'll need to add a new fi

[2017-03-21 14:01] hvr opened #4414 "cabal.project parser strips quotation marks (i.e. `"`)"
When using

    cabal new-build  '--ghc-option=-DGIT_DESCRIBE="foo-bar-doo-123"'

GHC gets passed  `-DGIT_DESCRIBE="foo-bar-doo-123"`

However, when writing that flag to `cabal.project.local` via

    cabal new-configure  '--ghc-option=-DGIT_DESCRIBE="foo-bar-doo-123"'

The following gets written to the `cabal.project.local` file:

    program-options
      ghc-options: -DGIT_DESCRIBE="foo-bar-doo

[2017-03-21 15:54] hvr commented on #4414
@dcoutts points out that

    ghc-options: "-DGIT_DESCRIBE=\"foo-bar-doo-123\""

should have worked, as that's the syntax that works inside `${pkg}.cabal` files

[2017-03-21 23:24] zilinc opened #4415 "Q: Installing dependencies makes `validateSolverResult` function return errors"
I got error
[code]
when installing dependencies for my project. (https://travis-ci.org/NICTA/cogent/jobs/213613398#L749)
I'm using cabal-install-1.24 and ghc-8.0.

Why could this have happened? Is it a bug in the installing packages or cabal-install, or my settings?

[2017-03-22 00:28] ezyang commented on #4415
An error here is usually a cabal-install bug, although it could also mean you build cache is borked. What happens if you (a) reset the Travis cache to scratch and try again, and (b) if you try build with cabal-install-head (you can conveniently get an executable using hvr's PPA.)

[2017-03-22 00:52] ezyang commented on #4403
Yes! And I thought this seemed familiar to me, because I had recently reported another iteration of this #4139 and forgotten I had done so. Too bad closed tickets don't show up on search. I'll close this one too.

[2017-03-22 00:52] #4403 closed

[2017-03-22 10:00] zilinc commented on #4415
I tried both. a) didn't work; b) fixed it.

[2017-03-22 11:46] hvr commented on #4414
@dcoutts pointed me to

[code]

which indeed appears to be the culprit; NB: `splitArgs` is not used for parsing the `ghc-options` from `.cabal` files, but it is used when parsing `ghc-options` occuring in `cabal.project` files.

[2017-03-22 11:49] alanz opened #4416 "assert, called at ./Distribution/Client/ProjectPlanning.hs:281:5"
Using current cabal at c2dfc3310b71193a491424dddb8c4ab868c55b6e built with GHC 8.0.2,
configuring for use with GHC ghc-8.2 branch at b3f7e9b54d9f36938effd265c84d5567b34c905b, with a brand new install.

Trying to build https://github.com/alanz/ghc-exactprint/tree/ghc-8.2

[code]

results in

[code]

[2017-03-22 12:41] bfrk opened #4417 "WARNING in hptSomeThingsBelowUs...out-of-date interface files"
I pull a few patches into the darcs source tree and when I say cabal new-build, I get lots of

[code]

Cleaning dist and dist-newstyle (rm -rf) and re-building fixes the problem (everything compiles cleanly). I am using cabal-head from the http://ppa.launchpad.net/hvr/ghc/ubuntu

[2017-03-22 12:57] dcoutts commented on #4414
The existing syntax style is Haskell string escaping, following the .cabal file spec.

Currently
[code]
but we want the result to be
[code]
so this at least means adding support for escapes within string quotes, like `\"`

[2017-03-22 13:36] 23Skidoo commented on #4417
Looks like a GHC issue.

[2017-03-22 17:40] bfrk commented on #4417
Does cabal use ghc --make? In that case I agree. If cabal calls ghc separately for each file then it's cabal's fault.

[2017-03-22 17:42] 23Skidoo commented on #4417
It does.

[2017-03-22 18:13] bfrk commented on #4417
Ok, I'll take a look at the ghc bugs. Thanks.

[2017-03-22 18:32] ntc2 commented on #4374
Related: https://github.com/TomMD/crypto-api/issues/26

[2017-03-22 18:42] bfrk commented on #4417
I may have been to fast closing this. Yes the error was issued by ghc. But what triggered the problem was that in one patch I renamed a file and updated the cabal file accordingly. Wouldn't that qualify this to be a problem /between/ ghc and cabal?

[2017-03-22 18:46] 23Skidoo commented on #4417
Do you have a reproducible test case?

[2017-03-22 18:51] ezyang commented on #4415
OK, let's call this "fixed in HEAD".

[2017-03-22 18:51] #4415 closed

[2017-03-22 18:53] ezyang commented on #4417
No, it's still probably a GHC bug only. All Cabal does is pass the list of modules to be compiled to GHC. If that list is "correct" (and it would be, if your cabal file is written correctly), then GHC should be able to deal.

[2017-03-22 19:59] bfrk commented on #4417
Okay. Will see what the ghc devs say. Feel free to close.

[2017-03-23 05:30] ezyang commented on #4416
The commit you referenced is fairly old (Sep 13, 2016) and I couldn't repro using any of:

* Cabal at 65879f4bf3aa288e77e488c135b20a28ba8c6efb, 20de0bfea72145ba1c37e3f500cee5258cc18e51 or most recent Cabal from @hvr's PPA
* With GHC 8.2.0.20170313 from @hvr's PPA
* On ghc-exactprint.

Here is an example succeeding run:

[code]

Can you try again with a more recent cabal-install version?

[2017-03-23 06:12] alanz commented on #4416
Oops, the cabal version in question is actually 8d3e1203d4ec88612287fa06d16b1aaeda659655

Not sure how I got that hash in my report.

[2017-03-23 08:23] ezyang opened #4421 "Improve messages when test suites were not solvable"
I recently wrote a test suite, but typoed one of its dependencies, rendering it unbuildable. Despite there being a completely bogus test suite, the dependency solver happily passed the package, simply opting to disable test suites to make things work.

When I asked new-build to subsequently build the test, I got this message.

[code]

This message is OK, but a *better* message would say how to fin

[2017-03-23 11:10] alanz commented on #4416
Ok, it seems to be related to other directories used as subprojects

My `cabal.project` has

[code]
where each repo matches the github 8.2 branch version.

If I comment out all the subpackages except '.' then it configures fine, but the build fails on comonad, as expected

[2017-03-23 13:13] alanz commented on #2327
What about generating an output file from normal GHC compilation that just has the doc-comments, in some appropriate format that a doctest tool could process, rather than processing the original source.  Subject to a flag being passed to GHC.

[2017-03-23 13:15] phadej commented on #2327
@alanz the problem is not reading the source, but providing the proper ghc flags to `doctest` (and where/how to configure them).

[2017-03-23 13:17] alanz commented on #2327
ok, I am coming at it from a point of zero knowledge, except that the tests are scraped from the files.

[2017-03-24 14:47] RyanGlScott opened #4423 "Mysterious segfault with custom Setup.hs"
Idris's setup program [started segfaulting recently](https://github.com/idris-lang/Idris-dev/pull/3456#issuecomment-255614643). I'm quite baffled as to what's going on here—the only thing I can say for sure is that a custom `Setup.hs` is definitely required to trigger this bug. I have a [`cabal-gh4367`](https://github.com/RyanGlScott/cabal-gh4367) repo which attempts to minimize the steps needed t

[2017-03-25 17:26] RyanGlScott commented on #4423
Some observations:

* The issue seems to be related to installing a more recent version of `process` than what is bundled with a particular version of GHC, as I can now reproduce the issue with a [very minimal `.cabal` file](https://github.com/RyanGlScott/cabal-gh4367/blob/fd964e1661f69d71196e56fb71622eb2cf1de0fb/idris.cabal#L46-L48):

[code]
* A workaround is to install a more recent version of `

[2017-03-25 17:35] grayjay commented on #4423
This sounds very similar to a segfault that I got when building cabal, #3216.  I had installed `process-1.4.2.0` in the user database, and `Cabal` depended on an older `process`.

[2017-03-25 23:10] grayjay commented on #4087
Thanks for the feedback!

I see that I had this part backwards.  These rules simplify things, because the solver doesn't need to choose whether to use per-component build for each package; there is only one choice.  In that case, I think that we don't need to add the "setup script features" variables, for now.

I had also incorrectly assumed that every package that ignores dependencies of unbuilda

[2017-03-25 23:22] hvr commented on #4087
re

IMO a better way to avoid duplication is to make it more explicit that multiple components ought to share common dependencies/constraints via the likes of #2832, and then we could unlock/enable per-component solving also in the aforementioned case when a high enough `cabal-version:` value is set (c.f. to how the  semantics for `build-depends` & multiple components changed between `cabal-versio

[2017-03-25 23:26] grayjay commented on #4421
The discussion in #3923 is related.

[2017-03-27 05:23] ezyang commented on #4087
Yeah, but I think the converse is true (per-component = correct handling of non-buildable components.)

Not necessarily. For example, we may have registered an internal library which was only linked by the test suite, but not by the actual public library of a package. @dcoutts would probably say that this just means we shouldn't have registered it but it seems better to me to not assume any relati

[2017-03-28 12:03] #4417 closed

[2017-03-28 12:54] 23Skidoo commented on #3567
Added @bugthunk for #4426.

[2017-03-29 08:04] arvidj commented on #1937
I'm using Ubuntu 16.04.1 LTS, and I'm having the same problem.

[code]

[2017-03-29 12:20] sproctor opened #4428 "Request: a way to specify alternatives in pkgconfig-depends"
Some packages, specifically Lua, do not have a standard name in for pkg-config. Lua 5.1 could be one of lua51, lua5.1, lua-5.1, or lua. It would be nice to have an "or" feature in pkgconfig-depends so you could specify that as something like:

    pkgconfig-depends: lua51 || lua5.1 || lua-5.1 || (lua >= 5.1, lua < 5.2)

The last example in https://autotools.io/pkgconfig/pkg_check_modules.html show

[2017-03-29 16:06] ezyang commented on #4428
Solver knows about pkg-config, so it should be possible to do this with the conditional flags mechanism. Give it a try?

[2017-03-30 16:57] sproctor commented on #4428
I'm not sure what you mean. Something like the following?

    if flag(lua51)
      pkgconfig-depends: lua51
    if flag(lua5.1)
      pkgconfig-depends: lua5.1
    ...

That wouldn't be particularly useful. If you mean something else, it's beyond my understanding of cabal. Thank you for your help with this.

[2017-03-30 19:29] ezyang commented on #4428
Nope, that's it. Why wouldn't it be useful? If you default each of the flags to true, the solver will toggle them off if lua51 doesn't exist, etc. (I guess you should mark the library not buildable if all of the flags fail.)

[2017-03-31 07:17] hvr commented on #4428
@sproctor actually that's not enough. You should ensure that the flags are mutually exclusive, as you're depending on different package names there. If you don't you're semantically unsound.

[2017-03-31 09:27] sproctor commented on #4428
I tried making a simple example with 1 flag. This system has lua.pc with version 5.1.3

    $pkg-config --modversion lua
    5.1.3

I used this code:

    flag lua501
      description:          Build against lua 5.1.
      default:              False
    flag pkg-xdoty
      default: True
    library
      ...
      if flag(lua501)
        if flag(pkg-xdoty)
          pkgconfig-depends: lua-5.1

[2017-03-31 09:35] phadej commented on #4428
`stack` doesn't resolve automatic flags, are you sure you set them explicitly right in the `stack.yaml`?

[2017-03-31 14:44] ezyang commented on #4428
Yes, you need a dep solver or manual flag assignment for this to work.

[2017-03-31 21:17] hvr commented on #4010
There appear to be at least two ways to workaround this:

 - either `setenv("GHC_ENVIRONMENT","/dev/null")` before executing a Setup.hs linked against a `Cabal < 1.24.2`, or
 -  inject `--ghc-options=-hide-all-packages` into `configPrograms` (in `ProjectPlanning.setupHsConfigureFlags`), e.g.

[code]

[2017-04-01 13:06] recursion-ninja commented on #3700
I was hoping to use a convenience library [described here](https://github.com/haskell/cabal/pull/3022) to circumvent the issue by separating out the C++ code into the convenience library with differing `cc-options` flags from the rest of the library. However, as far as I can tell, it hasn't been released in the latest `cabal` version (`1.24.2.0`).

Having proper support for handling C++ files woul

[2017-04-02 00:04] RyanGlScott opened #4431 "--allow-newer doesn't work for build-tools"
The `--allow-newer` flag doesn't appear to work with `build-tools`. Given this simple `.cabal file`:

[code]

Trying to configure it fails when I have `alex-3.2.1` installed, even with `--allow-newer`:

[code]

[2017-04-02 15:20] hvr opened #4432 "plan execution fails to build computed dependency"
WIP

[code]

[2017-04-02 15:41] hvr commented on #4432
Looking a bit closer at the output, I notice that part of the problem is `cabal-doctest` becoming an inplace package... as it started depending on the local `Cabal` lib. Is this expected?

And in fact, if I use `--constraint 'setup.Cabal < 1.25'` I can keep cabal from picking the local instance from using the local package...

[2017-04-02 22:25] ezyang commented on #3700
So, the big problem is deciding on a reasonable design. The key existing code is in `buildOrReplLib` in `Distribution.Simple.GHC`; look for the comment `-- build any C sources`.

The current design is that for each C source file, we call GHC to build it. We do some work to compute the options (vanillaCcOpts, profCcOpts) in each case to make sure that it works with each of the compilation modes.

S

[2017-04-02 22:40] ezyang commented on #4432
It is "expected", in the sense that if you inplace Cabal or any other package that might get picked up by custom setup depends, it will force the setup script to be built this way. But I think you could reasonably want it to go either way. I thought I've complained about this before but I can't find the ticket. 9aa4b9f0ed613376a84c801c0a97ee1469789923 and f9139d7b0c87d14e9329ebe8a900571455e2b212 a

[2017-04-02 22:41] ezyang commented on #4431
CC @Ericson2314. Since allow-newer operates by rewriting dependencies, it should simply be a matter of also rewriting build-tools-depends.

[2017-04-03 06:37] hvr commented on #4431
@ezyang The way it acts now is a hack, please don't add to it by introducing additional tech debt (whcih we'll have to break once and confuse users once we clean it up). Especially, allow-newer/older ought not to automatically act on qualified goals, even less so on non-lib deps. We need to harmonize this with the `--constraint` syntax for consistency.

[2017-04-03 13:09] hvr commented on #4432
@ezyang I see; well, if either way can be argued about, one just needs a way to let the user control which way to use, and then decide on the default which is most popular...

[2017-04-03 14:02] recursion-ninja commented on #3700
Thanks for the direction. I have a couple of irons in the fire right now, but hopefully I will be able to explore this over the next two weeks. I'll probably pursue the first, less correct but technically simpler approach you described.

[2017-04-04 00:01] Rizary opened #4434 "Cabal new-build does not contain executable in dist-newstyle"
So I have project folder in this https://github.com/Rizary/cabal-new-try repo.

it basically contains two folders (frontend and backend). I try to build the frontend folder which has its own cabal.project and use ghcjs compiler.

cabal.project

[code]

I have deps folder which has reflex,reflex-dom,reflex-dom-contrib submodules.

when I do `cabal new-build` the build is fine, and the output is as

[2017-04-04 04:43] grayjay commented on #4432
Here's a previous discussion about the topic: https://github.com/haskell/cabal/issues/3706#issuecomment-241959811

I think we do need a new type of constraint to specify whether cabal should use the local copy of a package.  I would rather add a local vs non-local constraint than an inplace vs non-inplace constraint.  Local vs non-local seems more simple and direct, because it only determines what

[2017-04-04 08:00] hvr commented on #4432
I agree, local/non-local makes more sense.

[2017-04-04 10:53] yeyan commented on #2909
This is something related the way of Fedora packaging cabal. There is another package called ghc-Cabal-devel. If only ghc-Cabal is install, which is the default behaviour, anything depends on cabal library will fail.

[2017-04-04 21:36] Ericson2314 commented on #1493
@grayjay Would it be useful for me to bother rebasing that prior to your upcoming solver overhaul?

[2017-04-04 21:50] bitonic opened #4435 "cc-options do not get passed to GHC"
`cc-options` currently do not get seem to get passed to GHC. It would be useful if they were, since GHC is capable of compiling C/C++ files and now it might more than before given the addition of `addForeignFile` in GHC 8.2, which lets users compile and link C/C++ files from TH.

[2017-04-04 21:55] bitonic commented on #4435
Note that in practice one needs to put the cc options both in `cc-options` _and_ in `ghc-options` via `-optc`, since inline-c is often used with hsc2hs which does get the flags from `cc-options`.

[2017-04-04 23:48] bitonic commented on #4435
Note that the same happens for linking: `extra-libraries` are not passed to GHC, which makes `loadDLL` fail when it `dlopen`s shared libraries referring to any of the specified extra-libraries.

[2017-04-04 23:50] bitonic commented on #4435
Note that `cabal` even emits warnings like

[code]

even if they do not have the same effect.

[2017-04-04 23:59] bitonic commented on #4435
Another note: also in the case of `extra-libraries` one needs to have both `ghc-options: -lfoo` and `extra-libraries: foo`, since GHC might load with `dlopen` but cabal is still the one doing the final linkage

[2017-04-05 03:45] grayjay commented on #1493
@Ericson2314 Do you mean that you would rebase your cross-solve branch so that it could be merged as part of #4087?  I think that the current design for #4087 doesn't affect package qualifiers, so you could change the qualifier types independently.  #4087 would just add more information about components that we could use to make the qualifier edges more specific.

[2017-04-05 04:27] Ericson2314 commented on #1493
@grayjay makes sense. Thanks for the feedback.

[2017-04-05 04:44] ezyang commented on #4435
Related issue #3700

Not passing extra-libraries to GHC as `-l` is probably a separate bug. If this doesn't cause any regressions, we probably should do this, at the very least when `other-extensions: TemplateHaskell` is specified, and maybe unconditionally.

[2017-04-05 06:47] erikd opened #4436 "Generated setup.hs doesn't build with ghc 8.2"
Trying to build [HsOpenSSL](https://github.com/vshabanov/HsOpenSSL.git) with ghc 8.2 and I get this error:
[code]
The file `dist/setup/setup.hs` is a generated file. Not sure if this is something that should be fixed in cabal or in the ghc 8.2 release candidate.

My cabal version is:
[code]
which seems to be the latest on Hackage.

[2017-04-05 07:07] cocreature commented on #4436
I don’t think this is an error in cabal or GHC. The problem is the [`Setup.hs` file](https://github.com/vshabanov/HsOpenSSL/blob/master/Setup.hs) in `HsOpenSSL`.

[2017-04-05 07:11] erikd commented on #4436
You are correct @cocreature . Closing this.

[2017-04-05 07:14] erikd commented on #4436
Actually, not sure. Yes, its in the `Setup.hs` file, but this is a breaking change caused by the new ghc version.

[2017-04-05 07:16] 23Skidoo commented on #4436
See https://github.com/haskell/cabal/blob/master/Cabal/changelog#L59.

[2017-04-05 07:21] erikd commented on #4436
Ok, so i have a fix to the `Setup.hs` file, but that fails to build with ghc 8.0 or earlier.

Can I use CPP in a `Setup.hs`, Will the cabal version macros be available?

[2017-04-05 07:22] cocreature commented on #4436
Yes you can, I’ve added something like
[code]
to my Cabal files.

[2017-04-05 07:24] erikd commented on #4436
This `Setup.hs` file has other stuff that breaks with CPP like:
[code]

[2017-04-05 07:26] cocreature commented on #4436
That’s a general problem with CPP and multiline strings. The easiest solution is to use `unlines`.

[2017-04-05 07:26] 23Skidoo commented on #4436
Consider also adding a `custom-setup` stanza.

[2017-04-05 07:36] 23Skidoo commented on #4436
[code]

Note that without `custom-setup` (which is only supported by `cabal-install` >= 1.24) you need a recent GHC (>=8.0.1, I think) for this to work.

[2017-04-05 07:43] 23Skidoo commented on #4436
Try

[code]

May still break in the rare case when someone uses Cabal >= 2.0 with old GHC and `cabal-install`.

[2017-04-05 08:32] erikd commented on #4436
I ended up using:
[code]

[2017-04-05 16:59] bgamari opened #4437 "Cabal tries to build Setup.hs against Cabal 2.0"
With `Cabal` and `cabal-install` from the current state of the `2.0` branch,
[code]
Naturally the `Setup.hs` in that commit doesn't target `Cabal-2` and the build consequently fails. It seems that the implicit `Cabal <2.0` bound isn't being applied here, but I don't see why.

[2017-04-05 17:01] bgamari commented on #4437
Ahh, never mind. This is apparently due to the fact that there was a `runghc` hash-bang in `Setup.hs`. See https://github.com/vshabanov/HsOpenSSL/pull/22.

[2017-04-05 17:01] #4437 closed

[2017-04-06 16:15] treyharris commented on #395
@m0davis Your link is dead, can you update it?

[2017-04-06 17:22] phadej opened #4438 "Use gold linker in travis"
We do link a lot, so it might save us build-time. https://www.reddit.com/r/haskell/comments/63shj7/link_with_the_gold_linker_for_faster_build_times/

@ezyang is the flag easy to add to use in the test-suite?

[2017-04-06 18:14] m0davis commented on #395
@gilligan sorry, I didn't notice your comment three years ago and I don't now remember much about this. @treyharris I tried and I failed. I don't know much more than you about this, but maybe you'll have better luck finding it than me. Evidently, it exists somewhere in the still-available [haskell-cafe archives](https://mail.haskell.org/pipermail/haskell-cafe/) prior to May 2015. Perhaps also (and

[2017-04-07 01:29] ezyang commented on #4438
Yes, we should just add it to the flags we pass Cabal by default; I guess `--ghc-option=-optl-fuse-ld=gold --ld-option=-fuse-ld=gold --with-ld=ld.gold` or something similar would be sufficient. Another possibility is to use update-alternatives to have ld point to ld.gold; then you'll get it automatically.

FWIW, I temporarily switch to ld.gold as my default ld, but I think this breaks some stuff s

[2017-04-07 02:26] 23Skidoo commented on #4438
`update-alternatives` is probably the easiest option.

[2017-04-07 03:45] nh2 opened #4439 "cabal does not respect ghc-options for -pgmc, -pgml etc"
[In this place](https://github.com/haskell/cabal/blob/eebf36b708fd865a7ef0f717b92b7a002fdf6aa1/Cabal/Distribution/Simple/GHC/Internal.hs#L194-L200)

[code]

cabal calls ghc just like that, without respecting the C compiler and linker that the user has set in `--ghc-options` and `--with-gcc`/`with-ld`.

To reproduce, simply `sudo mv /usr/bin/gcc /usr/bin/gcc.backup` and try to run `cabal configure

[2017-04-07 04:54] Rizary opened #4440 "Failed when execute ghcjs-boot"
I got the following error when try to execute ghcjs-boot with the option mentioned in here https://github.com/ghcjs/ghcjs/issues/487

I'm using cabal HEAD version and ghc 8.0.2 downloaded from haskell web. I tried to build ghc using guide in here https://github.com/leksah/leksah.

thing that i noted is that the ghc-pkg still notice my Cabal-1.24.2.0 as mentioned in the third line on the below code

[2017-04-07 05:27] ezyang commented on #4440
Dupe of #3987, which was fixed Cabal side, but the ghcjs build system has to be adjusted to take advantage of the new flag.

[2017-04-07 05:27] #4440 closed

[2017-04-07 07:53] w1ndy opened #4442 "Unable to install cabal with GHC 8.0.2 on Windows"
Hi, I'm using GHC 8.0.2 on Windows 10 15063.13.
I ran ``cabal install`` with PowerShell, and Cabal complains that

[code]

However, the version of GCC can be correctly obtained by ``D:\haskell\ghc\mingw\bin\gcc.exe -dumpversion``:

[code]

I ran again with cmd, and this time "realgcc.exe" crashed twice with prompts saying "The application was unable to start correctly (0xc0000142)". The output of

[2017-04-08 12:50] hvr commented on #4024
@23Skidoo it's this here, right? https://blog.travis-ci.com/2017-03-22-introducing-auto-cancellation

[2017-04-08 13:08] hvr opened #4443 "`NondecreasingIndentation`-filtering broken"
**Summary.** Given the following simple project:

[code]

and a dummy module `M.hs` containing just the single line

[code]

Try to build it via `cabal build` or `cabal new-build` for GHC 7.0.4 results in the following failure:

[code]

The reason becomes apparent when looking at the `-v2` output:

[code]

Which shows that `-XNondecreasingIndentation` got transformed into an empty `''` CLI argumen

[2017-04-08 16:00] alanz opened #4444 "Cabal reports index is out of date based on index time, not last update time"
**New summary by @ezyang.** When you run `cabal install` and it has been a while since you have run `cabal update`, you get this useful message:

[code]

This message is computed by looking at the most recently updated package in the package index, and then emitting a message if it was from too long ago. Unfortunately, there is a bug in how we perform this check.

**Steps to reproduce.**

1. Confi

[2017-04-08 18:38] ezyang commented on #4444
Good idea.

[2017-04-09 23:36] #4434 closed

[2017-04-09 23:47] Rizary opened #4445 "Cannot detect package in setup-depends using cabal new-build"
Hi,

previously, i have some package which already build smoothly. So, i try to recreate it in another folder and using the same configuration and same structure. However, it doesn't build like the previous one.

Here is my cabal.project looks like:
with-compiler: /usr/local/bin/ghc
compiler: ghc

flags: -overloaded-methods -overloaded-signals -overloaded-properties

packages:
  ./
  deps/reflex/

[2017-04-10 00:40] ezyang commented on #4445
Hi @Rizary, I made a simple test-case and reproduced on 1.24, but NOT in HEAD. So, unfortunately, you're going to have to use HEAD to solve the problem.

[2017-04-10 00:40] #4445 closed

[2017-04-10 01:41] 23Skidoo commented on #4024
Yes, and I've actually already enabled it.

[2017-04-10 01:41] #4024 closed

[2017-04-10 11:54] 23Skidoo commented on #4444
Yep, I'm also affected by this.

[2017-04-11 07:53] hvr commented on #4444
...just came here to say that I like the ticket number =)

PS: ...and I agree that keeping track of the last `cabal update` attempt makes sense...

[2017-04-12 01:25] maoe commented on #3332
Is there a blocking issue for this feature or just no one has tried to implement it yet?

[2017-04-12 01:55] 23Skidoo commented on #3332
IIUC, the latter.

[2017-04-12 22:40] jberryman commented on #4439
Linking back to the context/motivation: https://github.com/nh2/link-with-lld-example

[2017-04-14 00:22] maoe commented on #3332
Thanks. I think this is a very useful feature even without the rollback feature or the GC mechanism mentioned in the description. I'll see later if I can quickly implement it.

[2017-04-16 19:39] ezyang opened #4447 "Give a better warning when you try to use locally defined module to instantiate package"
A very natural thing to try to do is this:

[code]

Unfortunately, we don't support this today (if we did, then you could easily write recursive modules with Backpack, since the modules provided by the mixin are available for StrImpl to import!) But right now, Cabal will just pretend the module doesn't exist:

[code]

We should detect when this situation occurs and give a helpful warning in this c

[2017-04-16 19:53] ezyang opened #4448 "cabal-version check doesn't happen early enough"
With https://github.com/danidiaz/wl-pprint-indef/tree/problemo when built you get the error:

[code]

But everything exists. In fact, the problem is that `cabal-version` is not set high enough to get the correct semantics in this case.

I'm not sure if the correct fix is to move cabal-version sanity checking earlier, or to add a little extra logic to the cabal-version dependent bits of mixin linki

[2017-04-17 00:12] hvr opened #4449 "ghc-options appears to remove duplicates"
**Summary.** Cabal incorrectly deduplicates `ghc-options` which it passes to GHC.

**Steps to reproduce.** Create a Cabal package, and put `ghc-options: -trust base -trust containers` in it. Attempt to build it and GHC will fail with something like:

[code]

**How to fix.** The fix is pretty simple: you will need to disable deduplication of command line arguments in ghc-options. This behavior was

[2017-04-17 01:13] ezyang opened #4450 "new-build is not registering inplace Custom packages with executables to project-wide database"
Steps to reproduce:
1. Create a Custom package with a library and an executable that depends on the library
2. Ask cabal new-build to build the executable

Expected result: the library is installed into dist-newstyle/packagedb

Actual result: it is not

To make matters worse, if you subsequently request the library be built, it still is not registered.

This breaks cabal-testsuite if you "build it

[2017-04-17 01:19] DanielG commented on #4449
Looks like [`ghcOptExtra :: NubListR String`](https://hackage.haskell.org/package/Cabal-1.24.2.0/docs/Distribution-Simple-Program-GHC.html#v:ghcOptExtra) since 1.22, ba4a6d5be3bac7eaf3f59088940cbae2c2ea83f4 seems to have introduced that.

[2017-04-17 07:38] hvr commented on #4449
@DanielG thanks for investigating! This looks quite nasty... I'm surprised it didn't cause more problems already...

[2017-04-17 12:36] alanz opened #4451 "GHC 8.2 rc1 bootstrap.sh on older bindist"
When trying to install cabal in a docker container based on Debian Jessie, it errors with

[code]
This is a manifestation of https://ghc.haskell.org/trac/ghc/ticket/12147

Perhaps the `bootstrap.sh` script should be fixed to use ghc options of `opta-Wa,-mrelax-relocations=no ` for the install.

Script: https://github.com/DanielG/ghc-mod/blob/50617fe41d382132472c3beec50749b21e21325c/scripts/docker.

[2017-04-17 21:03] kolmodin opened #4452 "Cannot override --flags= on command line"
**WARNING** There are updates to this ticket, please read the discussion.

**Summary.** It's common that the last given value of a flag "wins".

[code]

I expected the last line to have set `dev=False`. According to the [documentation](https://www.haskell.org/cabal/users-guide/installing-packages.html#controlling-flag-assignments) it should be `dev=False`.

**Explanation (by @ezyang).**

Cabal has

[2017-04-18 13:52] RyanGlScott opened #4453 "`cabal test` fails with "Saved package config file is corrupt" with GHC 8.2 and cabal-install-2.0"
I noticed this issue when trying to upgrade `comonad` to use GHC 8.2/`cabal-install-2.0`. The relevant Travis CI log is [here](https://travis-ci.org/ekmett/comonad/jobs/223145921). Here is a summary of the steps needed to reproduce the issue:

[code]

It should be noted that if I use `cabal-install-1.24` or `cabal-install-head` with GHC 8.2, then it works. (Here is [evidence](https://travis-ci.org

[2017-04-18 13:54] RyanGlScott commented on #4453
What's even strange is that other combinations of GHC 8.2 and `cabal-install-2.0` appear to work just fine, as in [this `distributive` build](https://travis-ci.org/ekmett/distributive/jobs/223040564). So there must be something going on in `comonad` in particular.

[2017-04-18 14:12] atarnoam opened #4454 "C compiler does not work on Windows [support]"
Hi,
I have Windows 10 and I tried downloading the `hsdev` package with cabal. I got this error:

[code]

How could I fix this?

[2017-04-18 15:27] BardurArantsson commented on #4454
I have no idea about your problem, but I *can* say that you should probably not be using 'hsdev'. Use cabal sandboxes instead.

[2017-04-18 21:13] kolmodin commented on #4452
[code]

[2017-04-18 23:29] RyanGlScott commented on #4453
Please ignore what I said in https://github.com/haskell/cabal/issues/4453#issuecomment-294851720, that isn't true. It turns out I [_was_ experiencing the same errors](https://travis-ci.org/ekmett/distributive/jobs/223040564#L543) in the `distributive` build, but they were being obscured by the particular `.travis.yml` script that repo was using.

[2017-04-18 23:32] RyanGlScott commented on #4453
FWIW, here's what you get when you run `cabal test -v3`:

[code]

[2017-04-19 00:35] RyanGlScott commented on #4453
For a minimal example, you can simply pick any `.cabal` file with a test suite and a custom `Setup.hs` script. For example:

[code]
[code]

[2017-04-19 01:42] ezyang commented on #4450
The most plausible explanation I can come up with is that the version of Cabal-2.0.0.0 on Hackage, and the one distributed with GHC 8.2.1, are not the same.

[2017-04-19 01:53] ezyang commented on #4450
Yes, that is exactly what is happening, as can be seen by diffing Cabal from ghc-8.2 and cabal-install-2.0. This is a bit of an unfortunate state of affairs, but what seems to have happened is that since the RC, we've backported a few more patches to 2.0, and hvr's PPA is tracking the 2.0 Git branch, not the 2.0 submodule that GHC 8.2-rc2 is pinned to. Unfortunately, one of these patches changed t

[2017-04-19 01:54] ezyang commented on #4453
What has happened is 8.2-rc1 and cabal-install-2.0 from hvr's PPA (which doesn't correspond to a real release, btw) have DIFFERING source code on Cabal 2.0 (as can be verified by downloading the source packages for each of these packages and diffing Cabal). This is a bit of an unfortunate state of affairs, but what occurred because hvr's PPA is tracking the 2.0 Git branch, not the 2.0 submodule th

[2017-04-19 02:29] ezyang commented on #4402
Also, a simpler but still useful thing to fix, would be for upload to tell you WHERE you're uploading the tarball to.

[2017-04-19 06:55] BardurArantsson commented on #4453
@ezyang The only real solution is what you've pointed out: Version the file format separately, preferably by splitting out the parser into its own package. (Though, I'm guessing it's absurdly tangled into internal data structures of the Cabal library. Even then, one can go a step towards more robustness by better by at least standardizing the basic syntax completely and leaving the interpretation

[2017-04-19 18:13] pranitbauva1997 commented on #3943
@ezyang I am trying to contribute to this repo thus I would like to start with this issue.

I would prefer the second one because it gives the other person more capabilities as to what he wants to do with the old file's contents before the rewrite.

I think I would have to make the edits in `cabal-install/Distribution/Client/ProjectConfig.hs` file. In that specifically in the method `writeProjectL

[2017-04-20 01:35] ezyang commented on #3943
(2) seems OK to me.

I feel weird modifying `writeProjectLocalExtraConfig` to print out the old contents, it doesn't match the function name and it doesn't really match up with everything else. In any case, it only has one call site at configureAction in CmdConfigure.hs. I'd suggest making the change there instead.

[2017-04-20 02:57] ezyang opened #4456 "Appveyor is broken: Cannot select only the dependencies"
[code]

Failing log: https://ci.appveyor.com/project/23Skidoo/cabal/build/%233393%20(master)

[2017-04-20 03:21] ezyang commented on #4456
This is fairly easy to reproduce, just run ` cabal install --only-dependencies --enable-tests -v3 --dry-run` on the Cabal directory. Here is what is happening.

On April 15, @hvr performed a revision to unbounded-delays to add a custom-setup section to unbounded-delays. This was the immediate cause for Appveyor to start failing.

What happened was that when the custom-setup was added, unbounded-de

[2017-04-20 08:21] 23Skidoo commented on #4449
Can this be worked around with `"-trust base" "-trust foo"`?

[2017-04-20 10:16] 23Skidoo commented on #4452
Makes sense.

[2017-04-20 17:42] robertpeteuil commented on #4384
I agree that paying the spin-up-cost for matrix entries we don't need is annoying.

I also strongly disagree with **roldrage**'s statement when he closed out [2778](https://github.com/travis-ci/travis-ci/issues/2778) that "having different .travis.yml files per branch seems like a reasonable alternative solution".

The *reasonable alternative* he suggested breaks every common git workflow.

[2017-04-22 22:27] RyanGlScott commented on #4157
This is still an issue with `cabal-install-2.0` and GHC 8.2.1-rc1. The only difference now is that there is an error message located associated with it:

[code]

That vertical bars are not at all aligned really highlights the presence of this bug :)

[2017-04-22 22:57] Iter-Ator commented on #4442
I have the same error

[2017-04-23 14:59] ArcoMul commented on #4442
Not sure if this is completely related, but I'm getting the same-ish error when trying to install a package.

[code]

Last week running the same command didn't give any issues

[2017-04-23 21:59] 23Skidoo commented on #4442
Can this be related to the latest Windows 10 update that broke GHC on Windows?

[2017-04-23 22:39] grayjay commented on #4456
Should this be reopened, since we don't have a complete fix?

[2017-04-24 02:03] thoughtpolice commented on #4442
Yes, this due to the latest Windows 10 "Creators" update. Fixes for previous versions of the compiler are here[1]; follow the README.md (tl;dr replace a copy of `gcc.exe` in your GHC installation).

[1] https://github.com/Mistuke/ghc-compat

[2017-04-24 06:05] 23Skidoo commented on #4442
Closing as this is not a Cabal issue.

[2017-04-24 06:05] #4442 closed

[2017-04-24 11:07] hvr commented on #4453
@BardurArantsson tbh, I'm not sure I like the idea of having code parse a format even if it doesn't understand it 100%. In order to be able to do that, the code needs to know whether it's safe to ignore the parts it doesn't understand. So we'd have to include some kind of semantic format versioning nevertheless, in order to signal whether new properties/data in the serialization can be ignored.

F

[2017-04-24 11:20] hvr commented on #4449
@23Skidoo I think that works... but unfortunately it doesn't help with already released `.cabal` files on Hackage where the revision-validation would refuse such changes currently... :-)

Do we actually agree that this a bug that needs fixing? :-)

[2017-04-24 11:38] 23Skidoo commented on #4449
Well, `NubList`-ification was done for a reason. Do you suggest simply reverting ba4a6d5be3bac7eaf3f59088940cbae2c2ea83f4?

[2017-04-24 11:49] hvr commented on #4449
@23Skidoo well, while I appreciate the reasoning behind why it was added, I don't think it's the right/principled thing to blindly de-duplicate flags w/o understaning their semantic/grammar/syntax. We have actual evidence this broke existing `.cabal` on Hackage. So I think we should at best de-duplicate flags whose structure we are very confident to understand its syntax, i.e. use a pessimistic ap

[2017-04-24 12:00] 23Skidoo commented on #4449
Maybe instead of reverting that patch we can just treat flags followed by positional arguments (e.g. `-foo bar`) as single entities for the purposes of deduplication?

+1.

[2017-04-24 12:07] hvr commented on #4449
That sounds like a good heuristic that would definitely help with the specific issue that gave rise to #4449 (so it would definitely be an improvement over the current situation).

However,  it doesn't help with CLI flags that have cumulative effect, or that don't follow `Last`-monoid semantics, or groupings of flags such as `+RTS/-RTS`

[2017-04-24 13:51] bgamari commented on #3576
What is the plan regarding cutting a 2.0.0 release?

[2017-04-24 13:54] 23Skidoo commented on #3576
@bgamari In principle can be done right now, but there are some patches that I want to cherry-pick first. When do you need it?

[2017-04-24 14:14] Ericson2314 commented on #3576
I'd still really like to get the last bit of work for local `build-depends` syntax in. It's been in limbo as I've been busy in work.

[2017-04-24 21:12] ndmitchell commented on #2015
This seems a more general issue that seemingly running `cabal configure` captures the `$PATH` and reuses it for subsequent steps. That's causing lots of surprise, e.g. https://gitlab.com/tim-m89/clr-haskell/issues/21

[2017-04-25 02:39] angerman commented on #2327
I'd like to point out that especially 2 (custom setup), takes any structured information and turns them into an opaque blob. Now, I know that not many are concerned with cross compilation, but in the case of cross compilation, having some opaque blob in form of the custom setup, implies that one needs to compile the Setup on the host, and execute it on the host, as the cross compiled setup won't b

[2017-04-25 08:52] hvr opened #4461 ""thread blocked indefinitely in an STM transaction""
I've noticed that from time to time cabal seems to fail with

[code]

which is quite annoying with CI jobs.

Just now, @alexbiehl ran into the very same issue on Travis: https://travis-ci.org/haskell/haddock/jobs/225512194#L377

and I was able to reproduce this locally as well (and quite reliably). In order to be able to reproduce it, `~/.cabal/store` should be empty, as well as the source-tarball

[2017-04-25 08:57] alexbiehl commented on #4461
The travis log with cabal verbose output: https://travis-ci.org/haskell/haddock/jobs/225517509#L4676 Unfortunately nothing too suspicous.

[2017-04-25 09:28] phadej commented on #4461
@hvr I guess that we don't recover from http transpost errors gracefully enough. I *guess* the test case can be made 100% reliable if you use wrapper around `curl` which fails often enough, could you try?

[2017-04-25 14:29] hvr commented on #4461
@phadej I'm not sure I understand what you're saying though. In the case where I saw the STM exceptions, the http transports appear to have succeeded w/o any errors. I.e. all source tarballs were downloaded successfully.

[2017-04-25 14:37] phadej commented on #4461
Uh. That interesting, what's then causing the stm exceptions (some unfortunate timing of events is causing deadlock-like situation?)

[2017-04-25 17:34] ezyang opened #4462 "Make more efficient use of space in cabal-binaries"
Today, I got a message from GitHub saying that cabal-binaries had gotten too big. (For reference, we inaugurated this repo on February 2, so that's about two months of binaries.) To fix the immediate problem, I ran this script to delete every branch besides master from cabal-binaries:

[code]

In the future, it would be wise to have cabal-binaries clean up after itself. Probably a good way to do t

[2017-04-25 22:45] bgamari commented on #3576
@23Skidoo, I would ideally like to have the submodules stabilized for the next RC, which I would like to cut at some point this week.

[2017-04-25 22:50] dcoutts commented on #4461
hvr has identified the problem (though he didn't say what it was in the PR!) and has a fix.

[2017-04-26 05:25] BardurArantsson commented on #4453
The case where this would cause a problem is so rare that I don't think it's even worth bothering with. (Security-related things perhaps? That's about it.)

Having said that... when the *basic* format is always readable it's trivial to embed a version number and *still* always have the file be readable. (See also below.)

This is trivial -- see the chunk format of PNG.

"Just be careful" doesn't r

[2017-04-26 06:19] hvr commented on #3576
@bgamari can we make it a more concrete deadline, say "on sunday" or something like that? I keep finding bugs in Cabal... and I still have to finalise a few other ghc submodules too... :-)

[2017-04-26 06:44] hvr commented on #4461
@phadej while #4463 fixes the problem that triggered the issue here in #4461 (which was originally a `BlockedIndefinitelyInMVar` exception that got promoted to an STM-exception), I think you bring up a good point that we should check whether there's other situations where an `BlockedIndefinitelyOnSTM` could result from.

[2017-04-26 08:21] #4461 closed

[2017-04-26 13:29] bgamari commented on #3576
Herbert Valerio Riedel <notifications@github.com> writes:

Sure, "On Sunday" sounds fine to me.

[2017-04-26 13:35] 23Skidoo commented on #3576
OK, it'll be Sunday then.

[2017-04-26 13:55] ezyang commented on #2327
It feels like we're suffering decision paralysis here, when everyone agrees that doctests would be a good idea. I suggest that someone should add `cabal doctest`, like `cabal haddock`, NOT add any new fields to the Cabal file format, and NOT support QuickCheck. Support for rest of those things can come in time.

[2017-04-26 15:40] phadej commented on #2327
@ezyang I agree, but not fully. At some point `doctest` must be configurable: at least to add additional dependencies, that's something one cannot  pass as a command line option (as options to haddock, which are in a sense global). Also IMHO `doctest` should be explicitly enabled.

So it's good to start things rolling, but we still need to bikeshed on the details.

[2017-04-26 16:00] pranitbauva1997 opened #4464 "Duplicate entry with `cabal new-configure --ghc`"
The setting "compiler: ghc" is written out twice in the file `cabal.project.local`

[2017-04-27 02:17] ezyang commented on #3567
Added @praunitbauva1997 for working on #3943.

[2017-04-27 02:39] sol commented on #2327
I added some notes to https://github.com/sol/doctest/issues/155.

[2017-04-27 11:41] pranitbauva1997 commented on #4464
This is fixed in the latest version of cabal built from master branch. It existed in 1.24

[2017-04-27 11:41] #4464 closed

[2017-04-28 00:46] erikd opened #4467 "Removal of Dependency type not mentioned in changelog"
It seems that version 2.0 of the Cabal library has removed the `Dependency` type which used to be in `Distribution.Package`, but this change is not noted in the [changelog](https://github.com/haskell/cabal/blob/master/Cabal/changelog).

Would be really nice if this was mentioned in the changelog along with suggestions for working around its removal.

[2017-04-28 01:00] 23Skidoo commented on #4467
Seems to live in `Distribution.Types.Dependency` now. This change was done in #4364.

[2017-04-28 05:08] #4404 closed

[2017-04-28 05:11] erikd commented on #4467
I assume closing this is appropriate.

[2017-04-28 05:11] #4467 closed

[2017-04-28 09:29] phadej opened #4471 "Cabal new-build projects should allow setup-depends from the project"
Otherwise it's impossible to develop (and test) packages meant to be used in setup-depends, e.g. `cabal-doctest`. Currently I have to use sandboxes (or `stack`).

I remember discussion about this, but cannot find in which issue it was.

Also the solution where one have to **explicitly** mark a package eligible for use in `setup-depends` is OK;
It's probably good to separate between "setup pkg" and

[2017-04-28 11:35] hvr commented on #4471
just to clarify, you're talking about allowing local packages (declared via `(optional-)packages:` to become eligible for qualified goals such as `setup-depends`?

[2017-04-28 11:37] phadej commented on #4471
@hvr yes. (or via separate list of packages, `setup-packages` mod name bikesheding)

[2017-04-28 11:37] hvr commented on #4471
@phadej this sounds a bit like https://github.com/haskell/cabal/issues/4432#issuecomment-291391948 doesn't it?

[2017-04-28 11:41] phadej opened #4472 "rewriteFile BC"
@ezyang

the addition of `Verbosity` options breaks custom setups

relevant commit: 0aa73b78 (not sure it is in 2.0)

[2017-04-28 11:48] phadej commented on #4472
cc @RyanGlScott, I'll release a fixed version of `cabal-doctest` shortly (please review my PR there!)

[2017-04-28 17:01] phadej opened #4474 "cabal configure should fail if cannot satisfy setup-depends"
Related: https://github.com/phadej/cabal-doctest/issues/11

[code]

That's very frustrating, and doesn't make sense.

I hope this can be fixed quickly, I'm more than happy to make a PR, if no-one objects (for a very good reason).

[2017-04-28 17:08] 23Skidoo commented on #4474
I actually fixed this before, but it broke the containers test suite and was reverted. See #1575.

[2017-04-28 17:22] phadej commented on #4474
I'd say that default behavior should be: fail; if you don't it to fail, you have to say that explicitly.

[2017-04-28 19:05] 23Skidoo commented on #4474
OK, this probably can be implemented, though people relying on that feature will be angry :-).

[2017-04-28 22:43] vmchale opened #4476 ""cabal new-build" fails when undefined flags are present with cryptic message"
I tried to build using `cabal new-build` and produced the following error:

[code]

It turned out that this was because I had

[code]

in my .cabal file without a corresponding

[code]

If cabal could throw a nicer error, I'm sure it could save someone else a bit of time.

Thanks!

[2017-04-28 22:47] 23Skidoo commented on #4476
Agreed, we should definitely fail better here.

[2017-04-29 07:17] hvr commented on #4476
@23Skidoo fwiw, beyond this, I got a couple of additional warnings I wanted to implement for flags (like warning about defined but unused flags, wrong use of automatic flags -- coincidentally @vmchale's use-case is such one example, use of flags when they can better expressed by other means, etc)

[2017-04-29 15:24] angerman commented on #4474
Not sure if this is related, but running `cabal configure` or `cabal new-configure`, with or without `--allow-newer`, where cabal is built with new-build, never returns but runs at 100% cpu.

`-v` gives:

[code]
and then nothing.

[2017-04-29 16:48] dagit opened #4477 "new-run not running the executable"
I'm testing with the `2.0` branch. My package built successfully and has one executable section. The `new-run` command correctly checks if things are up to date and rebuilds them, but it is not running the executable. I added printouts in `main` that I never see and the program should block on a `getContents` but it doesn't do that either. I've tried adding `exe:mypkg` to the `new-run` command and

[2017-04-29 17:42] grayjay commented on #4471
Is this related to #4295?  I thought cabal could use any package from the project as a setup dependency.

[2017-04-29 17:43] grayjay commented on #4474
There is also #2614.

[2017-04-29 20:12] phadej commented on #4474
So many duplicate issues; should we close them (newers) with `duplicate` label?

[2017-04-29 20:12] #4472 closed

[2017-04-29 20:13] phadej commented on #4472
Fixed in 2.0; @23Skidoo I'll make a PR to master some time soon (after 1.5 celebrations)

[2017-04-29 20:14] phadej commented on #4471
@grayjay paged out that issue completely; will verify if `--independent-goals` works for me

[2017-04-29 20:37] 23Skidoo commented on #4474
I guess we can close this in favour of #2614.

[2017-04-29 20:37] #4474 closed

[2017-04-30 00:40] grayjay commented on #4471
The --independent-goals flag was commented out, but I tried to enable it in https://github.com/grayjay/cabal/tree/enable-independent-goals.  The branch probably needs more work, though.

[2017-04-30 01:38] angerman commented on #2623
@ezyang what's the status of this? building cabal takes awfully long, and utilizes only one of the 8 available cores. Could you elaborate on what is done and what still needs to be done? Also if related, how this ties in with the using shake ticket?

[2017-04-30 02:42] ezyang commented on #2623
With cabal-install HEAD (soon to be 2.0), if you new-build and your components are in non-Custom packages, they will be built in parallel.

This doesn't help much with building a single library, since Cabal makes a single call to GHC to build it, and thus does not have any opportunities for parallelism. I think we have another ticket on this.

[2017-04-30 02:56] angerman commented on #2623
I believe the other ticket you are referring to is #976.

[2017-04-30 02:58] angerman commented on #976
@23Skidoo what happened to this? Would this need to be restarted from scratch?

[2017-04-30 03:11] ezyang commented on #4477
Looking at CmdRun.hs it looks like it's just not implemented. CC @dcoutts. I think this should be easy to fix.

[2017-04-30 03:37] ezyang commented on #2623
OK, I'm going to close this ticket as it is thinking about component-level parallelism specifically.

[2017-04-30 03:37] #2623 closed

[2017-04-30 04:25] #4450 closed

[2017-04-30 04:32] ezyang commented on #4471
I am confused about this issue because #4432 implies the opposite: that an inplace package will get used for setup depends, whether you want it to or not.

@phadej, it would help if you tried to repro this from scratch (e.g., make a test case for our test suite), or gave us more detailed repro instructions with cabal-doctest.

[2017-04-30 10:26] 23Skidoo commented on #976
There's `ghc --make -j` now, which is used by `cabal build` automatically, though not by `cabal install -j`. Perhaps we should close this ticket and open a new one for making `cabal install -j` use `ghc --make -j`. #4174 is also relevant as a possible alternative to `--make -j`.

[2017-04-30 10:31] angerman commented on #976
@23Skidoo is that also true for `new-build`?
I'm curious as `cabal new-build cabal-install --allow-newer` seems not to build in parallel.

[2017-04-30 10:36] 23Skidoo commented on #976
I think it should. If you run it with `-v3`, it'll show you the ghc invocation string. You can also try `new-build -j`.

[2017-04-30 10:39] 23Skidoo commented on #976
On a second thought, since `new-build` also installs dependencies, it probably suffers from the same problem as `install -j` and doesn't use `ghc --make -j`.

[2017-04-30 10:41] angerman commented on #976
I didn't manage to go through the massive amount of output `-v3` produces. However looking at the processes, I see a single ghc process running. Where I'd like to see 4 or preferably even 8. Therefore I believe `cabal new-build -j` does not parallelize :-(

[2017-04-30 10:48] 23Skidoo commented on #976
Yep, see my second comment. We should open a ticket for making `install/new-build -j` use `ghc --make -j`. I have some initial code on this branch: https://github.com/23Skidoo/cabal/commits/num-linker-jobs

[2017-04-30 10:51] angerman commented on #976
@23Skidoo I'm perfectly fine with the idea of opening a second ticket, which details this; and closing this ticket. Please do! I just wanted to note down how this behaved on my system.

[2017-04-30 14:09] nh2 commented on #976
When doing so, just don't forget that `ghc --make -j` is horribly inefficient and needs RTS flags (like described on http://trofi.github.io/posts/193-scaling-ghc-make.html) to be of any use (otherwise it will be slower than non-j builds).

[2017-04-30 14:25] angerman commented on #976
@nh2 so presumably we want
[code]

@trofi do you agree? Will this eventually be in GHC?

[2017-04-30 15:41] ezyang commented on #976
So, based on this discussion, there seem to be two distinct issues:

1. My update summary, which is all about a fancy build server design to overcome the scaling problems of `ghc --make -j`
2. A much simpler fix, which is to make it so that you can pass `-j` to `ghc` when building things in parallel.

(2) should not be hard to implement, although it will be harder to demonstrate that it actually s

[2017-04-30 20:18] ezyang commented on #4476
I'm all for better error messages but I can't reproduce this problem.

Given:

[code]

when I new-build I get:

[code]

on both e1cdb90f8eb0dd7bbf897a6a57aa4656d0c0b561 and 1.24. This error comes from the parser, where we perform a sanity check to make sure that only defined flags are used. @vmchale, is it possible that there was some other thing about your Cabal file that triggered? Can you paste

[2017-04-30 20:21] ezyang commented on #3638
Let's track the new-run business at #4477

[2017-04-30 21:37] ezyang commented on #4477
No, it's not so easy to fix. From @dcoutts:

`runProjectPreBuildPhase` still does not return the resolved targets selected, so it needs to be refactored to do so. Duncan did a bunch of refactoring (the latest commit of which was 1022c1458be6cc89adf84ade63a54e8af060bc23) but this change still does not seem to be done.

[2017-05-01 03:19] ezyang opened #4483 "Migration guide for 2.0"
I started a wiki page: https://github.com/haskell/cabal/wiki/2.0-migration-guide please add known BC-breaking changes and how to solve them.

[2017-05-01 03:49] angerman commented on #4483
Should this be in the cabal user guide as well?

[2017-05-01 03:56] fanqi opened #4484 "cabal install pandoc --enable-tests error"
-- Cabal library version: 1.24.2.0
-- cabal-install version: 1.24.0.2
[code]

[2017-05-01 04:10] angerman commented on #976
If someone outlines how to do this proper, I might take a look at doing so.  My main quibble is that "GHC is slow" is a known theme. And if we aggravate this with cabal, we are potentially leaving build performance on the table.

[2017-05-01 07:09] 23Skidoo commented on #4484
Looks like the user package DB somehow got borked. Try nuking `~/.ghc` and `~/.cabal` and starting again.

[2017-05-01 10:57] angerman commented on #2327
Alright, PR #4480 gives us `cabal doctest`. I'd appreciate if someone would give it a spin! Please note that you need sol/doctest#156 for this to work as it requires the `--no-magic` flag as suggested in sol/doctest#155.

As this now forwards all[1] flags that cabal forwards to ghc, to doctest, which in turn forwards them to ghc(i). We get some interesting results:

[code]
This happens because `di

[2017-05-01 13:58] ezyang commented on #976
@angerman Well, which strategy did you want to do?

[2017-05-01 14:12] hvr commented on #4483
@angerman I think the designated place for describing Cabal's API (and by extension migration/changes) should be the Haddocks and the associated ChangeLog file

[2017-05-01 14:23] ezyang commented on #4483
I think it is best to put it in wiki, that way it is easier to make changes post release when people complain.

[2017-05-01 14:35] angerman commented on #976
@ezyang what's the optimal solution we can hope for here? Turn cabal into using shake (#4174) and then see if how much of the additional build server we need?

@23Skidoo, if I understand correctly might have part of (2) already done?

[2017-05-01 14:37] angerman commented on #4483
Under the "these are non-user facing" changes aspect. I agree that the **user** guide would be the wrong place.

[2017-05-01 14:43] ezyang commented on #976
As I understand it, here is the optimal solution:

1. Implement GHC buildserver, with a GHC Shake driver that can submit requests for build to the buildserver
2. Rewrite Cabal in Shake, deferring to the GHC Shake driver for actually building Haskell code
3. Rewrite cabal-install in Shake, deferring to Cabal Shake driver for actually building a package/component

In the end you have a single Shake

[2017-05-01 15:30] angerman commented on #976
I believe those three items can be built in separate steps with increasing productivity with each additional layer?

Could cabal produce a cmake (or make) file instead and feed that into build system?
I believe that's what ghc-cabal does to some extend?

[2017-05-01 15:33] ezyang commented on #976
Yes.

I believe that's what ghc-cabal does to some extend?

Well, depends on what you mean by make. `ghc -M` knows how to create a Makefile for building Haskell. Cabal itself, in principle, knows about dependencies between components in a package, but this information isn't reified anywhere in the code today. Plus, a large amount of the processing is done by Haskell code in process, so your Makefi

[2017-05-01 15:40] angerman commented on #976
@ezyang
Great! So one could start with the GHC build server for example and get somewhere.

What I'm wondering is if cabal, which has the notion of packages, targets and corresponding Modules/Files, (and flags), could generate a Makefile (or CMakeLists.txt -- assuming there was some plumbing for haskell), that exposed those targets.

And at least in the case of CMake, could be used to generate nin

[2017-05-01 15:51] ezyang commented on #976
The big problem is that many operations which need to be done while building can't be characterized as just "run this and that command." There's a lot of Haskell code that gets run during a build, that needs to get run, and is not exposed as a command in any way. Shake has a similar problem: it's more expressive than ninja, so you can't take a Shake build system and turn it into ninja.

There are

[2017-05-01 15:56] Blaisorblade opened #4486 "Use `ghc -j` when building a single package"
cabal doesn't pass `-j` to GHC, to avoid launching too many processes. But that's the case even when it builds *one* package, in particular, the last one, after all dependencies are done. That's annoying when running `cabal install` on big packages, say `Agda`.

And while this is clearly a hack, it guarantees that not too many processes are created.

By https://github.com/haskell/cabal/issues/976#

[2017-05-01 15:57] nh2 commented on #976
I am a bit confused by the mention of `ghc -M`. Is that even an option?

To my knowledge, `ghc -M` cannot reliably compile all Haskell projects in the same way as `ghc --make` can do.

None of [`ghc-make`](https://github.com/ndmitchell/ghc-make), [`ghc-parmake`](https://github.com/23Skidoo/ghc-parmake) can by themselves provide reliable compilation based on `ghc -M` as a Makefile is not expressive

[2017-05-01 15:57] nh2 commented on #4486
See also https://github.com/haskell/cabal/issues/976#issuecomment-298360770

[2017-05-01 15:57] Blaisorblade commented on #976
@angerman

There are also two big reasons why build steps aren't worth exposing.
- if your (c)make-based build has a GHC process for source file, each GHC process will spend time to reload interfaces written by other files, as mentioned.
- Worse, if Foo.hs changes, but the new Foo.hi has the same content, you don't want to rebuild Bar.hs. At least with Make, that's extra logic to add to replace th

[2017-05-01 16:02] nh2 commented on #976
I forgot to mention in https://github.com/haskell/cabal/issues/976#issuecomment-298360770:

The approach I described is exactly how `nix` avoids the same problem as we have here: `nix` itself can build multiple packages (say C projects) at once, and each package itself can be compiled with `make -j`.

[2017-05-01 16:15] Blaisorblade commented on #976
@nh2 Didn't know about `-l` sounds very interesting, and could be easier to implement (at least on *x)!
But one still risks starting too many long-lived tasks at once, when the load average is still low. Still, it might be worth studying its performance in practice. Is there any benchmark showing speedups in the Nix scenario? It's not the exact same load, but it's already implemented :-)

[2017-05-01 16:17] Blaisorblade commented on #4486
Cc @ezyang @23Skidoo.

[2017-05-01 16:27] nh2 commented on #976
@Blaisorblade The tasks should not be long-lived (at the module-level); when implementing `-l`, ghc should check the load every time a module finishes or wants to start. Most operating systems can do very well when the number of tasks is higher than the number of processes; much better than `ghc` can indeed. The only time it is a problem is when you are very memory constrained, e.g. when even temp

[2017-05-01 17:14] ezyang commented on #976
I'll remark that ghc-shake, by virtue of using the GHC API, has as precise recompilation checking as `ghc --make`.

`-l` seems like a reasonable idea, assuming that you don't mind this new feature not working unless you're using GHC 8.4 ;)

[2017-05-01 17:22] Blaisorblade commented on #976
Operationally, it's enough if `-l` is convincing enough for somebody to volunteer implementing it (sadly, not me) ;-) I'm still 👍. https://www.preney.ca/paul/archives/341 also recommends it for Gentoo...

Anyway, while we're trying to anticipate how good it's going to be:

I meant that some modules take longer to build...

You also had IO, but with SSDs we can probably ignore that. Based on e.g. h

[2017-05-01 18:02] bgamari commented on #3576
How are things looking here?

[2017-05-01 18:04] nh2 commented on #976
@Blaisorblade I don't get it, does the number of packages matter?

Just to be explicit, the way I imagine it to work is this:

* Cabal sees you have 4 cores.
* Cabal starts building 4 packages in parallel.
* So Cabal invokes `ghc -j4 -l4`, 4 times.
* Each of the ghcs checks the current load before/after every build step (module).
* Thus in the worst case, you are initially compiling 16 modules at

[2017-05-01 18:15] Blaisorblade commented on #976
You're right, 50 packages shouldn't affect the number of processes. Need more coffee.
Regarding load average: on Linux `uptime` gives the one-minute average, so you'd have some delay (1/n minutes, where n is your example). Or do you have some other stat in mind?
http://stackoverflow.com/a/21621256/53974

[2017-05-01 18:45] nh2 commented on #976
It seems that GNU make indeed uses the 1-minute load average:

http://git.savannah.gnu.org/cgit/make.git/tree/getloadavg.c?h=4.2.1#n491

[code]

Used here: http://git.savannah.gnu.org/cgit/make.git/tree/job.c?h=4.2.1#n1945

However, since Linux's load average is an exponentially weighted average instead of a real average, this might still be a non-issue. For example, `stress-ng --cpu 16` on my 4-c

[2017-05-02 02:28] ezyang commented on #4486
To generalize the hack, what if we pass `-j` to any package which is explicitly specified as a target?

[2017-05-02 10:14] phadej commented on #3576
For the future: I'd like to have a feature (and API) freeze at about the same time as GHC releaase is frozen. I won't fix `cabal-doctest` until there is tag in `Cabal`.

Sorry for causing inconvenience, but my time is limited, and making compat package for a moving target just won't work.

Should have added Kmett's custom setup script as a test case; didn't think we will break API that much. I'll

[2017-05-02 11:23] Blaisorblade commented on #4486
It seems to me, if I specify two packages explicitly, that leads to too many jobs​. And if I use --only-dependencies, that leads to too few jobs.
The "hack idea" is "ensure trivially that at most one ghc -j is running", where "trivially" means "with limited code changes" and with a trivial proof.

A generalization consistent with this would be to use GHC -j also during the build, if there's a sing

[2017-05-02 14:20] hvr commented on #4483
@ezyang Fair enough, but then we should link to that wiki-page from the ChangeLog, as that's the first place ppl look when wondering why on earth the API would break.... :-)

[2017-05-02 15:15] Blaisorblade commented on #976
Good point, didn't know that. 👍 Googling leads to http://juliano.info/en/Blog:Memory_Leak/Understanding_the_Linux_load_average confirming and elaborating.

To sum up: what you proposed thinking is close to `-j16 -l 4` rather than  `-j4 -l 4`. You gave reasons to believe it should work, including prior art from Nix. We've debated potential costs and this still seems a very promising idea. Who'd vol

[2017-05-02 15:27] angerman commented on #976
Unless someone else feels like it, I can give this a shot. Seems like it shouldn't be too hard. But who knows.

[2017-05-02 15:40] angerman commented on #976
Looking at that `getloadavg` function in make, does anyone know of a library that provides those information sufficiently enough for ghc's use case? I'd rather not copy those 500 lines of code, if there is a simpler way.

[2017-05-02 16:15] Blaisorblade commented on #976
1. This code is probably what you want (found through Hayoo). You might need to copy-paste it eventually
http://hackage.haskell.org/package/loadavg-0.1/docs/System-Posix-LoadAvg.html

For bonus points, it uses `getloadavg` (see `man 3 getloadavg`), which has the same API on Linux and OS X (and comes from BSD 4.3 so should work on other BSDs).

Those 500 lines for Make support more obscure platform

[2017-05-03 02:07] #3943 closed

[2017-05-03 04:36] angerman commented on #976
Upon a suggestion by @ezyang, I tried making `ghc` be invoked with `-j`.

For the record: timings by just forwarding `-j` to ghc, when building `cabal-install`

[code]

[2017-05-03 06:50] phadej commented on #4486
I'd rather introduce `--j-ghc` or some other *explicit* flag.

There is a clash between user and script interfaces; in latter you don't want any magical hacks to change behavior

[2017-05-03 08:11] angerman commented on #976
After giving this some thought and looking into ghc. I wonder if we want `cabal -l` rather than `ghc -l`. Compared with make, that would be where `-l` is passed as well. We don't pass `-l` to the downstream compilers usually.

@hvr suggested `-j <n>:<m>` for cabal, were `<n>` is package level, and `<m>` is ghc-level and passed to `ghc -j`.

Thus, I'd suggest the following:
- Add `-l` to cabal
- Al

[2017-05-03 10:22] nh2 commented on #976
@angerman I don't understand this. Sure you wouldn't pass `-l` to `gcc`. But we wouldn't pass `-l` to ghc-the-compiler, we would pass `-l` to `ghc --make`-the-parallelizing-build-system.

The lowest level component that spawn threads must have the `-l` option; in our case that's `ghc --make`.

Of course Cabal can have a user-exposed `-l` option as well in addition, but without `ghc` having it, it

[2017-05-03 13:07] bitrauser commented on #4412
I'd like to work on this.
Here is my progress so far, what I added:

[code]

Building using `cabal new-build cabal-install` succeeds, however running `dist-newstyle/build/cabal-install-2.1.0.0/build/cabal/cabal` with `new-haddock --for-hackage` still reports that `--for-hackage` is unrecognized.

I am currently trying to figure out what I missed.

[2017-05-03 13:59] arianvp opened #4489 "Custom setup stanza does not work with cabal new-build"
See https://github.com/arianvp/cabal-setup-missiles for code

[code]

## how to reproduce me on cabal new-build
1. Make sure `acme-missiles` is not installed globally or in `~/.cabal` or `~/.ghc`
2.

[code]

### Expected behaviour:

It downloads dependencies, it launches a nuclear missile during setup, and then compiles our `Main.hs`

### Observed behaviour:

It downloads dependencies, it launches

[2017-05-03 14:01] ezyang commented on #4412
@bitrauser Great!

Probably the problem is I forgot to tell you that you also need to tell the command line flag parsing code about the new flag. The command line info struct is defined in `cabal-install/Distribution/Client/CmdHaddock.hs` but there is some indirection here: what you really need to look at is `installCommand` in `cabal-install/Distribution/Client/Setup.hs`; if you look at `haddockO

[2017-05-03 14:03] phadej commented on #4489
I can verify this is the case with `1.24`; cannot reproduce with `2.0` or `head` anymore.

[2017-05-03 19:14] 23Skidoo commented on #3567
Added @fgaz for #4491.

[2017-05-03 22:05] bitrauser commented on #4412
Thank you! After adjusting this I was able to run `cabal new-haddock --haddock-for-hackage -v` successfully and it appeared that `Setup haddock` was called with `--for-hackage`, as intended.

The Travis check is failing however, reason being the UnitTest of `ProjectConfig.hs`:

[code]

Which makes sense since I added the field `packageConfigHaddockForHackage :: Flag HaddockTarget,`  to `PackageCon

[2017-05-04 02:16] angerman commented on #976
After discussing this with @ezyang in #hackage for a bit, I don't think I'm going to try and vedge `-l` into ghc. My understanding is that ghc starts with `<n>` capabilities and then distributes work among them. Where work is basically a thread per module, and the the threads form a dependency graph. Thus if we wanted to check against the load average before starting a new thread (or dynamically s

[2017-05-04 02:25] angerman opened #4492 "Reader Monad for Flags"
cabal is designed mostly without the use of monads. This leads to functions passing context via arguments along. And even so explicitly.

It seems like there is some interest in having cabal be partially refactored to use a Reader Monad for Flags (global, command specific, and **verbosity**).

I believe carrying a Record along as `context` instead of passing arguments explicitly might improve the

[2017-05-04 02:33] angerman opened #4493 "Add `cabal packages`"
I would like to propose that cabal learns about `packages` or `new-packages`, as a wrapper around `ghc-pkg`. The motivation here, is that one needs to use only a single command, and not need to know about `ghc-pkg`.

I'd like to see:
[code]

where
[code]
would be
[code]
and
[code]
would be
[code]

I'm not sure if no flag should be permitted, and which of both scenarios it would be, or if it should

[2017-05-04 05:25] 23Skidoo commented on #4493
Probably better to add `cabal new-exec` so that you could do `cabal new-exec ghc-pkg`, like you can with sandboxes.

[2017-05-04 05:36] angerman commented on #4493
@23Skidoo that would still require me to understand that there is ghc-pkg, and what it does. I'm coming from a "do not make me think" point of view.

Assuming I'm new to haskell. I kind of know there is `ghc`, and I heard there is `cabal` and `stack`, (I might by accident also have heard of `tinc` and `mafia`).  For whatever reason I chose to use `cabal`. I still can't make sense of `Cabal`, `caba

[2017-05-04 05:48] 23Skidoo commented on #4493
There's a `cabal list --installed` command, you may want to look into adding `new-list`.

[2017-05-04 09:37] angerman commented on #4492
@hvr pointed out the following #1940 for previous discussion of the `Shell Monad`

[2017-05-04 13:15] nh2 commented on #976
If there are `n` threads (e.g. `forkIO`) set up at the beginning, the `-l` concept should still work.

There will be some mechanism in the build system that determines when the next module can start to build.

I imagine the load check should simply go into that place (as opposed to grow or shrink the number of threads, the threads would still be there, but be blocked).

[2017-05-04 13:19] ezyang commented on #4492
A few notes:

* Introducing a new monad to Cabal library is a massive BC break for basically all Custom client scripts. This might be OK, but you should make the decision knowing you are breaking people, and plan accordingly.

* In my experience, all you need is IO plus Reader. But I think that the most important thing is to make the monad abstract.

* If it's just IO and Reader, rolling it by han

[2017-05-04 15:12] phadej commented on #4492
I'm as well a bit worried about BC break, yet in longer run it will surely be good (if we need to add new contextual value).

[2017-05-04 17:13] phadej commented on #3576
ping @23Skidoo

[2017-05-04 17:24] 23Skidoo commented on #3576
@bgamari @phadej In principle, 2.0 is in releasable state right now, I just want to squeeze one other small update today or tomorrow.

[2017-05-04 17:51] phadej commented on #3576
@23Skidoo Can we have the tag + release tomorrow (on Friday) with or without an update. The "deadline" (Sunday) passed already, the delays in releases/freezes accumulate.

[2017-05-04 17:55] 23Skidoo commented on #3576
OK, sure.

[2017-05-04 18:13] bgamari commented on #3576
Thanks @23Skidoo! Assuming this gets done I think we should have an rc2 by the weekend.

[2017-05-04 19:15] hvr commented on #4492
See also https://github.com/haskell/cabal/issues/4040#issuecomment-257098590 (which is what lead me to learn about #1940) which is why I'd like to get a Monad in place rather than having to pass around yet another argument (or come up with some other hack).

[2017-05-05 00:22] Smattr opened #4496 "cabal init allows a license that cabal install does not understand"
**Summary.** For example, a license containing a space:

    $ cabal init
    ...
    Please choose a license:
    ...
      14) Other (specify)
    Your choice? [default: BSD3] 14
    Please specify? hello world
    ...
    $ cabal install
    cabal: tmp.cabal:9: Parse of field 'license' failed.

Despite the promising sounding title, this does not appear to be a duplicate of #3098 that talks abou

[2017-05-05 01:51] #2327 closed

[2017-05-05 02:17] ezyang opened #4497 "Latest unbounded-delays release breaks our build"
Example: https://travis-ci.org/haskell/cabal/builds/228970742?utm_source=github_status&utm_medium=notification

The problem is in Tasty:

[code]

Upstream https://github.com/feuerbach/tasty/issues/166

[2017-05-05 02:19] angerman commented on #3576
As I was made aware of by @ezyang, cabal release are infrequent. I'd like to see if there is support for adding #4480 (Adding cabal doctest) to the release.  I know that @phadej is rather against this. I'd like to still layout my reasoning:

My reason for implementing `cabal doctest`, was to reduce the number of packages that depend on `build-type: Custom` just for `doctest`, as custom setups make

[2017-05-05 02:39] ezyang commented on #3576
I'll chime in that I would also look positively upon this making it into 8.2. It's a simple matter to look at the commit set and see that it is very low risk: even if the implementation of doctest itself is buggy (it probably is; not enough testing yet ;) it is highly unlikely to affect other functionality, or Cabal API users (the only risk is the extra hooks, but we already encourage people to us

[2017-05-05 02:50] angerman commented on #4492
- Do we have any handle on the number of client scripts?
- How much worse would this be compared to https://github.com/haskell/cabal/wiki/2.0-migration-guide?

Finally, would this not insulate us precisely from BC changes in the future? If the underlying Monad evolved (and gains additional functionality), downstream consumers of it would see no breaking changes, but just a more advanced monad, whi

[2017-05-05 03:24] ezyang commented on #4496
Thanks for the very clear report @Smattr. I've turned this into a newcomer task for someone new to Haskell who wants to dip their toe in the Cabal project.

[2017-05-05 03:37] Smattr commented on #4496
Thanks, @ezyang, and nice write up of an action plan! Gives the reader a very detailed idea of what they're in store for if they take the bait.

[2017-05-05 09:26] 23Skidoo commented on #3576
Merged doctest patches into the 2.0 branch. The feature seems to lack documentation, which is probably for the better for now.

[2017-05-05 09:37] 23Skidoo commented on #4155
Remilestoned.

[2017-05-05 09:45] 23Skidoo commented on #4406
Cherry-picked the relevant patch from #4410 into 2.0.

[2017-05-05 09:46] 23Skidoo commented on #4406
Leaving this ticket open for now, will be fixed in master once #4410 is merged.

[2017-05-05 09:47] 23Skidoo commented on #4407
Remilestoned.

[2017-05-05 10:54] phadej opened #4500 "Make cabal new-doctest"
`cabal doctest` doesn't work with nix builds:

[code]

[2017-05-05 10:58] angerman commented on #4500
I assume we are talking about nix-style builds, and the need for `new-doctest`?

[2017-05-05 11:01] phadej commented on #4500
Yes.

[2017-05-05 11:14] 23Skidoo commented on #3576
Merged everything I wanted into 2.0, all that remains now is to wait for CI to become green and create a tag.

[2017-05-05 11:34] 23Skidoo commented on #4500
If this can be fixed on the cabal-install side only, the fix can still make it into cabal-install 2.0 (or 2.0.1).

[2017-05-05 12:53] 23Skidoo commented on #3332
This script by @hvr can be used as a starting point for the implementation: https://gist.github.com/hvr/c77c54d682555b7dd4fe1248732fe978

[code]

[2017-05-05 13:53] 23Skidoo commented on #3576
Cabal-v2.0.0.0 tag has been created.

/cc @bgamari

[2017-05-05 19:02] 2016rshah commented on #4496
I would like to work on this! I think I know how to do it (thanks to this excellently written issue) but I am having trouble setting up the development environment. I forked the repository and cloned it on my local machine. Then I tried to run `stack build` which failed with

[code]

so I ran `stack solver` and got the following:

[code]

Any ideas what I might be doing wrong? Can't wait to get st

[2017-05-06 00:51] ezyang commented on #4496
Despite the presence of a stack config file, I don't think any of the main developers use stack to develop cabal, so I guess it's not surprising it's not working. Try using new-build instead: https://github.com/haskell/cabal#building-cabal-for-hacking

[2017-05-06 01:30] 23Skidoo commented on #4496
Yes, the stack build is broken more often than not. Patches welcome!

[2017-05-06 06:50] hvr opened #4503 "Document new `scope` field in manual"
A new field `scope` was added via  #4501

However, I don't see it mentioned anywhere in http://cabal.readthedocs.io/en/latest/cabal-projectindex.html so I have to assume hasn't been documented yet.

[2017-05-06 07:09] hvr commented on #4406
Oh dear... this will break a couple of early adopters that already adapted...

[2017-05-06 09:37] 23Skidoo commented on #4503
See http://cabal.readthedocs.io/en/stable/developing-packages.html#pkg-field-executable-scope

I just need to port my docs patch over to `master`.

Re: `new-build`, I guess those exes won't be linked to from `~/.cabal/bin`.

[2017-05-06 10:26] hvr commented on #4503
@23Skidoo so these executables would be basically package-data (whose location would be resolvable via the `Paths_$NAME` facility?). How do we encode inter-component the dependency? As right now, if you install a library, the executables will not be build automatically, since cabal has no reason to think that the library depends on the executables.

[2017-05-06 10:51] 23Skidoo commented on #4503
The options I see are either to do it explicitly in some way, or implicitly by automatically adding a library -> exe dependency for all exes with `scope: private`.

[2017-05-06 10:55] 23Skidoo commented on #4503
The former is probably better, since it will let us express things like public exes depending on private exes w/o any library involved.

[2017-05-06 10:56] hvr commented on #4503
tbh, explicit is better. We already have a precedent with `build-tools` used to declare built-time intra-inter-deps as well as the new-build-tools-depends for declaring build-time deps of external deps. We should continue on that path.

[2017-05-06 14:27] colinwahl commented on #4496
Hi all. I just gave this issue a shot and opened a PR.  It is building on travis now.  I just checked and it looks like `getLanguage` suffers from the same issue, so I will add a fix for that as well.  If anyone could look over it, please let me know what I should change!

[2017-05-06 16:05] ezyang commented on #4497
All fixed now.

[2017-05-06 16:05] #4497 closed

[2017-05-06 16:06] ezyang commented on #4456
unbounded-delays no longer has a Custom setup, so this is "fixed". (But we could break in the future if any of our deps grow Custom setup.)

[2017-05-06 16:06] #4456 closed

[2017-05-06 16:22] ezyang commented on #4454
This is a known problem for MingW which was broken with the latest Windows 10 Creators update. Please look at https://mail.haskell.org/pipermail/ghc-devs/2017-April/014131.html for more info. Unfortunately, Haskell Platform https://github.com/haskell/haskell-platform/issues/274 has not yet been updated,  but perhaps this workaround will help you https://www.reddit.com/r/haskell/comments/665kpw/how

[2017-05-06 16:22] #4454 closed

[2017-05-06 16:29] ezyang commented on #4449
I read the old ticket. The nub listification was done for a specific reason, but that reason ONLY applies to ghcOptExtensionMap, and NOT the other fields (which were also nubified.) There is no reason to nub ghcOptions, and we should look over the other fields and make sure they haven't been inappropriately nubbed.

[2017-05-06 16:52] hvr commented on #4493
@23Skidoo ...wasn't the recommended way to use `ghc-pkg` in sandboxes via `cabal sandbox hc-pkg        [FLAGS] [--] COMMAND [--] [ARGS]`?

[2017-05-06 17:00] hvr commented on #4493
@angerman naming nitpick: I'm not sure `cabal packages --global` displaying the store packages is properly named; we have 3 package dbs, there is the global package db (where e.g. `base` resides), the store package db (can get rather huge and can easily contain multiple versions/instances of the same package), and then the local/inplace package db.

[2017-05-06 19:49] 23Skidoo commented on #4493
@hvr Yep, right, because it can use a non-default ghc version.

[2017-05-06 19:58] colinwahl commented on #4496
PR #4504 has been merged. I will close this for now.

[2017-05-06 19:58] #4496 closed

[2017-05-06 20:22] colinwahl commented on #1074
Hi all! Has any consensus been reached on where to go with this issue?  I would like to begin working on this, if a direction has been decided on.

[2017-05-06 21:08] 23Skidoo commented on #1074
IIRC @dcoutts still thinks that restricting the set of allowed licenses is a good idea.

[2017-05-06 21:27] colinwahl commented on #1074
So getting rid of support for Unrecognized Licenses?

[2017-05-06 21:39] ezyang commented on #4462
I received an update that even with nightly old branch pruning, cabal-binaries was taking up too much space. I want to write down some of the updates in developments here.

**Findings of fact.**

* The size of a single build (remember that every PR/branch spins up ~10 builds for various configurations) previously took about 1.2G of space. This is substantially reduced when put into Git; when I pul

[2017-05-06 22:12] 23Skidoo commented on #1074
Not in the .cabal parser (because backwards compat), but changing `cabal init` is OK.

[2017-05-07 00:18] Smattr commented on #4496
Nice work, everyone! Very speedy resolution. @2016rshah if you have a dev environment setup and are now in need of a new issue to work on, it looks like there are plenty of approachable open ones. Though it's not tagged with newcomer, #3853 might be a valuable one to address. I know little about Cabal internals, but am happy to help with setup problems or Haskell questions. @ezyang, please feel fr

[2017-05-07 00:26] ezyang commented on #4496
@Smattr I guess I better go newcomer-ify that ticket :) (There's something tricky, which is the code change probably needs to be made in hackage-security, not cabla-install)

[2017-05-07 03:22] ezyang commented on #421
This is fixed now due to Hackage Security!

[2017-05-07 03:22] #421 closed

[2017-05-07 03:25] ezyang commented on #3853
Apparently, this is fixed, since I can't reproduce anymore.

[2017-05-07 03:25] #3853 closed

[2017-05-07 05:08] krpopo opened #4505 "Stale .cabal/config leads to mysterious problems"
I was updating Cabal on an old Mac OS X system, where the previous cabal-install I had was 1.22 series. I had the following `.cabal/config`:

[code]

When I tried to build things, I ended up in this bad situation:

[code]

Deleting the `.cabal/config` fixed the problem.

[2017-05-07 10:33] hvr opened #4506 "`new-haddock`'s file monitoring broken"
Consider the following simple reproduction instructions:

[code]

The first invocation of `new-haddock` works as expected:

[code]

However, the 2nd invocation of `new-haddock` rebuilds the documentation (NB: the install-plan wasn't resolved, and the action plan says "(first run)"):

[code]

What's really bad though: if we remove `dist-newstyle` again, and start with `cabal new-build`, then `new-h

[2017-05-07 10:36] hvr commented on #4505
Did you try `cabal update` as suggested by the error message?

[2017-05-07 14:47] ezyang commented on #4505
Yes they did; it's in the middle of the command transcript.

[2017-05-07 18:52] ezyang commented on #4489
Looks like this will be fixed in 2.0. Please reopen if you see it there.

[2017-05-07 18:52] #4489 closed

[2017-05-07 18:53] ezyang commented on #4484
If you're still having trouble, please feel free to reopen this ticket.

[2017-05-07 18:53] #4484 closed

[2017-05-07 18:53] ezyang commented on #4447
This is fixed now.

[2017-05-07 18:53] #4447 closed

[2017-05-07 18:58] vmchale opened #4509 "cabal-install fails to pass any options for `libexecsubdir` when using custom setups."

[2017-05-07 19:11] ezyang commented on #4509
@DanielG, IIRC, you added this variable. Can you take a look?

[2017-05-07 19:57] ezyang commented on #4438
This was tried in #4441 but it didn't really help.

[2017-05-07 19:58] ezyang commented on #3567
Added @bitrauser  for #4490.

[2017-05-07 19:59] ezyang commented on #3567
Added @colinwahl  for https://github.com/haskell/cabal/pull/4504

[2017-05-07 20:02] ezyang commented on #1074
@colinwahl Yeah. It's a bit goofy because you just fixed the code to handle unparseable unrecognized licenses better, and now you are going to delete the code, but if you are up for it, go for it!

[2017-05-07 20:07] ezyang commented on #4439
@nh2 If you want to attempt solving this ticket, I'd be happy to advice. I *hope* that this is as simple as going through the ProgramDb interface rather than doing it directly, but there may be other complications.

[2017-05-07 20:09] ezyang commented on #4435
@bitonic If you're interested in solving this ticket I'd be happy to advise.

[2017-05-07 20:14] DanielG commented on #4509
I can't reproduce this using master (934009b28377fb138c38d031fa91a5e34caa14e3). See [`-v2` logs here](https://gist.github.com/DanielG/3410dfe87d25ca3eb6d931f12f62746b).

@vmchale can you post the full -v2 logs so I can compare with what I got?

[2017-05-07 21:07] DanielG commented on #4509
One other thing `--libexecsubdir` isn't an option that actually exists for autoconf generated configure scripts. It's an internal variable of Cabal like $libsubdir. I couldn't find the code that runs that configure command so I don't know how that could possibly sneak through.

[2017-05-08 16:33] amigalemming commented on #2707
New cabal-install-2.0 stores an additional 01-index.tar containing more than 400MB.

[2017-05-08 18:33] colinwahl commented on #4452
Hi everybody.  I have made the change to `Distribution/PackageDescription/Configuration.hs` to use a map instead of a list, but I am having trouble seeing the output

`$ cabal configure -f-dev -v
...
Flags chosen: dev=False
....`

as shown in the description.  Could anyone point me to where I am going wrong?

[2017-05-09 02:23] ezyang commented on #4452
Hi @colinwahl! @krpopo has been looking at this ticket and discovered that there are actually two buggy call sites. With the change I suggested, `cabal act-as-setup -- configure -fdev -f-dev -v` works correctly (this call bypasses cabal-install and goes directly to Cabal's entry point), but `cabal configure` does not. In fact, there appears to be *another* `lookup` site in cabal-install (in `cabal

[2017-05-09 02:25] ezyang commented on #2707
A few comments:

1. It seems like a good idea to compress the index, as long as it doesn't appreciably affect how long it takes to dep solve. Would be a good thing to try out and test. (Maybe I can turn this into a newcomer ticket!)

2. You can delete `00-index.tar`; it is only necessary if you are using an old version of Cabal; 2.0 solely reads and writes `01-index.tar`.

[2017-05-09 07:34] phadej commented on #2707
@hvr @dcoutts please correct me:

AFAIK we have `01-index.tar.idx`, which is an index file; so we can `seek` the big `01-index.tar`. And we cannot reasonably seek compressed variant.

I'm not competent enough to say what is the way to build seekable yet compressed store (compress in blocks, compress individual files with precomputed dictionary, something else?)

[2017-05-09 08:18] 23Skidoo commented on #2707
Yep, the .idx file stores offsets to where the package descriptions are in the tar file; when reading the package index, we just go through those offsets one by one and create a lazy I/O thunk for each one that loads the corresponding package description when evaluated: https://github.com/haskell/cabal/blob/master/cabal-install/Distribution/Client/IndexUtils.hs#L704

[2017-05-09 08:32] 23Skidoo commented on #2707
I googled a bit and found this: https://github.com/madler/zlib/blob/master/examples/zran.c

[2017-05-09 13:57] merijn opened #4512 "bootstrap.sh for cabal-install 1.24.0.2 fails to run on Scientific Linux (CentOS)"
I ran into an issue where the bootstrap.sh script fails to find the linker correctly on CentOS, see #4187. This renders the current source tarball on https://www.haskell.org/cabal/download.html unbuildable.

The tar ball should be updated with a bootstrap.sh that includes the fix from #4187 so that it can at least be installed.

[2017-05-09 15:52] grayjay commented on #4471
@ezyang I think that the issue with #4432 is that the solver can pick any version to satisfy the dependencies, and there isn't a constraint to force it to use the local or non-local version.

[2017-05-10 07:27] DeathPoem commented on #3903
Hi every one, I just met the same problem, can anyone help? :)

[code]

[2017-05-10 13:53] ezyang commented on #3903
Hi @DeathPoem; it's pretty easy to fix this problem: install happy. (The problem is pretty-show is claiming to fail to install due to pretty-show.)

[2017-05-10 15:39] asr opened #4513 "`cabal haddock` fails when using the new GHC `-Wmissing-home-modules` flag"
Running `cabal install` on [bug.tgz.txt](https://github.com/haskell/cabal/files/990306/bug.tgz.txt) works but `cabal haddock` generates the following error:

[code]

Tested with:

[code]

[code]

[code]

[2017-05-11 00:05] krpopo commented on #4452
I don't plan to work on this any more

[2017-05-12 06:45] kanishka-azimi commented on #2832
Embrace hpack to cover this? Mostly a bystander, but just noting an alternative (which I am guessing everybody has already considered)

[2017-05-12 13:36] hvr commented on #2832
@kanishka-azimi Yes, I briefly considered the concept of `hpack`, but I've come to the conclusion that it's better to address the problem at the source, i.e. improve the few things lacking in `.cabal` syntax so we don't need to resort to external kludges like `hpack` (which would only introduce a new set of problems, YAML for starters ;-) ) to compensate for `.cabal` syntax's shortcomings.

[2017-05-12 14:01] kanishka-azimi commented on #2832
Okay, makes sense. I ran across your yaml note last night, agree yaml, though somewhat light on noise, has ugly corners in it's definition. I created an issue in hpack to consider json, as a compromise between standard format but more limited complexity, at the cost of a little more syntax noise. I will close that issue as it probably still is more bloated than a cabal specific syntax.

The thing

[2017-05-12 14:36] hvr commented on #2707
Fwiw, I wanted to switch to a more efficient compressed format once the index size becomes unbearable large; I had `.xz` in mind (which is significantly more efficient than .gz at compressing the 01-index.tar file, and yet is fast enough at decompressing), which has some built-in level of support for random access (not sure though if it's a good enough fit for our use-case).

[2017-05-12 20:42] BardurArantsson commented on #2832
Just while we're speculating, I wonder if people have though the necomer in the "config language" space, [Dhall](https://github.com/Gabriel439/Haskell-Dhall-Library). Seems to have some very nice properties.

[2017-05-12 21:12] hvr commented on #2832
@BardurArantsson Dhall is definitely interesting on its own (and I'm waiting for an occasion to make use of it), but it appears to me that by being actually a programming language (rather than a declarative package specification with enough structure to support automatic refactoring) it's also way too powerful for what we'd want  for `.cabal` files. So we really want something inbetween an overly

[2017-05-13 01:57] BardurArantsson commented on #2832
(I'll stop with the semi-OT after this.)

I keep hearing about automatic refactoring (and perhaps GUI tools?), but how realistic is it to expect any such thing for Cabal? I honestly don't think it's even close to realistic enough to worry about as a goal. Plus we're talking files of (at most) a 100-200 or so lines. Who actually *needs* automated refactoring for that? (Especially with something lik

[2017-05-13 07:13] hvr commented on #2832
@BardurArantsson For one, haskell-mode or more generally things like haskell-ide-engine would greatly benefit from the ability to understand the structure of `.cabal` files, and be able to e.g. manipulate the `build-depends` (IOW, IDE-assisted build-depends/other-extension management).

But more importantly, I'm working on tools to assist Hackage curation by Trustees & maintainers, and one super b

[2017-05-13 07:22] BardurArantsson commented on #2832
@hvr Ah, true, I hadn't considered the Hackage version bound thing.

[2017-05-13 08:51] alanz commented on #2832
Just a note re `Dhall`: It explicitly sets out to *limit* its power, precisely for use as a configuration language. See the [original blog post](http://www.haskellforall.com/2016/12/dhall-non-turing-complete-configuration.html).

[2017-05-13 16:55] bgamari opened #4514 "new-repl: Provide flag to allow access to all transitive dependencies of a component"
One area that I have found `new-build` regresses is the usability of the REPL. Admittedly this isn't really `new-repl`'s fault as in the old world order I generally never used `cabal repl`; since all of the packages that I care about are in my user package database I could just drop into `ghci` directly and freely import whatever I need.

However, with `new-repl` one is more-or-less forced to use

[2017-05-15 09:14] #4010 closed

[2017-05-15 10:53] insdami commented on #1937
Same here

[code]

[2017-05-15 11:11] alexbiehl opened #4515 "Can't install package: `copyFile: does not exist`"
I recently switched to cabal HEAD (was prior https://github.com/haskell/cabal/commit/3b8ee8324029396298bfe588f1d56426ead216c4) and for installations of new libs I get:

[code]

I suspected a too-long path but the actual path is only ~190 characters long. So maybe it actually doesn't create parent directories? I am not sure what the culprit here is exactly.

The respective copy command is issued he

[2017-05-15 11:34] hvr commented on #4360
@bgamari fyi, https://github.com/haskell/cabal/pull/3171#issuecomment-186538900 :-)

[2017-05-15 13:50] ezyang opened #4516 "Tests with GHC HEAD are failing"
They simultaneously started failing on 2.0 and master on different commits so I think it is probably an environment change. https://travis-ci.org/haskell/cabal/branches

These tests started failing on the 9th, which corresponds to when a new version of ghc-head showed up on @hvr's PPA, which is probably the proximal cause of failure (but the root cause is probably a change in ghc-head).

It took a

[2017-05-15 13:56] Mistuke commented on #4515
I don't see anything particularly wrong (aside from the redundant path). If you can reliably reproduce this, could you use https://technet.microsoft.com/en-us/sysinternals/bb896645 (set the filter to cabal.exe to reduce the noise) and you should be able to see the actual error from the file system.

Can you copy and paste the log for that entry here?  or a screenshot.

[2017-05-15 13:58] ezyang commented on #4515
The problem is probably

[code]

from b05b9ae71c447b815d597690d51772a080bb8df1. CC @dcoutts who introduced this code.

[2017-05-15 13:59] Mistuke commented on #4515
The error doesn't say which file copy failed. the path shown is just the base path. so maybe when the filename is added it does pass the `MAX_PATH` limit.

[2017-05-15 20:31] hvr opened #4517 "local packages with `install-includes` fail to expose headers"

[2017-05-15 23:30] peti commented on #2997
So, let's assume that I want *all* Cabal build to find header files in `/usr/local/include` -- regardless of whether it's a local package or an external package I'm building. How would I configure that? Listing that location as an `extra-include-dir` in `~/.cabal/config` used to work, but with `new-build` it no longer does. What solution exists to there to handle this use-case?

[2017-05-16 07:01] hvr commented on #2997
@peti btw, one problem I recently realised is that such a global setting would force *every* package, including GHC boot libraries to be recompiled, as it would force a new nix-hash (as those flags enter the hash computation). And for non-reinstallable packages such as `base` cabal would likely end up having to give up, as it couldn't satisfy the request. So I'm not sure we can even provide what y

[2017-05-16 08:24] peti commented on #2997
I see. Yes, that makes sense.

I am basically happy specifying those `extra-include-dirs` paths for specific packages only, i.e. not globally for everything.  However, those paths are specific to the *system* I'm building on, so I want to configure them in `~/.cabal/config` (or something like that). But `new-build` won't honor such things in the global config file; it honors package-specific confi

[2017-05-16 08:46] hvr commented on #2997
@peti Personally, I think that'd quite reasonable to have in ~/.cabal/config (or nearby). I do wonder though how to be able to locally override the global setting. Especially with openssl, I've sometimes needed temporarily to use a newer local versions rather than the system-wide installed one, and cabal traditionally considers settings to be of the free monoid kind, and thus appends settings rath

[2017-05-16 10:59] alexbiehl commented on #4515
@Mistuke I monitored `cabal new-build all` for `cabal` repo and attached the log!
[cabal.zip](https://github.com/haskell/cabal/files/1004080/cabal.zip)

[2017-05-16 12:11] hvr commented on #4412
@ezyang is generating the actual doc tarball in the scope of this ticket?

[2017-05-16 12:45] Mistuke commented on #4515
Hmm the log doesn't contain any actual errors. All the accesses succeed and the file copies do as well.
e.g, filtering on
[code]

I see no failures.

`System.Directory` does `copyFile` by first creating a temp file, writing to it and then renaming it, hence I see the proper `IRP_MJ_CREATE`, `IRP_MJ_WRITE`, `IRP_MJ_CLEANUP`, `IRP_MJ_SET_INFORMATION` sequence that I would expect for these file opera

[2017-05-16 20:22] hvr opened #4519 "Document new verbosity modifiers"
While implementing #4518 I didn't find any mention of the new verbosity symbolic names and modifiers
as understood by `parseVerbosity` (I would have expected them near e.g. http://cabal.readthedocs.io/en/latest/nix-local-build.html#cfg-flag---verbose)

For reference, these are

 - `silent`
 - `normal`
 - `verbose`
 - `debug`
 - `deafening`

and

 - `+callsite`
 - `+callstack`
 - `+nowrap`
 - `+mar

[2017-05-17 01:55] ezyang commented on #4412
Other issues are unrelated to this ticket. I encourage you to file more tickets for other new-haddock breakage; I am sure there are lots.

FWIW, in `--for-hackage` mode, no index.html is created, since Hackage renders the index itself.

[2017-05-17 01:55] #4412 closed

[2017-05-17 01:57] ezyang commented on #4516
Upstream fix is at https://phabricator.haskell.org/D3590

I'm torn between flatout disabling ghc-head tests, versus trying to do something more surgical, while we wait for ghc-head to start working again.

[2017-05-17 08:30] hvr commented on #4516
@ezyang a new PPA build including the merged D3590 fix is on its way... give or take ~2 hours :-)

[2017-05-17 08:44] hvr opened #4521 "`new-haddock --haddock-for-hackage` doesn't generate doc tarball"
#4412 added support for `--for-hackage`; one important feature was left out though, the generation of the doc tarball that `cabal haddock --for-hackage` would generate.

This is one of last pieces blocking #3837

[2017-05-17 22:05] peti commented on #2997
@hvr, I see what you mean. `extra-xxx-dirs` are difficult to treat as Moniods. I can think of the following strategies to deal with this issue:

1. Just `mconcat` all extra paths into one large list and make it the user's responsibility to write a sensible configuration. If the global config file sets an extra include dir for any package `foo`, then that directory will be part of the search path f

[2017-05-18 05:03] erikd opened #4523 "Wrong examples in new-build --help output"
If I run `cabal new-build --help` (cabal-install version 1.24.0.2 ) the last bit of the help output is:
[code]
which describes `install` rather than `new-build`.

[2017-05-18 05:50] erikd commented on #4523
Nevermind, fixed in git HEAD.

[2017-05-18 05:50] #4523 closed

[2017-05-18 05:56] erikd opened #4524 "Un-expected behaviour for 'cabal new-build' command."
I using git commit 967a64e3 (TueMay 16 22:17:46 2017 +0200 )

If I run `cabal new-build` in a directory with a cabal file I get:
[code]
but there very definitely *is* a cabal file in the current directory, and `cabal build` at least tries to build it but can't because there's no sandbox.

[2017-05-18 07:24] 23Skidoo commented on #4524
Do you have a test case that we could use to reproduce this?

[2017-05-18 07:39] erikd commented on #4524
I'll whip up a simple test case.

[2017-05-18 07:47] erikd commented on #4524
Never mind, talking to @hvr on IRC sorted it out.

I had a `cabal.project` file containing:
[code]
but did not explicitly mention `.` , the current directory.

I suspect what's needed is a warning if `cabal new-build` is run and  there is a cabal file and a `cabal.project` file in the current directory but the `cabal.project` file doesn't include `.` in the `packages` field.

[2017-05-18 08:09] hvr commented on #1382
See also #4070

[2017-05-18 10:17] hvr commented on #4516
@ezyang fwiw, 967a64e35721e330dbb980aa062cec1047aae151 is green now... but I'm not sure if it'll stay that way if I restarted the build now... :-)

[2017-05-18 10:34] nh2 commented on #2015
I just lost an hour trying to figure out why the `getEnv "PATH"` in my ghci is different than from the shell.

[2017-05-18 14:09] hvr commented on #4325
@23Skidoo fwiw, we don't have enough information in the index tarball to distinguish between deprecated and unpreferred versions.

[2017-05-18 14:12] hvr commented on #4509
The title is misleading, as `old-time` doesn't use a custom Setup.hs. Instead, `old-time` is a `build-type: configure` package.

[2017-05-19 01:32] ezyang commented on #4524
I'm OK with adding a warning, but if `.` is omitted on purpose, how is a user supposed to suppress the warning?

[2017-05-19 01:39] erikd commented on #4524
@ezyang In what circumstances would someone have a `cabal.project` file with `,` and a cabal file in the same directory and not want this warning when running `cabal new-build`.

[2017-05-19 01:42] ezyang commented on #4524
If there really is no such circumstance, then new-build should always include `.` when it has a cabal file. If there is a circumstance, then they would not want this warning ;)

[2017-05-19 02:16] erikd commented on #4524
Discussed this with @hvr on IRC. He and I came to the conclusion that there should be no implicit additions the `cabal.project` `packages` field, only explicit.

If `.` needs to be explicitly added, then this warning makes sense.

[2017-05-19 09:33] bitrauser commented on #4044
I'd like to look into this.

[2017-05-19 12:19] ezyang commented on #4044
Thanks @bitrauser!

[2017-05-19 15:17] #3581 closed

[2017-05-19 15:35] 23Skidoo opened #4528 "-Wmissing-home-modules check doesn't work for executable components"
We'd like to make the `-Wmissing-home-modules` check work for executables.

@hvr identified the following issues that need to be solved for it to work:

  * `-Wmissing-home-modules` gets confused when the main module is specified on the command line using a relative path. This needs to be fixed in GHC, upstream issue: https://ghc.haskell.org/trac/ghc/ticket/13727
  * Cabal doesn't pass the list of

[2017-05-20 09:31] Mistuke commented on #4515
But surely that can't be intended? If it's a `prefix` why is it being used as a `suffix`? also isn't the very fact that it's dropping the drive from a full path suspicious?

[2017-05-20 10:08] alexbiehl commented on #4515
It seem it is. Here a few sources:

- https://github.com/haskell/cabal/blob/99e70bd9f51d3ced42de6827e36b45d36d7237bf/Cabal/Distribution/Simple/Setup.hs#L906
- https://github.com/haskell/cabal/blob/master/cabal-install/Distribution/Client/ProjectBuilding.hs#L930
- https://github.com/haskell/cabal/blob/master/Cabal/Distribution/Simple/InstallDirs.hs#L289

[2017-05-22 07:47] trofi opened #4530 "cabal does not work with llvm-ar"
Downstream bug report: https://bugs.gentoo.org/show_bug.cgi?id=619138

How to reproduce (any library would do):
[code]

The bug here is that Cabal calls `ar` as `ar -r` instead of `ar r`.

[2017-05-22 07:54] trofi commented on #4530
It looks like something like the following should fix it:
[code]

I'll send a pull-request with this change after a test if there is no objections.

[2017-05-22 08:36] trofi commented on #4530
On the other hand opengroup documents specify only `ar -r` form:

http://pubs.opengroup.org/onlinepubs/9699919799/utilities/ar.html

I'll file a bug report to llvm.

[2017-05-22 08:37] 23Skidoo commented on #4530
Yep, I was worried that this change will break something else.