[2014-08-27 23:29] #2057 closed, assigned to nobody

[2014-08-28 14:58] ezyang opened #2065 "Cabal.Distribution.PackageDescription.Check should be factored per component"
Right now `Cabal.Distribution.PackageDescription.Check` operates on a sort of ad hoc basis, calling `allBuildInfo` to implement various checks. This means that there are few cases where we completely forget to validate fields at all, especially build-depends in stanzas. Instead, we should have a function which validates a BuildInfo, and call it on each of the build-infos.

[2014-08-28 15:00] ezyang opened #2066 "PackageDescription.buildDepends should be nuked"
It is a vestige of backwards-compatibility and all build-depends should be put in components.

[2014-08-28 15:32] ezyang opened #2067 "Cabal should not bootstrap Setup in order to run 'cabal clean'"
It's completely unnecessary, and if you run 'cabal clean; cabal clean', Cabal will spin its wheels compiling ./Setup only to delete immediately afterwards.

[2014-08-28 15:44] ttuegel opened #2068 "Run interpreted tests"
@ezyang suggested in #2058 that a flag (such as `--interpreted`) be added to `cabal test` which would make Cabal run the test suites through the interpreter, rather than recompiling them. This will be faster in many instances because it avoids linking. We should _not_ do this for benchmarks, because interpreted code isn't optimized.

[2014-08-28 15:46] ttuegel opened #2069 "Document `cabal test --show-details=streaming`"
Originally reported in #2058, I implemented this feature but didn't document it anywhere! The `--show-details=` documentation should be reworded anyway, it's awkward as is.

[2014-08-28 15:48] ttuegel opened #2070 "Clarify `cabal build` and `cabal run` help text w.r.t. tests, benchmarks"
The help text for `cabal build` and `cabal run` don't mention that they can be invoked with component targets to build or run particular test suites or benchmarks. Originally reported in #2058.

[2014-08-28 15:51] ttuegel opened #2071 "Add `cabal test --test-COMPONENT-option`"
We should add options to `cabal test` to send test options to specific tests only. Now, `--test-option` sends test options to all the tests. Originally reported in #2058.

[2014-08-28 23:47] #1874 closed, assigned to nobody

[2014-08-29 01:31] ezyang opened #2075 "cabal-install test suite has tricky hysteresis problems"
Put simply, it seems pretty sensitive to previous test runs, does an imperfect job of cleaning up after itself, etc. I'll post more detailed debugging information after I figure it out...

[2014-08-29 20:16] redneb opened #2078 "permissions of fetched files are too restrictive on unix"
All tarballs fetched by cabal and stored in $HOME/.cabal/packages have 0600 as their permissions. I think this is too restrictive and I cannot think of a reason for that. This for example prevents multiple users from sharing the packages directory.

[2014-08-30 03:21] bitemyapp opened #2079 "Better defaults for Cabal config documentation parameter, html-location, content-location"
https://github.com/bitemyapp/learnhaskell#haddock

Cabal should default documentation to True, html-location and content-location should be parameterized by package and set to Hackage by default.

I'm not the only one that's gotten stuck on this recently and it caught me out after I'd had documentation generating properly in the past.

[2014-08-31 02:06] 23Skidoo opened #2080 "Implement 'cabal upload --haddock'"
See [this comment](https://github.com/haskell/cabal/issues/2079#issuecomment-53965427). Uploading locally-built Haddock documentation to Hackage is a common use case, and we should support it directly.

[2014-08-31 03:15] bitemyapp opened #2081 "Make documentation: True the default for cabal-install"
Per #2079

[2014-08-31 03:59] #1841 closed, assigned to nobody

[2014-08-31 04:01] #2079 closed, assigned to nobody

[2014-08-31 23:14] nh2 opened #2083 "cabal haddock does not notice flag change"
In a package (quickcheck) we use something like:

[code]

and in the cabal file

[code]

If you change the ghc version number in there, e.g. to 7.100, `cabal haddock` doesn't notice the change and passes the old flag. If you call `cabal configure` first, everything is fine.

I believe `cabal haddock` it should perform the same "did the cabal file change"-check that `cabal build` does. Like this:

[2014-09-01 03:52] RyanGlScott opened #2084 "Running cabal sandbox init with shared sandbox creates directory named --list-options"
When done a certain way, running `cabal sandbox init` with a shared sandbox can create an odd directory called `--list-options`. I've only tested this on Linux so far. Here is how I came across this:

[code]

Interestingly, the `--list-options` directory is not created if `cabal sandbox init --sandbox=../.cabal-sandbox/` is ran instead of `cabal sandbox init --sandbox ../.cabal-sandbox/`.

[2014-09-01 20:12] sergv opened #2085 "Avoid compiling setup executable when cross-compiling"
It seems currently cabal cannot know whether it cross-compiles or not, i.e. you can pass `--with-ghc`, `--with-gcc`, `--with-ld` etc flags pointing to cross-compiler and other tools but there's no way to tell cabal to not try building setup executable with these tools.

When `build-type` of a package is `Simple` the cabal can avoid creating setup executable and is able to cross-compile a package.

[2014-09-01 20:36] maxphilippov opened #2086 "Cabal install fails on Freebsd10-amd64"
Ok, long story short:
I tried
http://www.haskell.org/cabal/release/cabal-install-1.20.0.3/cabal-install-1.20.0.3.tar.gz

.bootstrap fails on access to /dev/sa0 like someone forgot to pass -f to tar.
I'm not a UNIX guru that's why I just changed this line

[code]

to

[code]

I saw it's fixed in current version, so let's just pass by.

Now it did compile, however after compilation I got stuck with

[2014-09-02 18:19] #2063 closed, assigned to nobody

[2014-09-03 15:29] ghost opened #2088 "cabal install fails to update cabal-install"
cabal install fails to update cabal-install

---

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\Alberto>cabal -V
cabal-install version 1.18.0.5
using version 1.18.1.3 of the Cabal library

C:\Users\Alberto>cabal update
Downloading the latest package list from hackage.haskell.org
Note: there is a new version of cabal-install available

[2014-09-04 13:54] #2088 closed, assigned to nobody

[2014-09-05 16:45] tibbe opened #2089 "cabal-install shouldn't ask the user to upgrade cabal-install"
Once upon a time it made sense for cabal-install to ask users to upgrade as soon as there's a new version. Nowadays it's better for the average user to stay on the version they got with the platform. We should remove the message that asks the user to upgrade.

[2014-09-06 12:06] ezyang opened #2091 "Cabal gets confused using with-compiler and the Custom build-type"
I was debugging a Cabal issue with Dan Rosen today and I noticed an interesting error. The steps to reproduce went something like this:
1. The system GHC is 7.8.2, with Cabal 1.20 installed, call this install A
2. We made a local build of GHC 7.8.2 (with some custom patches), call this install B, which ships Cabal 1.18 by default
3. We made a Cabal sandbox to store the build products of install B,

[2014-09-07 10:46] nomeata opened #2092 "New flags `cabal install --disallow=PKG`"
I currently use `cabal install --constraint "foo (== 1.2.3.4)"`, where foo has no version 1.2.3.4, to prevent `cabal` from considering a package at all. It would be nice if there was a more direct flag for that.

Thanks,
Joachim

[2014-09-08 02:52] sol opened #2094 "Do not require the two dashes when passing flags to commands on `cabal exec`"
Currently, if you want to pass flags to commands run with `cabal exec` you have to separate them from cabal specific flags with `--`, e.g.:

[code]

Here, currently, the `-v3` can appear anywhere before the `--`, e.g. `cabal exec ghci -v3 -- -Wall` works too.  I propose to change that so that any arguments and flags after `exec COMMAND` are passed to the `COMMAND` verbatim, so that the `--` become

[2014-09-08 03:04] #2094 closed, assigned to nobody

[2014-09-08 13:10] yongqli opened #2095 "Can't handle unicode characters in test names"
When running a test suite containing unicode names, the output is mangled. For example:

[code]

For the test case and prior discussion, see https://github.com/feuerbach/tasty/issues/78

[2014-09-09 18:47] amatosc opened #2096 "cabal install haskell-src-exts haddock --> failed during the configure step. The exception was: ExitFailure 1"
Hello. I try install these packages but i can't, this is my output. any idea?

[code]

ghc: 7.6.3
cabal: 1.16.0.2
SO: Ubuntu

[2014-09-09 20:54] #2096 closed, assigned to nobody

[2014-09-10 10:27] nomeata opened #2097 "Insufficient explanation about the failure"
Usually, `cabal-install` is quite good at telling me why a certain installation fails. But now I get this output:

[code]

The issue seems to be related to flag assignment; `yi`’s dependency on `vty` is flag-dependent.

[2014-09-10 10:33] JakeWheat opened #2098 "running Setup.hs, cabal sandbox uses Cabal library from user package database, and cabal also ignores constraint on Cabal version"
I think the bugs are:

1. cabal sandbox uses Cabal library from the user package database
   when running Setup.hs, it should only have access to the global
   packages plus the sandbox packages, I think?

2. cabal-install ignores the Cabal library constraint when running
   Setup.hs both when added as a command line option and when in the
   .cabal file in the cabal-version field

I am using an o

[2014-09-10 11:31] hadronized opened #2099 "Typo when unregistering package from sandbox"
This command:

[code]

Outputs this:

I guess **hc-pkg** was intended to be **ghc-pkg**. The issue is even impacting the command we have to type:

[code]

[2014-09-10 11:38] #2099 closed, assigned to nobody

[2014-09-10 16:29] hvr opened #2100 "Add support for new `time-1.5` release"
[time-1.5](http://hackage.haskell.org/package/time-1.5) was recently released, but Cabal (the library) doesn't support building against it yet (due to upper bound in `build-depends`).

[2014-09-10 17:54] 23Skidoo opened #2101 "Spurious warning about dangerous reinstalls when we're in a sandbox"
Sometimes one can get a warning about dangerous reinstalls even when one is using a freshly initialised sandbox. In my case Cabal needed to install `process-1.2.0.0`, which produced a warning because I already had `process-1.2.0.0` in global DB. Workaround: `--force-reinstalls`.

Example (trying to compile 0d83e52cc66d2f0eca8e2ef2e9821a3beb790d19 against time-1.5):

[code]

[2014-09-10 18:14] #2100 closed, assigned to nobody

[2014-09-11 11:49] fmaste opened #2102 "Latest cabal-install bootstrap.sh still fails on OS X building Cabal documentation"
The error msg is:
[code]

I know this was fixed in #1740 but when using the latest release found here (Cabal-v1.20.0.2.tar.gz) it still happens

I fix it by changing the Cabal's dependency on bootstrap.sh from 1.20.0.0 to 1.20.0.2

[2014-09-12 06:35] KasperJanssens opened #2103 "HPC in combination with Cabal not highlighting 'unused' module as having no test coverage"
I've got the start of a haskell application and I want to see how the build tools behave. One of the things I would like to see is the Haskell coverage reports, through hpc.
The structure of my application is
- Main
- src/
  - ModuleA
  - ModuleB
- tests/
  - ModuleBTest

I have unit tests for moduleB, and I run those unit-tests through cabal test. Before, I configure cabal to spit out the hpc dat

[2014-09-13 14:47] #2103 closed, assigned to nobody

[2014-09-13 14:53] #2095 closed, assigned to nobody

[2014-09-13 23:27] #1881 closed, assigned to nobody

[2014-09-13 23:29] #1794 closed, assigned to nobody

[2014-09-13 23:31] #1690 closed, assigned to nobody

[2014-09-13 23:32] #1652 closed, assigned to nobody

[2014-09-13 23:37] #1323 closed, assigned to nobody

[2014-09-13 23:40] #1219 closed, assigned to nobody

[2014-09-13 23:43] #1147 closed, assigned to dcoutts

[2014-09-13 23:44] #1146 closed, assigned to nobody

[2014-09-14 22:29] 23Skidoo opened #2105 "`cabal install` doesn't know about add-sourced packages that are also not on Hackage"
Right now, if you do

[code]

It will give you an error about unknown package. You have to do this instead:

[code]

The former should also work.

[2014-09-14 23:42] 23Skidoo opened #2106 "`cabal build && cabal install` in a sandbox compiles the package twice"
When in a sandbox, running `cabal install` without arguments will use the `dist/dist-$HASH` directory for storing intermediate files. However, if you previously ran `cabal build`, it used `dist`. This leads to unnecessary recompilation; `dist/dist-$HASH` should be used only for add-source dependencies.

[2014-09-14 23:45] #1945 closed, assigned to ttuegel

[2014-09-16 01:01] GeorgeCo opened #2108 "In ghc 7.8.3 on the Mac, for some packages, cabal reinstalls the package instead of telling me I've already installed it."
In ghc 7.8.3 on the Mac, for some packages cabal reinstalls the package instead of telling me I've already installed it. ghc-pkg check shows I have no issues, e.g.:

bash-3.2$  cabal install cabal-install
Resolving dependencies...
Configuring cabal-install-1.20.0.3...
Building cabal-install-1.20.0.3...
Installed cabal-install-1.20.0.3
Updating documentation index
/Users/gcolpitts/Library/Haskell/s

[2014-09-16 02:45] #2108 closed, assigned to nobody

[2014-09-17 18:49] nh2 opened #2110 "ghcOptExtensionMap can get absurdly big"
Hi,

I was just debugging around in `hdevtools`, printing some stuff (namely [this stuff](https://github.com/schell/hdevtools/blob/cabal-support-ghc7.8/src/Cabal.hs#L130)), when I noticed that the [`ghcOptExtensionMap`](https://github.com/haskell/cabal/blob/4ab21cb/Cabal/Distribution/Simple/Program/GHC.hs#L137) contains many more entries than I think it should (multiple thousands - we dont' have t

[2014-09-17 23:11] nh2 opened #2112 "Using the Cabal API with sandboxes"
I have a question about the Cabal API and sandboxes.

When I'm using `cabal configure` in my project (which has a sandbox configured), everything is fine and I get no warnings.

However, if I use the Cabal API to configure the project like this: https://gist.github.com/nh2/cabe35a058f10ff5313d/8653affaf7ceb5190ce03f44333e9d45af174726 then I get:

[code]

How does it work that `cabal configure` fin

[2014-09-18 15:30] fujimura opened #2113 "getDataDir in Paths_pkgname module ignores data-dir in .cabal"
`Paths_pkgname` seems to be ignoring `data-dir` which is declared in pkgname.cabal file.
Is this intentional?

For example, with a my library which has `data-dir:  templates`, `getDataDir` behave as following:

[code]

but I expected it returns path of `templates` directory like this:

[code]

I made a failing test case but not yet able to fix the actual code.
https://github.com/fujimura/cabal/com

[2014-09-18 17:57] #2085 closed, assigned to nobody

[2014-09-18 21:44] ezyang opened #2114 "cabal configure && cabal build of Cabal fails with corrupt package config file with top-level Cabal-1.20.0.2/3"
When using most recent released Cabal:

[code]

This seems to be related to Cabal's bootstrapping process, since if you run `dist/setup/setup build` it works fine.

[2014-09-20 13:22] #1917 closed, assigned to nobody

[2014-09-21 12:29] #1980 closed, assigned to nobody

[2014-09-23 01:47] thsutton opened #2120 "Cabal install in a sandbox with an added source uses that project's Setup.hs for other builds"
Working in a sandbox I've needed to checkout an upstream dependency to apply a patch. This dependency has a Custom build with a Setup.hs that does unusual things and this `Setup.hs` gets run when installing subsequence packages.

My steps go something like this:

[code]

But the second `cabal install` fails, producing an error message that must come from the custom `Setup.hs` in `depenency-with-cu

[2014-09-23 11:29] hvr opened #2122 "Add support for `configure-options` to `program-defaults-options`-section"
Currently, the cabal `config` file does not allow to persist settings such as

[code]

which are essential when using a cygwin environment with a mingw crosscompiler (as otherwise `config.guess` would report an inappropriate platform tuple)

(see also https://github.com/haskell/cabal/issues/1950#issuecomment-56495108 )

[2014-09-23 20:28] ghost opened #2123 "InstallPlan changes regression"
The recent InstallPlan changes seem to have introduced a regression.

Using cabal-install f59bab1, I see this:

[code]

[2014-09-23 21:14] ezyang opened #2124 "Cabal bootstrap doesn't use dependency solver to guarantee consistent set of dependencies"
The command that the bootstrap uses to build Setup.hs is:

[code]

Notice this does not hide the global package databases. Thus, if GHC makes an unlucky selection from the user database, the bootstrap will fail, EVEN if a sandbox was being used.

[2014-09-23 21:21] #2123 closed, assigned to nobody

[2014-09-23 22:40] bitemyapp opened #2125 "Cache download artifacts in in ~/.cabal/ and reuse across installs into sandboxes"
Believe Maven was doing this back when I used Clojure + Leiningen, could save a lot a of first-install slowness for users. I have a relatively fast connection (300mbit) and I still notice the difference - people with more modest connectivity are going to be more drastically affected.

[2014-09-23 22:43] #2125 closed, assigned to nobody

[2014-09-24 18:08] #1810 closed, assigned to ttuegel

[2014-09-25 21:47] #1901 closed, assigned to nobody

[2014-09-25 23:05] UnkindPartition opened #2129 "cabal doesn't find a non-destructive install plan"
See https://github.com/feuerbach/tasty/issues/80

The gist of it is that cabal _unnecessarily_ suggests upgrading mtl from a globally installed version, then refuses to do it.

I thought the solver introduces constraints for the installed packages, but that didn't happen here, apparently.

[2014-09-27 05:11] treeowl opened #2130 "Remove Hugs support, and documentation about such"
Hugs itself has not been maintained since late 2006. It is rather unlikely that Cabal is being used with Hugs often enough to prevent bit-rot. It therefore seems reasonable to remove the code attempting to support it, and also the documentation indicating that Hugs is/must be supported.

[2014-09-27 13:19] JakeWheat opened #2131 "-j and --allow-newer don't work together"
Using --allow-newer with -j seems to mess up the dependencies.

install tabular-0.2.2.5 with -j: works fine, uses old mtl library

install tabular-0.2.2.5 with -j and --allow-newer: fails to install
since it tries to build packages before their dependencies have been
built

install tabular-0.2.2.5 without -j and with --allow-newer: works fine
with the newer mtl library

Details:

[code]

[2014-09-27 13:43] #2131 closed, assigned to 23Skidoo

[2014-09-28 08:41] agrafix opened #2132 ""Iface type variable out of scope: k" with cabal test"
I get this error when trying to run my test-suite:

[code]

I think I am stumbling over the issue on both GHC7.6 and GHC7.8. I'm not sure how I can create a smaller test case, so I'll just point you to the commit and the travis build:

https://github.com/agrafix/Spock/tree/575fdb1332b719a23d84e1fbb67f097f22d64e68
https://travis-ci.org/agrafix/Spock/builds/36477042

Maybe this is somehow related to

[2014-09-28 16:08] #2132 closed, assigned to nobody

[2014-09-28 21:26] chrismwendt opened #2134 "Cabal website FAQ section "Hidden packages (a)" does not mention configure"
I had the hidden package error even though the package was listed in my `build-depends`. `cabal configure` fixed the problem, but it's not mentioned in the FAQ.

[2014-09-29 02:01] dmwit opened #2135 "default setting of `doc-index-file` is batty"
In the installation directories, the default location has recently changed to handle the fact that a home directory might be available on multiple machines, which is brilliant and much-needed:

[code]

But the default for `doc-index-file` has not followed suit:

[code]

I believe the default should be

[code]

[2014-09-29 16:42] #1040 closed, assigned to nobody

[2014-09-29 18:07] joeyh opened #2138 "documentation needs an os() and arch() list"
The documentation says that os() uses the value of System.Info.os, and arch() System.Info.arch. But when doing something OS-specific, it's pretty common to not have easy access to every OS installed in order to go look up what the System.Info.os value is. Probably even more common when dealing with something architecture specific.

For example, I know that i need to add ! os(hurd) to my cabal file

[2014-09-30 01:31] cutsea110 opened #2139 "outdated subcommand like as cab's"
I think `cab outdated` command is very usefull.
Wouldn't you support this feature?

[2014-10-02 20:44] erikd opened #2141 "AllRightsReserved has two possible meanings"
Currently a license value of `AllRightsReserved` has two possible meaining:
- No license was specified and we are defaulting to `AllRightsReserved`.
- The license has been explicitly set to `AllRightsReserved` because it is, for example, an internal company specific application.

I propose that we allow a distinction to be made between these two to give us:
- `ExplicitAllRightsReserved`
- `NoLicen

[2014-10-03 09:00] gracjan opened #2143 "cabal configure ignores cabal.config constraints"
We switched to cabal.config and constraints in there thanks to cabal freeze command. We do not put any constraints in the my-project.cabal file at all.

It is surprising when cabal configure succeeds even when cabal.config was changed to incorporate new constraints. It should tell about the inconsistency.

The following workflow is supposed to fail already at configure step:

[code]

Right now onl

[2014-10-03 19:25] bitemyapp opened #2144 "`cabal repl` shouldn't load anything until instructed to do so"
Much of the point of a REPL is to work on broken / partly working / incomplete code. Having `cabal repl` exit with an error because my code doesn't compile misses the point.

defer type error isn't sufficient. Forcing me to use `undefined` so I can work on something in-progress in an interface designed for incremental development is absurd.

[2014-10-03 20:20] nh2 opened #2145 "ExitFailure 1"
I just tried

`cabal install scotty AesonBson>=0.2.2 -j8 --disable-library-profiling --disable-documentation`

It runs for `64.93s user 3.81s system 188% cpu 36.401 total` and then dies with:

[code]

Could we have more details?

[2014-10-06 14:35] ibotty opened #2146 "allow "upload" to local repository"
hi,

i have a small shell script that does the following for `package-0.1.2`. it would be great if cabal could do that out of the box (using gnu tar.)

`local_repo` is the first repository that is specified as `local-repo:` in cabal.

[code]

[2014-10-07 14:27] ghorn opened #2148 "cabal build after cabal install thinks version has changed"
[code]

Possible duplicate of #1938 / #1953 though I am not in a sandbox

[2014-10-07 22:57] #2141 closed, assigned to nobody

[2014-10-08 16:19] kgadek opened #2149 "Reload packages"
My use-case: I'm working on multi-cabal project. Usually I load packages I need (`:m +foo bar`) and work on particular file (`:l quux.hs`). Yet sometimes I need to change something in a package, let's say `foo`. So in second terminal I do that and `cabal install`.

The pitty: I need to restart my ghci and load all the packages and the file again. In my case that's about 20 packages to load. I use

[2014-10-09 07:50] erikd opened #2151 "Add sub-command 'purge'"
I often see people on IRC and elsewhere suggesting that people `rm -rf ~/.cabal` which is far from optimal and actually in-sufficient.

I can however see the need to manually do _something_ before doing a complete `cabal install <everything>`, particularly for yesod based projects.

I am therefore proposing a `cabal purge` command that would DoTheRightThing(tm) so that people can say "just run `ca

[2014-10-09 21:17] sykora opened #2153 "Build doesn't fail on failure of add-source'd dependency."
When (re)-building a package in a sandbox that has a modified add-source'd dependency, the build doesn't stop if that dependency failed to build; instead continuing to build against the previous version of the dependency already installed in the sandbox.

While this is technically a feasible behaviour, it can have some unintended consequences in terms of how users interpret cabal's output. It's al

[2014-10-10 10:31] def- opened #2154 "Printing custom messages during installation"
I use hooks in [Setup.hs](https://github.com/def-/ghc-vis/blob/master/Setup.hs) to display necessary post-installation steps for the [installation of ghc-vis](http://felsin9.de/nnis/ghc-vis/#installation). This stopped working in cabal install version 1.20 since the Setup.hs output is now only written to the log file. It would be nice if these messages could still be printed. Or did I miss somethi

[2014-10-10 17:39] bgamari opened #2155 "cabal sandbox delete-source gives no indication of whether it did anything"
`Cabal sandbox delete-source` should fail if it is given a non-existant source. At the moment it simply pretends all is well,
[code]

[2014-10-10 22:11] bitemyapp opened #2156 "Cabal docdist"
I've lost multiple hours just to fixing the Haddocks for Hackage. The defaults aren't great. What percent of users are generating haddocks for something other Hackage? Generating the tarball is fiddly and requires slightly different flags on Mac vs. Linux. This has given rise to [scripts like the one in the lens project by glguy](https://github.com/ekmett/lens/blob/master/scripts/hackage-docs.sh).

[2014-10-10 23:02] nikita-volkov opened #2157 ""cabal test --show-details=always" messes up unicode output"
Here's what it outputs for the following file:

[code]

[code]

The version is:

[code]

[2014-10-11 07:15] jfischoff opened #2158 "Change the default behavior of `cabal upload`"
Currently cabal upload just uploads a premade sdist.

I think the default behavior should change to make it easier to upload to Hackage, and to distribute the work of documentation building to clients.

I think generating and uploading a sdist with doc should be the default. If I want to upload an older version, that should be possible with an additional flag, e.g.

[code]
would be equivalent to
[

[2014-10-11 20:56] #2157 closed, assigned to nobody

[2014-10-14 07:36] erikd opened #2160 "Issues with `mappend` of `SavedConfig`."
I'm currently working on implementing (and writing tests for) a `cabal saved-config update` command (which read's the user's `~/.cabal/config` and the writes it back with comments from the current version).

During this exercise, I found some odd issues around using `mappend` on the `SavedConfig` structure. In particular where elements of that structure are lists, eg `extra-prog-path`, `remote-rep

[2014-10-14 08:49] amigalemming opened #2161 "undefined references to external library in test-suite"
I can compile a test-suite with an external library, if it is declared as Executable, but not if it is a Test-Suite. In the following examples, fft-0.1.7.2 uses an Executable enabled by flag buildTests and fft-0.1.7.3 uses a Test-Suite.

[code]

[code]

[2014-10-14 09:18] ocharles opened #2162 "`cabal` should warn when using `sdist` with unconditional `-auto-all`"
A while ago I created a [thread on the Haskell Cafe](http://haskell.1045720.n5.nabble.com/ghc-prof-options-and-libraries-on-Hackage-td5756706.html) about removing the profiling information for JuicyPixels after installation. As this isn't possible, the only option is to patch JuicyPixels itself to remove the profiling information. It seemed to be mostly agreed upon in that thread that releasing th

[2014-10-14 18:25] Fuuzetsu opened #2163 "cabal list should make it clear that a package is old/deprecated"
So we just had someone in #yi install a deprecated package (marked as deprecated) from 2008:

[code]

It seems to me that cabal should make at least some attempt to communicate that this may in fact not be the right package to install.

[2014-10-15 14:05] joeyh opened #2164 "cross compilation tries to compile and run setup program"
I am using ghc-android to cross compile for android, and cabal used to detect it was being used with a cross compiling ghc, for Build-Type: simple packages, always run the simple setup code that's built into cabal. However, I rebuilt my environment today (also changing it to be based on Debian jessie instead of Debian wheezy, but not otherwise changing anything except the version of cabal), and th

[2014-10-15 14:24] #2164 closed, assigned to nobody

[2014-10-17 21:25] nikita-volkov opened #2166 "`--reinstall` and `--force-reinstalls` have not effect on resolution of conflicted dependencies even in a sandbox"
[code]

The previously installed `random` package has no restriction on [the `time` dependency](https://github.com/haskell/random/blob/master/random.cabal#L39), so the conflict could be easily resolved by simply reinstalling the package. However I've tried all the flags out there and nothing helps.

Cabal version:
[code]

[2014-10-18 14:33] #2162 closed, assigned to nobody

[2014-10-19 14:07] #2160 closed, assigned to nobody

[2014-10-19 16:15] #2110 closed, assigned to nobody

[2014-10-19 18:24] #33 closed, assigned to nobody

[2014-10-19 19:46] #2089 closed, assigned to nobody

[2014-10-19 19:53] #2130 closed, assigned to nobody

[2014-10-19 19:55] #626 closed, assigned to nobody

[2014-10-20 10:46] yamadapc opened #2169 "Importing cabal-install modules as a library?"
Simply adding a `library` declaration to the `cabal-install.cabal` file would help. I'm currently trying to implement the [`npm install --save`](https://www.npmjs.org/doc/cli/npm-install.html) node.js workflow into cabal.

I've gotten to the point to which I can add things to the manifest and read installed dependencies only using functions from the `Cabal` package, but to actually read all packag

[2014-10-20 11:56] jan-matejka opened #2170 "linking error when missing an exposed library"
I have made a sscce at https://github.com/yaccz/cabal-link-error-missing-exposed-module

reproduce: just `git clone https://github.com/yaccz/cabal-link-error-missing-exposed-module.git` and run `cabal configure && cabal build`. You should get a linking error like

[code]

Then if you `git checkout fix` and `cabal build` it will build correctly.

Expected behaviour:

error like `Could not find modu

[2014-10-20 13:07] #2170 closed, assigned to nobody

[2014-10-20 15:36] ghost opened #2171 "New warning since merge of #2168"
With #2168 merged, I see:

[code]

[2014-10-20 16:08] #2171 closed, assigned to nobody

[2014-10-21 20:26] #2135 closed, assigned to nobody

[2014-10-21 20:40] 23Skidoo opened #2172 "Interactively prompt the user about whether docs/profiling/build reporting should be enabled"
Quoting the IRC discussion with @dcoutts about #2082:

[code]

[2014-10-21 20:47] #2092 closed, assigned to nobody

[2014-10-21 20:58] bitemyapp opened #2173 "Cabal sandbox config should use relative paths, rather than absolute ones."
Copying or moving a sandbox shouldn't break it. New people don't know to edit the config or even how that works. A better default makes the editing unnecessary to begin with.

[2014-10-21 21:11] #2173 closed, assigned to nobody

[2014-10-21 21:13] #2169 closed, assigned to nobody

[2014-10-22 14:06] nponeccop opened #2174 "vanilla"

[2014-10-22 14:06] #2174 closed, assigned to nobody

[2014-10-23 11:25] kantp opened #2175 "d"

[2014-10-23 14:38] #2175 closed, assigned to nobody

[2014-10-23 17:11] bitemyapp opened #2176 "Cabal build and cabal test should install their own dependencies"
`cabal install --dependencies-only` and `cabal install --dependencies-only --enable-tests`

Users don't know or care about a (stateful) plan maintained via configure or otherwise. They have declarative commands that they want to work the first time.

[2014-10-23 17:52] lspitzner opened #2177 "cabal exec -w --with-compiler (generalization of #1899)"
It should be possible to have -w flag (see `cabal configure`/`install`) on `cabal exec` command. (and `cabal init`, but that really is not important. `cabal sandbox hc-pkg` is just `cabal exec -- ghc-pkg` (right?), which is my reasoning for calling this "generalization".)

In #1899 the same was discussed for `cabal sandbox hc-pkg`. The suggestion was to use `cabal configure -w ..` followed by othe

[2014-10-23 20:54] #2105 closed, assigned to 23Skidoo

[2014-10-24 00:47] #2060 closed, assigned to 23Skidoo

[2014-10-24 17:09] mietek opened #2178 "Request: 'cabal freeze --dry-run --no-installed-constraint'"
Cabal automatically sets global installed constraints for installed packages, even during a dry run.  Hence, if a local constraint conflicts with an installed package, Cabal will fail to resolve dependencies.

[code]

This makes it difficult to automatically determine the version of GHC needed to install a package, as it is no longer sufficient to just look at Cabal constraints.  An option to prev

[2014-10-24 21:08] owst opened #2179 "Attempting to install a non-existent dependency does not suggest the package doesn't exist"
If we try to directly install a non-existent package we get a warning that the package doesn't exist:

    cabal: There is no package named 'blergh'.
    You may need to run 'cabal update' to get the latest list of available
    packages.

However, if we add the same non-existent package as a dependency, the warning we get is obscured:

    Resolving dependencies...
    cabal: Could not resolve de

[2014-10-25 10:36] simonkramer opened #2180 "cabal-install-1.20.0.3 failed during the building phase. The exception was: ExitFailure 1"
When  executing the command "cabal install cabal-install" (cabal-install version 1.18.0.5, using version 1.18.1.4 of the Cabal library) in Bash under Mac OS 10.9.5, I get the following error message:

cabal-install-1.20.0.3 failed during the building phase. The exception was:
ExitFailure 1

[2014-10-25 17:04] MasterMastic opened #2181 "cabal-install has to install something before it realizes it's in a sandbox"
Say there is a package and installing it on user/global would require re-installations of dependencies.
If I install it in a sandbox, cabal-install doesn't realize I'm in a sandbox, and it will warn me about the re-installs.
To install the package in the sandbox, I have to find a dependency package I don't have on user/global, install it in the sandbox, and only then cabal-install gets that this i

[2014-10-25 17:26] #2180 closed, assigned to nobody

[2014-10-25 19:22] rrnewton opened #2182 "cabal test sometimes builds with the wrong flags. How to control its flags?"
We typically run Jenkins testing jobs [with large matrices of configuration options](http://tester-lin.soic.indiana.edu:8080/job/LVish-implementation-2.0/).

We have been assuming that the following series of commands would guarantee that `A` and `B` only get built once, and only with `-fmyflag`

[code]

(BTW, I don't know if there is any such "algebra" of command sequences that carry guarantees!

[2014-10-27 00:18] shlevy opened #2183 "Programmatic access to dist directory"
Currently, when writing a test suite for an executable built within the same project, we have to hard-code something like `fooPath = "./dist/build/foo/foo"`. It would be nice if there were something like the `Paths_` module that could be used instead to find that.

[2014-10-28 14:44] Dangthrimble opened #2184 "Is cabal install cabal-install the right command?"
New to all this but...

[code]

I understand there are local and global installs, but what is the point of installing a later version if it isn't used?

[2014-10-29 10:23] 23Skidoo opened #2185 "Warn when there's another executable in PATH shadowing the one we've installed"
See #2184. We already warn when the target directory is not in `PATH`; this seems like a logical extension.

[2014-10-29 10:23] #2184 closed, assigned to nobody

[2014-10-29 15:57] ersran9 opened #2186 "Sandbox not picking up changes in add-source in custom build"
Sandbox having `build-type: Custom` does not seem to pick up changes in add-source'd directories. This behavior seems to occur only during `cabal build` or `cabal repl`

[2014-10-29 17:10] Dangthrimble opened #2187 "user-install appears to have no effect"
Following on from #2184, I have updated `user-install` in `AppData\Roaming\cabal\config` to `False`, changed directory to `AppData\Roaming\cabal\bin` and re-run `cabal install cabal-install`. I have searched the C: drive for `cabal.exe` and the only versions remain those in `AppData\Roaming\cabal\bin` and `\Program Files\Haskell Platform\2014.2.0.0\lib\extralibs\bin`.

[2014-10-30 01:12] #2187 closed, assigned to nobody

[2014-10-30 05:29] #1863 closed, assigned to 23Skidoo

[2014-10-30 08:22] 23Skidoo opened #2189 "Support non-Hackage dependencies"
**Summary by @ezyang:**
- Syntactic support for these URLs exists: in the `packages` field you can specify remote tarballs or local tarballs, and using the `source-repository` syntax (from Cabal file) you can point to a VCS URL (this parser should also have been reused for `cabal.project`)
- Support for downloading from various places exists. There's support in the old-build path for local/remote

[2014-10-30 16:06] lspitzner opened #2191 "prefix errors when configuring add-source'd package"
i accidentally removed a add-sourced subdirectory. then did

[code]

which confused me for a moment, as this error is for the subdirectory, not the root (where there is a .cabal file).

reproduction:
1) new dir
2) `cabal sandbox init`
3) `mkdir sub`
4) `touch sub/sub.cabal`
5) `cabal sandbox add-source sub`
6) `rm sub/sub.cabal`
7) `touch main.cabal`
8) `cabal configure`

some indication that the

[2014-10-30 17:31] schell opened #2192 "Cabal should report nice error messages for missing exported modules."
Cabal is great! Thanks for all the hard work!

I ran into a funny error message that ended up being a missing exported module:

[code]

The module in question was one `Gelatin.Core.Compiling`. In hindsight parsing the error message is easy but it's not obvious unless you've seen it before. Maybe it's not too much work to have a nice message for this? Maybe it's not cabal's job and is happening som

[2014-10-30 19:30] Dangthrimble opened #2193 "cabal-install-1.20.0.3 failed during the building phase. The exception was: ExitFailure 1"
I am trying to build a Haskell IDE around Sublime Text on a Windows platform and have had a number of issues (some of my own making!), including working out how to successfully update and install cabal after installing Haskell Platform. In an attempt to prove I had found the solution I uninstalled Haskell Platform in order to start again. I then discovered the `%AppDapa%\cabal` and `%AppData%\ghc`

[2014-10-31 02:33] #2192 closed, assigned to nobody

[2014-10-31 10:00] #2078 closed, assigned to nobody

[2014-10-31 13:25] #2193 closed, assigned to 23Skidoo

[2014-10-31 21:59] ezyang opened #2194 "Publish package key in autogenerated Paths module"
In https://github.com/ekmett/lens/issues/496 the lens package is synthesizing the package key for a package in order to avoid a Template Haskell dependency. We shouldprovide the package key in the Paths module so that they can use that instead.

@dcoutts, @kosmikus  I need some guidance on what backwards-compatibility we need to provide for the Paths module. The obvious name `key` or `packageKey`

[2014-11-01 08:40] hvr opened #2195 "Suggest `autoreconf` when `configure` file missing"
Currently, `cabal configure` tells you that

[code]

While correct, users not acquainted with GNU autoconf may not know how to create such a `configure` file. In most cases `autoreconf -i` is what they should use, so I'd suggest to augment that warning to add a suggestion to try using `autoreconf -i` (especially if a `configure.ac` happens to exist)

[2014-11-01 09:04] #2195 closed, assigned to nobody

[2014-11-03 09:39] ezyang opened #2198 "Travis should build Haddock documentation"
I recently had a GHC validate fail on me when I updated Cabal because someone had introduced a syntax error in a Haddock comment. It would be good if Travis ran haddock so we can catch these kinds of errors in trunk.

[2014-11-03 12:35] #2198 closed, assigned to nobody

[2014-11-03 16:26] #1700 closed, assigned to nobody

[2014-11-04 21:35] ezyang opened #2199 "Identical installed package ID does not ensure interconvertibility of packages"
Right now, the installed package ID is computed purely from the ABI hash of the `exposed-modules` in the library section of a Cabal file. This means we can assign the same installed package ID to a package, even when details of the package in the installed package database are different in a substantive way. In particular, module reexports are not currently accounted for in the ABI hash.

This cou

[2014-11-04 22:37] reinh opened #2200 "cabal test does not throw cabal version mismatch error"
A `cabal test` run when the version of the cabal binary used differs from the version used to `cabal configure` does not fail with an error indicating the version mismatch. Instead, this error is apparently treated as a warning and only printed when verbose output is requested:

Without verbose output:

[code]

With verbose output:

[code]

The version of cabal installed is:

[code]

The version o

[2014-11-04 23:29] lspitzner opened #2201 "`cabal clean` for Cabal package compiles `Setup.hs`, just so it can clean it again"
this should not be necessary, or is it? (i guess this affects more than just Cabal: any package with a non-trivial Setup.hs)

of course you would not really notice this unless you execute `clean` twice in a row :)

[2014-11-05 08:38] #2201 closed, assigned to nobody

[2014-11-05 12:02] Dangthrimble opened #2202 "Building cabal from scratch fails on 64-bit Windows 8.1"
I am trying to set Sublime Text up as a Haskell IDE and have found that Haskell Platform interferes with the installation of some packages. Consequently I have decided to start from scratch and install packages as I need them. Following advice, the approach I am adopting is as follows:
- Ensure Haskell Platform is uninstalled
- Ensure the `%ProgramFiles%\Haskell`, `%ProgramFiles%\Haskell Platform`

[2014-11-05 13:03] lspitzner opened #2203 "no sandbox; `cabal sandbox delete` has non-zero returncode"
For both require-sandbox: True and False (but with different error-messages).
This is inconsistent with `cabal sandbox init` that has zero returncode even if there already was a sandbox.

[2014-11-05 16:06] #2203 closed, assigned to 23Skidoo

[2014-11-06 16:25] #2202 closed, assigned to nobody

[2014-11-06 17:00] 23Skidoo opened #2205 "Investigate link failures on Windows caused by using Cygwin instead of MSYS"
In #2202, a user was trying to build `cabal-install` from the Cygwin shell (using native GHC/`cabal-install`). This caused link failures, which was solved by switching to MSYS2 shell.

Since we now get the `gcc` path from `ghc --info`, this was probably caused by Cygwin somehow tricking the network package's `configure` script into using a wrong version of `gcc`. We should look into whether it's p

[2014-11-08 00:46] mietek opened #2207 "GHC 7.8 and -fPIC"
Since the linker changes in GHC 7.8 require building C code with `-fPIC`, perhaps Cabal should automatically add `-fPIC` to `cc-options` when compiling with GHC ≥7.8?

`text-icu-0.7.0.0` currently exhibits the missing `-fPIC` problem. (https://github.com/bos/text-icu/pull/9)

[2014-11-09 18:15] wereHamster opened #2208 "cabal sandbox hc-pkg unregister --force <pkg> does not work"
This is what happens:

[code]

The trick is to add the `--force` flag after the double-dash delimiter, eg.

[code]

[2014-11-09 18:18] #2208 closed, assigned to nobody

[2014-11-10 17:20] nh2 opened #2209 "Add feature to generate cabal_macros.h"
We would like to generate and use `cabal_macros.h` (e.g. for `hlint` or our `ghc -M` based build system) without actually running `cabal build`.

I was surprised that `cabal_macros.h` is created by `cabal build` only, and not by `cabal configure`.

Also, while you can do `cabal build mytarget`, there isn't an empty target, so there currently is no way to tell cabal to _only_ generate `cabal_macros

[2014-11-11 06:42] seckcoder opened #2210 "Failed to install stm with cabal"
ghc: `7.8.3`
cabal-install version `1.20.0.3`
using version `1.20.0.2` of the Cabal library
OS: Mac OS X Lion `10.7.5`

After running `cabal install stm`:

[code]

ghc-pkg list

[code]

[2014-11-11 12:56] #2210 closed, assigned to nobody

[2014-11-11 14:19] accursoft opened #2211 "Cached setup exes are not stripped"
`setup-exe-cache/setup-Simple-Cabal-1.18.1.3-x86_64-linux-ghc-7.8.3`
Before `strip`: 7.4M
After: 5.6M

[2014-11-11 16:03] #2211 closed, assigned to nobody

[2014-11-12 19:29] asivitz opened #2213 "multi-arch support in sandbox"
I'd like to use a sandbox that contains packages built in multiple architectures. Currently, I believe, the --builddir flag is ignored when installing to a sandbox, which makes it impossible to separate object files from different architectures. I'm not sure if other changes would also be necessary to support this.

[2014-11-12 23:38] bitemyapp opened #2214 "I shouldn't have to manually re-run `cabal configure`"
[code]

Easily in the realm of "just do it". Users shouldn't have to fuss with this.

[2014-11-13 18:48] bitemyapp opened #2216 "`cabal list` has bad defaults"
The 5-line output is silly, you have to grep it regardless so assuming it's going to be read by a human is erroneous due to the volume of text.

Deprecate the option (stderr warning?) that makes it greppable, make that the default.

[2014-11-13 19:01] danielcompton opened #2217 "`cabal init` with no license specified still specifies LICENSE in cabal file"
Running `cabal init` without specifying a license still creates `license-file:        LICENSE` in the generated cabal file. LICENSE doesn't exist, so I get a warning when I run a REPL. This line should be elided completely, or at least commented out if the user doesn't specify a license.

[code]

[code]

[2014-11-13 19:05] danielcompton opened #2218 "Trailing whitespace in generated cabal file"
When creating a new cabal file with cabal init, there is trailing whitespace created on lines that are commented out. These should be trimmed before the file is created.

![screenshot of iterm 14-11-14 8 03 50 am](https://cloud.githubusercontent.com/assets/811954/5034555/ea044a00-6bd4-11e4-9699-4dc632c009d8.png)

[2014-11-13 19:10] danielcompton opened #2219 "Add newline to the end of generated cabal file"
The default generated cabal file doesn't have a newline at the end of the file. This displays funny in the terminal when `cat`ing it, and is changed the first time that the file is saved in a standard text editor that normalises file endings. When diffing it in git we get `\ No newline at end of file` shown in the diff.

[2014-11-13 19:24] jcpetruzza opened #2220 "Sandboxes can't be updated concurrently"
I am sharing a sandbox between several related projects and have an initialization script that:

 1) sets up the main sandbox (e.g. `cd global-sandbox; cabal sandbox init`)
 2) adds some sources (e.g., `cabal sandbox add-source patched-library`)
 3) for each project, initializes the shared sandbox (e.g. `cd project; cabal sandbox init --sandbox=global-sandbox`).

This setup worked fine until I tri

[2014-11-13 21:06] #1060 closed, assigned to nobody

[2014-11-14 12:52] gracjan opened #2222 "Hackage changes render cabal.config settings inconsistent and result in configure failure"
Story:
1. I used cabal freeze to have cabal.config in place.
2. Things were running smoothly for a couple of months.
3. Recently did 'cabal update'.
4. cabal install --only-dep stopped working with 'Dependency tree exhaustively searched'.
5. Applying a change to cabal.config solves problem:
   -             transformers-compat ==0.3.3.4,
   -             transformers-compat ==0.3.3.3,
6. Works aga

[2014-11-14 17:10] bitemyapp opened #2223 "Show the build log on `cabal install`"
User probably has to fix it anyway. Don't be obnoxious about it.

http://www.reddit.com/r/haskell/comments/2m9gz2/pet_haskell_peeve_cabals_last_10_lines_of_the/

[2014-11-14 17:32] #2223 closed, assigned to nobody

[2014-11-15 03:48] htebalaka opened #2224 "CABAL_SANDBOX_CONFIG error handling"
I was playing around with a script to auto-update the CABAL_SANDBOX_CONFIG to the current sandbox and display the current sandbox in my PS1 variable (if any sandboxes are encountered from the current directory to the root), and encountered what I think is a bug in cabal. If the CABAL_SANDBOX_CONFIG variable is set to an empty string, a lot of commands fail in a very uninformative manner. For insta

[2014-11-15 17:45] sergv opened #2225 "Cabal coverage feature does not work well with custom build directory"
When trying to get hpc for package usngcustom build directory, e.g. `/tmp/dist`, the `hpc markup` tool does not produce the final report because it does not check the right directory for *.mix files.

It seems that `hpc markup` assumes that build directory is located in current directory so it appends "./" to search paths by default (see last line of the log). I can instruct `hpc markup` to look f

[2014-11-15 23:21] 23Skidoo opened #2227 "'cabal update': download index.tar.gz files in parallel"
If the user has specified more than one `remote-repo`, it'd be nice if 'cabal update' could download the index files in parallel. Same for generating cache files.

[2014-11-16 21:09] #2225 closed, assigned to nobody

[2014-11-17 11:02] nikita-volkov opened #2228 "An option for installing oldest dependencies"
I suggest to add an option to `cabal install`, which would make the resolver choose the lowest versions of dependencies supported by the bounds of the package.

Such a feature would be very useful for testing the lower bounds of dependencies, with, e.g. Travis.

[2014-11-17 15:07] ppetr opened #2229 "Use parallel compilation during ./bootstrap.sh run in parallel, if GHC supports it"
During the bootstrap process a lot of packages are compiled and using parallel compilation would speed up the process considerably.

[2014-11-17 21:10] bitemyapp opened #2230 "Bootstrap install of cabal-install should go into a common path, such as /usr/local/bin"
https://gist.github.com/grownseed/4fd2e91eca829cc039de

GHC does this. Cabal should too, the inconsistency is pointless.

[2014-11-17 21:23] #1884 closed, assigned to 23Skidoo

[2014-11-17 22:26] #2213 closed, assigned to nobody

[2014-11-19 07:49] snoyberg opened #2236 "Custom ghc-options lost when calling cabal build in sandbox"
Actions:
1. Set up a project that has a warning in it when compiled with -Wall (I took `acme-missiles` and removed a type signature).
2. `cabal sandbox init`.
3. `cabal install --ghc-options="-Wall -Werror"`
4. As expected, above fails due to warning
5. `cabal build`

Expected: fails again

Actual: Get the surprising output:

[code]

Note that during testing, I switched between a cabal-install com

[2014-11-20 01:20] #2236 closed, assigned to nobody

[2014-11-20 03:57] bitemyapp opened #2237 "cabal upload --check broken"
[code]

[2014-11-20 04:54] #2237 closed, assigned to nobody

[2014-11-20 09:47] 23Skidoo opened #2238 "Add an include-with-filtering mechanism for config files"
In #2226 I changed how list fields work in config files to make the behaviour less surprising. This is still not quite satisfactory: ideally we'd want to replace implicit inheritance with an explicit `include` mechanism to make it more obvious what happens. So, for example, instead of implicitly mappending `cabal.config` with `cabal.sandbox.config` and `~/.cabal/config`, we would require the user

[2014-11-27 01:52] thomie opened #2240 "/usr/local hard-coded"
This is a migration. GHC Trac user 'donn' reports in https://ghc.haskell.org/trac/ghc/ticket/5827:
- libraries/Cabal/Cabal/Distribution/Simple/InstallDirs.hs:defaultInstallDirs returns "/usr/local"
- and in same directory, Hugs.hs packageDbPaths includes "/usr/local/lib/hugs/packages"
-  and cabal-install/bootstrap.sh forces PREFIX=/usr/local/.
- ... and, I don't think it actually matters? but als

[2014-11-27 17:38] ghost opened #2241 "Missing strip program"
Using cabal.git 6c395bb I see the following message:

[code]

[code]

Is this safe to ignore or a bug?

[2014-11-27 19:07] nh2 opened #2242 "Add -w flag to cabal fetch"
I can `cabal fetch mypackage.cabal` to fetch all dependencies declared in a cabal file.

However, cabal will only do that for my default ghc; the packages that have to be downloaded for a different ghc version might be different.

It would be great if there was a `cabal fetch -w` flag, like there is for e.g. `cabal install`.

[2014-11-28 18:09] arey0pushpa opened #2244 "Even Cabal Sandbox Idris not installing"
sabbath@sabbath-Studio-XPS-1645:~/idris-install$ ghc --version
The Glorious Glasgow Haskell Compilation System, version 7.8.3

sabbath@sabbath-Studio-XPS-1645:~/idris-install$ cabal --version
cabal-install version 1.20.0.3
using version 1.20.0.2 of the Cabal library

-------------------------------------------------------------------------------------------------------------------

sabbath@sabbath

[2014-11-29 15:50] lspitzner opened #2245 "Add cabal freeze flag -w --with-compiler"
Currently freeze neither respects a `configure`d option nor allows setting it.
Actually i found no way to `freeze` with a custom compiler version.

I just noticed this when testing which commands exactly get affected by `configure`; i do not currently need this functionality.

See related issues (asking for -w for other commands): #2177 #2242

[2014-11-30 01:49] tjdurant opened #2246 "Error with cabal install of pandoc"
I am getting an error that I am not sure how to fix:

I installed the Haskell platform and I also installed cabal -version 1.18.0.5

I was trying to install pandoc before I knew I could build it from cabal and I tried to use a windows batch file called 'make-windows-installer' from the tar.gz file that I had downloaded. I ran it, and it looked like it was installing bunch of stuff, and then my com

[2014-11-30 09:51] mwotton opened #2247 "second "cabal build" fails with a mention of "Spec.hs""
I modified the underlying Cabal slightly to get it to print a stack trace by calling errorWithStackTrace rather than just calling "die" in findFile, and got this result.

[code]
Notice that it seems to be calling sdist rather than build.

Oddly, if i cabal clean, then cabal build again, it works, but if i even run "cabal configure" first, the following cabal build fails with this error.

cabal con

[2014-11-30 15:59] yongqli opened #2249 "cabal-install mis-detects Cabal version"
If I create a new cabal sandbox and run `cabal install cairo`, everything is fine. But if I run `cabal install Cabal` first, I get the following error:

[code]

What could be causing this?

[code]

[2014-11-30 16:36] #2246 closed, assigned to nobody

[2014-12-02 20:15] hvr opened #2251 "improve dist/setup-config format mismatch detection"
@dcoutts asked me to file this:

I was having this weird issues with the devel version of `cabal` where some `cabal` invocations would fail with the following rather non-obvious error message

[code]

Even with `-v3` this is the very first output you get from `cabal`. Only `strace` provided the hint that `setup-config` was the last file read before that error message was emitted.

(the underlying

[2014-12-03 12:12] ghost opened #2252 "cabal install cabal-install fails"
When I tried `cabal install cabal-install`, it failed.

[code]

This is my current ghc and cabal version.

[code]

[2014-12-03 14:20] KasperJanssens opened #2253 "cabal sdist generates invalid package for hackage server"
cabal sdist is normally used to generate a package for hackage server. However when the name of the cabal file and the name of the project aren't the same (e.g. they have a difference in casing) cabal sdist will just create the package but hackage server will never accept it. It would be best for cabal sdist to return a warning or an error for this, makes it a little more clear. Got an open issue

[2014-12-03 15:56] #2252 closed, assigned to nobody

[2014-12-03 20:46] #2207 closed, assigned to nobody

[2014-12-04 18:03] #1959 closed, assigned to nobody

[2014-12-05 07:14] snoyberg opened #2256 "Immutable remote-repos get unnecessary "too old" warning"
Actions: set a remote repo to something like:

[code]

Run `cabal update`. A few days later (in my case, 16, I don't know the exact cutoff in the cabal-install codebase) run `cabal update` again. You'll see something like:

[code]

The issue is that Stackage server uses cache headers to indicate that the package index hasn't changed. But cabal-install continues to believe that the package index is

[2014-12-05 23:09] ezyang opened #2257 "Filter out ranlib: file: foo.a(Bar.o) has no symbols warning"
With signatures, we may link libraries that have no objects. On Mac OS X, arlib will complain if you try to make a library with no objects. Cabal should filter out these messages as they are harmless.

I tried to see if we did anything like this already, like we do in GHC, but I didn't see anything.

[2014-12-05 23:23] ezyang opened #2258 "Mac OS X Mountain Lion tar doesn't support --format flag"
When attempting to `./setup sdist -v`

[code]

[2014-12-08 13:18] HJvT opened #2260 "cabal: 'parseField' called on a non-field"
I received the following message from cabal-install:

[code]

This happened after I added the following to the .cabal file:

[code]

The full .cabal file that caused this:

[code]

[2014-12-10 03:21] bitemyapp opened #2262 "Cabal should suggest updating more prominently when it gets an unknown package."
[code]

[2014-12-10 04:23] bitemyapp opened #2263 "Suggest reconfigure with build fails with stripping error"
[code]

[2014-12-10 04:33] #2258 closed, assigned to nobody

[2014-12-10 13:59] VidhyaApple opened #2264 "Compilation error - cabal"
I have source tarball cabal 1.20 and cabal-install 1.20 .When I try to run  cabal using the command "ghc -threaded --make Setup" and when I run cabal-install using "sh.bootstrap.sh"
am getting the below mentioned error. Pls help!

Distribution/Package.hs:120:59:
    No instance for (NFData Version)
      arising from a use of `rnf'
    Possible fix: add an instance declaration for (NFData Version)

[2014-12-10 22:02] mietek opened #2265 "'freeze' ignores existing constraints"
As mentioned in https://github.com/haskell/cabal/pull/1519#issuecomment-25211352:

It appears that as currently implemented, `cabal freeze` ignores any constraints set both in the local `cabal.config` file, and in the global `~/.cabal/config` file.  Re-running `cabal freeze` with no packages installed results in a new set of constraints, matching the newest available versions of all dependencies.

[2014-12-11 06:08] #1486 closed, assigned to nobody

[2014-12-11 07:53] #2264 closed, assigned to nobody

[2014-12-11 07:54] #2143 closed, assigned to nobody

[2014-12-11 23:54] alexander-b opened #2266 "Test all possible version permutations for all dependencies"
A very powerful and neat feature would be for cabal to try building (and testing) the project with all possible permutations of specified dependencies (respecting bounds) to identify versions that do not work.

An option for testing the possible permutations for a specific set of dependencies would also be useful.

An option for only testing x.y or x (as opposed to x.y.z) would be useful as well.

[2014-12-12 04:07] lostfictions opened #2267 "cabal install cabal-install doesn't update package manager's version"
I'm just getting started with Haskell on Ubuntu and was briefly confused: after installing `haskell-platform` via APT and then running `cabal install cabal-install`, the `cabal` command was reporting still being on the old version. Looks like it doesn't override/overwrite the package manager's version:

[code]

Apologies if this is a duplicate/known issue! It was a little hard to search for.

[2014-12-12 07:39] #2267 closed, assigned to nobody

[2014-12-13 06:18] bitemyapp opened #2271 "Support alternate ways of referring to packages in build-deps"
So that private packages are easier to work on.

With this thread in mind: https://twitter.com/Blaisorblade/status/543572310113153024

Does anyone have any ideas of what might be a nice way to better support users of Haskell on projects with private dependencies? git submodules and cabal sandbox add-source is too manual / script-y.

[2014-12-13 07:33] joostshao opened #2272 "Could not find module ‘Data.Text.Lazy’"
Failed to install parsec-3.1.7
Last 10 lines of the build log ( /home/ubuntu/.cabal/logs/parsec-3.1.7.log ):
    Could not find module ‘Data.Text’
    There are files missing in the ‘text-1.2.0.3’ package,
    try running 'ghc-pkg check'.
    Use -v to see a list of the files searched for.

Text/Parsec/Text/Lazy.hs:19:18:
    Could not find module ‘Data.Text.Lazy’
    There are files missing in th

[2014-12-13 15:39] #2272 closed, assigned to nobody

[2014-12-13 15:42] #2271 closed, assigned to nobody

[2014-12-14 07:38] mietek opened #2274 "Enhancement: Strip sandboxes thoroughly"
As [previously mentioned](https://github.com/haskell/cabal/issues/1622#issuecomment-62076817): Cabal sandboxes could be stripped far more thoroughly than they currently are.

On Linux, [Halcyon](https://halcyon.sh/) runs `strip --strip-unneeded` on every file found in the sandbox.  I have not found any issues with this approach over at least six months of testing.

Limited testing was also perform

[2014-12-14 19:05] bitemyapp opened #2275 "Don't make me run configure if you know that's what needed done to do what I wanted"
[code]

This falls into JFDI territory.

[2014-12-15 06:06] blackgnezdo opened #2276 "Suboptimal parseInstalledPackageInfo performance"
My search for ghc-pkg memory consumption described in https://ghc.haskell.org/trac/ghc/ticket/9885 led me to parseInstalledPackageInfo.  The following simple program will eat up 8G of memory:

The memory profile looks something like this:
(953)>>=...(...)

    many1
    many
    sepBy1
    sepBy
    parseSepList
    parseOptCommaList
    listField
    installedFieldDescrs
    accumFields.setField

[2014-12-16 16:59] luite opened #2278 "Cabal exec, hc-pkg do not take configure flags into account"
The following does not make `cabal hc-pkg` use `ghcjs-pkg`, since it only looks at the cabal config files, not the persistent build info:
[code]
To make it use `ghcjs-pkg`, the configuration has to be modified, which is rather inconvenient:
[code]
The same goes for the `cabal exec` command

[2014-12-17 21:33] ndmitchell opened #2279 "Windows binary for cabal-1.20.0.4 is not available"
I was hoping to find it in https://www.haskell.org/cabal/release/cabal-install-1.20.0.4/, but it's not.

Would be good to have as we rely on it for MinGHC, see https://github.com/snoyberg/minghc/issues/11#issuecomment-67365200

[2014-12-17 22:12] hvr opened #2280 "manual cabal flag toggled by modular solver"
With GHC 7.9/7.10, only `deepseq>=1.4.0.0` is installable.

`semigroups-0.16` has the following flag defined:

[code]

and it's used for toggling a build-dep:

[code]

So it's expected that `semigroups-0.16` isn't installable with GHC 7.9/7.10. However, Cabal decides to toggle the `deepseq` flag, even though it isn't allowed to:

[code]

as you can see in the logging output above, surprisingly `de

[2014-12-17 22:22] ttuegel opened #2281 "HPC module interfaces are overwritten if multiple compilation ways are enabled"
Originally mis-filed as a [GHC bug](https://ghc.haskell.org/trac/ghc/ticket/9040) by @cartazio on my advice. The simple solution is to separate the HPC module interface files by way: `prof`, `dyn` etc.

[2014-12-18 05:22] luite opened #2283 "Parallel builds on Windows broken"
It might be my setup, but unless I pass `-j1`, builds often fail completely on Windows, with zero byte build log files, so that isn't terribly helpful either.

Latest GHC HEAD with Cabal master, i686, MSYS2 shell

[2014-12-18 14:52] #1568 closed, assigned to nobody

[2014-12-18 17:34] peti opened #2285 "cabal-install-1.20.0.4 test suite doesn't compile"
The error message says:

[code]

I believe that the Cabal file specifies inconsistent requirements on `network` in the executable and test suite stanzas.

[2014-12-18 17:36] #2285 closed, assigned to nobody

[2014-12-18 18:43] peti opened #2287 "Please support random 1.1"
cabal-install works fine with `random 1.1`. It would be great if the build would allow that version.

[2014-12-18 21:29] yongqli opened #2288 "Can't change dependencies using flag"
In my program I have a flag that indicates whether to build using CUDA or not. This is to allow compiling the program on computers that can't have CUDA related dependencies installed. When I do:

    cabal configure -f cuda

I get:

    setup: At least the following dependencies are missing:
    accelerate-cuda -any, cuda -any

That makes sense, as I do not yet have the CUDA dependencies installed

[2014-12-18 23:09] #1944 closed, assigned to nobody

[2014-12-19 06:30] #2281 closed, assigned to ttuegel

[2014-12-19 09:30] #2287 closed, assigned to nobody

[2014-12-19 09:58] tibbe opened #2290 "Test suite fails due to rpath changes"
There are several test failures (that I unfortunately missed before merging) related to rpath. These need to be fixed before the 1.22 release or we'll need to roll back the rpath changes. @christiaanb can you please take a look. This was most likely introduced by #2255.

[code]

To reproduce on OS X 10.9.5:

[code]

[2014-12-19 10:09] #2290 closed, assigned to nobody

[2014-12-19 11:05] #1800 closed, assigned to nobody

[2014-12-19 14:10] #2283 closed, assigned to nobody

[2014-12-19 15:39] hvr opened #2291 "Language extensions to be registered for Cabal 1.22"
GHC 7.10 currently has a couple of new language extensions not yet registered in `Cabal`:

The following 4 should go in in any case:

 - `PatternSynonyms`
 - `PartialTypeSignatures`
 - `NamedWildcards`
 - `DeriveAnyClass`

The following one should probably not go in yet:

 - `StaticPointers` (current impl. in GHC 7.10 considered a prototype)

[2014-12-19 17:51] luite opened #2292 "Cabal does not parse C compiler flags correctly"
`ghc --info` reports the C compiler flags as a single string, but `configureToolChain` expects a list, which means the reported values get ignored:

https://github.com/haskell/cabal/blob/4aabb4f4b1c7fb6446ce619ddfdfa0d19516c721/Cabal/Distribution/Simple/GHC/Internal.hs#L149-L151

This should be fixed before #1910 is usable.

[2014-12-19 17:54] ghost opened #2293 ""cabal init" fails if git is not installed"
[code]

[2014-12-19 18:03] #2293 closed, assigned to nobody

[2014-12-19 19:53] #2194 closed, assigned to ezyang

[2014-12-21 02:25] cartazio opened #2295 "cabal 1.22 / head cant' find strip on OS X"
~ $ cabal install random
Resolving dependencies...
Configuring random-1.1...
Warning: Unable to strip executable or library
'setup-Simple-Cabal-1.22.0.0-x86_64-osx-ghc-7.8' (missing the 'strip' program)

with cabal/cabal-install 1.22

bizarrely, i dont get that warning with -v1 or -v3

[2014-12-21 11:39] #2295 closed, assigned to nobody

[2014-12-23 03:39] luite opened #2297 "Haddock support broken due to package keys"
Cabal is still using the old-fashioned `-package-name` flag with haddock, which results in warnings.

Hackage also needs some updates, since it cannot determine the version from packages that are not in a package database (often the one currently being compiled), and panics if package lookup fails.

see https://github.com/haskell/haddock/issues/353

[2014-12-24 00:59] #2241 closed, assigned to 23Skidoo

[2014-12-24 06:29] hamishmack opened #2299 "Would it make sense to add a way to disable -hide-all-packages?"
Every now and then people ask why they have to explicitly add `build-deps` to their `.cabal` file in Leksah (or why they need a `.cabal` file at all when `ghc --make` works just fine).  We have a feature in Leksah that adds missing build dependancies based on the ghc error message (just press Ctrl+R).  But this is not a perfect solution:
- The build dependencies are not removed when they are no lo

[2014-12-24 16:28] aslatter opened #2300 "A way to override cabal.config for sandboxes"
I'd like to turn off haddock-creation for sandboxes (because it's expensive to build and I already have Hackage docs and user-level docs).

My options look like:
1. Turn off documentation in ~/.cabal/config. I don't like this because I want user-level documentation.
2. Turn off documentation in $PROJECT/cabal.config. I don't like this because this will have a side-effect of turning off user-level

[2014-12-24 18:34] DougBurke opened #2301 "Unable to build packages added via 'cabal sandbox add-source': dist/dist-sandbox-2c3ad105/package.conf.inplace already exists"
Background: I tried out the ghc 7.10 RC and was seeing some strange issues, which I took to be due to differences between cabal-install and the Cabal libraries in the RC. So I installed both Cabal and cabal-install using ghc 7.8.4 from GitHub (commit id is below), and am seeing some strange behavior with using the sandbox add-source option with ghc-7.8.4.

I have a package for which I have

[code]

[2014-12-25 01:54] 2piix opened #2302 "Make Cabal sandboxes relocatable"
This is a minor feature request.  I've done some experimentation and it all seems to work, but I haven't read or written any Cabal source code.

I would like Cabal sandboxes to be relocatable.  Effectively, this means that the sandbox would be unaware of its location in the file system.  As far as I know, this should not be a problem, since the sandbox only points to files inside its container.

H

[2014-12-26 03:43] cdepillabout opened #2304 "have `cabal init` create Main.hs"
I often use `cabal init` when creating a new package, often before I've even started writing any code.  Using `cabal-install` version 1.20.0.4, it doesn't seem like `cabal init` will create `Main.hs` for you, even if it doesn't already exist.

It would be nice `cabal init` created a short Main.hs for you, if it doesn't already exist.

Ideally, I'd like to be able to have the following workflow:

[

[2014-12-26 10:43] k-bx opened #2305 "Bootstrap failure network-uri <2.6"
Hi!

If you clone this repo https://github.com/k-bx/docker-ghc-7.8 and run `sudo docker build .` you will (probably) see following error upon `./bootstrap.sh` stage:

[code]

Please check it out.

[2014-12-28 01:07] pomutemu opened #2307 "cabal-install-1.20.0.4 install fails on Windows 8.1 x64"
[code]

`cabal install cabal-install-1.20.0.3` is OK.

[2014-12-29 03:23] DylanLukes opened #2308 "Add "cabal nuke" command"
Given how regularly people find themselves needing to empty `ghc-pkg`, delete and uninstall cabal, and otherwise just nuke all of their packages, it would be nice to have a "safe" way to do so.

So let there be `cabal nuke`. After asking if you're sure (twice!) it should return the package list to a known stable state (e.g. the base set of packages and nothing more).

[2014-12-30 17:39] mietek opened #2309 "Regression: 'update' enforces 'require-sandbox'"
Between 1.20.0.3 and 1.20.0.5, `cabal update` started enforcing the `require-sandbox` option, and now can fail with:

[code]

I think this is too restrictive. Does anyone think otherwise?

[2014-12-31 12:36] ghost opened #2310 "8282e5ff broke bootstrap.sh"
Either bootstrap.sh's do_network_uri_pkg() (introduced in 8282e5ff) has to be run before installing HTTP, or there's another fault.

[code]

[2014-12-31 14:10] #2310 closed, assigned to nobody

[2015-01-01 07:57] fujimura commented on #2304
In my understanding, `cabal init` is a command to cabalise the exisiting project. So, generating files are a bit different from original purpose.

Aside from original purpose, I think if `cabal init` generates sufficient files to start new project, it'd be helpful for many developers.

[2015-01-01 13:42] tuncer commented on #2310
Same problem on first `sh bootstrap.sh`, and it only succeeds if you execute `sh bootstrap.sh` a second time.

[2015-01-01 16:32] sheyll commented on #1493
I will make an experimental version on the fork I have in my github account, and notify you here.
Maybe what's there works, but I have not test-covered or implemented all affected parts yet, go ahead and try.
To answer your question: yes.
Happy new year, too.

[2015-01-01 16:44] tibbe commented on #2310
@tuncer you get the same error?

[2015-01-01 16:57] tibbe commented on #2310
@tuncer also, could you include the output of `ghc-pkg list` and compiler version so we know what you're starting with before the bootstrap.

[2015-01-01 17:00] tibbe commented on #2310
I just successfully bootstrapped from master using GHC 7.8.3 with an empty user package DB and a global package DB containing:

[code]

[2015-01-01 17:19] 23Skidoo commented on #2307
So not a Cabal issue.

[2015-01-01 17:19] #2307 closed

[2015-01-01 17:20] #2305 closed

[2015-01-01 17:21] 23Skidoo commented on #2291
/cc @tibbe

[2015-01-01 17:21] #2288 closed

[2015-01-01 17:28] 23Skidoo commented on #2279
I've uploaded the 1.20.0.6 binary to https://drive.google.com/file/d/0B-gmfQNqT8HtdlRoYVdvQ09MWm8/view?usp=sharing

[2015-01-01 17:35] tibbe commented on #2291
Care to whip up a pull request against master @hvr?

[2015-01-02 19:20] hvr opened #2311 "`cabal install haskell-src-exts-1.10.1` indeterministically fails to regenerate the happy parser"
I noticed this because with GHC 7.8.4 `cabal install haskell-src-exts-1.10.1` would sometimes succeed and sometimes fail with a compile failure in `InternalParser.hs`, depending on whether it was regenerated or not (GHC 7.8.4 requires parsers created by a  recent enough `happy`)

I tracked this down to the way source-tarball are extracted, which seem to ignore the timestamps recored in the tarball

[2015-01-02 21:04] tuncer commented on #2310
GHC 7.8.4 linux-amd64

[code]

[2015-01-02 22:17] jberryman opened #2313 ""unrecognized `--disable-executable-profiling'" with sandbox and -w flag"
I'm trying to build a package for GHC 7.10 RC1 and getting errors I don't understand. To reproduce:

    jberryman /tmp » cabal --no-require-sandbox  update                                                                                                                                                                                      1 ↵
    Downloading the latest package list from hackage.haske

[2015-01-02 22:38] tibbe commented on #2310
Could you try with latest master?

[2015-01-02 23:15] tuncer commented on #2310
Thanks, f12ad21 fixes it.

[2015-01-03 13:00] gracjan opened #2316 "Improve 'Could not resolve dependencies' message"
So I got this message after trying to bump monad-control:

cabal: Could not resolve dependencies:
trying: conduit-1.2.1/installed-488... (user goal)
trying: conduit-1.2.1/installed-488... (user goal)
next goal: monad-control (user goal)
rejecting: monad-control-0.3.2.2/installed-aae... (global constraint requires
==1.0.0.1)
rejecting: monad-control-1.0.0.1 (conflict: conduit =>
monad-control==0.3.

[2015-01-03 15:42] #2291 closed

[2015-01-03 15:42] 23Skidoo commented on #2316
/cc @kosmikus

[2015-01-03 16:10] kosmikus commented on #2316
I think we can improve the message, but this isn't a solver issue (or at least only partially so). "conduit" is listed as a "user goal", which means the solver is *called* with "conduit" as a goal. It's *not* an (indirect) dependency. Probably this is due to sandboxing which invokes the solver with additional goals. We should probably change the invocation of the solver when called from a sandbox

[2015-01-03 18:08] gracjan commented on #2316
Note:

    cabal sandbox hc-pkg hide conduit

Changes nothing.
Command:

    $ cabal sandbox hc-pkg unregister conduit
    ghc-pkg: unregistering conduit would break the following packages:
    soap-0.2.2.4 xml-conduit-writer-0.1.1.1 xml-conduit-1.2.3
    conduit-extra-1.1.5 yaml-0.8.9.3 (use --force to override)

And then:

    $ cabal sandbox hc-pkg unregister conduit --force
    cabal: unrecogn

[2015-01-03 18:14] gracjan commented on #2316
Note: After all the messing:

    $ cabal install --only-dep --max-backjumps=-1
    Resolving dependencies...

Never ends. Or at least I could not wait longer.

[2015-01-04 00:37] kaiko commented on #2305
1.20.0.6 works.
1.18.0.5 works.
Inital error still arises for 1.18.0.6 and 1.18.0.7 (Setup: At least the following dependencies are missing: network <2.5).

Dockerfile:

    FROM debian:wheezy
    RUN apt-get update && apt-get -y upgrade
    RUN apt-get -y install make curl bzip2 gzip libffi-dev libgmp-dev zlib1g-dev

    RUN curl -s http://downloads.haskell.org/~ghc/7.8.4/ghc-7.8.4-x86_64-unknown

[2015-01-04 13:25] rtpg commented on #2308
Are there possible issues with e.g. people installing the Haskell Platform through their own package manager?

[2015-01-04 19:19] tibbe commented on #2305
@kaiko I've release cabal-install-1.18.0.8, hopefully fixing the issue.

[2015-01-05 00:07] nh2 opened #2318 "Cached sandbox installs"
I'd like to suggest and discuss a potential feature:

A `cabal install --cached` that, when run in a sandbox, checks if there's already a package with that version present in `~/.cabal` and just registers it in the `./.cabal-sandbox/*-packages.conf.d/`.

So no downloading and compilation in case the package had already been compiled on this machine.

If a package to be installed with `--cached` is

[2015-01-05 02:04] asr opened #2319 "Missing changelog entries for some versions of Cabal and cabal-install"
There are not `changelog` entries for Cabal 1.20.0.2 and 1.20.0.3, and cabal-install 1.20.0.4, 1.20.0.5, 1.20.0.6 and 1.22.0.0.

[2015-01-05 04:25] mietek commented on #2214
It would be nice to have this fixed.

[2015-01-05 04:35] mietek opened #2320 "ghc-pkg: cannot create: dist/package.conf.inplace already exists"
Build directories (`dist`) created with _cabal-install_ 1.20.0.3 are not usable with _cabal-install_ 1.22.0.0.

While removing the build directory is a viable workaround, the underlying issue may be manifesting itself in other ways.  https://github.com/haskell/cabal/issues/2301 seems related.

[2015-01-05 04:40] mietek commented on #2316
I expect you are running into an issue related to https://github.com/snoyberg/conduit/issues/194. You probably want `streaming-commons-0.1.8` and `conduit-extra-1.1.6.2`.

[2015-01-05 12:46] peti opened #2321 "Cabal-1.22.0.0 test suite does not compile"
Preprocessing test suite 'package-tests' for Cabal-1.22.0.0...

    tests/PackageTests.hs:37:8:
        Could not find module ‘PackageTests.ReexportedModules.Check’
        Use -v to see a list of the files searched for.

[2015-01-05 12:52] 23Skidoo commented on #2321
/cc @tibbe

[2015-01-05 13:20] peti opened #2322 "Cabal 1.22.0.0 does not compile with GHC 7.6.3"
Building `./Setup.hs` fails with the following error:

    Distribution/Simple/Configure.hs:127:22:
        Module `Data.Binary' does not export `decodeOrFail'

A complete build log is at http://hydra.cryp.to/build/301439/nixlog/1/raw.

[2015-01-05 13:22] 23Skidoo commented on #2322
You need a newer version of `binary`, as specified in `Cabal.cabal`.

[2015-01-05 13:22] peti commented on #2322
The same issue exists with GHC 7.4.2: http://hydra.cryp.to/build/301520/nixlog/1/raw.
With GHC 7.2.2, the build log is even shorter: http://hydra.cryp.to/build/300831/nixlog/1/raw

[2015-01-05 13:22] peti commented on #2322
@23Skidoo, the build never gets to interpret the Cabal file if `Setup.hs` doesn't compile.

[2015-01-05 13:26] 23Skidoo commented on #2322
It should work if you install `Cabal` with `cabal-install`.

[2015-01-05 13:26] peti commented on #2322
Also, I wonder what the consequences are if I build that library with a newer version of `binary` that doesn't match the core library shipped with the compiler? Won't that get me into trouble when mixing Cabal 1.22.x with other libraries that use the core `binary` library?

[2015-01-05 13:29] peti commented on #2322
@23Skidoo, yes, I know that I can work around this issue by using an older version of `cabal-install` for bootstrapping. That process is not exactly ideal, no? I'm sure many people still use GHC 7.6.3, and not many of them will not realize what the error message they get means and how they can remedy it. It would be great if `ghc --make Setup && ./Setup configure` would do something useful for a l

[2015-01-05 13:38] 23Skidoo commented on #2322
If you use `cabal-install` to manage dependencies it will make sure that the only one version of `binary` is used. Though it shouldn't matter for Cabal.

You can also use the `bootstrap.sh` script. I guess we could add a bootstrap script for `Cabal` itself that'd validate the versions of the dependencies.

[2015-01-05 13:42] peti commented on #2322
@23Skidoo, I'm not sure what you are saying. Do you care about the fact that `ghc --make Setup.hs` won't succeed with pre 7.8.x compilers? Or do you feel that this issue is irrelevant because there are other ways to build the library?

[2015-01-05 13:43] ttuegel commented on #2214
Working on this now. I have changed my mind about how this should be implemented. We need to save the flags given to configure in a totally version independent way, so I'm just going to serialize the result of `getArgs` into `dist/setup-config-flags`. When we need to reconfigure, we'll just invoke `main` with the saved arguments using `withArgs`. This may still fail between versions when the comma

[2015-01-05 13:44] tibbe commented on #2322
@dcoutts thoughts? Should we try to have Cabal build with the version of binary that shipped with GHC 7.6?

/cc @kolmodin

[2015-01-05 13:54] 23Skidoo commented on #2322
-1 on that. This means adding more `#ifdef` cruft and will likely produce a broken Cabal (due to bugs in old versions of `binary`).

I don't think there's a satisfactory way to make `ghc --make Setup.hs` work, but we could add a bootstrap script similar to `cabal-install/bootstrap.sh` that'd validate that you have the right versions of all dependencies and install them for you if they're missing.

[2015-01-05 13:55] ttuegel commented on #2322
The only way we are going to get Cabal to build with `binary < 0.7` is to remove the binary LBI feature. It relies on the "new" generics support. But, the library will be buildable with `GHC >= 7.2`.

[2015-01-05 15:12] tibbe commented on #2320
@ezyang I guess this is due to switching away from single-file package DBs?

[2015-01-05 15:13] rcallahan commented on #2320
Trying to install local packages from a specified .cabal file always fails with this error, and there appears to be no directory I can delete to make it work.

[2015-01-05 15:13] tibbe commented on #2322
@ttuegel I'm guessing that anything that could be derived using Generics could be generated manually (i.e. using boilerplate instances)?

[2015-01-05 15:14] tibbe commented on #2320
@rcallahan can you please give steps to reproduce?

[2015-01-05 15:45] #2321 closed

[2015-01-05 15:50] rcallahan commented on #2320
Removing ~/.cabal worked. Before that, I could delete everything in that directory, create a new sandbox, and I would still get the ghc-pkg error. I don't know what might have been cached in ~/.cabal that would interfere in this way, and it's probably not worth trying to reproduce.

[2015-01-05 15:50] ttuegel commented on #2322
@tibbe Yes, we could do the instances by hand. There are ~50 instances derived via generics right now. Is that the direction we want to go, given that we're trying to get rid of bootstrap scripts?

[2015-01-05 15:54] tibbe commented on #2322
@ttuegel Good question. I don't know what to do yet. What's the path we want to give users who want to bootstrap?

[2015-01-05 16:16] dan-t opened #2323 "Handling / pretty printing of GenericPackageDescription changed in Cabal 1.22"
Now parsing a cabal file with `parsePackageDescription` and pretty
printing it with `showGenericPackageDescription` will result into a cabal
file where every section contains the 'build-depends' field twice.

Previously the dependencies have been resolved into `CondNode.condTreeConstraints`
and the field `BuildInfo.targetBuildDepends` has been emptied.

Now it seems that both - `CondNode.condTreeC

[2015-01-05 16:38] tibbe commented on #2323
Do you know which commit introduced the regression?

[2015-01-05 16:43] dan-t commented on #2323
On Mon, Jan 05, 2015 at 08:38:16AM -0800, Johan Tibell wrote:

No, I hoped that someone on the mailing list might have an idea.

[2015-01-05 17:01] ttuegel commented on #2322
@tibbe What about bringing in the necessary parts of `binary` into the Cabal tree under `Distribution.Compat.Binary` (internal module)? I think we would just need the generic instance from the library. `binary` is a small library anyway, and compatibly licensed. For GHC >= 7.8, it would just re-export the relevant bits of the actual `binary` library.

[2015-01-05 19:32] NobbZ commented on #2321
So how can we install cabal-install until the next release? I'd like to update but it fails because of this…

[2015-01-05 19:37] ddssff commented on #2320
Right now I have a package with a directory named dist/package.conf.inplace dated December 22nd created by Cabal.1.21.1.0.  I now have Cabal-1.18.1.3 installed (that is, 1.21.1.0 has been removed) and if I runhaskell Setup build I get the message Setup: dist/package.conf.inplace: inappropriate type.  I think just creating that directory and running "runhaskell Setup build" in almost any cabal tree

[2015-01-05 19:43] tibbe commented on #2321
Running the cabal test suite isn't necessary to install cabal. Running

[code]

should work. If not check if you adding something like `tests: True` or similar to your ~/.cabal/config.

[2015-01-05 21:00] gracjan commented on #2316
Thanks for the hint. I have a couple of people and a couple of automatic build systems building.Telling then to try out different options depending on what happens to currently be in their sandbox and/or global registry is not an option.

[2015-01-05 21:21] wereHamster opened #2324 "cabal command to remove unused packages"
Bundler has a subcommand 'clean' which removes all unused gems. This is useful when one upgrades dependencies and wants to get rid of the packages which are afterwards unused.

Building Haskell projects on travis (https://travis-ci.org/) is time consuming because all the dependencies have to be installed afresh for each build. Cabal sandboxes don't help because nothing is preserved between builds.

[2015-01-05 21:23] ezyang commented on #2320
Yeah, the fix for inplace should be simple, cooking it up.

The situation if your .cabal database is single-file is more delicate.

[2015-01-05 22:32] ezyang commented on #2320
@rcallahan So, are you sure you deleted your `~/.cabal` folder, and that solved the problem, as opposed to your `~/.ghc` folder? Because package databases are normally stored in `~/.ghc`, although we've stored those as directory-style databases for quite some time now.

[2015-01-05 22:33] ezyang commented on #2301
Hello @DougBurke , can compile and run this version of Cabal: https://github.com/ezyang/cabal/compare/cabal-packagedb and see if this fixes your issue?

[2015-01-05 22:51] #2320 closed

[2015-01-05 22:52] dan-t commented on #2323
It seems to be 31719ae9215024159ad9de4b74ac10c8e7a87d42.

[2015-01-06 01:04] DougBurke commented on #2301
Unfortunately I am unable to replicate the original problem; I don't know what I've done to my system between now and then that could have changed things (or perhaps I forgot some tweak that I made then).

[2015-01-06 05:40] Rufflewind commented on #1325
You know, this would be awfully useful for something like MPI which has its own wrapper command for `cc`, namely `mpicc` (a rather questionable decision but I can't change that).

Using `-pgmc` doesn't work because Cabal disregards the `ghc-options` when compiling C source as @cartazio pointed out in the other ticket.

[2015-01-06 08:30] 23Skidoo commented on #2323
/cc @ezyang

[2015-01-06 10:05] dcoutts commented on #2311
Well done tracking it down to the tarball timestamps.

[2015-01-06 10:17] dcoutts commented on #2311
Using the timestamps when unpacking seems like a sensible thing to do.

The issue with ghc-7.8 and older happy should be dealt with separately as a special case.

[2015-01-06 14:09] mhwombat commented on #2309
I'm having the same problem with `cabal list` and `cabal info`. I don't think those commands, or `cabal update` should require the sandbox.

[2015-01-06 16:12] twittner opened #2326 "regression: `local-repo` no longer works in sandboxes"
Commit 5fcf3d994e5c5a0f101ac04e092a8beedadcdc8d changed the semantics of `local-repo` and other settings to "override" instead of "append" which makes it impossible to specify additional local repositories when using sandboxes with cabal-install >= 1.20.0.4.
### Steps to reproduce
1. Create a fresh sandbox somewhere.
2. Add a `cabal.config` file to the sandbox and specify as `local-repo` the one f

[2015-01-06 17:14] DylanLukes commented on #2308
@rtpg That's why it would be important to have a solid base set of packages. As I understand it GHC (relevant since ghc-pkg is part of GHC) already ships with a default set of packages in global.

`cabal nuke` should just reset to the package state as of the last GHC upgrade.

[2015-01-06 17:20] ezyang commented on #2323
One tentative proposal is to make `ppConTree` stop calling `ppDeps`. But I'm a bit worried: do we ever merge nodes of the CondTree over: that is to say, could the BuildInfo information be out-of-date?

Also, I don't see anywhere in the fingered commit where I start preserving data that previously had been dropped. @dan-t, are you sure that's the commit/

[2015-01-06 18:44] 23Skidoo commented on #2326
I'd really prefer to not special-case `remote-repo`. The fact that

[code]

doesn't work looks like a bug; what if you try

[code]

instead?

Related: #2238.

[2015-01-06 18:46] dan-t commented on #2323
This seems to fix it:

    diff --git a/Cabal/Distribution/PackageDescription/Parse.hs b/Cabal/Distribution/PackageDescription/Parse.hs
    index 0e7b0bf..c5667a5 100644
    --- a/Cabal/Distribution/PackageDescription/Parse.hs
    +++ b/Cabal/Distribution/PackageDescription/Parse.hs
    @@ -1254,6 +1254,5 @@ buildDependsWithRenaming pkg =

     setBuildDependsWithRenaming :: [DependencyWithRenamin

[2015-01-07 00:05] ezyang commented on #2323
Ugh, I'm having traumatic flash backs about this piece of code. Your fix will work as long as the CondTree code which fills in BuildInfo later always produces the same list of dependencies in targetBuildDepends. Which, if it does, one must wonder: then why is it nobbling about with this at all? Or if it never gets filled in, why do we have a targetBuildDepends to begin with?

I don't have the pati

[2015-01-07 01:36] bitemyapp opened #2327 "doctest integration for Cabal"
New summary by @ezyang.

The goal of this task is to add a new command `Setup doctest`, which runs the doctest command on all of the modules of each component in a package, in much the same way `Setup haddock` runs `haddock` on all the modules of each component in a package.

There are a number of steps to implementing this:

1. You have to add the boilerplate for setting doctest up as a new comma

[2015-01-07 06:54] mietek commented on #1915
Ping?

[2015-01-07 10:54] twittner commented on #2326
The order of `local-rep` does not matter. The cause of this bug is the fact that `cabal.sandbox.config` settings replace the ones on `cabal.config`. This is true also for other settings (e.g. `build-summary`). I am not too well acquainted with cabal's code base but I was surprised by the usage of `overrideSandboxSettings`, i.e. I would have expected:

[code]
But I may be barking up the wrong tree.

[2015-01-07 11:40] alexanderkjeldaas commented on #936
I disagree with a lot of what is said in this discussion, and even the bug description!

@gregorycollins said: "Man in the middle attacks are much less of a problem than the other glaring security issues we have (lack of package signing and ability for anyone with a hackage account to push any package are much bigger ones.)".

This is misunderstanding the threat.  That type of attack on hackage is

[2015-01-07 12:43] lspitzner commented on #2309
related: #1889

[2015-01-07 12:55] twittner commented on #2326
To expand on this a bit--imagine a team of developers working on a shared code-base. Every developer clones the repository to a different location on his workstation. They already use a `cabal.config` file to freeze dependencies, i.e. this file is part of revision control. With the new semantics every developer has to make local changes to this file which conflicts with those of his collaborators.

[2015-01-07 17:26] mhwombat commented on #2301
I'm having the same issue after upgrading to cabal 1.22.0.0 and ghc 7.8.4, and working with a brand new sandbox. Ed, when I click on your link (https://github.com/ezyang/cabal/compare/cabal-packagedb) I see the message "There isn't anything to compare.". If you want me to try another repo, let me know.

[2015-01-07 17:42] DekwoKybon opened #2328 "Debugging doesn't work anymore"
After updating cabal all kind of errors occurred. I had to follow these instructions (http://stackoverflow.com/questions/23432510/cabal-install-1-20-0-0-fails-to-install-on-os-x) to fix that error.

I don't know if it is somehow related to the fact that debugging doesn't work anymore. I get the exact same error as reported here:
http://stackoverflow.com/questions/27204678/how-to-make-the-debug-fun

[2015-01-07 17:45] ezyang commented on #2301
It got merged, though it doesn't look like the PR got closed? We haven't done a new release yet, so for the fixed version install something from Cabal HEAD.

[2015-01-07 21:21] lspitzner commented on #1886
i think this can be closed now that #2259 is merged.

[2015-01-08 01:52] nh2 opened #2329 "cabal check misclassifies -dynamic as debug flag, prevents hackage upload"
I'm trying to upload [`call-haskell-from-anything`](https://github.com/nh2/call-haskell-from-anything) to Hackage. It fails with `cabal check`'s

[code]

because I have `-dynamic`.

`call-haskell-from-anything` doesn't make sense without the `-dynamic` flag, but that isn't really relevant since the core problem is that just checking if the flag starts with `d`:

[code]

isn't a good way to classif

[2015-01-08 02:58] nh2 opened #2330 "Cabal 1.22 breaks/changes -dynamic builds"
For [`call-haskell-from-anything`](https://github.com/nh2/call-haskell-from-anything) I'm getting a broken TravisCI build on the same code when the only thing that changed is the version of cabal obtained with `cabal install cabal-install`; before it was 1.20 which worked fine, now with 1.20 it breaks.

The broken build is [this one](https://travis-ci.org/nh2/call-haskell-from-anything/jobs/462698

[2015-01-08 05:16] tibbe commented on #2330
Can you try to call cabal with -v2 and -v3 and paste the difference (presumably we pass different flags to the compiler.)

[2015-01-08 05:17] tibbe commented on #2329
Cabal version?

[2015-01-08 05:17] #1886 closed

[2015-01-08 11:17] 23Skidoo commented on #2329
This is already fixed in HEAD/1.22 (921921619ff69a7b7d524c6e94dd912859dc51f7). Please open a ticket on the `hackage-server` tracker.

[2015-01-08 11:17] #2329 closed

[2015-01-08 12:04] bhillis opened #2331 "cabal update APPCRASH Windows Server 2008 R2"
On a fresh installation of Windows Server 2008 R2, when with minghc-7.8.3 or minghc-7.8.4-x86_64 installed and when using cabal-1.22.0.0-i386-unknown-mingw32 directly downloaded from https://www.haskell.org/cabal/release/cabal-install-latest/, running cabal update starts the process but on reaching

    Downloading the latest package list from hackage.haskell.org

the following appears

![image](h

[2015-01-08 12:15] 23Skidoo commented on #2331
Probably an issue with the `network` library.

[2015-01-08 12:18] 23Skidoo commented on #2331
Can you please compile and run [this test program](https://gist.github.com/23Skidoo/c8d6ab1684ea11195a04) and report us the results?

[2015-01-08 13:27] nh2 commented on #2329
Filed in https://github.com/haskell/hackage-server/issues/308 - thanks!

[2015-01-08 14:47] nh2 commented on #2330
Hey Johan,

yes, the output is different.
Note that differences only appear when using GHC 7.8; 7.6 and 7.4 behave the same with both cabal versions.

The builds:

* OK: [cabal 1.20 v2](https://travis-ci.org/nh2/call-haskell-from-anything/builds/46317950) and [v3](https://travis-ci.org/nh2/call-haskell-from-anything/builds/46317959)
* breaking: [cabal 1.22 v2](https://travis-ci.org/nh2/call-haskel

[2015-01-08 14:47] dan-t commented on #2323
On Tue, Jan 06, 2015 at 04:05:50PM -0800, Edward Z. Yang wrote:

I think the major issue here is, that `GenericPackageDescription` is on
one side used as the representation of the parsed cabal file, in which
case `targetBuildDepends` represents the `build-depends` field of a
cabal file section, and on the other side its used as some kind of
intermediate representation during the resolving of depen

[2015-01-08 15:05] tibbe commented on #2330
@christiaanb is this related to the support for relocatable packages that you added?

[2015-01-08 16:08] christiaanb commented on #2330
Yes, this is due to the support for relocatable packages that I added. Specifically, that Cabal takes over the RPATH handling from GHC. What is happening is the following:

* Cabal 1.20 lets GHC handle RPATHs, which will add an RPATH for the __build__ location of the library in a dynamically linked executable. This is actually wrong, see #1568. Because when the executable is installed, and the `di

[2015-01-08 16:23] dcoutts commented on #2330
It's also worth noting that building shared libs like this is not actually supported by Cabal (though it's certainly useful). Ideally I'd like to add dedicated support, so that we don't need fragile hacks like people are using now (indeed I'm one of the people using such fragile hacks).

[2015-01-08 16:37] nh2 commented on #2330
Thanks @christiaanb for your explanation, it [works](https://github.com/nh2/call-haskell-from-anything/commit/9a401087ebb293a1e0cc8764e8c3dcf47b84fce4).

From my side, the issue is solved. It seems sensible to me to have to set `LD_LIBRARY_PATH`.

If you think there's a way/place to better document this stuff, feel free to reopen the issue.

Thanks for everybody's quick help, as usual!

[2015-01-08 16:37] #2330 closed

[2015-01-08 18:17] lspitzner opened #2333 "cabal update/list/info do not accept (the explicitly advertized) --no-require-sandbox flag"
[code]

similarly for update/info

i _would_ test this on latest HEAD if cabal would compile (attempts still pending)

[2015-01-08 19:29] lspitzner commented on #2070
i think this (too) can be closed now that #2259 is merged.
`cabal build` help text mentions `COMPONENTS` argument.
`cabal run` help text mentions `EXECUTABLE` argument. note that `cabal run` cannot be called with testcases (i have not tested with benchmarks; my guess is that it does not work either).

[2015-01-08 21:01] bhillis commented on #2331
I will prefix this with saying that I am quite new to haskell, so I might miss some of the intricacies. The fact that I am I am not sure what environment you wanted the test program built in so I downloaded the 64-bit Haskell Platform 2014.2.0.0 and used it to build the application.

I got the following output:

[code]

I then attempted to use cabal that was supplied with the Haskell Platform (cab

[2015-01-08 21:05] bhillis commented on #2331
OK, so I managed to do a `cabal install cabal-install` which built a version of cabal 1.22.0.0 using the packages supplied by default in the 2014.2.0.0 Haskell Platform. This build version is able to update the package list without issue. I also checked with a cleaned out package cache and confirmed it works correctly.

So it looks like it is something in one of the libraries that the pre-compiled

[2015-01-08 21:09] #2070 closed

[2015-01-08 22:27] lspitzner opened #2334 "lack of documentation of how to compile and run the tests for Cabal and cabal-install"
**the following is an error/dialogue arising because i did _not_ know how to run the tests properly**

reproduce:
check out HEAD, go to ./Cabal, and

[code]

`cabal` here refers to 1.22.0.0 or HEAD version; same result.
i know that `run` makes no sense for Cabal lib, and `test` would require `--enable-tests`, but that does not excuse the problems.

[2015-01-08 22:31] lspitzner commented on #2334
and i am aware you are still fighting with the bootstrapping stuff in general; it is hard for me to tell if this is a duplicate; sorry if it is.

[2015-01-08 22:35] ttuegel commented on #2334
Because of the `setup-config` format change in 1.22, you can't use an older cabal-install to build. You need to `ghc --make Setup; ./Setup configure` etc.

[2015-01-08 22:39] lspitzner commented on #2334
building is not the problem. note that i _am_ using `cabal` executable >=1.22.0.0 in that session.

[2015-01-08 22:42] ttuegel commented on #2334
Sorry, I didn't make my edit clear enough. You simply *cannot* do an in-tree build of Cabal using cabal-install. Cabal has to build itself, so it writes it's own `setup-config`. But, when you call `cabal <anything besides configure>`, it checks the `setup-config`, finds that it's the wrong version (the bootstrap version), and asks you to reconfigure. This has been the case since we made cabal-inst

[2015-01-08 22:45] ttuegel commented on #2334
Probably, we should just disable automatic reconfigure for packages not using the `Simple` build system.

[2015-01-08 23:39] lspitzner commented on #2334
hmm ok i see, that worked, thanks. although stuff is kinda annoying if you wanna use sandboxes.
btw. `cabal build` _does_ succeed (in contrary to the `cabal <anything besides configure>` claim).

shouldn't this kind of change in how building works be announced on the mailing list? (i might have missed it in the reports around the release, but i don't think i did.)

also, `HACKING.md` needs updatin

[2015-01-08 23:47] lspitzner commented on #2334
more concretely, the paragraph HACKING.md:24ff needs rewriting.
Thinking about it, the `README.md`'s probably are fine as they are, as the intended audience for those is the library/executable user, not the developers.

[2015-01-09 02:42] crockeea commented on #2313
I'm getting a similar error when installing Cabal-1.22.0.0:

[code]

[2015-01-09 03:48] leonbaum commented on #1621
How does `cabal exec` help one use the user package db in a sandbox?

I have many large packages installed in my user db that I don't want to re-install for every sandbox I create.  Is there no way to share them between sandboxes?  For standard setups, I really don't understand the problem with sharing the user db..

[2015-01-09 05:16] bitemyapp opened #2335 "`cabal sandbox add-source`'d dependency change breaks project"
<command line>: cannot satisfy -package-id library-name-0.0.1.1-ea35c15586df25e2dc602af2d8e3f148

Have to `cabal clean` or nuke and reinstall the whole sandbox.

Shouldn't have to do either of those things.

[2015-01-09 05:18] mwotton commented on #2335
have seen this too.

[2015-01-09 05:43] ttuegel commented on #2313
`--enable-executable-profiling` is now just `--enable-profiling`. It was dishonestly named in the first place, because you need library profiling enabled, too. You probably have `executable-profiling: True` in your `$HOME/.cabal/config`, which now should be `profiling: True`.
https://github.com/haskell/cabal/blob/master/Cabal/changelog

[2015-01-09 07:25] alevy commented on #1621
It doesn't help you use the user package db, it kind of does the opposite.

`cabal exec` ensures that when you run a command, that command runs in an environment that's the same as the one `cabal install` uses. If you have a cabal sandbox, that environment **exludes** the user database, which in your case is kind of the opposite of what you want, I think.

[2015-01-09 07:38] 23Skidoo commented on #2331
It was built with the latest 32-bit Haskell Platform (2014.2.0.0).

[2015-01-09 07:48] 23Skidoo commented on #2335
Would be nice to have a small reproducible test case.

[2015-01-09 07:51] tibbe commented on #2313
We should keep the old flash as well for backwards compat.
On Jan 9, 2015 6:43 AM, "Thomas Tuegel" <notifications@github.com> wrote:

[2015-01-09 08:06] 23Skidoo commented on #2313
I thought we did.

[2015-01-09 08:28] 23Skidoo commented on #2308
Note that for sandboxes there's `cabal sandbox delete`.

[2015-01-09 15:01] 23Skidoo commented on #2331
Can you please build the test program I supplied with 32-bit HP?

[2015-01-09 18:43] Javran opened #2337 "cabal configure should complain when given wrong arguments"
I mistyped `cabal configure --bindir=<dir>` as `cabal configure -bindir=<dir>`, not a single warning is given, but `cabal copy` will still copy binaries to their default locations.

[2015-01-09 20:27] bos opened #2338 "cabal-install 1.22.0.0 fails to compile"
I'm using ghc 7.4.2 and cabal-install 1.20.0.3 to try to upgrade cabal-install, but it fails:

[code]

[2015-01-09 20:32] bos commented on #2338
The issue is that the lower bound on the `network` package is bad. The earliest version of `network` that has an `Ord` instance for `Network.URI` is 2.4.0.0.

The problem can be worked around by compiling with `-fnetwork-uri`, but this is not obvious without some sleuthing.

[2015-01-09 23:36] tibbe commented on #2338
I've fixed the already uploaded version. I will include an updated lower bound in the next patch release.

[2015-01-09 23:39] #2338 closed

[2015-01-10 00:13] acfoltzer opened #2339 "Linker problem when installing alex on CentOS 5 with newer cabal-install"
Okay, yikes, esoteric issue title, I know.

On a 32-bit CentOS 5 machine, I've got three installations of `cabal-install` and `Cabal`:

[code]

Keeping GHC versions the same at 7.8.3, just switching `cabal`s, I try installing `alex` into a fresh sandbox. The 1.18.0.3 install goes swimmingly. The 1.20.0.3 and 1.22.0.0 installs however fail to link the `alex` executable at the end of the build:

[co

[2015-01-10 00:48] tibbe commented on #2339
There are two changes that could be related:

 1. We now support relocatable packages on some platforms. @christiaanb knows more about that.
 2. There's 685bbaee45e7fb90bd39974fd51f14716d2818c4, which changes how we build C sources for dynamic linking (we didn't do it correct before).

[2015-01-10 05:08] bhillis commented on #2331
Crash when the test program is built with 32-bit HP. Error similar to the original bug report. No issue with 64-bit HP.

Interestingly, 32-bit HP can run the test app with ghci in interpreted mode. Either, way, doesn't seem to be a cabal bug.

[2015-01-10 07:50] mietek commented on #2339
Would either of these changes affect 1.20.0.3?

[2015-01-10 08:22] HJvT opened #2341 "Cabal-install crashes when downloading a package"
cabal-install crashed each time a package was to be downloaded; adding the line:

[code]

to the file %appdata%\cabal\config solved the problem.

OS: Windows 8.1
Haskell Platform: 2014.2.0.0
cabal-install: 1.20.0.4 and 1.22.0.0

[2015-01-10 08:33] christiaanb commented on #2339
One thing I notice is that 1.20 and 1.22 do things like:
`/usr/bin/strip dist/dist-sandbox-d8d63bac/build/libHSprimitive-0.5.4.0-ghc7.8.3.so --strip-unneeded`

Where 1.18 does not do that any symbol stripping of the libraries.
I'm quite sure that I did not touch any symbol-stripping related aspects in my relocatable packages patch.

[2015-01-10 09:57] mietek opened #2342 "Regression: Idris custom Setup.hs breaks"
Something changed between 1.20.0.3 and 1.22.0.0, causing the Idris custom [`Setup.hs`](https://github.com/idris-lang/Idris-dev/blob/master/Setup.hs) to include invalid values.

Looking at `dist/build/autogen/Paths_idris.hs`, both `libdir` and `datadir` seem wrong:
[code]

See also https://github.com/idris-lang/Idris-dev/issues/1836.

[2015-01-10 10:06] mietek commented on #1927
Looks like I opened this without realising #1889 was already open.  Sorry.

[2015-01-10 10:06] #1927 closed

[2015-01-10 10:54] mietek commented on #2339
@acfoltzer: Does that also happen when linking `alex-3.1.3`, or just the newly-released `alex-3.1.4`?

[2015-01-10 12:49] luite commented on #2342
Are you using `cabal-install` 1.22 with Cabal library 1.20? (for example in a sandbox where user db Cabal library is not visible)

[2015-01-10 12:59] mietek commented on #2342
Indeed, a sandbox.

[2015-01-10 13:00] luite commented on #2342
And does the problem go away if you install Cabal 1.22 in the sandbox?

[2015-01-10 13:24] luite commented on #2342
A bit more background info for if you want to investigate: `$abi` is a new variable in 1.22 that should uniquely identify the compiler in terms of binary compatibility.

What I think happened is that you initialized the sandbox with 1.22, then configured with `cabal-install`, which had to fall back to 1.20 because of the external setup method forced by the custom setup type and no visible 1.22 Cab

[2015-01-10 17:16] peti opened #2343 "readPackageDescription >>= writeGenericPackageDescription adds strange duplicate stanza"
I used the following test program

    import Distribution.PackageDescription.Parse ( readPackageDescription )
    import Distribution.PackageDescription.PrettyPrint ( writeGenericPackageDescription )
    import Distribution.Verbosity

    test :: FilePath -> IO ()
    test cabalFile = readPackageDescription deafening cabalFile >>= writeGenericPackageDescription (cabalFile++"-new")

to read, parse

[2015-01-10 21:42] lspitzner commented on #2333
the config option/flag `ignore-sandbox` is broken as well. config value seems to be ignored, and `--ignore-sandbox` is not accepted.
(btw require-sandbox=True + ignore-sandbox=True should always abort with error, right?)
(tested on 1.22.0.0)

[2015-01-10 21:51] lspitzner commented on #2334
i hope repurposing the ticket in this way is ok.

[2015-01-10 22:13] ttuegel commented on #2334
Actually, I'm looking into the build vs. test thing. They both call `reconfigure` in the same way, so the should either both fail or both work. The fact that one works and not the other suggests something isn't working as intended.

[2015-01-10 22:18] lspitzner opened #2344 "`cabal install --package-db=user` results in an internal error"
[code]

tested with both 1.22.0.0 and HEAD at 0daccdec60f97f198bbf04a888bb8f327841d4cf, with no sandbox and require-sandbox=false.

[2015-01-10 22:20] lspitzner opened #2345 "description of the --package-db flag is lacking"
the the difference between cabal help text

and description froom userguide (https://www.haskell.org/cabal/users-guide/installing-packages.html)

Also i believe that the latter description is still wrong; when not specifying a package-db packages installed in user db are still found. Given that i ran into #2344 when trying to find out what is going on, i am not sure what the _supposed_ behaviour i

[2015-01-11 05:22] jessicah commented on #1568
Is there some magic incantation I need to pass to Cabal to make this work?

I've just downloaded pandoc sources from Hackage, and run:

    ~> cd pandoc-1.12.4.2
    ~/pandoc-1.12.4.2> cabal install --force-reinstalls
    ~/pandoc-1.12.4.2> readelf -a /boot/system/non-packaged/bin/pandoc | more
    ...
      0x00000001 (NEEDED) Shared library: [libHSpandoc-1.12.4.2-ghc7.8.3.so]
    ...
     0x0000

[2015-01-11 13:02] tibbe commented on #2322
Should be fixed on 1.22 branch by the commits from #2332 which I cherry-picked onto the 1.22 branch.

[2015-01-11 13:04] #2322 closed

[2015-01-11 13:57] capsjac opened #2348 "Add support for Android"
The hackage server rejects `os(android)` notation in .cabal file.
Would it be possible to add support for Android OS?

[2015-01-11 14:38] fujimura opened #2349 "Allow cabal to execute user-defined subcommands"
I propose to add a functionality to allow Cabal to execute user-defined subcommands like `git`.
With this, user or library author can add their custom command like `cabal doctest` etc. (see #2327).

I tried to implement this roughly and basic part is working.
https://github.com/fujimura/cabal/compare/user-defined-subcommands?expand=1

If you can agree with this, I'm happy to finish implementation

[2015-01-11 17:05] tibbe commented on #2349
How do users create subcommands with your approach?

@dcoutts thoughts?

[2015-01-11 17:17] luite commented on #2349
If this is added, it should probably use the existing `cabal exec` functionality (and perhaps extend it where needed) to work with the correct package environment. Just having `cabal userCommand` as an alias for `cabal-userCommand` isn't terribly useful by itself in my opinion (which is what I understand it's doing in the WIP, correct me if i'm wrong).

[2015-01-11 17:30] tibbe commented on #2349
We should also look at other systems, e.g. git, and see how they provide this kind of facility. @dcoutts and I have discussed this in the past. For example, it would be useful to allow a subcommand to run in an environment where the preprocessors have already been run*.

* An example of such a use case is a source code indexer (think hashtags). Here we want to process the source code with our own

[2015-01-11 20:31] ttuegel commented on #2334
I have diagnosed this problem somewhat further. It seems to have been introduced at the same time as sandboxes. The `reconfigure` function correctly ignores bad-version errors, so something must go wrong after that.

[2015-01-11 23:31] ttuegel commented on #2313
I thought we kept, too. Fixing that now...

[2015-01-12 01:26] ttuegel commented on #2313
OK, I fixed this in master, and I backported it to the 1.22 branch, since this is a regression from 1.20.

[2015-01-12 01:31] tibbe commented on #2313
Thanks!

[2015-01-12 10:31] fujimura commented on #2349
@tibbe

By creating an executable prefixed with `cabal-` and put it under PATH. In most case, it will be a Cabal package with executable since it's Haskell.

What I used to test the code above is:

[code]

Git seems to be just invoking executable starts with `git-` in PATH. RubyGems has interface to register custom command(http://ruby-doc.org/stdlib-2.2.0/libdoc/rubygems/rdoc/Gem/CommandManager.ht

[2015-01-12 11:19] CRogers commented on #2320
This keeps happening to me, seemingly randomly, whenever I `cabal configure` or `cabal repl` a new cabal project. I'm also working on a ide plugin that has a integration test suite which makes a whole load of new cabal projects and runs `cabal repl` - I get seemingly random test failures from the `dist/package.conf.inplace already exists` error.

    ~ $ cabal --version
    cabal-install version 1

[2015-01-12 12:24] tibbe commented on #2320
I think we have a fix in the pipeline for Cabal-1.22.0.1, due later this
month. If you're impatient you can check out the github repo and install an
updated version from there.

On Mon, Jan 12, 2015 at 12:19 PM, Callum Rogers <notifications@github.com>
wrote:

[2015-01-12 13:26] CRogers commented on #2320
Still doesn't work for me. Although I'm starting to suspect it's because my IDE starts up two `cabal repl` instances at the same time, both of which do a `cabal configure`. It could be that the first makes a `package.conf.inplace` and then the second comes along and errors that `package.conf.inplace ` has already been made. I don't know if this would be a legitimate cabal bug (perhaps there should

[2015-01-12 15:33] tfausak opened #2353 "Cabal format duplicates dependencies"
Running `cabal format` duplicates the `build-depends` section and duplicates dependencies in that section. For example, with this Cabal file:

[code]

Repeatedly running `cabal format` produces this:

[code]

[code]

[code]

I would expect `cabal format` to not make any changes to the given Cabal file. I'm using GHC version 7.8.3 and Cabal version 1.22.0.0.

[2015-01-12 16:24] tibbe commented on #2353
/cc @benarmston

On Mon, Jan 12, 2015 at 4:33 PM, Taylor Fausak <notifications@github.com>
wrote:

[2015-01-12 18:44] acfoltzer commented on #2339
@mietek same problem occurs for alex-3.1.3.

@christiaanb this sounds promising, since the break appears to be going from 1.18 -> 1.20, and lo and behold passing `--disable-library-stripping` causes the installation to succeed.

For the purposes of this ticket then, the question is whether we should run `strip` by default on older platforms? This distro of course uses a positively ancient version:

[2015-01-12 19:20] acfoltzer commented on #2339
It looks like the `--strip-unneeded` option to `strip` 2.17 incorrectly strips the `Threefish_256_Process_Block` symbol from the `threefish_block.o` file in the static archive. I installed binutils 2.18, and it works correctly.

To save others some grief, I think we should put a check in `Distribution.Simple.Program.Strip` like we have for some entire platforms that skips library stripping for 32-

[2015-01-12 20:15] 23Skidoo commented on #2331
OK, please file this at the `network` library bug tracker then. The problem may also have been caused by `HTTP`.

[2015-01-12 20:15] #2331 closed

[2015-01-12 20:24] #2217 closed

[2015-01-12 20:24] #2219 closed

[2015-01-12 20:27] 23Skidoo commented on #2348
Yes, see [`Distribuiton.System`](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/System.hs).

[2015-01-12 20:28] 23Skidoo commented on #2349
Is this the same as aliases? I think there's already a ticket for that.

[2015-01-12 20:30] 23Skidoo commented on #2339
Yes, look at [`tarProgram`](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/Simple/Program/Builtin.hs#L323) for an example, where we check whether it supports `--format`.

[2015-01-12 21:24] tfausak commented on #1240
:+1:

I think #2147 resolved this ambiguity.

[2015-01-12 23:37] RobertHarper opened #2355 "cabal-install doesn't"
I am running Mac OS X 10.10 on two platforms (a MacBook Air and an iMac).  I use mac ports to perform an upgrade after the updates; this included upgrading GHC to version ghc @7.8.3_1.  I suspect the problems I'm experiencing are a matter of version skew, but I haven't been able to work them out.

When I tried to install Agda, after the GHC upgrade, cabal asked me to update, which I duly did.  It

[2015-01-12 23:57] 23Skidoo commented on #2355
Likely a Clang CPP issue. Others (@cartazio?) would know more.

found at /usr/bin/alex is version 3.0.2`

Try running `cabal install happy alex` before installing `Agda`.

[2015-01-13 00:15] RobertHarper commented on #2355
thanks.  i appear to be in some desperately screwed up state, for reasons unknown.  i deinstalled ghc from macports, and re-installed the haskell platform from haskell.org <http://haskell.org/> from scratch.  i deleted .cabal entirely, then did cabal update, then cabal install Agda:

~> cabal install Agda
Resolving dependencies...
Configuring STMonadTrans-0.3.2...
Configuring boxes-0.1.3...
Failed

[2015-01-13 00:23] 23Skidoo commented on #2355
You also need to delete `~/.ghc`.

[2015-01-13 00:30] RobertHarper commented on #2355
did that too, but forgot to mention it in my previous, sorry.

-----------------------------
Bob Harper
Carnegie Mellon CSD
rwh@cs.cmu.edu
-----------------------------

[2015-01-13 00:37] RobertHarper commented on #2355
after doing a clean install (afaik), i just tried to build cpphs, which Agda happens to need, but anyway it should build, i guess:

 sudo activate-hs 7.8.3

Haskell now set to:
    GHC      7.8.3
    Arch.    x86_64
    Platform 2014.2.0.0

View documentation with this command:
    open /Library/Haskell/doc/start.html
~> cabal update
Config file path source is default config file.
Config file /Use

[2015-01-13 00:52] 23Skidoo commented on #2355
I strongly suspect that there is some old state left over. What's the output of `ghc-pkg check`?

[2015-01-13 00:55] RobertHarper commented on #2355
ghc-pkg check
WARNING: cache is out of date: /Library/Frameworks/GHC.framework/Versions/7.8.3-x86_64/usr/lib/ghc-7.8.3/package.conf.d/package.cache
Use 'ghc-pkg recache' to fix.

-----------------------------
Bob Harper
Carnegie Mellon CSD
rwh@cs.cmu.edu
-----------------------------

[2015-01-13 01:00] RobertHarper commented on #2355
doing the suggested recache allows me to build cpphs!  building Agda now, but that takes a bit starting from nothing, but is building smoothly at the moment.  thanks for the help so far!

-----------------------------
Bob Harper
Carnegie Mellon CSD
rwh@cs.cmu.edu
-----------------------------

[2015-01-13 01:05] RobertHarper commented on #2355
i spoke too soon, now i get a truly strange situation.  i build cpphs-1.18.6 (the current default, it seems), and then while building Agda it complains of exactly not having this version that i installed moments before!  i am rather confused ...

~> cabal install cpphs
Resolving dependencies...
Configuring polyparse-1.11...
Building polyparse-1.11...
Installed polyparse-1.11
Downloading cpphs-1.18

[2015-01-13 01:08] 23Skidoo commented on #2355
Is `cpphs` in PATH? You may need to add `~/.cabal/bin` to `PATH`.

[2015-01-13 01:11] RobertHarper commented on #2355
yes, it turns out that there is a link to the old cpphs in ~/Library/Haskell/bin, via an old installation of ghc.  i'll check my PATH.  thanks!

bob
-----------------------------
Bob Harper
Carnegie Mellon CSD
rwh@cs.cmu.edu
-----------------------------

[2015-01-13 03:20] cartazio commented on #2355
1) whats the output of `ghc --settings`
2) you aren't using sudo anywhere aside from `activate-hs` right?

i personally dont recommend haskell platform for precisely these reasons :)

sounds like the problems solved now?

[2015-01-13 04:00] RobertHarper commented on #2355
hi carter,

i have to sudo to remove .ghc completely, otherwise yes.  earlier this evening i removed everything i could find related to haskell, and i noticed that there were some symbolic links in /usr/local/bin pointing to the GHC framework, which i removed (don’t ask my how they got there, over time i guess).  after that i reinstalled the haskell platform from scratch, then did a cabal install

[2015-01-13 04:29] cartazio commented on #2355
hrm, perhaps https://ghcformacosx.github.io/ would be a bit easier to get up and running, or at least worth considering? @etrepum is the author there, and it has a MUCH simpler install and UX than haskell platform.

[2015-01-13 04:33] RobertHarper commented on #2355
thanks for all the help, i appear to have resolved the problem by (a) removing everything i could find related to haskell and cabal, and (b) removing even more, and (c) reinstalling the haskell platform, then running cabal to update and install cabal-install, and then the build of Agda completed without incident.

mikhail’s tips helped resolve some problems, and gave me hints about where to look f

[2015-01-13 04:34] RobertHarper commented on #2355
never heard of it.  i’ll check it out.

bob

[2015-01-13 05:48] fujimura commented on #2349
Not same as aliases. Aliases discussed in https://github.com/haskell/cabal/issues/1089 is to extend existing commands, not to add new command.

Just FYI, Links below are articles about how to add custom command to git.
http://stackoverflow.com/questions/10978257/extending-git-functionality
http://thediscoblog.com/blog/2014/03/29/custom-git-commands-in-3-steps/

[2015-01-13 07:42] snoyberg opened #2357 "Disabled test suites cause spurious test failures"
This seems to be a regression in cabal-install 1.22 (or Cabal, not sure). As an example, unpack mwc-random-0.13.3.0 and run `cabal test`. With cabal-install 1.22, I get the output:

[code]

With 1.20, I get the far more useful:

[code]

[2015-01-13 07:44] tibbe commented on #2357
I agree that the 1.20 behavior is better. We should revert to the old behavior and add a unit test to make sure it doesn't regress.

[2015-01-13 07:46] snoyberg commented on #2357
Cool, thanks for the quick response @tibbe.

[2015-01-13 07:50] #2339 closed

[2015-01-13 07:51] tibbe commented on #2323
So what do we do about this? I have the bug assigned to the Cabal-1.22.0.1 milestone, but I don't know how to fix it. Any volunteers?

[2015-01-13 08:58] dan-t commented on #2323
On Mon, Jan 12, 2015 at 11:51:30PM -0800, Johan Tibell wrote:

I think that removing 'condTreeConstraints' from the pretty printing
might be the best solution, because it's not part of the cabal file,
so why should it be printed?

But I don't know if any other parts in cabal depend on the pretty printing of
'condTreeConstraints'.

If nobody complains about the removal, then I can do it.

[2015-01-13 12:50] hsenag opened #2358 "cabal test should set GHC_PACKAGE_PATH"
I have a package that dynamically loads another package at runtime via hint.

When I build it with a cabal sandbox, the test suite fails to find the other package if run with "cabal test", but works fine when run with "cabal exec".

I guess that "cabal test" should be setting GHC_PACKAGE_PATH like cabal exec does?

I get this with cabal 1.20 and 1.22.

[2015-01-13 13:18] tibbe commented on #2358
Probably applies to benchmarks too. I think this is @23Skidoo and @ttuegel's area of expertise. The proposed solution seems reasonable to me.

[2015-01-13 13:53] kazu-yamamoto commented on #2357
Is this also relating to this bug? https://github.com/kazu-yamamoto/unix-time/issues/29

[2015-01-13 13:58] 23Skidoo commented on #2355
Glad to have helped.

[2015-01-13 13:58] #2355 closed

[2015-01-13 14:25] hesselink commented on #2313
I've just compiled the 1.22 branch, and while this is fixed for `--enable-executable-profiling`, it isn't for `--enable-library-coverage`:

[code]

This seems to be coming from [here](https://github.com/haskell/cabal/blob/f2a07d2cd181540e7cc6c49b7f88178fe1eb4c6e/Cabal/Distribution/Simple/Configure.hs#L302).

[2015-01-13 14:34] tibbe commented on #2313
@ttuegel can you fix coverage as well please?

[2015-01-13 14:57] tibbe commented on #2313
This is a bit trickier than I initially thought. @dcoutts told me that cabal-install needs to check which Cabal version it ended up compiling the setup executable against and then make sure it passes flags that this version understands.

@dcoutts is there an example of us already doing this?

[2015-01-13 15:01] hesselink opened #2359 "Warning trying to determine version of `strip` on OS X"
Using cabal-install 1.22 (current head of that branch) I get a warning:

[code]

This is on OS X, where strip doesn't seem to support the `--version` flag. So it seems there's nothing I can do about this warning, and it's only cluttering up the output.

[2015-01-13 15:07] 23Skidoo commented on #2359
/cc @acfoltzer

[2015-01-13 15:28] ttuegel commented on #2313
I think now it was a mistake to change the semantics of the `ConfigFlags` field behind these options. I am going to bring back the old fields with the old semantics and *add* new fields with the correct semantics (for the new, short-name options). It's not enough to make `--enable-executable-profiling` etc. synonyms for the new options because old scripts could expect the old semantics, wrong as t

[2015-01-13 19:24] #2359 closed

[2015-01-14 16:22] 23Skidoo commented on #2311
Related: #130.

[2015-01-14 21:56] dcoutts commented on #2323
I'm happy with removing it from the pretty printing.

In the new data structure that I'll eventually commit, I only have the constraints as a field in the body and don't lift them out specially as we do with the current data structure, so this issue would disappear entirely.

[2015-01-14 21:59] 23Skidoo commented on #2323
Fixed by #2364.

[2015-01-14 21:59] #2323 closed

[2015-01-15 11:20] dan-t commented on #2323
Will the version containing this fix be 1.22.0.1?

That would be a bit unfortunate, because the cabal macros like MIN_VERSION_Cabal are only operating on the first three numbers and I most likely need some CPPing to make my tools backward compatible.

[2015-01-15 16:16] nh2 opened #2365 "Faster cabal builds by caching the build directory"
Imported from [reddit](http://www.reddit.com/r/haskell/comments/2s8bk7/faster_cabal_builds_by_caching_the_build_directory/):

I got annoyed that every time I build something in a new cabal sandbox I have to wait for the same versions of `lens` or `haskell-src-exts` to compile forever.

Couldn't we just cache the build directory from which we installed a package instead of throwing it away after ev

[2015-01-15 16:18] nh2 commented on #2365
@23Skidoo The reason it doesn't work with sandboxes yet is this:

[code]

I don't understand this yet - could you explain me a bit? Why does the placement of files created by `cabal sdist` fail when a nonstandard build directory name is used? Couldn't `cabal sdist` just put the files into whatever the build directory is?

[2015-01-15 19:15] 23Skidoo commented on #2323
@tibbe, can we call the next release `1.22.1`?

[2015-01-16 01:49] 23Skidoo commented on #2365
Haven't looked at the patch, but this sounds like an interesting idea. I agree that this feature should be optional, at least in the beginning.

No.

When using sandboxes, `cabal install foo` actually means `cabal install foo --builddir dist-$hash(/path/to/sandbox)`. Not sure if `install` supports `--builddir`, but you get the idea. This was done to prevent `add-source` deps clashing with each oth

[2015-01-16 02:35] eternaleye opened #2366 "Implement Monad for Condition"
Condition being an instance of Monad would make a number of things much simpler, in particular specializing CondTree's for the current build environment. For example, in writing a tool that converts Cabal format to the Exheres format used on Exherbo, I found that implementing Monad for Condition allowed me to clear out cases like (non) Linux OS ConfVars by converting them to Lit in a much easier m

[2015-01-16 02:56] 23Skidoo commented on #2366
Care to write a pull request?

[2015-01-16 16:52] facundominguez opened #2368 "cabal install --enable-benchmarks doesn't build benchmarks"
[code]
doesn't build benchmarks while `cabal configure --enable-benchmarks; cabal build` does.
Behaves the same sandboxed or not.
[code]

[2015-01-17 00:44] yongqli opened #2369 "Cabal fails to install listed dependency "text""
Please see this issue: https://github.com/ndmitchell/cmdargs/issues/19

Our program compiles but doesn't run properly -- any ideas?

[2015-01-17 03:44] yongqli commented on #2369
Looks like this is cabal's fault. If you run [test.sh in the test case](https://gist.github.com/j-e-k/3a64faf2a4a5fa62e92e), even though it lists `text` as a dependency it is not installed. Installing `text` into the sandbox fixes the issues.

[2015-01-17 06:38] yongqli commented on #2369
cabal --version
    cabal-install version 1.22.0.0
    using version 1.22.0.0 of the Cabal library

[2015-01-17 14:56] lspitzner commented on #2369
i am a bit confused about your testcase. `test.sh` reads

[code]

Both commands have the intention of running the program (one in sandbox, one not). What is the output in each case? Or did you mean `cabal build` ?

[2015-01-17 17:06] tibbe commented on #2323
@23Skidoo yes. I've bumped the version number on the branch.

[2015-01-17 17:09] tibbe commented on #2357
@ttuegel this issue and #2313 are the two remaining ones holding up the next minor release. Will you have time to look at them?

[2015-01-17 17:12] ttuegel commented on #2357
@tibbe I'm looking at them right now.

[2015-01-18 00:35] yongqli commented on #2369
It runs them one after the other. The cabal sandbox version outputs `cmdargs-test: System.Console.CmdArgs.Implicit, unexpected flag (hello): Text` because it is using the wrong version of `text`. The `runhaskell` version outputs `Sample {hello = ""}` because it is using the latest version of `text`.

[2015-01-18 08:50] tibbe commented on #2313
Fixed by 66dade371e720efd57b06424cfdf68454e6aba77 and f445c3a3bb02453ba6545cc4e9221073dfc9635d.

[2015-01-18 08:50] #2313 closed

[2015-01-18 18:13] ttuegel commented on #2357
The package does have a test suite, and it has been disabled with `buildable: False` in the .cabal file. The error message from 1.20 is actually incorrect.

[2015-01-18 19:30] lspitzner opened #2372 "`cabal init` should warn if package name matches any known existing package"
and it should suggest a different default if it is an existing package. consider

[code]

because if you now add a (transitive) dependency on the "actual" `lens` package, stuff won't work.

[2015-01-18 19:32] lspitzner commented on #2372
this.labels += enhancement;

[2015-01-18 20:57] 23Skidoo commented on #2372
/cc @byorgey

[2015-01-18 22:31] seanparsons opened #2374 ""cabal exec" doesn't handle subdirectories the same way as the root folder."
If I run "cabal exec ghc myfile.hs" from a sub-folder of the sandbox, the sandboxed libraries are completely ignored. I'm not immediately sure if this is a conscious design decision, but it can make things awkward if you have a nested folder to work from the root of the project.

[2015-01-18 22:40] kazu-yamamoto commented on #2357
@ttuegel What is the source of this problem? https://github.com/kazu-yamamoto/unix-time/issues/29

[2015-01-18 22:50] ttuegel commented on #2357
@kazu-yamamoto This looks like a regression in the `Configure` build-type. The `build` command doesn't accept component names. I'll open another issue for it.

[2015-01-18 22:52] ttuegel opened #2375 "'cabal build' does not accept component names in 'Configure' build-type"
As reported here https://github.com/kazu-yamamoto/unix-time/issues/29, the build command does not accept component names in packages using the 'Configure' build type, as of Cabal 1.22.

[2015-01-18 23:21] ttuegel commented on #2161
This behavior is correct. Test suites should depend on the library if they use its exports.

[2015-01-18 23:21] #2161 closed

[2015-01-18 23:41] ttuegel commented on #2375
I have confirmed this is a regression from Cabal 1.20.

[2015-01-19 00:09] kazu-yamamoto commented on #2357
@ttuegel Thanks.

[2015-01-19 00:22] lspitzner commented on #2374
(duplicate of #2022/#2004, still an open issue)

direct explanation: see `cabal help sandbox`:

one, so cabal will not see the sandbox if you are in a subfolder of a
sandbox.

and `cabal exec` works outside of a sandbox (without any effect on the rest of the command, afaik), producing the noted behaviour.

feel free to add your opinion to #2004 :-)

[2015-01-19 04:20] Kludgy commented on #1797
Just  had a similar looking symptom while attempting to `cabal repl` a project with a `cairo-0.13.0.6` dependency.

[code]

`%1 is not a valid Win32 application` looks like an OS error caused by an unexpected file format. (Perhaps mismatched 32/64 bit?)

What's really strange is that I have no `libz.dll` (it should resolve to `zlib1.dll`), but there is a suspicious looking `gtk+-bundle_2.22.1-2010

[2015-01-19 13:07] dcoutts commented on #936
We're currently working on server-based index signing for the IHG.

[2015-01-19 14:07] tibbe commented on #2357
@ttuegel I think @snoyberg and I are both arguing that the 1.20 behavior is *better*. In particular it lets you script interaction with cabal in a consistent way (e.g. use the same .travis.yml for all packages built by travis) without having to deal with issues like a particular package not having a test suite.

I think we should warn that there are no test suites, but I don't think we should fail

[2015-01-19 14:24] ttuegel commented on #2357
@tibbe I agree, but that's not what this is. This package *does* have test suites. This isn't `cabal test` failing because there are no tests, this is `cabal build` failing because the named component (`tests`) isn't buildable. The way I understand the semantics of `buildable: False`, this is the correct result. I doubt it's what the package author intended, so we may have a miscommunication about

[2015-01-19 14:34] ttuegel commented on #2357
So, I think what I'll do is have `cabal test` filter unbuildable test suites from the call to `cabal build`. I think this subverts the author's stated intent, but I also think that's not actually what the package author wants.

[2015-01-19 16:39] #2357 closed

[2015-01-19 19:12] bitemyapp opened #2378 "Cannot rebuild add-source'd dependency"
[code]

It attempts to build fancy-api (my project), but doesn't bother to rebuild the dependency. I can't force it to do so either.

[code]

[2015-01-19 19:16] bitemyapp opened #2379 "Cannot force cabal sandbox hc-pkg unregister"
[code]

Cabal is refusing to rebuild my add-source dependency (Cf. https://github.com/haskell/cabal/issues/2378)

[2015-01-19 19:26] bitemyapp commented on #2379
cabal sandbox hc-pkg -- --force unregister frontrow-entities

This should be added to the help for sandbox.

[2015-01-19 19:27] bitemyapp commented on #2379
help has:

[code]

An example would be more noticeable.

[2015-01-19 19:34] bitemyapp commented on #2335
hc-pkg unregister'd an add-source'd dependency ( because Cabal refused to rebuild it: https://github.com/haskell/cabal/issues/2378 )

Then got this after an install to get it reinstalled:

[code]

[2015-01-19 19:40] bitemyapp commented on #2335
Follow-up to past comment:

`cabal configure --enable-tests` fixed the package-id error for *this* time but I have no idea if it would've before. Cabal said nothing about needing a reconfigure but on reflection, it does make sense.

Cabal should detect this case where a reconfigure is needed and let the user know.

[2015-01-19 20:27] seanparsons commented on #2374
Ah, Github search didn't find those!

[2015-01-19 20:27] #2374 closed

[2015-01-19 20:32] seanparsons commented on #2004
This behaviour totally caught me off guard because when using cabal exec it didn't flash up anything saying "By the way, I'm not using a sandbox because there isn't one in this folder." it just ran ghc and then I sat there bemused as to why the library wasn't present.

If the default behaviour is to not search I'd say it would be much more preferable for it to just fail if the sandbox isn't presen

[2015-01-20 00:50] ezyang opened #2380 "cabal init: if PublicDomain is selected, License and Copyright fields should not be generated"
self explanatory

[2015-01-20 01:12] 23Skidoo commented on #2380
/cc @byorgey

[2015-01-21 14:11] mpickering opened #2381 "cabal sandbox delete should reset $GHC_PACKAGE_PATH"
Currently if you delete a sandbox whilst inside `cabal exec bash` then `$GHC_PACKAGE_PATH` is still set to point to a non-existent file.

[2015-01-21 16:04] tibbe commented on #2381
Is this even possible. I don't think a running process (i.e. cabal sandbox delete) can affect the environment of the shell it's running in.

[2015-01-21 16:59] 23Skidoo commented on #2381
I don't think it should do that, but printing a warning is reasonable.

[2015-01-21 18:53] ddssff commented on #925
Does this test suite still exist?  I'm having trouble locating it in the current source tree.

[2015-01-21 19:38] 23Skidoo commented on #925
@ddssff Looks like @tibbe removed it in 1e2ea93c3d509347fd990bdb3f947e72bc2b69de and 4eb213343b347042889bd215d422d5c506ed53b5.

[2015-01-21 19:46] victoredwardocallaghan commented on #2320
Instead of cabal build && cabal install where this issue pops up a direct cabal install after a clean and or clean and configure is a quick work around. Hope that makes sense?

[2015-01-21 19:57] bergey commented on #2345
I too would like better docs for `--package-db`, and especially better error messages when it's used in unsupported ways.

When I run `cabal install --package-db=global`, the error is
`cabal: If the global package db is specified, it must be specified first and
cannot be specified multiple times`

This is a very cryptic way to suggest that I write `cabal install --package-db=clear  --package-db=gl

[2015-01-22 00:53] flasheater opened #2383 "Fail fast cabal install dependencies"
Doing ```cabal install``` on large projects can take significant amounts of time. However, build errors of dependencies get aggregated and shown at the end of the build, which is a waste of my time, especially if the error occurred early on.

I would have expected that upon first error, cabal aborts the whole build, presenting that error.

My suggestion is to change the default behaviour in the ca

[2015-01-22 11:39] hesselink commented on #2320
I'm running the latest HEAD of 1.22, but I'm still getting these errors, or something similar. What seems to be happening is:

* I did an install of a package at some point with cabal-install-1.22. This creates a directory `dist/package.conf.inplace`.
* Then later I reinstall this package with multiple jobs (`-jN`, N > 1). This seems to pick some executable from `~/.cabal/setup-exe-cache` related

[2015-01-22 18:49] ezyang commented on #2320
Hmm, I don't think there is a way around this. Probably the best thing we can do is release a minor version update for old versions of Cabal that add directory support.

Let me explain why our hands are tied:

1. This situation is caused by the removal the Cabal dependency from GHC. This is generally considered a good thing, so it would be a shame if we had to back out this change.

2. Removing th

[2015-01-22 19:02] rwbarton commented on #2039
It was reported as a GHC bug in https://ghc.haskell.org/trac/ghc/ticket/9625

However, to the best of my understanding, it may still be a bug in Cabal. (That is, even if GHC did not panic, GHC would instead exit with an error.) In thomie's simplified example, cabal is building a dynamic Haskell library with the name `libbar-ghc7.8.3.so`, and registering a package with `hs-libraries: bar`. Normally

[2015-01-23 08:09] yongqli commented on #2369
This only seems to happen on our Ubuntu machine on which we installed ghc from haskell-platform (the pre-built binaries)

[2015-01-23 09:40] hesselink commented on #2320
Clearing the setup cache doesn't work, because it will just recreate the files next time. The only thing that matters is the version of the Cabal library that is installed/in scope. Currently that's 1.20 for me, since I'm on GHC 7.8; I installed cabal-install 1.22 via a sandbox.

I thought about having a point release for 1.20 (and older) to add this support, but I'm not sure it would help much. T

[2015-01-23 15:37] trygub opened #2384 "cabal keeps relinking on FreeBSD in rebuilds and retests"
I ran the following five commands:

cabal clean
cabal build
cabal test
cabal build
cabal test

For the second build and test commands there are extra "Linking ..." messages when compared to the same output from a Linux box:

10a11

14a16,17

25d27
< Linking dist/build/cabalTest/cabalTest ...
27c29
< [1 of 1] Compiling Main             ( test/cabalTest.hs, dist/build/CabalTestTest/CabalTestTest-tmp

[2015-01-23 21:33] ezyang commented on #2320
OK, here's an alternate suggestion: Cabal should version test GHC to determine if it does a single file or multi file database.

[2015-01-23 22:07] tibbe commented on #2320
That makes a lot of sense. Who has time to look into it?
On Jan 23, 2015 1:33 PM, "Edward Z. Yang" <notifications@github.com> wrote:

[2015-01-24 15:07] mietek commented on #571
[Halcyon](https://halcyon.sh) supports declaring native OS packages to be installed for use at build-time with the [`HALCYON_SANDBOX_EXTRA_OS_PACKAGES`](https://halcyon.sh/reference/#halcyon_sandbox_extra_os_packages) option.

Similarly, you can use [`HALCYON_EXTRA_OS_PACKAGES`](https://halcyon.sh/reference/#halcyon_extra_os_packages) to declare native OS packages for use at run-time.

See [Haskel

[2015-01-24 15:15] mietek commented on #779
[Halcyon](https://halcyon.sh) supports declaring and automatically installing executable-only Cabal packages for use at build-time with the [`HALCYON_SANDBOX_EXTRA_APPS`](https://halcyon.sh/reference/#halcyon_sandbox_extra_apps) option.  Version constraints for these apps can be declared with the [`HALCYON_SANDBOX_EXTRA_APPS_CONSTRAINTS`](https://halcyon.sh/reference/#halcyon_sandbox_extra_apps_co

[2015-01-24 15:26] mietek commented on #1915
[Halcyon](https://halcyon.sh) includes a workaround for this issue.

[2015-01-24 15:27] mietek commented on #1883
[Halcyon](https://halcyon.sh) includes a workaround for this issue.

[2015-01-24 15:28] mietek commented on #2309
[Halcyon](https://halcyon.sh) includes a workaround for this issue.

[2015-01-24 18:00] mboes commented on #2368
This is consistent with the new behaviour of `cabal install --enable-tests`. Sounds like we need a new `--run-benchmarks` to mirror `--run-tests`. i.e. this is an enhancement request, not a bug report. If you agree, update the title and apply the relevant label?

[2015-01-24 20:32] qnikst opened #2385 "cabal-1.22 fails to run tests when some are disabled"
Starting from cabal-1.22 if one of test-suites is disabled (`Buildable: False`) via flag then `cabal test` fails to run with message:

[code]

[2015-01-24 20:36] ttuegel commented on #2385
Duplicate of #2357.

[2015-01-24 20:36] #2385 closed

[2015-01-26 16:20] n1c01a5 opened #2386 "Failed to install cabal (Could not find module `System.Directory)"
When I tried cabal in ubuntu 14.10 with ```cabal install cabal```

I have this error:
[code]

Thx for advance

[2015-01-26 18:55] 23Skidoo commented on #2386
Looks like your package DB is borked. `rm -rf ~/.ghc ~/.cabal` and try again.

[2015-01-26 18:55] #2386 closed

[2015-01-26 20:39] n1c01a5 commented on #2386
Thx for your help

[2015-01-26 21:09] bgamari commented on #2297
I believe the haddock fix is in. What needs to happen at this point?

[2015-01-26 23:25] ezyang commented on #2297
We need to pull it into the Haddock submodule in the GHC tree, so we have to put it in `ghc-head`. @Fuuzetsu, can you take a look?

[2015-01-27 08:40] hvr commented on #2241
Fwiw, I'm seeing this too with GHC 7.10.1RC2 and cabal-install-1.22

[2015-01-27 08:43] 23Skidoo commented on #2241
@tibbe, I think this should go into the 1.22 branch.

[2015-01-27 11:40] Fuuzetsu commented on #2297
I'll see if I can't put the changes on ghc-head today.

[2015-01-27 16:54] #1986 closed

[2015-01-27 17:16] claudeha opened #2389 "cabal-install Missing field in record construction configProf"
I installed ghc-7.10.1~rc2 using ghc-7.8.2 to bootstrap.  Then cabal-install didn't work due to ghc package db format changes in 7.10, so I cabal update and cabal install -w ghc-7.8.2 cabal-install.  The new cabal-install worked, so I cabal install cabal-install again, this time with ghc-7.10.1~rc2.  Now cabal install fails:

    $ cabal sandbox init
    Writing a default package environment file

[2015-01-27 17:48] 23Skidoo commented on #2389
Maybe has something to do with @ttuegel's recent changes.

[2015-01-27 18:28] ezyang commented on #2320
Needs testing.

[2015-01-27 18:34] ezyang commented on #2320
OK, seems to DTRT. Waiting for Travis to go green.

[2015-01-27 19:10] ttuegel commented on #2389
Looks like ghc-7.10.1-rc2 ships with Cabal-1.22.1.0, which is as-yet unreleased. You will need the latest cabal-install.

@tibbe I hadn't thought of this before, but will it be a problem to release a new cabal-install at the same time as Cabal-1.22.1.0?

[2015-01-27 19:42] claudeha commented on #2389
@ttuegel thanks, I now have a working cabal-install again by bootstrapping Cabal with Setup.hs and using cabal-install's bootstrap.sh

    $ cabal --version
    cabal-install version 1.23.0.0
    using version 1.23.0.0 of the Cabal library

[2015-01-27 20:35] 23Skidoo commented on #2389
If Cabal 1.22.1 is incompatible with `cabal-install >= 1.22 && < 1.22.1` we may need to restrict `cabal-install`'s upper bounds on Hackage.

[2015-01-27 21:49] ttuegel commented on #2389
@23Skidoo Hmm, I'm not sure how I feel about that. As an alternative, I can fix Cabal-1.22.1.0 so it's API compatible *and* both sets of flags are enabled. The drawback is that I would have to disable the warning message about the deprecation of the old flags. I'm OK with removing the warning, though, because we can't start the countdown to removing the deprecated options until after Cabal-1.24, a

[2015-01-28 14:12] 23Skidoo commented on #2389
@ttuegel Sure, if there's a way to fix Cabal-1.22.1, let's do that instead.

[2015-01-28 21:27] ttuegel commented on #2389
Fixed in 46af876.

[2015-01-28 21:27] #2389 closed

[2015-01-28 22:26] bitemyapp opened #2395 "Proposal for a Cabal plugin API (inversion of control)"
doctest and ghc-mod are particularly emblematic of stuff that is awesome, but frequently breaks for various reasons. Some of that could be ameliorated with better tool integration.

ghc-mod has to be linked against the version of Cabal in the project otherwise it won't work properly.

/cc @ttuegel

[2015-01-28 23:20] domdere commented on #2186
I was experiencing this problem, but it was fine after i upgraded my version of `Cabal` from 1.20.0.0 to 1.20.0.3 (im using 1.22.0.0 now but 1.20.0.3 was the lowest version i have tried, and it didnt exhibit the problem)

[2015-01-29 09:51] accursoft opened #2396 "cabal update uses a ridiculous amount of memory"
`cabal update` uses 500-600Mb on my system, causing builds to fail completely on small virtual servers.

Memory usage sky-rockets after `Updating the index cache file...`, so I'm guessing that something in `Distribution.Client.IndexUtils.updatePackageIndexCacheFile` is constructing the entire package list in memory.

[2015-01-29 14:46] accursoft commented on #2396
Found 2 other reports of this:
http://stackoverflow.com/questions/20769183/cabal-update-failed-due-to-out-of-memory
http://stackoverflow.com/questions/26899426/cabal-update-failure-return-code-9

[2015-01-29 20:53] ethercrow opened #2397 "Making a flag default based on ghc version"
yi depends on hint, which is not updated for ghc 7.10 yet, so I've tried the following in yi.cabal:

[code]

but got

[code]

Is it a bug in cabal or is it illegal to place Default field under conditional?

[2015-01-29 21:34] ersran9 commented on #2186
You're right - `cabal` 1.20.0.3 version does not seem have this issue. Thanks for the heads up.

[2015-01-29 21:34] #2186 closed

[2015-01-30 01:03] orlitzky opened #2398 "Test suite can hang when Setup.hs compiled without -threaded"
I ran into [Gentoo bug #537500](https://bugs.gentoo.org/show_bug.cgi?id=537500) with the test suite for [ShellCheck](https://github.com/koalaman/shellcheck). I asked Haskell-Cafe about it, and Thomas Tuegel told me to report it here. So here you go!

I was able to reproduce the issue with the latest Cabal master branch.

[2015-01-30 11:34] trofi commented on #2398
slightly more info with -debug +RTS -Ds runtime:
[code]
waitpid() stuck and does not get unblocked by VTALARM (signals stop hppening as ./setup does nothing).

[2015-01-30 13:07] wereHamster opened #2399 "cabal: Could not resolve dependencies"
Instead of telling me that a package doesn't exist, I get an error telling me that cabal cold not resolve dependencies. Here is the cabal file: https://gist.github.com/wereHamster/5d2c1f52ef635998a875. Also, if I move the build-depends line around I get different error messages. Here are a few:

[code]

[code]

[code]

cabal-install version 1.22.0.0, using version 1.22.0.0 of the Cabal library

[2015-01-30 14:06] wereHamster commented on #2399
cabal 1.20 gives yet another error message. It's like lottery.

[2015-01-30 15:29] 23Skidoo commented on #2397
/cc @dcoutts

[2015-01-30 15:30] 23Skidoo commented on #2399
/cc @kosmikus

[2015-01-30 16:11] wereHamster commented on #2399
Also noteworthy: removing the build-depends line which references that non-existing package allows cabal to come up with a valid install plan.

[2015-01-31 01:11] acfoltzer commented on #1375
Is this now on track for 1.24? I have to do a bunch of workarounds currently to avoid lost time due to this, like scripting smaller install plans together to avoid packages that might be temporarily broken during development.

[2015-01-31 19:02] mietek commented on #2396
Seconded.  `cabal update` can fail on machines with “only” 512MB RAM.

[2015-01-31 19:16] mietek opened #2400 "'install' breaks sandbox isolation"
It seems to me that when performing `cabal install` in a sandbox, _cabal-install_ can break the intended sandbox isolation by using the Cabal library installed in the GHC user package DB, as opposed to its internal Cabal library.
1.  Install GHC 7.8.4 and _cabal-install_ 1.20.0.3.  Ensure `~/.ghc` is empty:

[code]
2.  Ensure `cabal` is really 1.20.0.3:

[code]
3.  Without replacing _cabal-install

[2015-02-01 03:30] mietek commented on #2342
@luite Please note _cabal-install_ 1.22.0.0 reports it’s using version 1.22.0.0 of the Cabal library even when there is no Cabal library 1.22.0.0 registered with `ghc-pkg`:
[code]

[2015-02-01 07:34] luite commented on #2342
Yes `cabal-install` just reports the `Cabal` version it was built with, not the one available for building custom `Setup.hs`

[2015-02-01 16:51] nh2 commented on #2365
@23Skidoo Thanks for your explanation.

So if I understand it right, in #2106 you suggest that we probably don't want to use `dist/dist-$HASH` for non-`add-source` dependencies.

In that case, we should probably treat #2106 as a blocker to this, since then my patch could stay as simple as it is and wouldn't have to deal with `maybeRenameDistDir`.

Please do - it's just ~5 lines ;) :D

[2015-02-01 17:20] massysett opened #2401 "Warning directs use of deprecated "extensions" field; its replacement is not documented"
When I put "-XTemplateHaskell" in the "ghc-options" field a warning tells me that I should instead add "TemplateHaskell" to the "extensions" field.  I did this, and another warning told me that I should instead be using "default-extensions" and "other-extensions".  Neither "default-extensions" nor "other-extensions" is documented in "Developing Cabal Packages".

[2015-02-02 00:36] mietek commented on #2400
[Halcyon](https://halcyon.sh/) includes a workaround for this issue.

[2015-02-02 08:49] svenpanne commented on #2251
I don't think this is really fixed, the same problem showed up again recently: https://travis-ci.org/haskell-opengl/OpenGLRaw/builds/49116074

This time not only for cabal-HEAD/ghc-HEAD, but for cabal-1.22/ghc-7.10.1, too, which is a bit scary given the fact that 7.10 should be released soon.

[2015-02-03 05:50] taksuyu opened #2402 "Cabal sandbox being able to depend on another sandbox/package list"
So say I have a cabal sandbox in my home directory. This sandbox can or cannot depend on my global directory to which I have chosen a stable path managed by a package manager. This works well with haskell utilities like the base version of cabal-install.

My home directory sandbox which doesn't have to depend on the global package list can be used as a psuedo package list that I want to build othe

[2015-02-03 06:44] AndrewBrinker commented on #1176
This issue seems to persist, and is currently causing minor frustration in using SublimeHaskell, whose default build mechanism uses two builds: first a standard `cabal build` and then `cabal build -v0 --ghc-options="-fforce-recomp -Wall -fno-code"` to gather warnings. This issue is causing SublimeHaskell to display a bothersome error pane every time a project is recompiled (which happens every sav

[2015-02-03 13:17] goldfirere opened #2403 "Document `.cabal/config`"
I just learned, via haskell-cafe, that I could say `jobs: 4` in my `~/.cabal/config` file to make my life better. I wish this had been in the documentation! (It's not at https://www.haskell.org/cabal/users-guide/ or anywhere underneath, that I could find.) Are there other options lurking undocumented in that file (such as `ghc-options`)?

Thanks!

[2015-02-03 14:50] ryantm opened #2404 "cabal.config compiler ghcjs with sandbox breaks cabal exec"
When you specify the compiler as ghcjs in a cabal.config file,

[code]

it breaks `cabal exec` with the error message:

[code]

and `--ghc` is not a valid option for `cabal exec`

[code]

[2015-02-03 14:58] ryantm commented on #2404
Steps to reproduce:

[code]

[2015-02-03 17:15] 23Skidoo commented on #2404
/cc @luite

[2015-02-03 17:35] ryantm commented on #2404
I noticed if you do not create the sandbox, it works.

[2015-02-03 20:51] luite commented on #2404
I'll look into this, there are checks for the compiler flavor in the code, I probably missed one or something in a merge went wrong.

[2015-02-04 09:29] luite commented on #2404
Can you see if this still happens with a recent 1.22 build? The error message you get does not appear in the source tree. On my system it works ok, with 1.22

[2015-02-04 21:29] joelteon opened #2405 "On GHC HEAD, tests for most packages hang forever"
This can be reproduced by running QuickCheck 2.7.6's test suite, which gives me this:

[code]

which continues forever, consuming no CPU.

There's a call on Distribution/Simple/Test/ExeV10.hs line 94 to `rawSystemIOWithEnv` to run the test suites:

[code]

Got some interesting results by replacing `Just wOut` with `Nothing` in either position:

* If stdout and stderr are both provided, no output a

[2015-02-04 21:48] 23Skidoo commented on #2405
/cc @ttuegel

[2015-02-04 21:50] ttuegel commented on #2405
@joelteon How are you running the test suites? I am suspicious that this is related to #2398, i.e. another stinking lazy IO bug :)

[2015-02-04 21:52] joelteon commented on #2405
@ttuegel Can confirm, building Setup.hs with -threaded fixes the problem.

[2015-02-04 21:59] ttuegel commented on #2405
I'm going to close this in favor of #2398, because we have some more detailed debugging info there.

[2015-02-04 21:59] #2405 closed

[2015-02-04 22:00] ttuegel commented on #2398
I strongly suspect this is yet another lazy IO bug. At this point, that deserves its own label.

[2015-02-06 00:17] nikita-volkov commented on #2251
Same issue here: https://travis-ci.org/nikita-volkov/record/jobs/48711367.

Also I experience it locally while executing `cabal sdist` on [this commit](https://github.com/nikita-volkov/list-t/tree/d9fd2ca035c481807efe52c2800f6325f0a13fd1). I'm running a freshly installed OS X 10.10.2 with the following setup:
[code]

[2015-02-06 02:52] nh2 opened #2406 "hoogle: True in ~/cabal/config doesn't do anything for me"
I'm using cabal 1.22. In https://github.com/haskell/cabal/pull/1707 `hoogle: True` was added. In `~/cabal/config`:

[code]

But when I run `cabal haddock -v2`, I see that the `--hoogle` flag is not passed to haddock. It is used only when I explicitly pass it via `cabal haddock --hoogle -v2`.

Could you check if that config setting is really used?

Thanks!

[2015-02-06 07:53] svenpanne commented on #2251
Can we please re-open this bug?

[2015-02-06 12:09] 23Skidoo commented on #2251
Reopened.

[2015-02-06 22:28] tibbe commented on #2241
@23Skidoo I saw that you merged it into 1.22 yourself.

[2015-02-06 22:31] tibbe commented on #2320
@ezyang is this still something that needs to be fixed in 1.22?

[2015-02-06 22:32] tibbe commented on #2389
@ttuegel did this also make it into master, or isn't that needed?

[2015-02-06 22:34] ezyang commented on #2320
I think this is good now.

[2015-02-06 22:37] tibbe commented on #2375
Anyone have a fix?

[2015-02-06 22:40] tibbe commented on #2320
@ezyang Good as in "everything that's needed is already on the 1.22 branch"?

[2015-02-06 22:43] ttuegel commented on #2389
It's not needed. This was a compatibility patch so that `Cabal-1.22.1.0` can be used to build `cabal-install-1.22.0.0` (to avoid breaking the PVP).

[2015-02-06 22:45] ezyang commented on #2320
According to the discussion on the PR, that seems to be the case. I haven't tested 1.22.

[2015-02-06 22:46] ezyang commented on #2320
Actually, I don't see the Version test in the commit list you recently sent out.

[2015-02-06 22:50] tibbe commented on #2320
@ezyang it's on the 1.22 branch as 3c0e6480d5057dd616457a0ac0458e60946c9849.

[2015-02-08 10:11] DaveCTurner commented on #936
Does this mean that this will be resolved by adding signatures to packages and not by supporting `https` URLs? That seems like the right thing to do, but in that case could #1616 be reopened as it's not a duplicate of this issue? Supporting `https` URLs solves a separate problem.

[2015-02-08 10:40] DaveCTurner commented on #936
Additionally, I'm sure this has been discussed elsewhere, but just to be explicit:

- the integrity of the index file itself needs to be verified before the hashes it contains can be trusted.
- the system needs to protect against replay attacks too (as described at http://www.cs.arizona.edu/stork/packagemanagersecurity/ mentioned above)

For the first, GPG is a possible approach that avoids reimpl

[2015-02-08 10:50] DaveCTurner commented on #1616
FWIW, I would like to be able to use `https` URLs for privacy (not integrity, that's what #936 is about).

We have a corporate package repository that contains company-internal packages. At the moment this is exposed inside the company network over `http` and you have to do all sorts of mucking around with the VPN to get to it when on the road. Pretty much every other internal service is available

[2015-02-08 15:49] darthdeus opened #2407 "Paths with spaces on Windows in the cabal file are not parsed properly"
If I add one of the following

[code]

in my cabal file, it will fail with errors such as `Warning: 'include-dirs: 5.6\include' directory does not exist.`, which looks like the paths are being split on spaces. I've tried adding double quotes around them, but the same thing happens.

I couldn't really find if there's another syntax for specifying paths like this, and I tried `cabal-install` 1.18 an

[2015-02-09 03:12] netroby opened #2408 "Please provided binary download for cabal command with linux x86_64"
Please provided binary download for cabal command with linux x86_64

We only have https://www.haskell.org/cabal/release/cabal-install-1.22.0.0/cabal-1.22.0.0-i386-unknown-linux.tar.gz

but we need x86_64

[2015-02-09 17:26] aBathologist commented on #2396
I'm stuck in the same spot.

[2015-02-09 17:29] neothemachine commented on #1855
More data:
[code]

While with `--reorder-goals` it works.

[2015-02-09 17:35] bergmark commented on #1855
@neothemachine you should test that with --max-backjumps=-1, it stopped before the search space was exhausted.

[2015-02-09 21:13] 3noch commented on #2220
I think there might be a worse race-condition in 1.22. Simply installing dependencies randomly fails with `permission denied`. It appears it's trying to open a file that is locked. It happens randomly. I'm on Windows.

[2015-02-10 10:23] cies commented on #948
Does this mean we can also require, for instance, `alex` and `happy` binaries to be available?

And how about requiring other binaries and or libraries, for instance, postgres development headers; could we find a way to test for them as well "a la the traditional `configure` script"?

Please excuse my ignorance, I'm rather new to Haskell, but I was just wondering about these things and did not fin

[2015-02-10 12:28] neothemachine commented on #1855
Well, after 15min of 100% CPU usage and 3.5GiB memory usage I killed
cabal-install.

On 02/09/2015 06:35 PM, Adam Bergmark wrote:

[2015-02-10 13:41] bennofs commented on #948
@cies You can already specify library dependencies for your package in the `project.cabal` file (there are pkgconfig-depends and extra-libraries fields). Build tools are currently not possible afaik.

This issue, however, is about dependencies for a special file, Setup.hs, which can be used to configure the build process in haskell (for example, to add additional checks to the configure phase). It

[2015-02-10 14:33] hesselink opened #2409 "Cabal passes --enable-profiling to older setup-exe when using jobs > 1"
This might be related to #2394: when using the latest 1.22 HEAD (3c0e6480d5057dd616457a0ac0458e60946c9849) I get an error when compiling with jobs > 1:

[code]

With a build from 6 commits earlier this didn't happen, so it seems likely that #2394 is the culprit. Compiling with `-v` shows this (edited):

[code]

So somehow the `--disable-profiling` flag got added. The `--disable-coverage` flag isn'

[2015-02-10 14:38] 23Skidoo commented on #2409
/cc @ttuegel

[2015-02-10 14:38] hesselink commented on #2409
I've just verified that reverting 25f7f9a1389686e3d5083ab36fa90f59ccaa2652 fixes this.

[2015-02-10 14:54] pascalh opened #2410 "Behavior of function writePackageDescription"
Hello,

I wrote a small program [bnfcCabal](https://github.com/pascalh/BnfcCabal), which generates very simple cabal files.

This simple program shows how I use cabal functions to create cabal files:
[code]

Until cabal-1.22.0.0 everything worked fine and my generated cabal file contained the dependency. When using version 1.22.0.0 the cabal file does not anymore contain the dependency.

Is this a

[2015-02-10 15:06] 23Skidoo commented on #2410
Probably related to #2323. @dan-t, do you know what's happening here?

In any case, top-level `build-depends` is deprecated.

[2015-02-10 15:35] dan-t commented on #2410
I can't quite see how this should be caused by the removal of the pretty printing of `condTreeConstraints`,
because `condTreeConstraints` is part of `GenericPackageDescription` and in this case it's about the pretty printing of `PackageDescription`.

[2015-02-10 16:01] 23Skidoo commented on #2410
Hmm, maybe this was caused by be263784165b26820761f2cf6a4fe70af60c258e then? @ezyang, can you comment?

[2015-02-10 18:52] ezyang commented on #2410
Well if @pascalh attempted to use the data structure they constructed to actually run Cabal, his build-depends would be silently ignored. This is because when we read in the Cabal file, `buildDepends` is never actually filled in, and no one else uses this field.

I really want to say “This is not a bug, can you update your program to not use top-level `build-depends`.” But I feel bad, because doin

[2015-02-10 19:23] dan-t commented on #2410
If this 'buildDepends' field now isn't used at all, why not remove it? Then users get at least a compile error
instead of using it and not getting the expected result.

[2015-02-10 19:30] ezyang commented on #2410
I did suggest this; @dcoutts  said he would feel better if we made sure that no package would get broken from its removal and I never got around to checking this.

https://github.com/haskell/cabal/issues/2066

[2015-02-10 19:42] dan-t commented on #2410
Packages might still get broken by this change, just silently.

[2015-02-11 19:07] rfn01 opened #2411 "Handle Protocol Buffers"
It would be cool to have builtin support for hprotoc, similar to the existing happy or alex support.  Or, perhaps, an easy way to specify such dependancies.

Thanks!

[2015-02-12 20:41] pascalh commented on #2410
First of all thanks for your help. The issue is solved for me personally, because I am using local dependencies in my project now.

In order to make things clearer for other developers who are using cabal as a library, I'd suggest to add a comment to the field stating that global dependencies are depricated.

If possible there should also appear a warning when using a cabal file with global depend

[2015-02-13 01:51] bennofs opened #2412 "Wrong rpath for dynamically linked tests"
### Problem description

When using using `--enable-executable-dynamic` for a package where the tests depend on a library defined in the same file, the rpath for tests is set to the installation directory of the library, not to the `dist/build` directory. This means that the tests cannot be run before the library is installed.

An example project is here: https://github.com/bennofs/cabal-tests-rpa

[2015-02-13 02:26] bennofs commented on #2412
Looking at the code, I noticed that running the tests via cabal should set `(DY)LD_LIBRARY_PATH` accordingly. So the question is now, should tests (and I assume the same applies for executables) be directly runnable without installation, without using `cabal run` or `cabal test`? That would mean hardcoding the build directory in the RPATH, which might not be desirable.

[2015-02-13 02:27] bennofs commented on #2412
Confirmed, `./Setup.sh test` works as expected.

[2015-02-13 14:44] bennofs commented on #2398
I think the cause of this problem is that `rawSystemIOWithEnv` uses `ẁaitForProces` which being an FFI call blocks all other haskell threads if using the non-threaded runtime. The runTest function in Distribution/Simple/Test/ExeV10.hs however depends on threads to read the pipe which is passed to the process for outputting. If the pipe fills up (because the read thread never runs), the test suite

[2015-02-14 05:34] mietek commented on #2320
[Halcyon](https://halcyon.sh/) includes a workaround for this issue.

[2015-02-14 21:41] 3noch commented on #924
Broken link.

[2015-02-14 23:56] yaccz commented on #2004
:+1:

[2015-02-15 00:33] joecrayne opened #2413 "Unclear prompt in 'cabal init'"
I needed to ask an IRC channel to figure out what this prompt from cabal init means:

I thought it might have something to do with haddock.  It was suggested, and I strongly agree that the following would be a better phrasing:

[2015-02-15 02:47] farolfo opened #2414 "Failures during cabal-install, -Wno-unicode not recognized"
Hello, I'm updating using cabal install cabal-install and I got these errors (with some others)

[code]

Could this be gcc version? I get this same issue while installing other packages.

[2015-02-15 20:09] bitemyapp opened #2415 "Make sandboxing the default unless user package-db is specified"
https://twitter.com/seanparsons/status/567052594041065474

Create sandbox if one doesn't exist in ./

Installing into user package-db is almost exclusively the province of expert users, failing to sandbox things trips new people up on a daily basis either because they didn't know or they simply forgot.

I forget sometimes too, then I'm annoyed I have to nuke my user package-db which sometimes had

[2015-02-15 20:11] seanparsons commented on #2415
For obvious reasons I support this, I find that I accidentally shoot my own foot off with this far too often.

[2015-02-15 20:19] glguy commented on #2415
I don't want to see this default change, but you can do this yourself. Add this to your `~/.cabal/config`

[code]

[2015-02-15 20:21] bitemyapp commented on #2415
From @soupi

[code]

[2015-02-15 20:26] bitemyapp commented on #2415
The problem with asking people to change their cabal.config is three-fold:

1. If they knew how to do that, or to do it at all, we wouldn't need to do this because they'd know to use sandboxes.

2. Newbies often nuke their `~/.cabal` unnecessarily in a panic when things go wrong.

3. This is what happens when you try to install a package with that flag set and no sandbox exists:

[code]

That is n

[2015-02-15 20:48] seanparsons commented on #2415
Similar to this:
https://github.com/haskell/cabal/issues/1100
It would make a lot of sense that this is an automatic and transparent piece of functionality.

I'm thinking that if someone clones some source code from a repo it should "just work".

[2015-02-15 23:41] lspitzner commented on #2413
what, i am not able to do evil rebases and force pushes without unintentionally spamming referenced issues? meh.. ok, i reluctantly refrain from doing another commit-message-rewording.

[2015-02-16 00:38] lspitzner commented on #2345
I have included a temporary modification in #2416 that simply explicitly leaves the initial list unspecified, but improves the situation by explaining how clear, user, global, $file work (in my current understanding, which might be wrong completly.)

[2015-02-16 01:15] lspitzner commented on #2415
This would break existing tutorials; consider necessary changes such as

[code]

While i personally have `require-sandbox: true` since quite some time now and endorse it for any non-completely-beginner activities, i vote against changing the default, especially given that:
- cabal has a good amount of non-trivial open issues surrounding sandboxes (#1899, #2333,  #1375 (which is 1.5 years old and m

[2015-02-16 01:18] lspitzner commented on #2415
also, regarding

Do you mean

?

(which touches on #2004)

Because, otherwise, users will be _completely_ confused once they automatically create a sandbox in a subdirectory of their package...

[2015-02-16 01:49] bitemyapp commented on #2415
@lspitzner yeah I was thinking about this today, these tickets y'all are referencing are good catches. Perhaps there's an omnibus'ish PR that could sweep them up? Could we get a sense of how open the maintainers are to this?

@ttuegel

[2015-02-16 03:32] 23Skidoo commented on #2414
So which OS/`gcc` are you using? May be another Clang preprocessor issue.

[2015-02-16 03:34] 23Skidoo commented on #924
All Trac links seem to be broken by the recent Haskell.org update.

[2015-02-16 03:47] puffnfresh commented on #2415
I do use require-sandbox but dislike having to tell my coworkers to do the same. Would still like it to automatically create sandboxes when I forget.

[2015-02-16 04:57] ttuegel commented on #2415
@bitemyapp Individually those bugs aren't big, but I think sweeping them up in a single PR may be ambitious. Regardless of how they are partitioned, **if you tag me on a bug fix PR, I will do what it takes to get it in**. That goes double for documentation bugs, which take considerably less time to review.

As for changing `cabal-install` to create sandboxes by default: I am skeptical about changi

[2015-02-16 05:19] bitemyapp commented on #2415
@ttuegel Sandboxes being the most universal solution for user & developer Haskell workflows is largely why I care so much. This is very good guidance and suggestions, thank you.

[2015-02-16 06:07] TheLinuxKitten opened #2417 "Cabal could not resolve dependencies"
On a default FreeBSD installed system cabal can't resolve dependecies, it has problems with the base libraries installed (mtl? due to  transformers-0.3.0.0) by ghc:

I've just installed the latest stable version of FreeBSD 10.1 (using a preinstalled image disk for KVM). Then I've installed GHC:
[code]

The list of installed packages is:
[code]

I've tried with flags like '--max-backjumps=-1' or '-

[2015-02-16 07:25] kosmikus commented on #2417
A general comment: `Dependency tree exhaustively searched.` means there **is** no solution, so unless you change the problem, just adding flags such as increasing the number of backjumps or reordering the goals won't help.

As the error message you're getting states, you have a relatively strong conflict in the Cabal thinks it must use `transformers-compat` version `0.4.0.4`, but `optparse-applica

[2015-02-16 13:56] eallik opened #2419 "leaving a module out of test-suite/other-modules yields a cryptic linker error"
Consider https://github.com/eallik/mergesort

If the `TestProperties` module is accidentally left out of `test/suite/other-modules` in the `.cabal` file, `cabal test` yields a cryptic error message shown in `erroroutput.txt`; this is at commit c4dbd6c; commit 6887d16 fixes the problem and `cabal test` works just fine from then on.

My "complaint" here is that cabal should print a human friendly er

[2015-02-16 16:37] roubles opened #2420 "Error installing hslua (ld unrecognized option)"
**[root@example tools]#** cabal --version
cabal-install version 1.16.0.2
using version 1.16.0 of the Cabal library
**[root@example tools]#** cabal install hslua
Resolving dependencies...
Configuring hslua-0.3.13...
Building hslua-0.3.13...
Preprocessing library hslua-0.3.13...
gcc: --hash-size=31: linker input file unused because linking not done
gcc: --reduce-memory-overheads: linker input file u

[2015-02-16 17:16] farolfo commented on #2414
gcc --version retrieves
[code]

[2015-02-16 17:26] 23Skidoo commented on #2414
#1762 looks related.

[2015-02-16 17:29] 23Skidoo commented on #2414
Looks like it's a GHC issue: https://ghc.haskell.org/trac/ghc/ticket/9257

[2015-02-16 17:30] 23Skidoo commented on #2414
Closing, since this is not a Cabal bug.

[2015-02-16 17:30] #2414 closed

[2015-02-16 18:37] stphndemos opened #2421 "cabal install fails to build executable if license-file does not exist"
`cabal init` will set the license-file as LICENSE when you choose no license, but it doesn't create the LICENSE file. It seems to fail when trying to create the executable, because commands like `cabal repl` will work fine.
[code]
This is Fedora 21 with the cabal packaged in yum -
[code]

[2015-02-16 19:48] lspitzner commented on #2421
seems to be duplicate of #2217

[2015-02-16 19:56] 23Skidoo commented on #2421
Which is already fixed.

[2015-02-16 19:56] #2421 closed

[2015-02-16 21:09] stphndemos commented on #2421
#2217 is talking about the same thing, but my issue is more focused on the fact that the `cabal install` command fails when the file specified in license-file doesn't exist in the project root. I don't know why a license file is required to build the project, especially if #2217 is marked as won't fix.

[2015-02-16 21:18] TheLinuxKitten commented on #2417
Thanks @kosmikus.

The output of `cabal install -v3 happy gitlist ghcutil` are two pastebin:
* http://pastebin.com/DRYh9ypq (cabal install happy gitlist ghcutil - part 1)
* http://pastebin.com/xUAz5mnp (cabal install happy gitlist ghcutil - part 2)

Yes, one package (`gitlist`) has dependency of `transformers>=0.4.1` because it uses **Control.Monad.Except** (`mtl-2.2.1`).

I'm a bit confusing. On

[2015-02-16 21:59] lspitzner commented on #2421
it was only temporarily marked as wontfix, but is fixed in HEAD (i just tested to make sure); see the commit from Jan 12.

[2015-02-16 22:17] stphndemos commented on #2421
Ah, I didn't see the tail end of that issue. Cool, thanks.

[2015-02-17 19:28] TheLinuxKitten commented on #2417
I'm dumb... my working sandbox was created with `GHC 7.4.1`.

[2015-02-17 19:28] #2417 closed

[2015-02-17 22:11] yaccz opened #2422 "Cabal install should be smarter about /tmp mounted with noexec"
[code]

It happened to me with 5 packages already and I worked around it by installing the lib as system package. Generally, this shows as <blah>, <x>, "_hsc_make failed (exit code 127)".

The main problem is my /tmp was mounted noexec. Now, you can parse /proc/self/mountinfo and check for that before trying to exec things from there.

Other problem is that I was not even aware it is using /tmp. T

[2015-02-18 19:30] dan-t commented on #1368
So that is a theoretical argument for treating those the same. On the
    other hand, we cannot just always normalise to remove trailing 0s because
    people like having them there to indicate they're using e.g. 4 digits.

Why not only normalize the digits for the `compare` function call?

[2015-02-18 19:42] dan-t commented on #1368
Ok, I see that Mikhail already suggested this, so I don't quite see why this patch wasn't taken.

    And they of course appear in string form and it's very useful for the
    string form to be the same equality as the internal form (think clashing
    file entries if they don't match up exactly).

Where are the string representations of versions compared? From a
correctness viewpoint I don't cons

[2015-02-19 00:15] erikd opened #2423 "Cabal install with `--disable-shared` can fail if TemplateHaskell is required"
Using `cabal` from git HEAD (also fails like this with earlier versions):

    HOME=/tmp/cabal-test cabal-install/dist/build/cabal/cabal update
    HOME=/tmp/cabal-test cabal-install/dist/build/cabal/cabal install --disable-shared vector

fails with:

    Loading package primitive-0.5.4.0 ... <command line>: can't load .so/.DLL for:
    libHSprimitive-0.5.4.0.so (libHSprimitive-0.5.4.0.so: cannot

[2015-02-19 01:46] 23Skidoo commented on #2423
Try adding `other-extensions: TemplateHaskell` to the library stanza of `vector.cabal`.

[2015-02-19 07:32] Prillan opened #2424 "Cabal fails to parse Windows proxy string."
My proxy settings are set to the following in Windows:

    Type   Proxy address to use  Port
    HTTP   127.0.0.1             3213
    HTTPS  127.0.0.1             3213
    FTP    <empty>               <empty>
    SOCKS  <empty>               <empty>

Which leads to the following error using `cabal`

    Invalid http proxy uri: "http=127.0.0.1:3213;https=127.0.0.1:3213"
    proxy uri must be http

[2015-02-19 08:03] erikd commented on #2423
I'm not the maintainer of `vector` and `vector` isn't even what I want to install, its a low level library that a whole bunch of other stuff depends on.

I have a Yesod based webapp and since I want the webapp binary to only depend on system libraries I tired (somewhat foolishly I now understand):

     cabal install --dependencies-only --disable-shared

and that caused a huge number of packge ins

[2015-02-19 11:20] 23Skidoo commented on #2424
Then this is a HTTP library issue. Please [file a ticket a their bug tracker](https://github.com/haskell/HTTP/issues/new).

[2015-02-19 11:20] #2424 closed

[2015-02-19 11:31] Prillan commented on #2424
Isn't it up to `cabal` to send the appropriate proxy string to the HTTP library? Otherwise, why would it read the Windows proxy setting if it doesn't care about it? To me this sounds like a `cabal` issue.

[2015-02-19 15:46] jwaldmann opened #2425 "misleading hint in error message(s): Use 'sandbox hc-pkg -- unregister'"
E.g.,

[code]

but actually the command to use is `cabal sandbox hc-pkg -- unregister`.

[2015-02-19 17:07] dcoutts commented on #2251
The fundamental problem is that cabal-install tries to read the `dist/setup-config` file, but when the build-type is Custom then it really has no right whatsoever to do so because it cannot expect it to exist or if it does to understand the format.

I see that we try and read the file with some degree of error handling, but that will fail for older binary lib versions that just throw exceptions.

[2015-02-19 17:12] dcoutts commented on #2251
One option of course is to go back to the text format and use the old code that I wrote carefully to avoid these problems :-) until we can sort things out to use a binary format properly.

[2015-02-19 17:14] edsko commented on #2251
To be precise, as Duncan said, trying to build Cabal HEAD (5c3a514bc2662aa47caa870b9f02bd6d897e146b) with

[code]

and

[code]

calling `cabal configure` works but then `cabal build` fails immediately with

[code]

Calling the generated `setup` directory

[code]

is a workaround for now.

[2015-02-19 17:23] ttuegel commented on #2251
@dcoutts It's unclear to me why we cannot catch exceptions thrown by older versions of `binary`. Could you elaborate more?

@edsko Would it be possible for you to reproduce that failure with a profiled build of `cabal-install`? I'd like to know what is calling `Prelude.chr`, because it's not clear to me where the failure is even happening. I suspect it's something in `Data.ByteString.Char8`. If yo

[2015-02-19 18:05] dcoutts commented on #2251
@ttuegel the old binary did not return errors in a structured way, it just called `error`. Those `error` calls are not the ones we're catching.

But more generally, in principle it's not legitimate for use to even try and look at a `dist/setup-config` if we're using `build-type: Custom`. Currently reconfigure does it with the try variant, but a couple other commands do it unconditionally, which ca

[2015-02-19 18:20] ttuegel commented on #2251
@dcoutts We never call `decode` directly. With old `binary` we only call it through [this](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/Compat/Binary.hs#L52) wrapper, which catches calls to `error`. Either that exception is coming from somewhere else, or the wrapper is not correct.

I understand it's not legitimate to look at `dist/setup-config` for `build-type: Custom` packages

[2015-02-19 18:26] dcoutts commented on #2251
Mm, strange indeed. Yes, we should track down where exactly the `chr` exception is coming from.

[2015-02-19 21:58] lspitzner commented on #2425
it is meant as "use the subcommand \`sandbox ..."

devs: afaik, we try to keep the program name (`cabal`) exchangable, but we do not forward it to the function that produces the above output. should we
a) just reword to "use the sub-command \`sandbox.."
b) hard-code "cabal"
c) pass progName around? (or whatever it is called)

[2015-02-20 01:00] erikd commented on #2403
`cabal` version 1.22 has a `cabal user-config` sub-command. The help output is here:

    Display and update the user's global cabal configuration.

    Usage: cabal user-config diff
       or: cabal user-config update

    When upgrading cabal, the set of configuration keys and their default values
    may change. This command provides means to merge the existing config in
    ~/.cabal/config (i.

[2015-02-20 02:27] murat-to opened #2426 ""cabal update" is blocked by IWSS of TrendMicro. Is Exceed_File_Count_Limit."
It might be that such of to say to Trend Micro.
But, Please I wish considered for whether.

---
IWSS Security Event
InterScan Web Security detected the following in HTTP traffic:

Item: http://hdiff.luite.com/packages/archive/00-index.tar.gz
Action: deleted
Reason: Violation of a compressed file restriction

-- File: 00-index.tar.gz, security warning: Exceed_File_Count_Limit
The uncleanable file i

[2015-02-20 06:01] cocreature commented on #2251
I can reproduce this by running 'cabal clean && cabal configure' followed by 'cabal repl' in the Cabal directory of this repository. The exact error message is `cabal: Prelude.chr: bad argument: 2898156`.

[2015-02-20 08:07] svenpanne commented on #2251
I don't understand the details you're discussing in this thread, but I just wanted to point out that I had trouble in various projects with ``build-type: Simple``. I don't use ``Custom``, so this can't be the root cause. Some examples:

  https://travis-ci.org/haskell-opengl/OpenGLRaw/jobs/51387029
  https://travis-ci.org/svenpanne/ObjectName/jobs/48734376
  https://travis-ci.org/haskell-opengl/GL

[2015-02-20 09:12] 23Skidoo commented on #2426
Well, I'm not sure how we could work around this in Cabal. Perhaps we should a note to the FAQ.

[2015-02-20 10:21] edsko commented on #2251
@ttuegel I tried to do as you suggested. Strangely, I tried this first with ghc 7.4.2, binary 0.7.3.0, Cabal 1.22 and `cabal-install` 1.22, no I could not reproduce. Then I tried with ghc 7.4.2, binary 0.7.1.0, and again, could not reproduce. Then I tried with ghc 7.8.3, binary 0.7.1.0, and now I can reproduce. No idea why. Anyway, here's the trace you requested; compiled cabal-install with

[code

[2015-02-20 10:49] edsko commented on #2251
Ok, more complete trace, compiling `Cabal-1.22` also with `-fprof-auto-calls`:

[code]

Hope that helps.

[2015-02-20 13:08] ttuegel commented on #2251
@cocreature What version of `cabal-install` are you running that with?

[2015-02-20 13:09] ttuegel commented on #2251
@edsko Well, GHC stack traces are never as helpful as you hope, but that gives me an idea where to look. Thanks!

[2015-02-20 13:17] cocreature commented on #2251
@ttuegel 1.22.0.0 from the nix haskellngPackages.

[2015-02-20 13:43] ttuegel commented on #2251
@cocreature Thank you! I can finally reproduce this.

[2015-02-20 13:58] ttuegel opened #2427 "Ignore `dist/setup-config` when `build-type: Custom`"
With `build-type: Custom` packages, the builder may not be Cabal, or it may be a different version of Cabal. cabal-install must not try to examine `dist/setup-config` in this case; it may be absent, or in a different format. Yet, many of the actions defined in cabal-install do exactly that, causing various failures when the persistent build config is unreadable.

There is probably not time to addr

[2015-02-20 14:24] 23Skidoo commented on #2427
Especially since Cabal 1.22 has already been released.

[2015-02-20 14:43] ttuegel commented on #2427
Well, I meant as a bug fix. This is an annoying bug, but it's not a regression.

[2015-02-20 15:55] ttuegel commented on #2251
This seems to be unrelated to the version of `binary`. This issue is present in the 1.22 branch, but not on master.

[2015-02-20 18:04] ttuegel commented on #2251
Actually, I think it does depend on the version of `binary`. I think it only happens with *new* `binary`. We use `decodeOrFail` when it's available, but it turns out `decodeOrFail` can throw exceptions from `get` and friends. The `Binary` instance for `Char` calls `chr`, which is partial.

I will switch over to using our wrapper around `decode` to catch exceptions. I'll also upstream a patch to `b

[2015-02-20 20:17] ttuegel commented on #2251
Fixed in #2428.

[2015-02-20 20:17] #2251 closed

[2015-02-20 20:24] svenpanne commented on #2251
Cool, thanks. @hvr: Could you build an updated Ubuntu package and put that into your ppa? This would unbreak lots of Travis CI projects...

[2015-02-20 20:32] 23Skidoo commented on #2251
@ttuegel

Is this a bug in `binary` or expected behaviour? Perhaps we should report it.

[2015-02-20 21:02] S11001001 opened #2429 "if can't be used in a flag block"
This patch to ermine-language/ermine#17

[code]

Yields this error at command line:

[code]

[2015-02-20 21:29] joecrayne commented on #1894
Related question:  If I want cabal to use the default language of GHC, can it be done while specifying a default-language?   Specifying Haskell2010 causes my code not to compile without adding more LANGUAGE pragmas.

[2015-02-20 21:31] chreekat opened #2430 "cabal test doesn't care about changes to dependency bounds"
I apologize in advance for what may a rather nebulous issue. Here are the steps I took:

1. Do a fresh `cabal install --enable-tests --only-dep` in a sandbox.
2. Run `cabal test`. Everything works.
2. Put an upper bound on a dependency that cannot work. (Specifically, "yesod-test < 1.4.3" when 1.4.3.1 was installed.)
3. Run cabal test.

What I expected next was some sort of reconfigure and then co

[2015-02-20 21:33] ttuegel commented on #2251
It is unexpected and avoidable, but technically correct (impossible to catch exceptions in pure code). I have submitted a [patch](https://github.com/kolmodin/binary/pull/70).

[2015-02-21 14:53] cfoch commented on #2372
Hello. I've written some code that if you choose a package name of an already installed package it will ask you if you want to continue. Otherwise, you can choose another name.
I'm not sure if the way I am using to check if a package is already installed is the best way, though. I would like someone to review my code, please.
https://github.com/cfoch/cabal/tree/initChooseOtherName

[2015-02-21 21:57] Rufflewind opened #2431 "`cabal test` fails if the package is of type `Configure`"
Minimal example:

[code]

On the very last line, `cabal test` will cause the following error:

    cabal: Unrecognised flags: foobar

This does not occur if `build-type` is `Simple`.

(GHC 7.8.4, Cabal 1.22.0.0, cabal-install 1.22.0.0, Linux 3.18.6-1-ARCH.)

[2015-02-21 22:30] ttuegel commented on #2431
It's likely this is just #2427.

[2015-02-21 23:21] ezyang opened #2432 "cabal should not repeatedly preprocess executables"
Steps to reproduce:

1. Make a cabal file with a bunch of executables
2. cabal install
3. Edit source file of one executable
4. cabal install

Expected behavior: just the edited source file re-preprocesses.

Actual behavior: all executables preprocess

The preprocessing step is kind of slow, so it would be really good if we could avoid it.

[2015-02-21 23:56] tibbe commented on #2432
Does the same happen if you use cabal build?

[2015-02-21 23:59] ezyang commented on #2432
Yes.

[2015-02-22 12:32] tibbe opened #2433 "Can't build network test suite due to test suite name arguments"
The network test suite can't be built/run using cabal 1.22. It seems like we're passing arguments not understood by the binary:

[code]

[2015-02-22 18:48] hesselink commented on #2409
Any update on this @ttuegel (or anyone else)? This worked before, and it would be nice if there was a fix in the final released version with GHC 7.10.

[2015-02-23 00:07] murat-to commented on #2426
Thank you for answer.

Yes, I'm so think too.
Misplaced issue post, Please pardon.

[2015-02-23 00:07] #2426 closed

[2015-02-23 13:28] kazu-yamamoto commented on #2375
What is the status of this issue?

[2015-02-23 13:35] ttuegel commented on #2431
Disregard my last comment, this is *actually* #2375. I'm closing this issue in favor of the original report.

[2015-02-23 13:35] #2431 closed

[2015-02-23 13:36] ttuegel commented on #2433
This is #2375. I'm going to close this bug in favor of the original report.

[2015-02-23 13:36] #2433 closed

[2015-02-23 15:42] ttuegel commented on #2375
This is caused by `autoconfUserHooks` not allowing extra arguments to the build command. I'm testing a patch now. The regression is because `cabal-install < 1.22` builds the entire package just to build the test suites, whereas `cabal-install-1.22` tries to build only the required components.

This only affects users trying to build individual components--and transitively, trying to build tests an

[2015-02-23 15:46] dcoutts commented on #2372
Thanks for this. Main comment is that we should be looking in the source package index rather than the installed package index, for name clashes.

[2015-02-23 15:46] ttuegel opened #2434 "Cabal and cabal-install need tests for build-type /= Simple"
See at least #2427 and #2375.

[2015-02-23 15:52] #2375 closed

[2015-02-23 16:43] tibbe commented on #2375
@ttuegel if you merge to the 1.22 branch I will roll a bugfix release.

[2015-02-23 16:44] ttuegel commented on #2375
@tibbe Already done!

[2015-02-23 18:46] tibbe commented on #2375
@dcoutts is there a problem in changing the signature of `autoconfUserHooks`?

[2015-02-23 19:16] dcoutts commented on #2375
@tibbe there's no change of signature here, it's fine.

[2015-02-24 00:56] kazu-yamamoto commented on #2375
Cabal 1.22.1.1 fixes the problem. Thank you for your efforts, guys!

[2015-02-24 05:58] ezyang commented on #2280
So... how do I manually toggle one of these flags?

[2015-02-24 07:20] kosmikus commented on #2280
@ezyang Using either `-f` or `--constraint`. So e.g. `--constraint="semigroups -hashable"`.

[2015-02-24 09:33] dcoutts commented on #2345
Added a comment to #2416 about the behaviour of `--package-db`. I guess we should update the user guide with the same.

[2015-02-24 11:59] jsl commented on #20
The comments on this ticket point to other issues that have been closed due to inactivity, or are dead links. No new comments on this ticket in almost three years.

I propose we close this due to lack of activity. Please open a new issue if this is still desired.

/cc @tibbe

[2015-02-24 12:02] jsl commented on #53
I counted 60 `FIX` tags in the current codebase. However, it doesn't seem likely that anyone would fix all of them on this ticket. Since there is no activity on this issue for so long, I propose closing it and opening new tickets for specific FIX tags that are deemed the most important.

/cc @tibbe

[2015-02-24 12:03] jsl commented on #41
It seems like this issue didn't even make sense 8 years ago, let alone now. :)

I suggest closing and re-opening another ticket if there is something we're missing. /cc @tibbe

[2015-02-24 12:05] jsl commented on #57
Doesn't seem like there is activity on this since 2006. I propose closing, please re-open a new issue if this is still desired.

[2015-02-24 12:07] jsl commented on #81
Based on the comments, it appears that this issue was fixed in 2010. I propose closing this ticket. Please re-open another issue if this problem still exists.

/cc @tibbe

[2015-02-24 12:09] jsl commented on #124
This issue appears to be resolved based on comments. I propose closing, and re-opening a new issue if one is found.

/cc @tibbe

[2015-02-24 12:14] jsl commented on #355
Last comment is from 2008. I propose closing due to inactivity. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:15] jsl commented on #334
Given that there are no comments since 2008, I propose closing due to inactivity. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:16] jsl commented on #330
Given that there are no comments since 2008, I propose closing due to inactivity. Please re-open or file a new issue if this is still a problem.

/cc @tibbe

[2015-02-24 12:20] jsl commented on #222
Since there are no comments since 2008, I propose closing this due to inactivity. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:23] jsl commented on #202
Given that there is no activity since 2008, I propose closing this issue. Please re-open or create another ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:25] jsl commented on #306
Given that there is no activity since 2008, I propose we close this issue. Please re-open or create another ticket if this is still desired. /cc @tibbe

[2015-02-24 12:26] jsl commented on #282
Given that there is no activity since 2009, I propose closing this issue. Please re-open or create another ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:29] jsl commented on #275
It seems that there is no activity on the main issue in this ticket since 2008, and the more recent comments are on unrelated issues. I propose closing due to inactivity. Please create a new ticket if there is still a problem.

/cc @tibbe

[2015-02-24 12:32] jsl commented on #218
Given that there is no activity since 2008, I propose closing. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:38] jsl commented on #446
Given that the reporter doesn't need this any more, and there is no other activity since 2009, I propose closing. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:46] jsl commented on #417
The original issue reported here (in 2008) is that Cabal didn't warn when build-depends appeared in the global section of a new cabal file. I just tested with a new cabal, and it does warn when I put this clause in the global section (output: "Warning: atomic-write.cabal: Unknown fields: build-depends (line 57)").

Can we close this ticket, and re-open or create a new ticket if there are other pro

[2015-02-24 12:47] jsl commented on #450
Given that there are no comments since 2009, I propose we close this issue. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:50] jsl commented on #388
The current cabal doesn't warn when given version numbers in the form specified on this ticket, so this issue has not been addressed. However, given that there is no activity on this ticket since 2010, I propose we close it. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:54] jsl commented on #628
Since there is no activity on this ticket since 2010, I propose closing due to inactivity. Please re-open or create a new ticket if this is still desired.

/cc @tibbe

[2015-02-24 12:56] jsl commented on #615
Given that there is no activity since 2010, perhaps this is resolved? At any rate, I propose closing due to inactivity. Please re-open or create a new issue if this is still occurring.

/cc @tibbe

[2015-02-24 12:56] jsl commented on #609
Given that there is no activity since 2009, I propose closing. Please re-open or create a new issue if this still happens.

/cc @tibbe