[2015-09-08 11:14] snoyberg commented on #2802
Cool, sounds like a reasonable requirement for the new feature.

[2015-09-08 20:27] bitemyapp commented on #2674
@ttuegel is this perhaps not a good idea because different build environments could be different? Is it possible for lib/include dirs passed via the command-line to take precedence somehow? Seems potentially tricky unless you let the Cabal file demand a particular build env.

[2015-09-10 01:05] ezyang opened #2816 "Cabal should offer a suggestion for how to resolve dep when a package doesn't exist at all in cached index"
Recently I attempted to build Stack and I got this error:

[code]

The reason was that I hadn't run `cabal update`. It would be helpful if Cabal gave a little tip about this.

[2015-09-10 04:41] phadej commented on #2644
Should we formulate some guidelines for `default-extensions` and `other-extensions` fields. As they are soon used by solver. E.g. I use `DefaultSignatures` but the usage is often guarded by cpp, should I put it in `other-extensions` or not?

[2015-09-10 05:34] phadej commented on #2735
This make sense as `c` is often (always?) `[Dependency]` which we treat as a conjunction of dependencies.

[2015-09-10 06:50] hvr commented on #2644
@phadej fwiw, `other-extensions` and `default-extensions` are already used right now, it's just that they're checked too late (after the solver ran) by Cabal. However, there's a ticket #1517  about documenting `{other,default}-extensions`. I usually mirror the `CPP`-conditional which guards language pragmas inside the `.cabal` file via Cabal conditionals.

[2015-09-10 06:56] hvr commented on #1517
This has been partly addressed by 3f53ee2e42c180a34fb7dd506d33da56aa8221d1 but as @phadej points out it should provide more guidance about what effect using `other-extensions` has (e.g. for Cabal < 1.24 it results in Cabal aborting if the current compiler doesn't provide the extensions, for Cabal>=1.24 the solver uses that information)

[2015-09-10 20:57] kaorihinata commented on #2422
If a C solution is acceptable, statfs(2) will do the job on Linux, *BSD and anything else that uses the BSD statfs(2) variant (like Darwin/Mac OS X). I've tested the following on Linux, FreeBSD and Mac OS X:

[code]

I'm sure there's a more appropriate set of ifdef's, but I'm on the clock right now and just ran into this issue.

[2015-09-10 21:23] ezyang opened #2819 "Drop IPI642 and IPI641 compatibility support"
We're not running continuous integration tests on these ancient version of GHC, there's no reason to expect this code to actually work. We should get rid of it.

[2015-09-11 01:00] ezyang commented on #2623
Hey guys, so I'm working on a refactor for the Cabal library that distinguishes components from packages. Once this is done, we can push the change up so that cabal-install creates a graph of components rather than packages, and then this issue will be solved. There might be some potholes along the way though.

[2015-09-11 02:10] juhp commented on #2437
Okay I finally tested building with ghc-7.10.2.
Cabal installs of packages look good, but builds of ghc itself still seem to have truncated package dirnames.
Maybe I am missing a ghc patch or some config?

[2015-09-11 02:15] ezyang commented on #2437
No, GHC has to be updated to run a version of Cabal which has this fix.

[2015-09-11 07:11] juhp commented on #2437
Ah, is this expected behaviour:

[code]

For Fedora builds I configure with `--libsubdir='$compiler/$pkgid'` after which
`(./Setup configure --user ...; ./Setup install)` installs into <package-version-hash>,
which lead me to conclude incorrectly that 1.22.4.0 was working...

[2015-09-11 08:53] phadej commented on #2571
@hvr, would be it enough to write down specific *breakpoints*, i.e. 1.21, 1.10 and previous?

And maybe mention that `cabal check` will say if it's too low for the features you use?

[2015-09-11 09:06] 23Skidoo commented on #1517
Fixed by #2818.

[2015-09-11 09:06] #1517 closed

[2015-09-11 10:55] massysett commented on #1517
Thank you!

[2015-09-12 07:12] nomeata commented on #2398
I see a few test suite failures on various packages, and due to this bug I’m not sure whether to blame cabal or the actual package at hand. I’d be grateful for a patch, especially if it is simple and can be backported to GHC-7.10.

[2015-09-12 14:06] #2805 closed

[2015-09-12 22:19] 23Skidoo commented on #2819
Is this code required to make `cabal-install` support these old versions or is it just there so that Cabal could be compiled with them? It'd be nice if `cabal install -w ghc-6.4 foo` continued to work even with new versions of `cabal-install`.

[2015-09-12 22:39] ezyang commented on #2819
It's to actually support ghc-6.4.

[2015-09-13 05:23] drbo commented on #936
This makes cabal useless for me.  I don't have the time or skill to manually audit each package I download and am reduced to installing dependencies from source control, which is (fortunately) usually available over secure connection.

[2015-09-13 13:04] 23Skidoo commented on #936
@drbo Check out http://www.well-typed.com/blog/2015/08/hackage-security-beta/

[2015-09-13 13:05] 23Skidoo commented on #936
@drbo Also, the development version of `cabal-install` now uses `curl`/`wget` to download packages over HTTPS.

[2015-09-13 18:37] drbo commented on #2548
Another option is to use the Happy parser generator (used by GHC itself).  Since Happy generates Haskell code, the generated sources could be distributed.

[2015-09-13 18:42] drbo commented on #1634
The only solution I know of is to either fix or ditch Autoconf, which has a bad track record with handling spaces in variables.

[2015-09-13 18:49] drbo commented on #936
@23Skidoo That fixes it, thanks!

[2015-09-14 07:55] phadej commented on #936
@23Skidoo what's the story on Windows?

[2015-09-14 14:28] 23Skidoo commented on #936
@phadej On Windows it uses PowerShell. This feature could use more testing, BTW.

[2015-09-14 18:30] acw opened #2821 "Support for adding flag constraints in Cabal files"
One of the difficulties with the current system of flags is that it places all the responsibility for getting various flags right to the end-user installing some package way down the chain. It would be nice if those of us writing libraries that only work with certain upstream flag combinations could specify flags in the Cabal file, rather than having to provide long list of flag constraints for ou

[2015-09-14 19:19] 23Skidoo commented on #2821
IIRC @dcoutts doesn't think that this is a good idea.

/cc @dcoutts, @kosmikus

[2015-09-14 22:14] lukexi commented on #2689
Howdy! Can we cherry-pick https://github.com/haskell/cabal/commit/f0d5cdde14a85e33e0d0af4260b41bbc014c61a2 into 1.22 to make it into the 7.10.3 release? Thanks!

[2015-09-15 00:07] 23Skidoo commented on #2689
@lukexi Care to make a pull request?

[2015-09-15 00:07] 23Skidoo commented on #2689
@lukexi Care to make a pull request?

[2015-09-15 08:02] RichiH commented on #2777
@ttuegel Any luck with this?

[2015-09-15 11:36] edsko commented on #2224
Reopening because of https://github.com/haskell/cabal/pull/2680#issuecomment-140360590.

[2015-09-15 14:42] ttuegel commented on #2777
Yes and no. I confirmed that the problem is as I expected:

I haven't done anything toward fixing it. There is some work being done to move the solver to its own library, but I'd actually like to see it moved into the Cabal library so we could solve this problem more easily.

[2015-09-15 15:01] RichiH commented on #2777
@ttuegel  Thanks; reading #2768, it seems there's not even a rough guesstimate of an ETA, correct?

[2015-09-15 15:09] ttuegel commented on #2777
@RichiH There hasn't been any movement on it recently, but if it doesn't start moving soon, I'll give it a push.

[2015-09-15 18:57] Rufflewind opened #2824 "Cabal test shouldn't reconfigure if there aren't any tests to begin with"
Scenario: I'm writing a script to automate installation of Haskell packages via a PKGBUILD script, so I naturally try to write in the most general way possible.  The script does something like this (simplified for clarity):

[code]

Now the problem is that not all packages have tests (but I leave it there anyway hoping that it's just a no-op).  When that happens, cabal test will attempt to reconfi

[2015-09-15 19:03] ttuegel commented on #2824
This is a little tricky; we can't know for sure if there are tests until we configure the package with `--enable-tests`. Even if the package description has tests, they may not be buildable in some configurations. However, we can and should avoid reconfiguring on packages that don't define any tests at all.

There are checks in place to make sure this does not happen. Could you give an example of

[2015-09-15 19:12] Rufflewind commented on #2824
Idris:

[code]

It's particularly annoying for Idris because reconfiguring will trigger a `make clean` every time.

[2015-09-15 19:14] ttuegel commented on #2824
The problem here is that Idris is using the `Custom` build type. Packages using `Simple` should not reconfigure, but using the `Custom` type, a package's `Setup.hs` can edit the package description during configuration.

[2015-09-16 10:07] sznurek commented on #2396
@ttuegel: Just as a reminder, I'm still happy to help with this issue if it's still needed.

[2015-09-16 14:16] ttuegel commented on #2396
@sznurek Can you make a pull request for that commit? And maybe describe in the commit message what it's doing? It's not clear to me what the fix is, exactly.

[2015-09-16 14:23] mpickering opened #2825 "cabal configure doesn't generate cabal_macros.h"
If I remember correctly, `cabal configure` used to generate the macros file and place it in `dist/build/autogen/` with a recent build of cabal this doesn't seem to happen. Is this a recent change or am I misremembering how `cabal configure` used to behave? This file is very useful for tool writers and quite difficult to generate via the API.

[2015-09-16 15:34] DanielG commented on #2825
I don't think it ever did that, we used to have a very dirty workaround for that in ghc-mod that calls `cabal build` and then kills it once that file appears. It's not actually difficult to generate, a call to `initialBuildSteps` will do it.

[2015-09-16 22:23] 23Skidoo commented on #2825
Changing the status of this ticket to `enhancement`, should be possible to do this at configuration time.

[2015-09-18 05:26] BardurArantsson commented on #2797
Given that one of my "contributions" had to be reverted a few days ago (basically due to an error caused by a lack of automated tests), I think I'll take a stab at an initial implementation this weekend. @ezyang : Just to make sure we're not duplicating effort: are you actively working on this, or...?

[2015-09-18 05:40] ezyang commented on #2797
Nope, have at it!

[2015-09-18 13:39] sznurek commented on #2396
@ttuegel Opened PR #2826.

[2015-09-18 14:42] #2396 closed

[2015-09-18 15:05] mantkiew commented on #462
One way people (including myself) deal around the `data-files` issue is by using the [file-embed](https://hackage.haskell.org/package/file-embed) package. I could imagine `cabal-install` use `file-embed` for every file in `data-files` and make them available via the `Package_xyz.hs` module. When you use `file-embed`, you get a `[(filePath, contents)]` list. This way, all data files would be direct

[2015-09-18 16:11] gbaz commented on #1847
The problem is more subtle, and just bit someone again. The original ticket characterized it correctly, and this does not. cabal does not allow for arbitrary _module_ names for executables -- i.e. whatever the _file_ is named, the _module_ must be named main.

(this was the underlying cause of the confusion here: https://www.reddit.com/r/haskell/comments/3lax6y/discussion_thread_about_stack/cv5uv0

[2015-09-18 16:16] ttuegel commented on #1847
@gbaz Try `ghc-options: -main-is Foo`. Can `ghc --make` alone even infer which module is `Main`?

[2015-09-18 16:37] 23Skidoo commented on #1847
@ttuegel +1.

[2015-09-18 16:43] gbaz commented on #1847
Yes, ghc --make _can_ handle this. As the original ticket this references stated, GHC does this, and Cabal does not, and the choice was made to preserve this behavior because the GHC main-is support is GHC specific, and it was desired to support "all compilers."

At this point, I think that ship has well sailed in this regard, with regards to legacy compilers. And we can expect new compilers to pr

[2015-09-18 16:49] christiaanb commented on #462
@mantkiew: what's the cross-platform support for `file-embed`, and how well does it scale? as in, is it "OK" to embed a 100 MB, or even 1GB, data-file in the executable?

[2015-09-18 16:54] gbaz commented on #1847
@ttuegel I'm happy to look at this if you or someone else could toss me a few pointers regarding the easiest path to tackle it.

[2015-09-18 16:56] ttuegel commented on #1847
@gbaz The main barrier to fixing this today is the fact that we (Cabal) have no idea what the module name in that file is. We could change the meaning of the `main-is:` field of the package description, but that would certainly break a lot of things. We could add a field `main-module-is:` as suggested in the original ticket, but that doesn't meet your criteria for the same reason that `ghc-options

[2015-09-18 17:00] gbaz commented on #1847
if you point me to the relevant files in the cabal codebase even, I could have a think :-)

and failing that, if there are no objections, i'll just upgrade that warning to an error.

[2015-09-18 17:13] ttuegel commented on #1847
I just tried this, and no, GHC definitely cannot handle this. Observe:

`Hello.hs`:
[code]

[code]

On the other hand,
[code]

So, GHC cannot handle this automatically. Therefore, I don't think it's unreasonable to require the user to specify the name of module in a field such as `main-module:` (I think that matches `exposed-modules:` and `other-modules:` better than `main-module-is:`.)

I agree i

[2015-09-18 17:19] ttuegel commented on #1847
Relevant things to adding a `main-module:` field:
[`Distribution.PackageDescription`](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/PackageDescription.hs#L494): add a `moduleName` field to `Executable`.
[`Distribution.PackageDescription.Parse`](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/PackageDescription/Parse.hs#L221): add an entry to `executableFieldDescrs

[2015-09-18 17:24] gbaz commented on #1847
oh yes, I meant ghc handles this with "main-is" and cabal does not :-)

The way it appears to do so is that it infers the module name from the path given by "main-is".

So I wonder if we couldn't just leverage this behavior in the cabal process... I'll have a look.

[2015-09-18 17:27] ttuegel commented on #1847
@gbaz As I just demonstrated, GHC always assumes `-main-is Main` unless specified otherwise. It does not do any inference or anything else.

[2015-09-18 17:28] gbaz commented on #1847
Ah, I think I see the issue. Cabal's "main-is" picks out a file. GHC's "main-is" picks out a _module name_ perhaps?

[2015-09-18 17:31] gbaz commented on #1847
As per the manual:

The normal rule in Haskell is that your program must supply a main function in module Main. When testing, it is often convenient to change which function is the "main" one, and the -main-is flag allows you to do so. The thing can be one of:

* A lower-case identifier foo. GHC assumes that the main function is Main.foo.

* A module name A. GHC assumes that the main function is A

[2015-09-18 17:39] ttuegel commented on #1847
Cabal doesn't have access to the module name, and we can't safely infer it because that would break existing packages. Maybe you could modify the `-main-is` flag of GHC to accept a filename also?

[2015-09-18 18:01] gbaz commented on #1847
on the warning/error thing, ghc bug filed: https://ghc.haskell.org/trac/ghc/ticket/10895#ticket

[2015-09-18 18:33] mantkiew commented on #462
I confirm that it works on Windows and Linux. I haven't tested on MacOS yet. It certainly is not a universal mechanism and there will be size limits. Besides, keeping 1GB on the heap does not make any sense. I only used it for small files.

[2015-09-19 10:41] BardurArantsson commented on #2797
So, I think I have a basic test runner set up working now:

[code]

Each of the shell scripts can have an accompanying ".out" and ".err" file alongside it which will be compared against the stdout/stderr of running the script.

(At the moment I'm not actually running the shell scripts nor comparing stdout/stderr, but that should be pretty easy to do -- I'm mostly just working on the overall setup

[2015-09-19 11:38] phadej commented on #2797
For should fail tests:
[code]

[2015-09-19 17:41] ezyang commented on #2797
You can always crib the relevant design decisions from GHC's test suite:

1. Make always stops on the first error
2. This is something GHC does quite poorly, which has caused us some pain. I think it would adequate if each Cabal calls has a dist directory suffixed with the testname; no need for a fresh working directory!
3. GHC does this with TEST_HC (which has the path to the GHC executable) and

[2015-09-19 18:34] robstewart57 opened #2827 "-prof GHC flag should not to be used with --ghc-options cabal flag"
When a user wants to run with cost modelling profiling enabled, they need to use `+RTS -p`. For this to work and when invoking GHC directly, the user types:

    $ ghc -prof -fprof-auto -rtsopts Main.hs

However, if they are using cabal, they should type:

    $ cabal install --enable-executable-profiling --enable-library-profiling --ghc-options="-fprof-auto -rtsopts"

It might not be clear that w

[2015-09-20 12:45] ttuegel commented on #2827
Actually, with the latest Cabal, they should probably only do
[code]
and with the latest development version, they should only do
[code]
but these may be inadequately documented and it surely should be an error to include `-prof` in `--ghc-options`.

[2015-09-20 12:48] ttuegel commented on #2809
We should allow `--enable-tests` to take an optional list of packages so that `--enable-tests=foo,bar` only enables tests for `foo` and `bar`, but `--enable-tests` continues to enable tests for all explicit targets.

[2015-09-20 12:54] BardurArantsson commented on #2797
Here's the work so far:

https://github.com/BardurArantsson/cabal/tree/gh-2797

For now, I've marked outstanding issues in the code with "XXX". Here are the main remaining issues:

* The current way of reading stdout/stderr is almost guaranteed to deadlock for non-trivial examples. This should be easily solvable by sparking off a couple of separate threads to perform the reading. (I wonder if it w

[2015-09-20 12:57] ttuegel commented on #2762
@grayjay At one point, this is what we did. However, this can cause the subprocess to deadlock if it fills the output buffer. (It turns out, it will also deadlock anyway if compiled without `-threaded`.) What we need to do in the Cabal library is just open a log file and give the subprocess that handle for its stdout and stderr. We can do threaded things in cabal-install; we'll have to move the fa

[2015-09-20 12:59] ttuegel commented on #2703
:+1:

Cabal should also add `~/.cabal/bin` to its own PATH, so that this still works even if the user hasn't configured their shell.

[2015-09-20 13:06] BardurArantsson commented on #2797
Oh, yes, here's an example of the output (sans color):

[code]

(I auto-add the "ignoring ..." bit just to make sure that it's possible to see at a glance if the discovery code is finding the .out and .err files as expected. I'm not sure if we can make it even more in-your-face or if we need to.)

[2015-09-20 13:37] ttuegel commented on #2214
I have a work-in-progress/preview in PR #2829.

[2015-09-20 16:57] snoyberg opened #2830 "Installed package IDs are not unique"
I'm under the impression the the ipids for registered packages are generated by Cabal, but I may be mistaken. If in fact this is done by GHC, let me know and I'll move the issue to GHC Trac.

Original issue is at https://github.com/commercialhaskell/stack/issues/992. Essentially:

* User built package `foo-1` and `bar-1`, where bar depends on `foo-1`, and registered them both into package database

[2015-09-21 02:53] grayjay commented on #2762
@ttuegel  I would like to work on this issue, but I'm not sure I understand the problem.  I see that I ignored the subprocess' stderr in the commit that I linked to, but is there another reason that it would deadlock?  Here's a new commit that reads stderr:

https://github.com/grayjay/cabal/commit/afae3cb33c8136701673ab315c1ba01bef75fe69

[2015-09-21 17:48] ezyang commented on #2797
1. I don't see any problem with adding an async for the test suite
2. GHC's test suite works on Windows by assuming that Make is available, since you can't dev GHC without MSYS. Honestly, if someone is dev'ing on Windows I think it's OK to assume msys. Make sure you test I assume.
3. I don't like a wrapper script. It's an extra point of indirection, and if I want to run the commands manually I hav

[2015-09-22 05:26] 23Skidoo commented on #2703
@ttuegel I think we already do this.

[2015-09-22 05:27] 23Skidoo commented on #2830
/cc @ezyang

[2015-09-22 06:34] ezyang commented on #2830
The short answer is, Nix-like Cabal is going to fix this.

The longer answer is, it looks like GHC's ABI calculation (which is used to compute  is behaving differently than you might expect. Let me first explain how ABI calculation works. When you depend on an external package, there are two ways that this factors into the ABI: (1) for every transitively reachable package, GHC will include the sou

[2015-09-22 06:47] BardurArantsson commented on #2797
I've pushed an update which now reads the sub-process stdout/stderr asynchronously.

Yeah, I'll just go with "bash" for the shell, I think. Since it's only a requirement for development, I guess the MSYS requirement isn't too onerous -- and as I mentioned it seems to be a de-facto requirement for the existing test suite due to its invocation of "bash".

About the wrapper script: I can see your poi

[2015-09-22 07:29] 23Skidoo commented on #2830
@ezyang Thanks for the explanation. Closing, since the fix is in the works.

[2015-09-22 07:29] #2830 closed

[2015-09-22 07:31] ezyang commented on #2830
Can we get this cited somewhere reasonable? I was pretty surprised to find out ABIs didn't track depends, though it made sense after I looked at the code.

[2015-09-22 07:36] 23Skidoo commented on #2830
Not sure what is the appropriate place. Cabal documentation is a bit higher-level. FAQ, maybe?

[2015-09-22 11:28] ttuegel commented on #2703
@23Skidoo We do it for `$SANDBOX_DIR`, but I don't think we do it for `$HOME`.

[2015-09-22 15:40] hvr commented on #2821
I guess it's problematic when manual flags affect the exposed API of a package (e.g. disabling instances or other API parts) or its behavior (e.g. enabling some debugging output), as other packages depending on those same dependencies expect a unaltered API.

[2015-09-22 15:43] dcoutts commented on #2821
The design of the flag system (from way back now) is specifically such that package authors cannot pick flags of dependent packages, and libraries are not supposed to change their API based on flags.

The reason for this is that if this were allowed (and it were used) then it would become impossible to translate cabal packages into binary packages for systems like debian / fedora etc. Many people

[2015-09-22 18:54] BardurArantsson commented on #2797
Pushed a further little update:

* Uses withAsync now for automatic cleanup in case of exceptions. (Not really a big deal, but I guess it can't hurt.)
* Creates a working directory for each test case now and cleans it up after the test runs. The working directory is called ".work" relative to the test case directory. This is necessary because a) cabal is very stateful (fs-wise) and so we need a cl

[2015-09-22 20:30] 23Skidoo commented on #2703
@ttuegel See #1415.

[2015-09-22 21:57] hvr opened #2832 "Extend `.cabal` format with "common" definition stanzas"
_( this is a project task description for the upcoming https://github.com/haskell/cabal/wiki/Hackathon2015 )_

One complaint about the `.cabal` format is that there's avoidable duplication when multiple stanzas requiring to repeat some shared properties are involved (most notably `build-depends`)

Here's an example how common stanzas could be used:

[code]

In the example above a single common sec

[2015-09-23 07:47] grayjay opened #2834 "Solver backjumps too far when linked packages have different flag assignments"
I wrote a test case that reproduces the problem: https://github.com/grayjay/cabal/commit/14e9d32fc6264d364b9bf7676bcd3d70e4d17744  The solver doesn't find a solution.

The type `D.C.Dependency.Modular.Dependency.Var` can represent a flag variable.  When `Var` is used in a conflict set, the name of the flag is usually simplified to "flag" to simplify the logic dealing with dependencies between flag

[2015-09-23 13:33] 23Skidoo commented on #2834
/cc @kosmikus

[2015-09-23 16:55] BardurArantsson commented on #2797
Pushed a little update:

* Migrated the "cabal freeze" tests to integration-test. Net gain in LoC is ~90 lines. (Not that that should be the driving force, but it's a nice little bonus.)

Please have a look and see what you think!

This has uncovered a new potential source of problems, namely "unpredictable" file system state created by cabal-install and the need to do proper cleanup in a simple a

[2015-09-23 19:11] ezyang commented on #2797
You mean "loss" :)

Can't you just set the `--config-file` to specify a separate config file? Would prefer not to be slinging files to random temporary directories, prefer it to be deterministic so we can look at the state if we're debugging.

[2015-09-23 21:41] ttuegel commented on #2797
Please use either `/bin/sh` (required to exist by POSIX, but might not be bash) or `/usr/bin/env bash` (required to exist by LSB, but also present on all other Unices) as `/bin/bash` does not exist on all systems, even if bash is installed.

[2015-09-23 21:44] ezyang commented on #2797
I think it might just be better to use Make, in this case?

[2015-09-23 21:47] ttuegel commented on #2797
That would probably be ideal, we won't have to worry about shell interpreter at all. I just wanted to make sure that if we *do* use a shell, we call it in a standards-compliant way. :)

[2015-09-23 22:48] ezyang commented on #2745
See also #2830

[2015-09-24 04:54] ezyang opened #2835 "Too many import lists: let's make names unique and drop same-package import lists"
I've recently done several refactors on the Cabal code base (moving around some core fields in order to make things cleaner, etc) and I've noticed the single biggest annoying thing about doing this is fixing up the import lists. EVERY SINGLE TIME. It is driving me completely batty, and wasting so much of my time.

I want to kill it with fire. Specifically:

1. I'll delete every explicit import lis

[2015-09-24 04:57] gbaz commented on #2835
I also don't like the explicit imports everywhere style, found it irritating to work with, and am cool with this. But I am only an occasional cabal hacker, so I conformed to convention. This sort of thing should be decided by those who most frequently hack on the code since it matters most to their quality of life, so my opinion doesn't matter much here. That said, :+1:

[2015-09-24 05:36] BardurArantsson commented on #2797
@ttuegel: Yes, the plan was to use "usr/bin/env" with "bash". AFAIUI the "sh" emulation in "bash" isn't nearly strict enough to ensure that people would only write valid "sh" code (ie. bash accepts many bash-isms even in "sh mode"), so it's unrealistic to expect people to write proper "sh" code anyway.

@ezyang: I don't understand why you'd want to involve "make" here. Make just calls out to the s

[2015-09-24 05:56] ezyang commented on #2797
@BardurArantsson Based on a recent discussion on this very thing here: https://phabricator.haskell.org/D1267 they don't want to force BSD users to install bash to run the test suite.

[2015-09-24 06:11] BardurArantsson commented on #2797
@ezyang: "cabal.config" is just an example of a larger issue (see below). Btw, I'm already giving cabal the "--config-file" argument, but "cabal freeze" is actually creating a file named "cabal.config" regardless. Could this actually be a bug in "cabal freeze"?

I understand and share your concerns about debuggability, and I certainly want to have the option of preserving whatever files are genera

[2015-09-24 06:13] BardurArantsson commented on #2797
I don't disagree with using "sh" in principle, I just see this as a practical matter since those of us on Linux (the vast majority, probably?) or OS X are probably guaranteed to accidentally introduce bashisms? (Is the /bin/sh on OS X actually a *real* sh? Anybody know?)

[2015-09-24 06:26] ezyang commented on #2797
So, with certain driver tests in GHC, this can be a problem, but most of us run the test suite in parallel (e.g. with 12 tests running simultaneously at the same time) so we tend to notice when things clobber each other. Yes, occasionally I have to fix someone clobbering something but it's not that frequent.

I also object to the claim that there is "too much ambient state". If this is true, then

[2015-09-24 06:36] BardurArantsson commented on #2797
Cabal isn't an executable, so I don't understand *how* you'd do this kind of testing using shell scripts (or make or whatever) for that :).

Oh, and cabal-install *is* designed poorly... or rather it's extremely ad-hoc since it has basically evolved to where it is now in starts and fits by a lot of different people with no coherent vision. That doesn't tend to produce well-factored designs. :/

Ch

[2015-09-24 06:39] BardurArantsson commented on #2797
Perhaps separate directories with symlinks for .cabal files is the 80% solution that can get us to where we want to be. I'll try a little experiment later to see what the other downsides are, if any.

[2015-09-24 07:48] ezyang commented on #2797
Yeah, I suspected your real problem is that it's really annoying to setup Cabal projects.

Perhaps we should define some format for easily specifying Cabal projects in a compact way. Could be something as simple as:

[code]

etc. Should make it less unpleasant to do this?

[2015-09-24 08:03] ezyang commented on #2797
BTW, it is awesome that you are working on this, and would really like to see even an imperfect version of this go in. Will make dev experience a lot better.

[2015-09-24 08:15] ezyang commented on #2091
Maybe this is fixed now with setup dependencies?

[2015-09-24 08:16] ezyang commented on #2638
This is still open because the committed change was only a partial fix.

[2015-09-24 08:25] 23Skidoo commented on #2835
I find them useful for code navigation. `M-<; C-f foo` tells you where `foo` came from.

Can be controversial for data structure-like things, e.g. `Foo.{new,foldWithKey}` vs `newFoo,foldFooWithKey`.

/cc @dcoutts

[2015-09-24 08:30] ezyang commented on #2835
@23Skidoo I personally use hasktags to do code navigation. This works really great for same-project since the tags file is then pretty comprehensive.

If it's data structure like, I expect that it will be imported qualified and won't induce a conflict rename.

[2015-09-24 08:52] ezyang opened #2836 "Per-component InstallDirs"
Currently, the install paths for binaries, libraries, and all other fun stuff is balled up into a single data structure `InstallDirs`. This kind of makes sense, if you think you are installing a "package". But you're really not; you may be installing any combination of components associated with the package. From this perspective, having all of `InstallDirs` in a single data structure is hogwash.

[2015-09-24 11:26] ttuegel commented on #2835
In principle, I agree with disambiguating names wherever practical, but I don't want to see us in a situation like this.

[2015-09-24 11:32] beni55 commented on #2835
Cabal code base (moving around some core fields in order to make things cleaner, etc) and I've noticed the single biggest annoying thing about doing.practical, but I don't want to see us in,?

[2015-09-24 12:43] robstewart57 commented on #2827
@ttuegel is that to say: that in the development version, when --enable-profiling is enabled then the `-fprof-auto` flag is automatically passed to GHC ?

[2015-09-24 12:54] ttuegel commented on #2827
@robstewart57 Well, not quite: we actually use `-fprof-auto-exported` for libraries and `-fprof-auto-top` for executables. In practice, `-fprof-auto` isn't usually what you want; it annotates everything, to the point that the cost of profiling begins to dominate the costs you are trying to profile. In case you *really* want `-fprof-auto`, it should be safe to add it to `--ghc-options`.

[2015-09-24 17:18] ezyang commented on #2835
@ttuegel To be clear, I am NOT proposing to rename data structure names. (GHC does have the qualified style but I think it's uncommon in the broader library ecosystem)

@beni55 I don't understand your comment.

[2015-09-24 17:32] ezyang commented on #2827
I think Cabal strips out some `--ghc-options` currently? (Or this may be for things in the Cabal file). In that case, I'd suggest detecting `-prof` in the options and acting as if it was `--enable-profiling`.

[2015-09-24 18:44] BardurArantsson commented on #2797
So, I've been converting a few more test cases... and I'm not sure having "*.out" and "*.err" files is actually worth it. It sounds like a good idea to standardize it, but I find myself having to do "blah > /dev/null" quite a lot. Checking for the presence of some particular text in the output is mostly also pretty easy: In "should_run" tests you just do "blah && grep foo". (This changes a bit if

[2015-09-24 18:49] BardurArantsson commented on #2797
Oh, and a further observation: I was actually surprised by this, but it seems it takes roughly 0.60s to execute each test case at a bare minimum. This surprised me -- I'm not sure if it's purely "cabal" start-up overhead or what it is, but I think some work may be needed to bring it down significantly. A slow-running test-suite is always a pain.

[2015-09-24 18:54] ezyang commented on #2797
Re out/err, it's interesting that in the GHC test suite (which has Cabal tests), Setup (which is how we test the Cabal library) is usually called with -v0, and then just the output of a few commands we query to see what the resulting system looks like is actually used. This might be a good fit? I think we want to avoid lots of grepping... sometimes it's necessary but it's pretty annoying, and then

[2015-09-24 19:02] BardurArantsson commented on #2797
-v0: Might be workable -- I'll have to try it out on a few test cases, but I could imagine the auto-configure thing being a bit of an issue here in that you probably want selectively switch off the configure output when auto-configure kicks in. Either way, we can just leave the .out and .err support code in -- it doesn't actually do anything unless you explicitly create .out and .err files, so it'

[2015-09-24 19:08] ezyang commented on #2797
I dunno, I don't feel like I ever really care about the output of configure. :shrug:

[2015-09-24 19:12] BardurArantsson commented on #2797
Indeed not :). Other than perhaps when testing "configure" :).

TODO list to self:

1. Investigate parallelization. (To speed up further development.)
1. Investigate how hard "copy+run" would be and if it has any non-trivial performance impact.
1. Convert remaining test cases. Only MultipleSource left to go! :)

[2015-09-24 19:45] BardurArantsson commented on #2797
Pushed the converted "exec" tests just now.

[2015-09-24 21:35] tibbe commented on #2835
No, we should use namespaces and not ad-hoc prefixes. One way to make this less annoying is to just import qualified and then use Module.foo.

[2015-09-24 23:38] #2762 closed

[2015-09-25 00:22] ezyang opened #2839 "Restrict allowed characters for component names"
Currently, component names can include any character (including forward slash, etc). I propose to reduce the set of allowed characters to those allowed in IPIDs (so, alphanumerics, dash, period and underscore). Based on some cursory querying on Hackage, no one is using any characters which are not these.

[2015-09-25 01:08] 23Skidoo commented on #2839
+1.

[2015-09-25 05:49] BardurArantsson commented on #2797
Alright, parallelism is built into `tasty` so it just needed a `+RTS -N -RTS` to be supplied as an option to the test program on the command line. Of course that fails miserably at the moment since different instances of `cabal` will stomp all over each other's data, but that will hopefully be fixed by "copy-before-running". :)

I'm not sure if we can do that by default, though, since the ARM buil

[2015-09-25 15:51] LukeHoersten commented on #2780
+1

[2015-09-26 19:57] BardurArantsson commented on #2797
Just a little note to self: As was mentioned on #2664, line endings may be a problem for "err" and "out" files.

[2015-09-26 23:59] grayjay opened #2842 "--independent-goals can produce an invalid install plan"
Here is a test case.  It is very fragile, because the failure completely depends on the order that the solver chooses to solve for variables.
https://github.com/grayjay/cabal/commit/bca1eda6851dabc6ae8563ac9315264647c582c3

    targets: D, E, F
    constraints:
      stanzas A test (unknown source)
      stanzas B test (unknown source)
      stanzas C test (unknown source)
      stanzas C test (un

[2015-09-27 00:01] grayjay opened #2843 "Conflict set is too small when solver enforces the single instance restriction"
Here is a test case where the solver can't find a solution:
https://github.com/grayjay/cabal/commit/2b4d0274d35ee8859d41a3ebf96dc84c6f90c8f4

    targets: A, B
    constraints:
      stanzas A test (unknown source)
      stanzas B test (unknown source)
      stanzas C test (unknown source)
      stanzas D test (unknown source)
      stanzas D test (unknown source)
      stanzas E test (unknown sou

[2015-09-27 13:33] yaccz commented on #2422
I guess so. Is this a problem in other OS as well? Is there a standardized interface we could levarage to handle this issue? If not, is "we would have to implement an adapter pattern to make good UX for failure modes" a good argument for not fixing the issue?

Which from my PoV is one possible implementation of "being smart". I don't have enough knowledge about neither the problem domain nor the o

[2015-09-27 13:42] yaccz commented on #2422
Also easily fixable just by running `mount -o remount,noexec` but it is difficult to connect having just `ExitFailure 127` with /tmp noexec option. Especially when your primary linux distribution has /tmp with exec by default. Which is the primary problem here.

[2015-09-27 15:03] kaorihinata commented on #2422
All Unix and Unix-like systems that honor the noexec flag in some capacity are affected.

Ahh, I apologize. I have always used "being smart" to mean "automating something harmless or simple so that the user doesn't have to worry about it". What I meant was that, since having `/tmp` mounted `noexec` is ostensibly a user decision, meeting the user half way by **not** hard coding the tmp path and mak

[2015-09-27 15:08] yaccz commented on #2422
True. It appears the best possible solution is combination of informative message and ability to configure the /tmp location.

[2015-09-27 16:19] YPares commented on #2827
But if you remove -prof from GHC options at building, how can you pass +RTS -p at execution?
It doesn't work.

[2015-09-27 16:20] ttuegel commented on #2827
@YPares Cabal gives `-prof` whenever you configure with `--enable-profiling`. @ezyang is suggesting that we forbid users from doing `--ghc-options="-prof"`, which doesn't work right anyway.

[2015-09-27 16:30] robstewart57 commented on #2827
@ttuegel And leading on from the mirrored stack [github ticket](https://github.com/commercialhaskell/stack/issues/1015) about the same issue, stack commit https://github.com/commercialhaskell/stack/commit/7f49966cc1b708ab1d35495e79b5c78d12ed4ed2 now means that when the misuse of cabal-install that @ezyang is describing, i.e. `--ghc-options="-prof"` is passed to stack, the user now sees the followi

[2015-09-27 16:55] YPares commented on #2827
Ok, indeed it does, but it's weird.
When I run "cabal run +RTS -p", I get:

    cabal: the flag -p requires the program to be built with -prof
    cabal:
    cabal: Usage: <prog> <args> [+RTS <rtsopts> | -RTS <args>] ... --RTS <args>
    cabal:

But when I manually find the executable and run it ("./dist/build/my-exe/my-exe +RTS -p") then it works. I thouht both were the same?

[2015-09-27 17:08] ttuegel commented on #2827
@YPares You are passing `+RTS -p` to `cabal`. You want to do `cabal run -- +RTS -p` instead.

[2015-09-27 17:10] YPares commented on #2827
@ttuegel Ok... now I feel stupid. Thanks a lot ^^

[2015-09-27 21:01] 23Skidoo commented on #2842
/cc @kosmikus

[2015-09-27 22:16] 23Skidoo commented on #2843
/cc @kosmikus

[2015-09-28 13:23] enolan commented on #1575
Can anyone give me some guidance on where to start? What modules need to be changed? Cabal has a lot of them and does not come with a map.

[2015-09-28 16:01] NightRa commented on #1681
Any progress on this?

[2015-09-28 16:03] 23Skidoo commented on #1681
Fixed by #2746.

@NightRa Thanks for the heads-up.

[2015-09-28 16:03] #1681 closed

[2015-09-29 07:05] Rufflewind commented on #1963
There is an easier workaround via the `script` utility, which does all the tricky TTY emulation and stuff.  (It doesn't fix all the problems though; color codes will still get recorded to file, but you could argue that's a "feature" too: you can view the colored output using `less -R`.)

To make it work, there needs to be a way to invoke the test executable via a wrapper of some kind.  This would

[2015-09-29 11:41] ttuegel commented on #1963
Not yet, but your contribution would be welcome!

For this particular case, I think it would be best if this worked out-of-the-box. If we added `script` to the [list of configurable programs](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/Simple/Program/Builtin.hs), we could build this function into the test runner (while having the ability to fallback to something else if `script

[2015-09-29 19:10] ezyang opened #2845 "Get rid of Cabal bootstrapping"
Suggested patch:

[code]

(well, also remove the comments). I feel like Cabal's Cabal file is stable enough and supported by enough previous versions that this is not really a necessary step anymore.

[2015-09-30 14:24] ttuegel commented on #2845
I suggest we follow the same rule as with GHC versions: if we haven't made any breaking changes to the package description in 3 years, then we can keep it at `build-type: Simple`. If we need to make breaking changes in the future, we can always go back to `build-type: Custom`. Travis will keep us honest here.

[2015-09-30 21:13] 23Skidoo commented on #2845
Fixed by #2845.

[2015-09-30 21:13] #2845 closed

[2015-09-30 21:13] acw commented on #2821
It arises from situations in which there are changes in fundamental libraries: integer-gmp vs. integer-simple is a classic example, as is network vs hans, etc. I run into it fairly regularly with the HaLVM, but I suspect other cross-compilers will have similar problems.

[2015-09-30 21:47] ezyang commented on #2835
OK, so I guess then an alternate proposal is to:

1. Delete every explicit import list in Cabal
2. For every conflict, explicitly qualify one (or more) of the conflicting modules

[2015-09-30 22:06] ttuegel commented on #2835
:+1: I think that will already be a big improvement.

[2015-10-01 19:48] BardurArantsson commented on #2797
Alright, I've pushed what I think could be considered Release Candidate 1 of this. See https://github.com/BardurArantsson/cabal/tree/gh-2797.

There are still a couple of minor issues marked with XXX, but nothing major. One is the use of the 'temporary' package -- this is just a bit of laziness on my part since Distribution.Compat.TempFile.createTempDirectory is all that's needed, but it's current

[2015-10-01 20:01] 23Skidoo commented on #1839
Fixed by #2849.

[2015-10-01 20:01] #1839 closed

[2015-10-02 18:37] grayjay commented on #2797
I tested it in parallel on Windows.  Everything passed after I fixed the four issues that I encountered with the previous version (https://github.com/haskell/cabal/pull/2664#issuecomment-143081088).  I really like how quickly I can modify and run the tests.

[2015-10-02 18:44] ezyang commented on #2797
Ship it!!!

[2015-10-03 09:33] danfran commented on #2653
I have installed GHC 7.10.2 for El Capitan and I am having same issue:

cabal: /usr/bin/ar: permission denied

[2015-10-03 09:36] danfran opened #2851 "Cabal from Haskell Platform 7.10.2 for 'El Capitan': /usr/bin/ar: permission denied"
I have installed GHC 7.10.2 for El Capitan and I am having this issue:

cabal: /usr/bin/ar: permission denied

and I noticed that all the symlinks (after I have reinstalled Haskell-Platform) in /usr/bin are gone.

[2015-10-03 09:59] nrolland commented on #2653
@danfran hitting this for 7.8.4, as expected, will move to 7.10, please report if you find a solution

[2015-10-03 14:05] sznurek commented on #2796
@ekmett Did you mean `cabal check` instead of `cabal sdist`? On my machine `cabal sdist` does not give any warnings. Anyway, `cabal check` ends with exit code 1, listing only `-O2` warning.

@23Skidoo I am happy to work on this issue. Should I be assigned to it?

[2015-10-03 15:55] gbaz commented on #2653
@danfran you should not have this issue under 7.10.2 if you are using an officially released cabal binary. If you are using ghcformacosx then see this ticket https://github.com/ghcformacosx/ghc-dot-app/issues/41 and in particular the cabal binary packaged there.

[2015-10-03 15:57] mgadda commented on #2653
Is there a separate ticket (seeing that this is closed) tracking the repair of Cabal/GHC 7.10.2 with OS X 10.11? Is it #2851?

[2015-10-03 15:58] gbaz commented on #2851
@danfran which install method are you using? the /ar issue appears to be one related to ghcformacosx -- the missing symlinks issue is due to new rootless security, but should mainly affect the platform install method.

This ticket on the platform tracker describes the script to fix _those_ up: https://github.com/haskell/haskell-platform/issues/221

[2015-10-03 16:00] gbaz commented on #2653
@mgadda I don't know of any issues with cabal and the current platform? The only issue I know of is the need to change the install script, for which there is a candidate installer for the platform already produced. If you have any other issue, feel free to make a not of it on that ticket for now, I suppose.

[2015-10-03 16:14] mgadda commented on #2653
@gbaz Oh I didn't realize there was a candidate installer out there. Where is that?

[2015-10-03 16:18] gbaz commented on #2653
Just added a comment to point to it at https://github.com/haskell/haskell-platform/issues/221

[2015-10-03 18:52] danfran commented on #2851
This script https://github.com/mzero/haskell-platform/blob/osx-elcap-fix/hptool/os-extras/osx/bin/activate-hs looks not working. I still cannot see the symlinks.

[2015-10-03 19:04] gbaz commented on #2851
The symlinks will now be placed in /usr/local/bin with that script. Did you
look there? Or were any errors printed?

On Saturday, October 3, 2015, danfran <notifications@github.com> wrote:

[2015-10-03 19:05] danfran commented on #2851
yes they are in /usr/loca/bin now.

[2015-10-03 22:09] danfran commented on #2851
Using that script before to fix the permissions as apparently work but when I try to run the same script in:

sudo /Library/Haskell/ghc-7.10.2-x86_64/bin/activate-hs

I got:

/Library/Haskell$ sudo ghc-7.10.2-x86_64/bin/activate-hs
ln: /usr/bin/ghc: Operation not permitted
ln: /usr/bin/ghc-7.10.2: Operation not permitted
ln: /usr/bin/ghc-pkg: Operation not permitted
ln: /usr/bin/ghc-pkg-7.10.2: Op

[2015-10-03 23:32] gbaz commented on #2851
Yes, the script I linked is a new version that is patched to work with El Capitan. The old script that remains in Library/Haskell/ghc-7.10.2-x86_64/bin/activate-hs is not the patched version, and will not work.

[2015-10-04 12:05] bennofs commented on #2080
I would like to work on this. However, I had the following design in mind:

1. add a new option to `cabal sdist`: use `--doc` to generate a documentation tarball.
2. add a new option to `cabal upload`: use `--doc` to upload a documentation tarball.
3. Perhaps allow `cabal upload` to be run without arguments (and `cabal upload --doc`), which will automatically generate sdists/documentation tarballs

[2015-10-04 15:17] bennofs commented on #2080
Now, after looking at the code some more, I'm still not exactly sure where all the parts for this fit. I think there are three parts:

1. generate the documentation with links etc suitable for hackage upload. This now looks like it would fit best into the `haddock` command, in Cabal-the-library.
2. from that, generate a documentation tarball. This must be done in `cabal-install`, since only that m

[2015-10-04 22:21] 23Skidoo commented on #2796
Closing, since this apparently can't be reproduced.

@ekmett Feel free to reopen if you can provide a failing test case.

[2015-10-04 22:21] #2796 closed

[2015-10-05 07:42] phadej commented on #2802
Could the first stage be to provide `--enable-library`, `--enable-executables` and disable counterparts to be consistent with existing `--enable-tests` and `--enable-benchmarks`?

One immediate feature would be to be able to run tests against installed library, with
[code]
when test suite depends on the library and not `hs-source-dirs: test src`.

Either this first stage, or original issue could b

[2015-10-05 20:23] BardurArantsson commented on #2797
Pushed RC2 (I guess) with a few updates. Still not quite sure about "sh" vs. "/bin/sh" and need to handle the Unix/Windows line endings somehow.

[2015-10-05 20:31] varosi opened #2854 "--flags option doesn't work when --only-dependencies is present"
ghc 7.10.2
cabal 1.22.6.0

This is working:
cabal install hmatrix --flags=openblas

This is not:
cabal install --only-dependencies --flags=openblas

Where hmatrix is a dependency of subhask.

[2015-10-06 18:00] chreekat opened #2855 "Update the online user's guide"
https://www.haskell.org/cabal/users-guide/developing-packages.html

default-extensions and other-extensions were apparently added five years ago, and they were added to Cabal/doc/developing-packages.markdown five months ago. Is somebody here able to update the website?

[2015-10-06 20:07] michaelgwelch commented on #2653
I just installed 7.10.2a for OS X 10.11  It's the second download at the download [page](https://www.haskell.org/platform/mac.html)

I'm seeing this issue:

    $ cabal install --dependencies-only --enable-tests
    cabal: /usr/bin/ar: permission denied

[2015-10-06 20:17] michaelgwelch commented on #2653
I'm not sure what is going on. If I run `which cabal`, I see it's running `cabal` from `~/Library/Haskell/bin/cabal` If I explicitly run `/Library/Haskell/ghc-7.10.2-x86_64/bin/cabal install --dependencies-only --enable-tests` then it appears to be working.

Both locations show new directories that were added today (when I installed using the new install for 10.11) I'm not sure what should be inst

[2015-10-06 20:22] gbaz commented on #2653
Yes, I think that's correct. We should probably warn against that issue -- I think prior platforms added that back in the past before the current symlink approach. Thanks for the feedback!

[2015-10-06 20:29] michaelgwelch commented on #2653
@gbaz just to follow up, now when I type `which cabal` I do see it's running `usr/local/bin/cabal` as expected and that is symlinked to the location in `/Library/Haskell` that I mentioned above.

[2015-10-06 21:55] crockeea opened #2856 "Rebuilding results in "cannot satisfy package-id""
Here's the scenario: my cabal file contains a library and an executable. I've built the library and executable before, then I make changes to the executable files (which are independent of the library files) and try to rebuild with `cabal build myexec`. I get:

[code]

If I re-run the command, the build succeeds. This does not happen every time I make a change, so there seems to be some non-determ

[2015-10-09 15:45] tuncer opened #2857 "HEAD broken: cannot satisfy ... is shadowd by"
This is what happens if you try to build xmonad 577d5ae968 with cabal b083151f2a01ad7245f21502fd20f21189ab7665:

[code]

/cc @ezyang

[2015-10-09 15:56] 23Skidoo commented on #2856
/cc @ezyang

[2015-10-09 15:56] 23Skidoo commented on #2857
This may be a duplicate of #2856.

[2015-10-09 17:03] ezyang commented on #2857
Something terrible has happened: we've computed the same IPID hash for data-default-class and old-locale! That shouldn't happen.

[2015-10-09 17:06] ezyang commented on #2856
Is this with the latest Cabal HEAD?

[2015-10-09 17:26] #2857 closed

[2015-10-09 17:26] ezyang commented on #2857
Please give the fix a try, and reopen this if it does not solve the problem.

[2015-10-09 17:54] crockeea commented on #2856
$ cabal --version
cabal-install version 1.22.4.0
using version 1.22.2.0 of the Cabal library

[2015-10-09 18:25] tuncer commented on #2857
Thanks, the fix works.

[2015-10-10 15:54] adamgundry commented on #1935
I'm working on this at the London infrastructure hackathon.

[2015-10-11 08:55] jdnavarro opened #2858 "Provide more user friendly error messages when no valid build plan is found"
/cc @kosmikus

[2015-10-11 09:00] jdnavarro opened #2860 "Attempt to find optimal build plans"
This includes a weight penalty system to measuer the quality of different build plans.

/cc @kosmikus

[2015-10-11 09:04] kosmikus commented on #2854
Can you describe what you mean by "does not work"? Or perhaps I'm misunderstanding what you're trying. The second command line does not mention `hmatrix`, nor `subhask`. Do you run this locally in a `subhask` directory?

[2015-10-11 09:05] kosmikus commented on #2860
I also talked to @grayjay about this before.

[2015-10-11 09:05] jdnavarro opened #2861 "Support package collections"
I couldn't find an issue related to it, so I'm opening this to use it as a reference for commits related to collections.

/cc @dcoutts

[2015-10-11 09:19] jdnavarro commented on #848
Feel free to assign this to me.

[2015-10-11 09:22] kosmikus commented on #2843
/cc @edsko

[2015-10-11 09:51] #2678 closed

[2015-10-11 10:36] phadej commented on #847
https://github.com/haskell/cabal/issues/2547 is related

[2015-10-11 11:52] 23Skidoo commented on #848
Looks like it's only possible to assign tickets to members of the Haskell organization.

[2015-10-11 12:10] jdnavarro commented on #848
After discussing with @dcoutts, it seems imitating the way `pandoc` creates its own manpages is the most sensible option right now. The source documentation will be written in a `markdown` and a script using `pandoc` in the `scripts/` directory will generate the manpages in a predetermined path which will be registered in the cabal file as extras source files. This will also allows to easily gener

[2015-10-11 14:29] kosmikus commented on #2860
Plan of doing this incrementally:

1. Modify `PSQ` to take an extra parameter for weights / penalties, which generally should be an instance of `Ord`. Don't use it yet, instantiate it to `()` everywhere.

2. Replace the current reorderings (mainly in `Preference`) to modify weights instead. Try to reimplement the current behaviour precisely. This will require to use lexicographic ordering, i.e., a

[2015-10-11 14:59] kosmikus commented on #848
@23Skidoo Can we not make people a member of the organisation without giving them commit permission immediately?

[2015-10-11 15:06] 23Skidoo commented on #848
@kosmikus Maybe, but I can't figure out how to do that. Maybe one needs more permissions.

[2015-10-11 15:13] phadej commented on #848
Github ACL is a bit complicated, especially as it gone thru few changes recently.

There are outside collaborators and organisation members, both can be in teams IIRC.

Without any idea how Haskell organisation is configured, but you could have
- a team per each project (or closely related projects) with push rights
- people without any team with *default repository permission* set to *none* could

[2015-10-11 15:22] BardurArantsson commented on #2797
Pull request submitted: https://github.com/haskell/cabal/pull/2864

Let's see what Travis says...

[2015-10-11 15:22] adamgundry commented on #2177
The suggested solution should be fixed by #2859. Adding a `-w` flag to `cabal exec` and `cabal sandbox hc-pkg` is a good idea, patches welcome.

[2015-10-11 15:29] phadej commented on #956
The problem is in `1.16` or `1.18`, but not in `cabal-1.22 `.  with `ghc-6.12.3` on travis.

For example https://travis-ci.org/snoyberg/file-embed/builds/75568345 builds ok with cabal-1.22 and ghc-6.12.3

[2015-10-11 15:35] #956 closed

[2015-10-11 15:38] phadej commented on #1887
IIRC `cabal register` respects whatever `--package-db` stuff is supplied to `cabal configure`

[code]

---

IMHO we should just drop `--user` and `--global` as `register` command is stateful and respects whatever `configure` was given. Even *worse*, you **have to** build the package before you can register it.

So only `--inplace` flag makes sense for `register`, because you can register either in

[2015-10-11 16:17] phadej commented on #2673
it is.
setting
[code]

in `cabal.config`

results into
[code]
% /Users/ogre/Coding/other-haskell/cabal/.stack-work/install/x86_64-osx/ghc-7.10/7.10.2/bin/cabal configure -v2
...
Using ar given by user at: /usr/local/bin/my-very-own-ar
...
[code]

[2015-10-11 16:17] adamgundry commented on #2404
This appears to be fixed in master.

[2015-10-11 16:17] #2404 closed

[2015-10-11 16:23] adamgundry commented on #1899
The problem with `cabal sandbox hc-pkg` not using the configured compiler is fixed by #2859. For the remaining feature request (`-w` flag for `cabal sandbox hc-pkg` and `cabal exec`) see #2177.

[2015-10-11 16:23] #1899 closed

[2015-10-11 16:28] Boxfire commented on #2673
I believe you are correct. For whatever reason I did not have success setting ar-location before, but it must have been specific to my systems. Sorry about that.

[2015-10-11 16:28] #2673 closed

[2015-10-11 16:30] phadej commented on #2673
:+1:, Please report if problem reoccurs.

[2015-10-11 19:00] adamgundry commented on #427
Closing as duplicate of #465.

[2015-10-11 19:00] #427 closed

[2015-10-11 19:06] grayjay commented on #2679
Fixed by #2684.

[2015-10-11 19:06] #2679 closed

[2015-10-12 04:59] grayjay commented on #2860
Should we compare solutions found with different goal orderings?  The solutions might vary more than those found at one end of a large tree.

[2015-10-12 11:18] kosmikus commented on #2834
/cc @edsko

[2015-10-12 11:21] kosmikus commented on #2860
@grayjay Goal reordering is somewhat independent. It can significantly speed up the overall search. It can also change the score of the "first few" solutions, although it will obviously not change the score of the optimal solution. Implementing the machinery to do the scoring is necessary in any case.

[2015-10-12 11:30] kosmikus commented on #2842
/cc @edsko

[2015-10-12 12:41] phadej opened #2865 "Rewrite the cabal file parser using parsec"
The existing parser has no formal grammar, has terrible error messages and is sometimes very slow and memory hungry. In large part this is because `ReadP` is a terrible parser. Now that the ghc library no longer depends on the `Cabal` library, `Cabal` is now allowed to depend on `parsec`.

The Cabal parser is two-stage, outline then individual fields. This approach will remain. There is a [prototy

[2015-10-12 20:56] #2804 closed

[2015-10-12 23:35] #1935 closed

[2015-10-12 23:35] #2278 closed

[2015-10-13 10:27] jdnavarro commented on #848
Would it be worth adding a new global command line option, like `--full-help`, where the help messages for `cabal` and all its subcommands are displayed together? I'd have to do the same for the manpage in a script anyway, so it'd be the same effort.

[2015-10-13 11:20] lspitzner commented on #848
@jdnavarro
just fyi: i previously used the (bash) script [1] to generate/review diffs for changes to the documentation. But it might indeed be useful to include that functionality directly in cabal-install.

[1] https://gist.github.com/lspitzner/6600cf70030f934e5fc8#file-1_print-all-help-sh

[2015-10-13 11:21] jdnavarro commented on #848
@lspitzner oh, thanks, that's helpful.

[2015-10-13 11:25] lspitzner commented on #848
@jdnavarro (i have not checked if there are new subcommands not listed in the script)

[2015-10-13 14:19] 23Skidoo commented on #2080
@bennofs I'd say that 2 should also be a part of `cabal haddock`, and I think you should reuse the `--for-hackage` option for this. The workflow would then be:

[code]

Having to remember to call `cabal sdist` in between is too complicated, IMO. Also, `cabal upload --doc` should invoke `cabal haddock --for-hackage` if there's no existing documentation tarball (ideally, it'd also look at source tim

[2015-10-13 15:13] jdnavarro commented on #848
It turns out that adding a new global flag that only works when there is no command is non trivial, so I'm back to writing a simple script.

The problem now is that the `markdown` generated by `pandoc` is still messy; I have to tweak how pandoc detects list of items.

[2015-10-13 15:27] bitemyapp commented on #2080
I agree with the UX improvements @23Skidoo has laid out here.

[2015-10-13 15:41] bennofs commented on #2080
Ok, that sounds reasonable.

[2015-10-13 15:41] 23Skidoo commented on #848
@kosmikus OK, I figured out how to do that. You go to Setting > Colllaborators and add people as collaborators with Read permissions.

[2015-10-13 15:50] jdnavarro commented on #848
@23Skidoo but I can't still label or assign myself to any issue, even for the ones I reported.

[2015-10-13 16:04] 23Skidoo commented on #848
@jdnavarro I guess that you need Write permissions to do that.

[2015-10-13 16:07] jdnavarro commented on #848
@jdnavarro Then what can I do with Read permissions that I couldn't do before? I don't understand GitHub permissions :confused:

[2015-10-13 16:10] jdnavarro opened #2867 "Make every cabal-install subcommand help message valid markdown"
This was originally needed in #848, but I'm opening a new ticket to make the original task more granular. Feel free to assign this to me.

[2015-10-13 16:11] 23Skidoo commented on #848
@jdnavarro You can now get tickets assigned to you.

[2015-10-14 08:15] jdnavarro commented on #2867
I'm trying to come up with the minimal markdown syntax that still renders a manpage and HTML nicely without adding too much syntax ornamentation to the plain console help messages. In the end, it all boils down to rendering list items properly. This is what I came up after some fiddling:

https://gist.github.com/jdnavarro/23a338d7ee6ab20e7840

GitHub markdown doesn't support definition lists, but

[2015-10-14 14:10] jdnavarro commented on #2867
Option `1.` is not straightforward because, for example, for the `globalCommand` the `mainWorker` in `Main` needs to populate the list of subcommands necessary for proper formatting. Formatting flags suffer from the same problem. Even if `mainWorker` could is exported, it would need to be duplicated, and refactored, to support both plain text formatting and markdown formatting.

There is a `3.` op

[2015-10-14 14:55] jdnavarro commented on #2867
For properly formatting the flag descriptions as markdown `Cabal.Distribution.GetOpt.usageInfo` would need to be tweaked. It can be done but it's getting quite hairy.

This issue is definitely becoming much more work than I anticipated, so I'm taking care first of what we left half-baked with @kosmikus at the Hackathon before getting back again to this issue.

[2015-10-15 10:59] mgsloan opened #2870 "Package keys vary in inplace.conf when --enable-tests is passed"
When you build tests with Cabal, the library they link to has a different package key than the library which is installed.  I believe what's happening is that the full set of dependencies, including test dependencies, are being used to compute the key.

Here's a repro:

[code]

`ghc-pkg field split key` yields `key: split_E4yadeCDng9EtdbI5MZoDg`

`grep key dist/dist-sandbox-ac80d1aa/package.conf.i

[2015-10-15 11:00] mgsloan commented on #2870
pinging @ezyang

[2015-10-15 12:11] snoyberg opened #2871 "Pretty-printer generates invalid content when buildable: True is in a conditional"
Consider the following valid .cabal file:

[code]

Parsing this works just fine, but pretty-printing that parsed content generates an invalid file:

[code]

To repro: save the first content as cabal-print-bug.cabal and then run the following in the same directory:

[code]

[2015-10-15 13:17] #2797 closed

[2015-10-15 14:20] BardurArantsson opened #2872 "Add flexibility for .err and .out comparison in cabal-install integration tests"
As discussed in https://github.com/haskell/cabal/pull/2868#discussion_r42120492 it would be nice to have a little more flexibility for the matching used for ".err" and ".out" files in the cabal-install integration tests. This would allow for better handling of Windows (".exe" appears in the "program name" portion of output) and perhaps also in other cases where a *little* flexibility is required.

[2015-10-15 14:21] BardurArantsson commented on #2872
@23Skidoo : Turns out, I can't assign myself. Oh, GitHub Issues how I love thee :).

[2015-10-15 14:35] 23Skidoo commented on #2872
@BardurArantsson Just gave you and @phadej Write permissions, so self-assigning should work from now on.

[2015-10-15 15:14] BardurArantsson commented on #2722
Just noticed this is a duplicate of #2610. Closing.

[2015-10-15 15:14] #2722 closed

[2015-10-15 15:48] phadej commented on #2871
IIRC I have fixed that in `master` already. Which version you use?

[2015-10-15 15:51] snoyberg commented on #2871
I tested against Cabal-1.22.4.0. I can clone cabal HEAD to test, unless it's easier for you to do it right now.

[2015-10-15 15:52] phadej commented on #2871
I'm on mobile until tomorrow

[2015-10-15 15:59] snoyberg commented on #2871
Confirmed fixed, thanks!

[2015-10-15 15:59] #2871 closed

[2015-10-15 19:11] ezyang commented on #2870
I think this is fixed in HEAD. Can you give a try?

[2015-10-16 00:35] mgsloan commented on #2870
Ah, yup, this is fixed in HEAD.  Thanks!

[2015-10-16 00:35] #2870 closed

[2015-10-16 01:02] 23Skidoo commented on #2872
One thing I like about FileCheck is that both the test and the expected output are combined in a single file, so tests are more self-contained. In principle, we could do the same thing.

Also, if we want to reuse the same approach in the test suite for Cabal proper, then it probably makes sense to package `IntegrationTests.hs` as a separate library (say, `tasty-cabal-integration-tester`).

[2015-10-16 06:12] BardurArantsson commented on #2872
I don't think the "integration-test" approach works at all for Cabal itself, really. While doing the integration-tests thing I had a quick look at the PackageTests for Cabal, and it appears that the Cabal `PackageTester.hs` (and sometimes the `Check.hs` for each individual test) contains basically a more hardcoded subset of `cabal-install` which is necessary to run the checks.

I don't think we'll

[2015-10-16 10:03] edsko commented on #2653
For the benefit of other people finding this thread: no idea why, but the `nvram` invocation did not solve the problem for me; [disabling system integration in recovery mode](http://osxdaily.com/2015/10/05/disable-rootless-system-integrity-protection-mac-os-x/) however did.

[2015-10-16 18:59] dcoutts commented on #2407
@darthdeus .cabal files can use Haskell string syntax for these cases. So in this case that means using "" and escaping the '\' chars (or using '/' instead).

    include-dirs: "C:\\Program Files\\MySQL\\MySQL Server 5.6\\include"
    extra-lib-dirs: "C:\\Program Files\\MySQL\\MySQL Server 5.6\\lib"

FYI, this has been the case since pre-1.0 and is documented in the user guide.

Plausibly we could

[2015-10-16 18:59] #2407 closed

[2015-10-16 20:50] BardurArantsson commented on #500
Looking 6 years into the past here, but... does anyone still care? I think not.

FWIW: This is my output for current cabal-install:

[code]

I don't think this is remotely relevant any more?

[2015-10-16 20:52] BardurArantsson commented on #500
/ping @ttuegel @23Skidoo (because I trust your judgement more than mine.)

[2015-10-16 20:54] BardurArantsson commented on #467
Last report was in 2012. Maybe just... close? If there's a larger-scale problem here (and with other old reports), perhaps we should try to gather a "Task Force" to figure out what's wrong?

(I'll volunteer.)

[2015-10-17 01:03] 23Skidoo commented on #467
OK, closing as obsolete. If anyone objects, feel free to reopen. Or maybe just open an enhancement request.

[2015-10-17 01:03] #467 closed

[2015-10-17 16:17] jdnavarro opened #2876 "Parameter to make solver pick the minimal set of version depencencies"
This would be useful to detect wrong minimum dependency version bounds.

@kosmikus, would this be too difficult?

[2015-10-17 16:55] phadej commented on #2876
AFAICS this is a opposite of [`preferLatestOrdering`](https://github.com/haskell/cabal/blob/97ccac0b1a38878f7653c5ea81b8a9c98728cfff/cabal-install/Distribution/Client/Dependency/Modular/Preference.hs#L92)
I'd suggest:
- make `preferFirstOrdering`
- make a solver flag (`--prefer-oldest`)
- wire the two things together
- write tests
- profit

[2015-10-17 17:21] phadej commented on #2855
Hmm, and good starting point would be to have `cabal-install` and `Cabal` versions mentioned in the documentation.

[2015-10-17 22:24] mmakowski commented on #848
@jdnavarro oops, I picked it up at the Hackathon and announced on hackage IRC channel, but didn't think of mentioning it here. I went for the darcs option suggested by @bos instead of pandoc.

[2015-10-18 07:31] grayjay commented on #2860
@kosmikus I've started working on this.  Here is my design, so far:

* I created a type `newtype WeightedPSQ w k v = WeightedPSQ [(w, k, v))]` with the invariant that the list is always sorted by weight.  All choice nodes use `WeightedPSQ`, except for goal choices.  `GoalChoice` still uses `PSQ` because goal order shouldn't affect the score of the install plan.

* The weight type is a positive `Do

[2015-10-18 07:58] jdnavarro commented on #848
@mmakowski, well, the pandoc option is turning to be not as straightforward as I thought, so I was considering other ways to go about. Are you changing the format of console messages to manpages in the source or you are formatting the messages at runtime?

[2015-10-18 08:03] jdnavarro commented on #848
@mmakowski I just saw the PR. Looks good!

[2015-10-18 08:05] jdnavarro commented on #2867
No longer needed after #2877

[2015-10-18 08:05] #2867 closed

[2015-10-18 08:21] jdnavarro commented on #2876
That should be easy enough for me :)

[2015-10-18 10:42] bennofs commented on #2080
So I've implemented `cabal haddock --for-hackage` now (including the .tar.gz creation), but again I'm hitting UX issues when implementing `cabal upload --doc`:

1. `cabal upload` supports multiple arguments. What should `cabal upload foo-1.2.tar.gz bar-2.3.tar.gz qux-2.4-docs.tar.gz` do?
2. If we decide that (1) shoud upload packages for foo-1.2, bar-2.3 and upload docs for qux-2.4, then what shou

[2015-10-18 13:43] lspitzner opened #2878 "`cabal build -v` prints one line to stderr"
reproducable with both 1.22.6.0 and HEAD when building Cabal library itself. same symptom for other packages.

everything else is printed to stdout, so i guess this is not intended.

[2015-10-18 21:52] kosmikus commented on #2876
This has been suggested and even been worked on in the past, and I recall it not having been quite as easy as it sounds. I'll have to try to remember the details though. One issue I seem to remember is that it rarely works if applied recursively. You can control your own lower bounds, but not the lower bounds of all packages you depend on.

[2015-10-18 21:57] kosmikus commented on #2876
See #1309 and #2228. So there's actually an old pull request to start from if you like. I'm still in general in support of this. I think #1309 was just abandoned by the original author, and I didn't have the energy to push resolve the remaining questions and push it through on my own.

[2015-10-18 22:00] 23Skidoo commented on #2878
What does it print to `stderr`?

[2015-10-18 22:50] 23Skidoo commented on #2080
I think that plain `cabal upload` should only upload packages, and `cabal upload --doc` should only upload docs. Allowing to mix the two complicates the UI and implementation, and I don't think that the multi-argument form will be used that often anyway.

[2015-10-19 06:21] grayjay commented on #2860
I found one way to produce more solutions in a reasonable amount of time.  In the cases that I let finish, the speedup ranged from 2x to 680x for finding solutions that are better than cabal's initial solution.  Unfortunately, it's messy.

I realized that if a variable only appears in a conflict set because it contributed to a score that was above the maximum, there is no reason to try any other a

[2015-10-19 07:42] phadej commented on #2876
I would still try to make it work recursivelyi It would result into some work to correct lower bounds, but IMHO it's worth that.

There are packages with no lower bounds, and even people don't agree on how to specify upper bounds, lower bounds should be much more straight forward.

[2015-10-19 08:14] kosmikus commented on #2876
@phadej The situation has certainly changed because we now have Hackage trustees and the option of fixing bounds of old packages. But please consider that this is the only option: uploading a *new* version with fixed lower bounds wouldn't help, because the recursive `--prefer-oldest` would still pick the older one.

Consider the following scenario:

Package A-1 depends on B >=1 and B < 3.
Package

[2015-10-19 08:29] phadej commented on #2876
@kosmikus yes. But package authors could do revisions of their own packages too. So in very perfect world, trustees won't be overloaded with work.

It might make sense to centrally fix lower bounds for the core subset of Hackage (i.e. something everything depends on), but I'd don't expect there to be a lot of broken packages.

[2015-10-19 08:31] phadej commented on #2876
And we can "automate" that by kindly asking `matrix.hackage.haskell.org` to build with `--prefer-oldest` ;)

[2015-10-19 08:59] kosmikus commented on #2876
I'm not opposed here. I was just trying to explain why in the past, we considered this to be a more significant problem than it may be now.

[2015-10-20 15:55] tobiasBora commented on #2001
Hello,

I also have this very annoying problem, and I also run under a university proxy. I can help you to debug if needed !

[2015-10-21 06:45] lspitzner commented on #2878
[code]

[2015-10-21 18:04] BardurArantsson commented on #2860
I know next to nothing about this area of the code, but... I wonder if this would be something that could "just"[1] be farmed out to an (industrial-strength) SMT solver by transforming the problem appropriately?

[1] Yeah, I know, right...?

[2015-10-21 19:04] ttuegel commented on #2860
I just wanted to chime in here about using an off-the-shelf SMT solver for this sort of thing. I was recently trying to use Z3 (an industrial-strength solver if anything is) and I found that, in the event a solution cannot be found, it tends to generate rather large conflict sets full of terms that actually aren't relevant to the conflict. I think this would have a detrimental effect on our abilit

[2015-10-21 19:32] BardurArantsson commented on #2860
Oh, that's very interesting. Suggestion retracted. Though, perhaps an SMT solver could also be applied to minimize the conflict set? :)

[2015-10-21 20:49] kosmikus commented on #2860
@grayjay Thanks for working on this. I'd like to see the code if possible. Yes, don't feel too bad if there's no *immediate* improvement. This is one of several things I'd like to do that I think if used *together* might have a chance of significantly improving overall speed and quality. The other main ingredient being dynamic goal reordering. In many or even most situations where we do find a sol

[2015-10-21 20:57] kosmikus commented on #2860
@BardurArantsson Using an SMT solver or similar as a solver replacement has been suggested many times. It's a valid suggestion, and certainly very interesting. Together with a student and with input from @hvr, I have developed an almost usable z3-based solver that can in principle be used as a drop-in replacement for the current modular solver. I'm also currently looking at CUDF solvers. There are

[2015-10-21 21:02] BardurArantsson commented on #2860
Yeah, I was somewhat aware (but only peripherally) about the limitations of SMT solvers, but I just didn't stop to think about error messages. Error messages are probably in the HUMAN-Hard set... and thus not yet in the realm of SMT solvers. :)

[2015-10-21 21:18] kosmikus commented on #2860
@BardurArantsson Well, error messages alone are also not a reason to dismiss SMT solvers completely. It's entirely conceivable that once we know a problem is unsolvable, we use a completely different algorithm to come up with a good explanation for the "why".

[2015-10-21 21:23] grayjay commented on #2860
@kosmikus I haven't had a chance to clean up my code yet, but here is the branch, if you want to try it out: https://github.com/grayjay/cabal/tree/optimal-build-plans  I'll probably have more time to work on it in the next few days.  I actually switched back to ordering nodes the way cabal does currently, so that my branch should find the same solutions when `--max-penalty` is not used, and it's e

[2015-10-22 11:45] MKloczko commented on #989
+1

A little thing that might waste people's time. I'll try to look into it later.

[2015-10-22 13:05] phadej commented on #989
After https://github.com/haskell/cabal/pull/2879 is merged, there will be more context to get better error.

[2015-10-22 21:56] #848 closed

[2015-10-23 08:14] mbernat opened #2884 "Backport fixes for cabal repl not launched without exposed-modules to Cabal 1.22"
This occurs in 1.22 and has already been fixed in master.
So it's enough to cherry-pick the following commits:
- 4ea8e7d6458689e764310a647d56d3f1d32039d8
- ddbd26c07f63c17e2503be2402f8c94e00affe4f

[2015-10-23 15:20] dtonhofer opened #2885 "Precompiled "cabal" on download page is only good for 32-bit OS"
_Problem description:_

Go to: https://www.haskell.org/cabal/download.html

Grab the "cabal-1.22.0.0-i386-unknown-linux.tar.gz"

...because I want to just compile Haskell on Fedora 22 and I am running into _"ghc: ghc no longer supports single-file style package databases (dist/package.conf.inplace) use 'ghc-pkg init' to create the database with the correct format."_ while building with the haskell

[2015-10-23 15:57] 23Skidoo commented on #2885
We need to automate deployment of release binaries, because doing this manually clearly doesn't scale. We can use Travis for x86-64 and possibly i386 Linux (maybe also OS X), and maybe AppVeyor for Linux.

@dcoutts I remember there was talk about using some of your machines for this?

[2015-10-23 16:43] dtonhofer opened #2886 "Docu says: "Adding -j <n> to the build invocation will enable building on multiple cores at once." Not true."
At https://github.com/haskell/haskell-platform the README says:

_"Adding -j <n> to the build invocation will enable building on multiple cores at once."_

This seems to not be reliably the case.

Both

./platform.sh ../ghc-7.10.2-x86_64-unknown-linux-centos66.tar.bz2 -j 4

and

./platform.sh -j 4 ../ghc-7.10.2-x86_64-unknown-linux-centos66.tar.bz2

fail with errors that seem to indicate that "-j

[2015-10-23 18:03] 23Skidoo commented on #2886
`platform.sh` is something specific to HP, so [please use their bug tracker](https://github.com/haskell/haskell-platform/issues/new).

[2015-10-23 18:03] #2886 closed

[2015-10-23 19:23] gbaz commented on #2885
If anyone wants to hop on the #haskell-infrastructure channel on freenode and is willing to set up the builder apparatus, we'd be happy to slice off some of our vm space for this. In general we'd like to have a cross-platform builder story that would handle windows, linux, and os x alike for use by all the various core projects.

[2015-10-23 20:11] 23Skidoo commented on #2885
@gbaz I'm interested.

[2015-10-23 22:07] coder-mike opened #2887 "Missing dependencies on foreign libraries (Windows 10)"
I've been trying to install [llvm-general](https://hackage.haskell.org/package/llvm-general) using Cabal, and have been running into [this problem](https://github.com/bscarlet/llvm-general/issues/156). After some digging, we think that it's not related to the llvm-general package, but is related to cabal. I think I've managed to reproduce the issue with a very simple cabal file on my system:

[2015-10-25 01:52] doswellf opened #2888 "happy-1.18 problem - buildVerbose vs buildVerbosity in Setup.lhs"
Trying to build happy-1.17 from source on ubuntu 14

After changing
import System.IO.Error ( try )
to
import Control.Exception (try)
 which fixed on error, I then get a problem with this line:

Line 33 let runProgram p = rawSystemProgramConf (buildVerbose flags) p (withPrograms lbi)

This output resutls:

Setup.lhs:29:46:
    Not in scope: `buildVerbose'
    Perhaps you meant `buildVerbosity' (imp

[2015-10-25 13:26] 23Skidoo commented on #2888
`happy-1.17` is quite old, can't you try a newer version? Looks like `happy-1.17`'s setup script requires an old version of Cabal.

[2015-10-25 22:33] dcoutts opened #2889 "Remove external setup method for non-Custom build type"
Currently the SetupWrapper module has quite a lot of complexity due to supporting the 'externalSetupMethod' for the case of BuildType Simple/Configure/Make. In particular it has a setup exe cache that is only used in this case.

We can simplify this. Here's the current logic:

    determineSetupMethod options buildType'
      | buildType' == Custom             = externalSetupMethod
      | not (ca

[2015-10-26 01:27] 23Skidoo commented on #2889
I think that this logic can fail in the case of `build-type: Simple` and `cabal-version: > self-exec one`. In theory this can happen when you're using an old `cabal-install` exe with a new GHC and try to install a package that specifies a more recent `cabal-version`.

We can of course just print an error and refuse to proceed when the installed Cabal is more recent than the one we were compiled wi

[2015-10-26 01:53] dcoutts commented on #2889
I thought that cabal-install wouldn't even try to install a package where the .cabal file specifies `cabal-version` greater than what it iself understands (ie the Cabal lib it was built with). But apparently I'm wrong about that, it will. It's a bit of a gamble, we don't know if cabal-install can understand the any possibly new features, though I guess typically it'll be ok.

Ok, so the only case

[2015-10-26 02:07] 23Skidoo commented on #2889
I'd be happy to get rid of it -- as I said, we can change `cabal-install` to exit with an error in this case (or at least print a warning).

[2015-10-26 02:12] dcoutts commented on #2889
Oh we could still keep the feature to allow an older cabal-install to call a newer Cabal lib by compiling a Setup.hs. But we could do that in the simpler old-fashioned way of just building the Setup in the dist tree like we do for custom Setup.hs. That way we can get rid of the cached setup code and complexity.

[2015-10-26 02:17] 23Skidoo commented on #2889
So... this means that we're not removing the case 2 above, just the setup exe cache logic?

[2015-10-26 02:19] dcoutts commented on #2889
Yeah, I guess so. It's less of a reduction in complexity than I was hoping for, but I'd not considered that old cabal-install can talk to new Cabal lib for build-type Simple.

[2015-10-26 02:25] 23Skidoo commented on #2889
This can happen for all build types, I think.

[2015-10-26 09:13] grayjay commented on #2860
@kosmikus I refactored my branch, so it's ready for review: https://github.com/grayjay/cabal/tree/optimal-build-plans .  The flag is now `--max-score`.  There are still a few things that I want to improve, including the scoring.

The weight type is currently `[Double]`, and the weights are assigned in a way that should reproduce the ordering on master.  Final scores are calculated only from the in

[2015-10-26 19:18] RichiH commented on #2777
@ttuegel Reminder-poke :)

[2015-10-27 16:09] varosi commented on #2854
I mean that in the second line hmatrix dependency is not built with openblas flag, even if I said so.
I'm running it from subhask directory.

[2015-10-28 06:46] grayjay opened #2899 "cabal uses too much memory when solving for setup dependencies"
Some combinations of setup and library dependencies cause the solver to use more and more memory.  I ran `cabal install --dry-run --max-backjumps -1` with this cabal file for five minutes with about 16GB of memory.  I used GHC 7.10.2.

[code]

![cabal-memory-usage](https://cloud.githubusercontent.com/assets/4276753/10780987/483a8bba-7d00-11e5-8734-47b18ef62a04.png)

My best guess is that it is rel

[2015-10-28 07:15] 23Skidoo commented on #2899
/cc @edsko, @kosmikus

[2015-10-29 01:42] grayjay commented on #2860
@kosmikus I just fixed a space leak on my branch.  I'm not sure if it's still using too much memory, though.  During one test with GHC 7.10.2, the memory usage on optimal-build-plans increased at a rate that was 20% higher than on master.  With GHC 7.6.3, the memory usage was almost twice as high as master.  This branch also runs 2-30% slower on different tests.  I'm hoping that switching the weig

[2015-10-29 09:47] MKloczko opened #2901 "No --enable-optimization --disable-optimization flags for build option."
Cabal-install 1.22.6
Cabal version 1.22.4

Hello.

I would like to build a executable with different optimization flags.
In the cabal file, I've been changing the -On option multilpe times.
 `ghc-options: -O2` to `ghc-options: -O0` but it didn't force recompilation.

The flags --enable-optimization, -On, and --disable-optimization are not recognised for build option.

[2015-10-29 10:27] lspitzner opened #2902 ""does not exist" when current directory was deleted"
reproduce via:

[code]

This message is rather obscure.

[2015-10-29 16:39] dcoutts commented on #2901
People are welcome to have a go at improving this in the current code, but I should note that it's fixed in the nix-local-build branch (but as a consequence of doing everything completely differently, so it's not a thing we can cherry-pick.)

[2015-10-29 16:46] dcoutts opened #2903 "Add solver input to make enabling test/benchmark stanzas automatic rather than just manual"
Currently in the solver we have flags and stanzas which have significant similarities.

Flags guard arbitrary additional dependencies and can either be specified up front manually or they can be variables that are solved for. Stanzas guard additional dependencies (for tests and benchmarks) and whether they are enabled or disabled is specified up front.

The task is to add an automatic mode to the

[2015-10-29 19:11] kosmikus commented on #2903
This is probably relatively easy, so it might be interesting for someone who wants to gain more experience in hacking on the solver.

[2015-10-29 22:45] MKloczko commented on #2901
Oh, sorry. It seems that for both *nix-local-build* branch and the 1.22.6 cabal-install from hackage you can set the optimization flags at `configure` and `install level`, but not on `build`.

It is probably not an issue, but why one cannot set that for build option ?

Another question if I might ask here - why changing the optimization option does not result in recompilation of the executable ?

[2015-10-30 15:07] dcoutts commented on #2901
Sorry, in the nix-local-build branch the new code path there is currently called via "cabal new-build".

Oh, doesn't it? We delegate this decision to `ghc --make`.

[2015-10-31 19:11] MKloczko commented on #2901
Ok, it seems it's ghc related bug:
http://ghc.haskell.org/trac/ghc/ticket/10923

Current workaround - use -fforce-recomp

[2015-10-31 21:07] 23Skidoo commented on #2901
Closing (because it is not a Cabal bug), but feel free to reopen if you disagree.

[2015-10-31 21:07] #2901 closed

[2015-11-02 15:14] dcoutts commented on #2903
See PR #2907

[2015-11-02 23:43] Ericson2314 commented on #1842
The trick works for `cabal repl` for me. But I too get something dist-related for `cabal run`, so I assume that `cabal run` also sets the environment variable.

[2015-11-03 05:16] strake opened #2908 "Cabal fails on Unicode characters in source file name"
[This example package](https://cloud.githubusercontent.com/assets/976729/10901605/5c057074-81a6-11e5-87e6-0738d5df528d.png) (actually a gzipped tarball; ignore the file extension) makes cabal fail.

$ cabal build
Building test-0.1.0.0...
Preprocessing executable 'test' for test-0.1.0.0...
[1 of 2] Compiling Példa            ( Példa.hs, dist/build/test/test-tmp/Példa.o )
/usr/bin/ld: cannot find /h

[2015-11-03 09:15] nomeata commented on #163
I have been observing that when building `bindings-sane` on Debian. @mtolly, are you still planning to fix this?

[2015-11-03 17:48] P-Mercator opened #2909 "Cabal-install upgrade fail on Fedora 22"
Hello,

I am having troubles to install anything using cabal.

I have install cabal using

[code]
After a cabal update, upon trying to update cabal-install, I get

[code]

I have now reinstalled cabal and removed ~/.cabal and ~/.ghc several times in order to do a fresh install and  try again but no luck.

Could anybody help?

Thank you!

NB
[code]

[2015-11-03 18:04] 23Skidoo commented on #2908
Does it work with `ghc --make`?

[2015-11-03 20:47] 23Skidoo commented on #2908
Looks like it does.

[2015-11-03 21:00] 23Skidoo commented on #2908
Closing as works for me:

[code]

Test project sources: https://github.com/haskell/cabal/issues/2908

[2015-11-03 21:00] #2908 closed

[2015-11-03 21:04] 23Skidoo commented on #2908
Your test package also works fine:

[code]

So probably an issue with `ld` or GHC. Try updating binutils.

[2015-11-03 22:18] lspitzner commented on #2909
could you try `cabal install cabal-install -j1` ?

[2015-11-04 09:29] P-Mercator commented on #2909
This is what I got:

[code]

[2015-11-04 10:22] lspitzner commented on #2909
There somehow is a broken parsec package on your system. As you already deleted your user package database in ~/.ghc, i assume you have installed parsec as a system package. I don't know what is packaged on Fedora, so my generic advice is to reinstall the system packages that include the parsec library; alternatively use the mentioned `ghc-pkg check` to analyse where exactly the broken package is

[2015-11-04 10:31] P-Mercator commented on #2909
That's correct, parsec seems to be the problem. How would I find out which system package uses parsec?
 ```cabal install parsec --force-reinstalls``` doesn't seem to work. I am unsure how I should proceed.

[code]

[2015-11-04 10:47] lspitzner commented on #2909
According to that output, the packages are in fact not system packages, as they are located in your home folder. The most common cause for broken packages is deleting ~/.cabal without deleting ~/.ghc. I suggest removing those directories again and confirming that `ghc-pkg check` turns up clean. (And i seriously doubt that `cabal install cabal-install` would break packages, so you probably did some

[2015-11-04 10:53] P-Mercator commented on #2909
I probably have done something wrong in between, but I can't pinpoint what that would be.
I now have deleted my ~/.cabal and ~/.ghc. ```ghc-pkg check``` is now clean. How shall I proceed? ```cabal update && cabal install cabal-install```?

Sorry for all those newbie questions, but I am desperately trying to start it from scratch unsuccessfully.

[2015-11-04 11:29] lspitzner commented on #2909
Yeah, that should work.

[2015-11-04 12:28] P-Mercator commented on #2909
Unofrtunately, this doesn't seem to work

[code]

[2015-11-04 14:25] lspitzner commented on #2909
Ok sorry, i had not expected this kind of failure, and i have no clue what could cause it.

Has somebody else any idea?

Otherwise, make sure that `ghc-pkg check` is clean again and then capture the verbose output (i.e. perhaps the full output of `cabal install -j1 -v3`). There must be something unusual happening when installing packages..

[2015-11-04 15:00] P-Mercator commented on #2909
```ghc-pkg check``` is clean. The install gets stuck at
[code]

[Here](http://pastebin.ca/3234649) is the full output

[2015-11-04 15:02] P-Mercator commented on #2909
woops there is more to it
[code]

[2015-11-04 20:26] enolan opened #2910 "LocalBuildInfo should change at build time when components are selected"
You can specify which components to build like this: `runhaskell Setup.hs build my-testsuite`. But since `LocalBuildInfo` is generated at configure time, the `componentsConfigs` field list every component that was enabled then. This means you can't check whether certain components are being built.

I ran into this trying to update my PR #2844. `cabal-install`'s `Setup.hs` builds the manpage in a `

[2015-11-04 20:49] enolan commented on #948
So, since #2515 is merged, can we close this?

[2015-11-04 20:52] grayjay commented on #2860
I looked into the solver's memory use and I think I found the problem.  There are several space leaks in the existing logging code and another in backjumping.  The backjumping bug is present on master and my branch, but my change probably increased the size of the data structures that are retained.  The solution looks relatively difficult.  I'll try to create a separate pull request or issue when

[2015-11-05 09:29] nomeata opened #2911 "Add a way for test suites to print colors"
Hi,

with the current code, the stdout of a test suite is always attached to a pipe (and previously to a file), never to the terminal directly. This is unfortunate, as many test frameworks provide nice and useful coloring if attached to a terminal.

I suggest to add yet a nother mode to `--show-detail` that is `direct`: Like `streaming`, but it connects the test output directly to a terminal. It w

[2015-11-05 10:03] nomeata commented on #2398
I’m confused now. I tried to add a test case to Cabal to reproduce the problem, but I’m failing to to do so. Moreover, it seems that there, `Setup` is compiled without `-threaded` (see `compileSetup` in `PackageTester.hs`).

Maybe the runtime works fine without `-threaded`, but on some architectures, it does not manage to switch threads?

[2015-11-05 10:19] nomeata commented on #2398
Ok, I could reproduce it now, with large enough output. Preparing a pull request with the updated output.

I suggest to go this, less ambitious but more reliable route:

 * `--show-details=never`: Write output directly to the log, i.e. pass the handle to the log file to the test program.
 * `--show-details=always`: Write output directly to the log, i.e. pass the handle to the log file to the test

[2015-11-05 11:41] nomeata commented on #2911
This is implemented in PR #2913.

[2015-11-05 12:00] 23Skidoo commented on #948
I guess we can.

[2015-11-05 12:00] #948 closed

[2015-11-05 13:21] #2080 closed

[2015-11-06 01:19] dogweather commented on #2653
So for someone new to Haskell on the Mac (e.g. me), what should one do?

I hit this error after installing http://ghcformacosx.github.io/ and then running `cabal run` in a project folder.

[2015-11-06 01:28] gbaz commented on #2653
If you're using ghc for mac os x, you can download the fixed cabal binary from here: https://www.dropbox.com/s/rvvjlcmd85yyvy5/cabal?dl=0

You can also run `stack install cabal-install` apparently, to build your own fixed cabal.

The ghcformacosx ticket tracking this is here: https://github.com/ghcformacosx/ghc-dot-app/issues/41

[2015-11-06 07:48] kosmikus commented on #2860
Sorry for the long silence. I really appreciate all your work on this, but there's unfortunately no chance I'll have the time to take a serious look at this before next week. I hope I can get half a day free next week to try to work on my cabal-install backlog.

[2015-11-06 10:52] nrolland commented on #2653
Hi, if you are a newcomer I would really advise you to use stack as it pins
down more things, and does not pollute global environment.

On Friday, November 6, 2015, Robb Shecter <notifications@github.com> wrote:

--
Nicolas Rolland
mobile : +33 6 62 88 42 92

[2015-11-07 07:08] grayjay commented on #2860
@kosmikus No problem.  I'll also try to work on the remaining space leak.

[2015-11-07 09:51] BardurArantsson commented on #2902
This looks so edge-casey to me that it's probably not worth bothering with. (Most software will fall over in weird ways if $CWD doesn't exist.)

[2015-11-07 10:00] BardurArantsson commented on #2302
Is there anything actionable left in this issue or can it be closed?

[2015-11-07 10:02] BardurArantsson commented on #2266
AFAICT this would require an exponential number of builds and and such would be largely impractical for actual use. As such, I think this is a "wontfix"?

[2015-11-07 10:04] BardurArantsson commented on #1876
I think this is more a "hackage server" issue? (Presumably "cabal upload" reports whatever the hackage server reports if there's an error.)

[2015-11-07 10:09] BardurArantsson commented on #650
Was this fixed with the referenced merge? Can it be closed?

[2015-11-07 10:12] BardurArantsson commented on #647
This is wishlist at best and with no activity since mid-2010, I propose it just be closed.

[2015-11-07 10:19] BardurArantsson commented on #1848
Closing as duplicate of #1597 -- see discussion there. Please re-open if you think that this is in error.

[2015-11-07 10:19] #1848 closed

[2015-11-07 10:27] BardurArantsson commented on #2274
What is the use case here?

I get that there's a small space savings, but for all situations where you really care about the space taken up (e.g. if you're trying to minimal lxc-containers or the like), you'd probably want a more specialized solution that also strips all the *other* system binaries (and removes package docs, etc. etc.) *anyway*. So what would be gained by adding this feature?

[2015-11-07 10:36] BardurArantsson commented on #1969
I think this is a "wontfix", then?

[2015-11-07 10:40] BardurArantsson commented on #823
... or perhaps simpler: Just remove the wrapping altogether?

I really don't understand why cabal making a judgement call here on 79 being the "correct" terminal width, instead of the user's *actual* terminal width -- in which case wrapping happens automatically *anyway*.

[2015-11-07 10:45] BardurArantsson commented on #1144
Isn't this entirely subsumed by sandboxes and @ezyang's recent work on being able to have multiple versions of the same package installed simultaneously?

[2015-11-07 10:51] BardurArantsson commented on #500
OK, I think all the bits of the original task are actually in the "cabal info" output these days, so I'm closing this.

[2015-11-07 10:51] #500 closed

[2015-11-07 11:06] BardurArantsson commented on #464
No activity since 2009 and seems pretty marginal, closing.

[2015-11-07 11:06] #464 closed

[2015-11-07 11:10] BardurArantsson commented on #807
Will most likely be subsumed by #2865 which seems like it's going to be getting in sometime soonish. Closing.

[2015-11-07 11:20] BardurArantsson commented on #1457
If you want a dev install you can now use `setup-dev.sh` (or the provided `stack` configuration file if you're so inclined). If you want a non-dev install you can use "bootstrap.sh".

@AaronFriel : If you feel that this is insufficient or that it perhaps requires documentation then please re-open, but be prepared to be asked for a patch :).

[2015-11-07 11:20] #1457 closed

[2015-11-07 11:24] phadej commented on #807
I'd rather keep this open, and check if it really solved. We can (should?) write tests for this kind of regressions before closing.

[2015-11-07 11:25] BardurArantsson commented on #807
Ok, fair enough. I really mostly just wanted to (indirectly) call your attention to this.

[2015-11-07 11:25] phadej commented on #807
:+1:

[2015-11-08 00:37] mietek commented on #2274
@thomie:  If you’d like to reproduce my findings, you could use GHC 7.8.3 or 7.8.4.

[code]

[code]

It appears that GHC 7.10.1 and 7.10.2 generate already-stripped files.

[code]

[2015-11-08 06:46] BardurArantsson commented on #2911
#2913 was merged. Closing.

[2015-11-08 06:46] #2911 closed

[2015-11-08 10:42] thomie commented on #2274
So this ticket can be closed.

I looked into the way Cabal does stripping in #2782, and I think all is good now.

[2015-11-08 11:51] BardurArantsson commented on #2274
Good to hear, closed. :)

[2015-11-08 11:51] #2274 closed

[2015-11-09 04:06] BardurArantsson commented on #2129
QQ: Isn't this mostly made redundant irrelevant by @ezyang's Nix-style packages work that's already in master? If so, please close.

[2015-11-09 09:37] grayjay commented on #2860
Since I fixed the problem with memory usage, I rebased my branch onto #2916 and made a pull request (#2917).

[2015-11-09 17:52] facundominguez commented on #257
Was there a regression here?

When using
[code]
`cabal-install` invokes `ghc` with `ghc -optc a b`

[code]

[2015-11-10 11:38] adinapoli commented on #2653
My experience was the same as @edsko : Disabling SIP in recovery mode (following the guide he posted) solved the issue for me.

[2015-11-10 19:02] mtolly commented on #163
My apologies, this has fallen off my radar for a while now. In #2730 you can see that it got a bit more complicated, and as far as I could tell, clear decisions weren't really reached regarding where the extra tags should be allowed, and whether they should be ignored or actually used for comparison (and, what comparison function should be used). In addition my own reason for needing the fix mostl

[2015-11-10 23:50] mgsloan commented on #2780
Recently ran into this one...  +1

[2015-11-11 17:33] phadej opened #2919 "Minor release with for binary"
`binary` will provide `Binary Version` instance, we should make a minor release

https://github.com/kolmodin/binary/pull/87

[2015-11-12 07:02] gbaz opened #2921 "bump zlib dep in cabal-install?"
What do we need to do to move to a zlib > 6 for cabal-install?

Additionally, we should look into getting rid of the direct old-time dep if possible?

[2015-11-12 07:27] phadej commented on #2921
`master` already supports `zlib <0.7`

[2015-11-12 07:27] #2921 closed

[2015-11-12 07:29] gbaz commented on #2921
Whoops, sorry for not checking.

[2015-11-12 07:32] phadej commented on #2921
It's ok. :)

[2015-11-13 08:11] sol opened #2922 "--preference is not taken into account for packages that have preferred versions on Hackage"
Steps to reproduce:

[code]

[2015-11-13 08:12] sol commented on #2922
cc @kosmikus

[2015-11-13 08:21] kosmikus commented on #2922
Looks like preferences aren't properly merged before they're applied. And Hackage preferences being applied last (which is probably just an accident) then gives them priority.

Should probably be relatively easy to fix.

[2015-11-13 09:23] dalaing commented on #1405
Are there backwards compatibility concerns here?

For example: if `cc-options` is specified and none of the new flags are specified, should they default to `cc-options`?

[2015-11-14 06:48] dalaing commented on #1405
I'm not all that familiar with Objective C - would that (or any of the other options) - need their own version of ld-options?

[2015-11-14 07:29] grayjay commented on #2777
@ttuegel Does it make sense to make a smaller improvement to Cabal's algorithm before the solver is available?  Cabal currently tries every combination of flags until it finds a solution.  I changed the algorithm so that it backtracks as soon as one flag introduces a dependency that isn't available, and it seems to work in this case.   Would you like me to work on a pull request?

[2015-11-14 14:40] RichiH commented on #2777
I would like to have the small version sooner rather than later if you guys
are willing to do the work.

Richard

Sent by mobile; excuse my brevity.

[2015-11-14 20:30] 23Skidoo commented on #2777
@grayraw Yes, I think your patch would be accepted.

[2015-11-15 14:35] ttuegel commented on #2777
@grayjay Thank you for working on that. Yes, please make a pull request. I've been overruled and the solver is never going to be part of Cabal.

[2015-11-15 18:59] grayjay commented on #2777
@ttuegel No problem.  I created pull request #2925 , but I'm still trying to improve the error message that is generated without an exhaustive search.

[2015-11-15 21:17] RichiH commented on #2777
You could print pseudologic

"Install ( foo || bar ) && quux && ( foo1 || foo2 || foo3) and try again."

Richard

Sent by mobile; excuse my brevity.

[2015-11-15 21:40] grayjay commented on #2777
@RichiH Thanks for the suggestion.  I think that that message would become too long when all flag combinations lead to different sets of dependencies.  I just updated my branch with an improvement over the previous message (#2925).

[2015-11-16 06:44] grayjay commented on #2013
It looks like this issue was fixed by #2741.  Now cabal prints this message with `-v3`:

    [__9] next goal: lens (dependency of snap-0.13.2.8)
    [__9] rejecting: lens-4.13, lens-4.12.3, lens-4.12.2, lens-4.12.1, lens-4.12, lens-4.11.1, lens-4.11, lens-4.10, lens
    -4.9.1, lens-4.9, lens-4.8, lens-4.7.0.1, lens-4.7, lens-4.6.0.1, lens-4.6, lens-4.5, lens-4.4.0.2, lens-4.4.0.1, len
    s-4.4,

[2015-11-16 06:59] kosmikus commented on #2013
@grayjay Thanks.

[2015-11-16 06:59] #2013 closed

[2015-11-16 21:55] lspitzner commented on #2922
duplicate of #2645, is it not?

[2015-11-17 04:50] 23Skidoo commented on #2922
Closing in favour of #2645.

[2015-11-17 04:50] #2922 closed

[2015-11-17 10:23] adbak commented on #2887
Any luck with the problem? I'm facing the same difficulties (with llvm-general and exactly the same environment) and nothing seems to work. On the other hand, everything went fine on my Ubuntu. So it looks like cabal have this problem only on Windows (and only the new ones apparently?). Maybe there is at least some workaround to install llvm-general (by modifying Setup.hs in this package or sth li

[2015-11-17 16:36] martinvlk commented on #2155
Hi, I want to take this one for fixing, got a rough fix ready locally - Denis, do you mind?

[2015-11-17 23:32] coder-mike commented on #2887
No, I haven't had any luck. Posting the issue here was my last-ditch effort to try get past this problem after weeks of struggling with it and trying many different solutions (I elaborated more about the solutions I tried in [the llvm-general issue](https://github.com/bscarlet/llvm-general/issues/156) that I referenced from here).

If you figure out a work-around, please post it here. I tried vari

[2015-11-18 13:34] Blaisorblade commented on #1914
`cabal update` also suffers this problem — it prints "does not exist" on a network failure (in my actual scenario, we needed a proxy but none was set; FWIW, this user suffered this problem for months).
I've fixed the problem thanks to http://www.yesodweb.com/blog/2015/06/cabals-does-not-exist-error-message

So I managed to trigger (a variant of) this error in a simple way — just set a non-existent

[2015-11-20 16:39] adbak commented on #2887
I sure will post it here, but sometimes I lose hope it can be work-arounded. However today I discovered something interesting.

We both have the same environment: Windows 10, newest cabal, Haskell Platform 7.10.2-a, MinGW with gcc 4.8 (if I remember correctly, this particular version was needed to build LLVM, not the old 4.6 one). So MinGW was installed separately, right?

I'm a newie to Haskell (

[2015-11-20 19:46] rblaze opened #2932 "HookedBuildInfo can't update test suite build configuration"
**preBuild** hook allows to run some custom actions and update build configuration depending on it's results. In my case it was code generation. The problem is, it was test suite which needed generated modules, and **HookedBuildInfo** have only fields for updates to library and executables. Without update, test suite still builds, but cabal complains about generated not being added to *other-modul

[2015-11-21 15:06] martinvlk commented on #2645
Hi, I'll fix this one.

[2015-11-21 18:27] adbak commented on #2887
Yup, that was it. It's not a cabal bug at all. I finally installed llvm-general!
Here are the hints how to do that:
http://stackoverflow.com/questions/33743442/cabal-cant-find-foreign-libraries
It's a long and nasty way, many things may not work. For example this wasn't enough for me.
Package installed but simple hello world:
<pre class="source">module Main where

import LLVM.General.Analysis

mai

[2015-11-22 10:37] dredozubov commented on #2155
@martinvlk Please do, i completely forgot about this issue! Sorry.

[2015-11-23 05:55] #2887 closed

[2015-11-24 16:38] zsszatmari commented on #1961
:+1:

[2015-11-25 04:14] harendra-kumar commented on #989
I am a Haskell newbie and this issue frustrated among many such small things. I did not know what's wrong, it just printed a message saying "NoParse "build-depends" 23". Line 23 did not have any problem. the problem was on a later line. I had to start with a bare minimum build-depends line and incrementally build it until I got to the problem. It was someone else's code so I had no idea where exac

[2015-11-25 04:25] harendra-kumar commented on #989
BTW - the issue for me was exactly the same as neothemachine reported above i.e. a "<=" comparison with "x.y.*".

[2015-11-26 11:42] hvr opened #2933 "Setup.hs compiled w/ `-threaded` even though `cabal` built with `-DCABAL_NO_THREADED`"
I was surprised to see the following isn't done when `CABAL_NO_THREADED` was set:

[code]

is there any reason?

[2015-11-26 14:25] 23Skidoo commented on #2933
This shouldn't depend on a preprocessor define, we should check whether the GHC we're using support `-threaded` instead.

[2015-11-26 20:25] #2155 closed

[2015-11-26 23:30] noteed opened #2935 "cabal configure --builddir doesn't use custom Setup.hs"
Running `cabal configure --builddir /path/to/dist` or `cabal configure` produce different results.

The first one outputs

[code]

The second one outputs

[code]

where "XXX" is because I have `putStrLn "XXX"` in a `postConf` hook in the `Setup.hs` file.

It seems a workaround is to manually copy the custome `Setup.hs` file to `setup/setup.hs` in the builddir location.

[2015-11-27 21:40] 23Skidoo commented on #2644
Fixed by #2873.

[2015-11-27 21:40] #2644 closed

[2015-11-28 18:02] BartMassey opened #2938 "Non-package for sharing object file builds between multiple executables in same project"
This bug is essentially a continuation of #81, which is in turn a continuation of [Trac #89](http://hackage.haskell.org/trac/hackage/ticket/89). As far as I can tell, in spite of the "fixed" resolution of #81, the underlying issue was never actually fixed.

Imagine that you have a package P with two executables A and B. Both of them use module M, also part of the project, but useless to anyone els

[2015-11-29 20:40] ezyang commented on #2938
If the executables are dynamically linked, it is NOT a waste of time to install the library L: the shared library has to be installed somewhere! Perhaps what you are objecting to is the installation into the package database (which lets GHC know about the library), which would be unnecessary in this case because the libraries will always get built inplace, so perhaps this is #269?

[2015-11-29 22:22] BartMassey commented on #269
@BardurArantsson: Why the eagerness to get a valid issue closed? Maybe someone will come along five years from now looking for something to do and find this. Let's not make it harder to find by closing it.

I'm not sure why you think wishlist items don't belong in the issue tracker?

[2015-11-29 22:28] BartMassey commented on #2938
I am normally perfectly happy to have module M and its brethren separately statically linked with A and B. I sometimes want to fully statically link executables anyhow, so that I can deliver them to non-Haskell-equipped systems.

That said, yes, #269 would probably solve the problem for me. Thanks for the pointer!

Like one of the commenters on [Trac #89](http://hackage.haskell.org/trac/hackage/ti

[2015-11-30 06:19] martinvlk commented on #269
I think even closed issues remain in the tracker, and can be found so this is not a reason to keep it open..

[2015-11-30 10:24] BartMassey commented on #269
@martinvik: People looking for something to work on rarely look in the closed issues.

[2015-11-30 10:29] simonmar opened #2940 "cabal sdist should touch preprocessed .hs files"
`cabal sdist` for `alex` is supposed to produce a tarball that builds without requiring Happy, but sometimes it doesn't.  The failure is non-deterministic and happens about half the time.

Cabal bundles the Happy-generated `.hs` files into the source dist, but the problem appears to be that sometimes the timestamp on these files is slightly older than the `.y` file, so it is ignored when subsequen

[2015-11-30 13:25] BardurArantsson commented on #269
@BartMassey The likelihood of anyone randomly dropping by and picking this up is nil for all practical purposes. I refer to the fact that this has been open since 2008.

Meanwhile, every such item is causes a certain (small) amount of wasted time every time any one browses through the issue list. Given the above, I believe it's better to just close such issues.

(I have a whole rant about why bug

[2015-11-30 13:30] BardurArantsson commented on #269
Btw, my half-baked theory on why next to no drop-by contributors do wishlist items is that people tend to want to scratch their own itch -- in which case it won't matter if there's an open issue. (Unless they're just trying to pad their own résumé, in which case they might as well work on something that matters to more people. There's plenty of more important issues to go round.)

[2015-11-30 16:28] phadej commented on #269
I'd rather add label `pr welcome`, to indicate that it's ok to implement this or that feature request and submit the pr.

That said, it's obvious that I'd only close issues when there is real need (obsolete, or fixed / implemented / or clearly wontfix). There are labels, which could be used to classify issues. IMHO *enchancement* and *milestone: ⊥* do the job quite well. The *pr welcome* -label mi

[2015-11-30 22:17] joanblake commented on #2302
@BardurArantsson Some packages with external FFI library dependencies fail to install as relocatable in sandboxes.

For example `cabal install --enable-relocatable postgresql-simple` unexpectedly fails with
[code]

The path to PostgreSQL's libpq.so is get from pkg-config.

I see no reason why full paths for external libraries are not allowed.

[2015-12-01 23:50] NicolasT commented on #2311
I'm somewhat bitten by this as well: my package contains an in-tree autotooled library. A package `sdist` tarball contains correct timestamps: `configure.ac` and `aclocal.m4` are 'older' than `configure`, `config.h.in` etc.
Due to Cabal not honouring timestamps during unpack, when running `make` after `configure` (done through a `Custom` `Setup.hs` and such), the autotools 'maintainer mode' rules

[2015-12-02 05:25] BardurArantsson commented on #2302
@joanblake I think that would be a separate (more "focused") issue... would you mind creating an issue for that?

(Though, I think it might somewhat go against the idea of relocatability to use absolute paths... but then again external dependencies technically aren't part of the sandbox, so...)

[2015-12-02 05:48] BardurArantsson commented on #269
The problem is that if we don't have a *clear* guideline for exactly how to proceed on any given issue then "pr welcome" or "easy" issues are, I'd argue, even worse than useless because people will just dive in and immediately get discouraged because these things often unfortunately *aren't* easy due to the state of the cabal-install code base. Either that or we need some person who's willing to b

[2015-12-02 08:47] christiaanb commented on #2302
@joanblake Indeed, when I created partial support for prefix-independent packages, it didn't cross my mind that there might be external, non Haskell, libraries that a package could depend on. I don't know if we can currently distinguish between the library paths of Haskell and non-Haskell libraries. I guess creating a separate issue indeed makes sense.

@BardurArantsson This issue cannot be closed

[2015-12-02 17:32] ygale commented on #1375
Recording here the simple workaround that a lot of people already know:

Unless you really do expect the external source to change often and require rebuilds, use `add-source --snapshot`. If at some point later you do need it rebuilt, you cad do `delete-source` and then `add-source` without `--snapshot`. If you just need a new version, you can do `add-source --snapshot` also for the newer version,

[2015-12-02 19:22] martinvlk commented on #2645
Hi, I think it wouldn't make sense to merge preferences. Instead, we should make the value from the command line override the Hackage preferred version.

What are these soft constraints? They are meant to specify what version range we prefer for given package, if possible. If not possible, we are willing to accept what's available, but ideally as close to our preferred range as possible.

In the c

[2015-12-02 21:36] lspitzner commented on #2645
No; you prefer _one version from_ the range specified. The output (install plan) contains just one version.

If maintainer says 0.2 or 0.3, and user says 0.1 or 0.2, it seems to make sense to choose/prefer 0.2 over the other. There of course still is this question of how to weight, cases like: there are install plans `A` and `B`; `A` violates one user-provided preference, `B` violates three mainta

[2015-12-02 22:13] grayjay commented on #2645
I think that Hackage's deprecated version ranges should still apply, though they're currently combined with non-preferred ranges.  We might also want to treat deprecated version ranges more like constraints, as discussed in #1792.

@lspitzner The solver applies preferences by sorting all versions of a package by preference in the search tree and then trying the versions in order.  Handling more gr

[2015-12-03 21:44] carlosacp commented on #2653
running

[code]
from [ghcformacosx/ghc-dot-app#41](ghcformacosx/ghc-dot-app#41)

fix

[2015-12-05 12:54] BardurArantsson commented on #2302
@christiaanb Ah, I forgot about that. If that's the only thing missing, perhaps create a  specific issue for that bit? (Unless of course you're actively working on this and we're just a PR away... in which case creating a different issue would be pointless.)

My thinking here is that issues should be as specific (i.e. non-vague) as possible to encourage others (who may not familiar with the overal

[2015-12-05 13:03] BardurArantsson commented on #2940
I'm not familiar with how cabal-install does the actual creation of the tarball, but wouldn't it be better to force the proper timestamp during the actual tarring?

[2015-12-09 17:50] nrolland commented on #2653
@dagit future generations will be proud of us struggling haskellers

[2015-12-09 23:10] houseofwealth opened #2944 "install of BuildWrapper failed"
Hello, I get the following compile error when I try to install BuildWrapper (necessary for the EclipseFP plugin). Prior to this I ran `cabal update`. I am running on Windows 7 and have the Haskell Package 7.10.2-a installed. Can anyone help?

------------------------------
$ cabal install BuildWrapper
Resolving dependencies...
[1 of 1] Compiling Main             ( C:\Users\Owner\AppData\Local\Temp

[2015-12-09 23:30] grayjay commented on #2944
According to this issue, BuildWrapper is no longer maintained and doesn't build with GHC >= 7.10.1: https://github.com/JPMoresmau/BuildWrapper/issues/58

[2015-12-10 11:16] martinvlk commented on #2645
Hi, thanks a lot for the input!

Reading and re-reading your comments I figure I need more information
here before implementing a solution.

First of all, at which layer should a solution be implemented?

I first thought I can do it in `Distribution.Client.Dependency` at the
point where package preferences collected from different sources are
being "interpreted" and then passed into the solver (th

[2015-12-10 22:29] grayjay commented on #2645
@martinvlk I can see several ways to handle this issue.  The simplest would be to combine version preferences in `interpretPackagesPreference` in a way that loses less information.  For example, you could change `data PackagePreferences = PackagePreferences VersionRange InstalledPreference` in `D.C.Dependency.Types` to use `[VersionRange]`.  Then you could update `preferredVersionsOrdering` in `D.

[2015-12-11 10:19] deepfire commented on #724
A related thread: https://mail.haskell.org/pipermail/libraries/2011-January/015608.html

[2015-12-13 01:37] lukasepple opened #2945 "Issue with locales on ArchLinux"
Upon invoking cabal I get:

[code]

If I set an invalid `LANG` it works fine:

[code]

My locale looks like this:

[code]
But I also had trouble with a german locale and without `LC_COLLATE`.

My cabal version is:

[code]

I could also get it to work by generating no locale at all. Seems to be a common issue on ArchLinux though that has affected pandoc, steam and other applications in the past. I

[2015-12-13 12:33] BardurArantsson commented on #2944
Yeah, this is a BuildWrapper issue (and BW is unmaintained). Closing.

[2015-12-13 12:33] #2944 closed

[2015-12-13 20:03] 23Skidoo commented on #2945
Looks like it should be fixed on the Arch side then. Thanks for the bug report, maybe it'll help people googling for the error message.

[2015-12-13 20:03] #2945 closed

[2015-12-13 20:31] 23Skidoo opened #2947 "Replace the `--with-compiler` configure script argument with HC=/path/to/hc"
See #2946, especially https://github.com/haskell/cabal/pull/2946#issuecomment-164294686. Basically, the `./configure --with-compiler` interface that we use to pass the GHC location to the configure script is non-standard and error-prone, and should be phased out in favour of `HC=`.

[2015-12-14 07:33] hvr commented on #2947
Re compatibility, does a `custom-setup` specification apply to `build-type: configure` as well?

If so, we wouldn't need to keep `--with-compiler` around (and could get rid of that warning sooner), as we could fixup those 3 packages on Hackage via meta-data updates.

[2015-12-14 09:46] 23Skidoo commented on #2947
Looks like the `custom-setup` section is ignored when the build-type is not `Custom`.

[2015-12-15 09:12] martinvlk commented on #2645
So I did some exploratory coding here and I see that the preference is used in three places, basically corresponding to the types of solvers we have: modular, top-down and the one ignoring dependencies.

The modular solver currently reorders packages by the fact whether they satisfy the given preference or not. If we will newly pass in a list of preferred ranges instead of one range, we can reorde

[2015-12-15 11:00] BardurArantsson commented on #2645
@martinvlk There's been a bit of hemming and hawing about it, but AFAIUI the plan is still to remove the top-down solver at some point in the semi-near future. Perhaps it's not worth even trying to update it?

[2015-12-15 11:34] martinvlk commented on #2645
@BardurArantsson, thanks, although for now I am mostly concerned about the overall approach - the effort of updating the top-down solver code is in itself negligible. And if I want to make this change elsewhere the types will force me to update it anyway.

[2015-12-15 14:56] unhammer commented on #2335
The solution for me was also a new run of `cabal configure` (even without any `--enable-tests`) – just thought I'd leave that here for future readers since I was a bit confused by the reference to tests.

[2015-12-16 07:52] grayjay commented on #2645
@martinvlk Your plan sounds fine to me.  You could test preferences with the solver DSL by adding a field to `SolverTest` and then handling preferences similarly to the independent goals option.

[2015-12-16 23:28] ezyang opened #2953 "[nix-local-build] mtl bounds insufficient for Control.Monad.Except"
It was added in 2.2.1, but cabal-install's mtl bound is >= 2.0. But I'm not sure bumping it up is the right answer.

CC @dcoutts

[2015-12-16 23:57] ezyang opened #2954 "[nix-local-build] ProjectPlanning and BuildTarget are too big for GitHub CR interface"
C.f. https://github.com/haskell/cabal/pull/2952/files you can't leave comments.

Would be nice if they were split apart so that the CR interface would work.

[2015-12-17 13:00] edsko opened #2956 "Regression in cache construction"
PR #2826 (addressing #2396) introduced a bug in the cache construction, although we could define it away as "not a bug" if we were so inclined.

Here's the issue. In principle the index can contain multiple versions of a `preferred-versions` file at the same path (i.e., we might have multiple entries for `/example-package/preferred-versions`). If this is the case, then later entries should overrid

[2015-12-17 13:28] dcoutts commented on #2940
Note also that cabal unpack does not preserve timestamps.

[2015-12-17 14:44] dcoutts commented on #2956
I think we can define this as not a problem, since we're not planning to change the 00-index format, partly because old versions had this bug, but also because adding the new stuff increased the size significantly.

[2015-12-17 15:38] 23Skidoo commented on #2956
Does this only affect `preferred-versions` or also `.cabal` files?

[2015-12-17 16:13] edsko commented on #2956
@23Skidoo The `00-index.tar.gz` will not contain multiple versions of `.cabal` files (though the `01-index.tar.gz` will).

[2015-12-17 16:15] 23Skidoo commented on #2956
Yes, but in principle it can, right?

[2015-12-17 16:16] edsko commented on #2956
Yes, just like for `preferred-versions`.

[2015-12-17 16:18] edsko commented on #2956
(Though for `.cabal` files this may matter less because in the construction of the package index from the cache we already allow for this possibility; see `packageIndexFromCache` ; see the base case of `accum`.

[2015-12-17 16:32] ezyang opened #2957 "[nix-local-build] Need new-style clean"
A few bugs:
1. "cabal clean" doesn't clean dist-newtyle. Maybe need a "cabal new-clean"?
2. cabal clean obviously isn't going to respect projects

CC @dcoutts

[2015-12-17 16:34] ezyang opened #2958 "[nix-local-build] Doesn't respect --enable-executable-dynamic"
Normal build:

[code]

new-build:

[code]

CC @dcoutts

[2015-12-17 22:08] dcoutts commented on #2954
Not sure what to do here. I think both of these make sense together and not sure that splitting them up further will improve understanding of the code.

[2015-12-17 22:10] dcoutts commented on #2958
No this is a misunderstanding of the current behaviour. The new-configure is not yet persistent (it really does very little at all). You need to run cabal `new-build --enable-executable-dynamic`.

For the moment you need to consider it to be completely stateless. We'll add semi-persistent `configure` at some point.

[2015-12-17 22:10] #2958 closed

[2015-12-17 22:11] dcoutts commented on #2957
What should it clean do you think? All the local packages and cached info? Or just one package, or ?

[2015-12-17 22:11] dcoutts commented on #2953
What are we supposed to do? The .Error one is deprecated.

[2015-12-17 22:32] 23Skidoo commented on #2953
@ezyang

Why?

[2015-12-17 22:40] ezyang commented on #2953
I guess if the newest version of mtl builds on all versions of GHC in our support window, no problem.

[2015-12-17 22:40] #2953 closed

[2015-12-17 22:41] ezyang commented on #2957
Current cabal clean just cleans one project (e.g. that happens if you use it in a sandbox?) so that's my inclination. Though I'm not sure.

[2015-12-18 01:12] ezyang opened #2961 "[nix-local-build] Doesn't respect --with-ghc"
[code]

CC @dcoutts

[2015-12-18 12:14] edsko commented on #2956
Closing as wont-fix so. Added a comment to my (forthcoming) patch that integrates the security library that special case in `withIndexEntries` (introduced in #2962) for secure repos is required for correctness.

[2015-12-18 12:14] #2956 closed

[2015-12-18 16:52] ezyang opened #2963 "[nix-local-build] Build of Cabal forces download of old version of Cabal"
Steps to reproduce:

1. Look in `~/.cabal/packages/hackage.haskell.org/Cabal` and delete the most recent cached version of Cabal.
2. Run `cabal new-build` in `Cabal`'s source directory.

Expected result: no downloads

Actual result: We download Cabal-1.22.5.0

(This might be expected behavior but it's not obvious why that would be the case.)

CC @dcoutts

[2015-12-18 21:03] 23Skidoo commented on #2963
Just a guess: maybe it needs it to build the setup script?

[2015-12-18 23:25] lmdehaas opened #2964 "General cabal install fail"
Please excuse me for not knowing anything about cabal, but whatever install I try to do, it always fails. See, for example, the install of cabal itself:

$ cabal install cabal-install
Resolving dependencies...
Configuring cabal-install-1.22.6.0...
Failed to install cabal-install-1.22.6.0
Build log ( /Users/Lucas/.cabal/logs/cabal-install-1.22.6.0.log ):
cabal: /Users/Lucas/.cabal/logs/cabal-instal

[2015-12-19 00:17] 23Skidoo commented on #2964
Probably something to do with permissions. Try to find which syscall fails with `strace`.

[2015-12-19 01:43] ezyang opened #2965 "[RFC] Plugin dependencies"
Pursuant to https://ghc.haskell.org/trac/ghc/ticket/11244, it would be preferable for users to stop putting plugin dependencies in `build-depends` and a new field.

I propose to introduce a new field, `ghc-plugins`, which has the same format as `build-depends`, but adds dependencies on plugins. Packages specified here:

1. Do not get put in the `depends` in the installed package info (so they don'

[2015-12-19 02:33] 23Skidoo commented on #2965
Sounds sensible.

/cc @dcoutts

[2015-12-19 03:10] ezyang commented on #2965
OK, one minor complication here: if a user put a plugin dependency in `build-depends`, we want this to keep working. But this will stop working if Cabal unconditionally passes `-hide-all-plugin-packages` to GHC 8.0 or later. Perhaps use of `-hide-all-plugin-packages` should be toggleable, or maybe based on the version of Cabal dependency declared? (So, if a user requires a recent enough version of

[2015-12-19 05:02] 23Skidoo commented on #2965
I think that's better than adding yet another obscure switch. We'll need a version check for `ghc-plugins` anyway. We can also hardcode the list of known GHC plugins released on Hackage and warn if a GHC plugin is found in `build-depends`.

[2015-12-19 12:02] hvr commented on #2957
Fwiw, I'd expect `cabal new-clean` to remove the `dist-newstyle/` which may contain all sorts of executables and local artifacts

[2015-12-19 12:05] hvr commented on #2963
iirc, @dcoutts told me this is expected behavior (but I forgot the rationale he gave me)

[2015-12-19 18:44] dcoutts commented on #2963
Right, this is actually correct.

In the nix-local-build branch we treat dependencies of Setup.hs scripts rather strictly. Either they are new style that specify their deps explicitly in the .cabal file or they are legacy style in which case we pick a fixed set of package names for them. In particular we pick Cabal, but for compatibility we pick Cabal < 1.23, on the theory that we want to start br

[2015-12-19 18:44] #2963 closed

[2015-12-19 18:47] dcoutts commented on #2961
Yes ok. In the meantime use `-w` or `--with-compiler=`.

[2015-12-21 09:44] itteam opened #2966 "cabal-install-1.22 with zlib-0.6"
@23Skidoo would it be ok to do minor release with bumped dependencies. I can make a PR against `1.22` branch, if it's otherwise ok.

This is needed for https://github.com/fpco/stackage/issues/537 at least

[2015-12-21 09:45] itteam commented on #2966
And I used wrong account...

[2015-12-21 14:32] phadej commented on #2966
And I used wrong account to create an issue... :S

[2015-12-21 16:29] 23Skidoo commented on #2966
Yes, sure, in fact there was another request for a minor release: https://github.com/haskell/cabal/pull/2767#issuecomment-164431690.

[2015-12-21 20:46] ezyang commented on #2066
That's a doc bug, the Haddock comment is being associated with the wrong field.

[2015-12-21 21:03] ezyang commented on #2725
There are many ways to approach this problem:

* Here is a workaround, create a flag which represents whether or not you want the second executable to build and conditialize your executable stanzas likewise. Then when configuring, Cabal will discover the only satisfying assignment is to disable the second executable, and your code will work.

* At configure time (in Cabal library), Cabal attempts

[2015-12-21 21:06] ezyang commented on #2802
@dcoutts hasn't responded here, but based on communication with him at last ICFP, my understanding is that Duncan is keen to resolve issues 1 and 2 differently, by having Cabal continue to configure all components by default, but making it non-fatal if some components cannot be configured. (And then fixing copy to not attempt to copy components which failed configuration.)

This doesn't fix 3, but

[2015-12-21 21:31] ezyang commented on #1725
The change (that got reverted) is a0ca303448221f70b85b03a787124b22ec6d7f11

To state it more clearly, the bug is that when we flatten the package description, the set of package-global dependencies we compute blindly gobbles up all of the `build-depends`, regardless of the status of the `buildable` flag. I don't know what the subtle problem could be.

[2015-12-21 21:35] ezyang opened #2970 "Bring the cabal-install runner to Cabal library"
Annoyingly all the code is in `IntegrationTests.hs` and I don't really know if we want to make another library to house the common test code, or just copy paste it (ick).

Cabal test runner needs to operate a little differently because we need to build a 'Setup' executable (linked against the library) to then run the tests with.

[2015-12-21 21:35] ezyang commented on #2970
CC @BardurArantsson

[2015-12-21 22:43] ezyang opened #2971 "hsc2hs invocation picks up too many flags from pkgdb"
Cabal computes the transitive dependency of packages, and uses `include-paths` and other fields to determine what to pass to `hsc2hs`. But it grabs too many packages: it does the entire set of all packages that ANY component in the package might need, rather than the component that is being built. Test case attached. I'll push a comment to the code that needs to be fixed too.
[test.zip](https://gi

[2015-12-22 04:19] ezyang opened #2973 "[nix-local-build] Globbing in 'packages' field silently fails"
Suppose you write in your cabal.config

[code]

This won't work. It will silently fail and claim that there are no projects. (You need to use a comma.)

It seems that if a user writes a pattern, and it matches ZERO files, Cabal should warn.

CC @dcoutts

[2015-12-22 04:20] ezyang opened #2974 "[nix-local-build] Glob fails to parse nested directories inside curlies"
Suppose you write

[code]

This will fail to parse. (I don't know if this is not strictly POSIX glob, but I don't care and users probably don't either.)

CC @dcoutts

[2015-12-22 04:51] ezyang commented on #2961
Same with `--ghc-options`, it would seem.

[2015-12-22 06:25] ezyang commented on #1847
I think of `ghc --make` and filenames as a place where GHC got the interface horribly, horribly wrong. If `ghc --make` has been written so that a filename MUST be an executable, we wouldn't be having this discussion, because there would be no `-main-is` flag at the module name. (In general, `ghc --make`'s handling of file targets is bonkers, but the ship has sailed since there are many convenient

[2015-12-22 11:54] edsko opened #2976 "Relink-only seems to mess up dependency tracking"
If we have a project with multiple libraries, with Y depending on X, if I make a change to X, and then call new-build in Y, it will not notice it needs to relink it with X. However, once I get in this situation, it seems something breaks and it will not notice it needs to recompile even when this involves more than relinking.

[2015-12-22 11:54] edsko opened #2977 "cabal repl and cabal exec ghci equivalent for new-build?"
Even if just manually? I tried passing some package DBs to ghci but no luck.

[2015-12-22 12:31] danfran opened #2978 "In a post build hook how to get the right build path in a sandbox"
I am creating a simple post-build-hook but the problem comes when I try to build the project that is meant to use this hook, inside a sandbox.

I am using `Distribution.Simple.LocalBuildInfo` to pass the parameter to the hook, and specifically the function `buildDir` that always returns `dist/build`.

The problem is that in a sandbox the project will be built inside a `dist/dist-sandbox-xxxxxxxx/b

[2015-12-22 14:49] edsko opened #2979 "Support for ghc 7.2/base 4.4?"
It was my understanding (but perhaps I misunderstood @dcoutts) that we would be supporting back to ghc 7.2/base 4.4 in the next release of `cabal`; but I noticed that in `Cabal` the lower bound for `base` was set to 4.5 in 6b624050265c02287620e1e1fd60c4e63c7896cc . Is that an official decision? (In that case, I think we can drop support for 7.2 in hackage-security as well.)

[2015-12-22 14:54] 23Skidoo commented on #2979
/cc @phadej

[2015-12-22 15:07] 23Skidoo commented on #2979
In principle, our policy (as outlined in `HACKING.md`) is

This means that we're no longer required to support 7.2.2.

In practice, the support window can be bigger depending on how much of a hassle it is to keep supporting old GHC versions. If you decide to restore support for 7.2.2, please also enable the 7.2.2 build bot configuration in `.travis.yml`.

[2015-12-22 15:20] edsko opened #2980 "Parser problem for cabal.project"
If I leave out a comma, as in

[code]

then `new-build` simply doesn't build anything at all.

[2015-12-22 15:25] ezyang commented on #2980
Duplicate of #2973 haha.

[2015-12-22 15:25] #2980 closed

[2015-12-22 15:25] edsko commented on #2980
Whoops, sorry @dcoutts :)

[2015-12-22 15:25] edsko commented on #2980
(Though I consider this as evidence that syntax without commas is more natural :)

[2015-12-22 15:26] phadej commented on #2979
[code]

[2015-12-22 15:27] ezyang commented on #2977
Yeah, it's not implemented yet. You should be able to divine the manual flags by looking at the output of `cabal new-build -v`. What flags did you try?

[2015-12-22 15:30] edsko commented on #2979
Ok, fine. The trouble is also that `tasty` is not supported on 7.2.2 (it requires `base >= 4.5`) so even if we managed to build we could not run the test suite. In that case I will drop support for it in `hackage-security` as well.

[2015-12-22 15:30] #2979 closed

[2015-12-22 15:46] edsko opened #2981 "`new-build` does not find solution where `configure` finds one easily"
Running `cabal-nix new-build` in the `hackage-security` directory, with ghc 7.4.2 active, gives me

[code]

Explicitly telling it to use a newer version of `unix` just yields the next problem:

[code]

I did not try further from there; the standard `configure` just gives

[code]

[2015-12-22 16:04] edsko commented on #2981
Actually, I think this might be because `cabal-nix` is trying to find a solution that involves _all_ packages in the project, whether you build them or not. Adding `example-client` into the mix breaks standard cabal as well.

[2015-12-22 16:06] ezyang commented on #2981
That would do it, because the point of nix is deterministic configure over the project.

[2015-12-22 16:13] edsko commented on #2981
Hmmm, actually, removing my `.cabal_sandbox` completely enables standard cabal to find a solution after all:

[code]

So I guess something weird is happening here after all. (Wiping the `dist-newstyle` directory has no effect on `new-build` finding a solution or not). Leaving this open, although I'm not sure it's really a bug or something else that I'm not taking into account.

[2015-12-22 16:29] ezyang opened #2982 "Cabal will build and install broken library if other-modules is not complete"
This is a reopen of #121

Cabal computes the set of object files to link into an archive by using the `exposed-modules`/`other-modules` fields. This means that if an imported module is omitted, it isn't put into the archive.

That in and of itself isn't too bad (since the Cabal file is buggy), but THEN Cabal will happily proceed to install this broken archive, and then you'll get a mysterious link

[2015-12-22 16:46] 23Skidoo commented on #2982
The reason we don't do this is that running `ghc -M` before `ghc --make` slows the build down quite noticeably, especially on large projects (see #1455). I think this can be fixed by making `ghc --make` build the exe/library and emit the dependency graph in a single step.

[2015-12-22 16:49] ezyang commented on #2982
Yeah, because it has to redo all of the work parsing headers and transitively chasing everything down. I'm pretty sure this will require GHC cooperation to properly fix.

[2015-12-22 20:55] martinvlk commented on #2645
This is being fixed in [pull/2984](https://github.com/haskell/cabal/pull/2984)

[2015-12-23 01:41] ezyang commented on #2982
I checked and it turns out that all the information you need is in the top-level interface files. So GHC should get a command akin to `--abi-hash`, which gets passed some number of modules, and which accurately reports the set of home modules which was depended upon.

[2015-12-23 01:54] 23Skidoo commented on #2982
Would be also nice to have a command to get a list of extensions enabled in each module so that we could check that against `default-extensions` and `other-extensions`. This is sometimes required for correctness (e.g. with Template Haskell).

[2015-12-23 02:06] ezyang commented on #2982
This information is not currently in interface files. Can you expand on when it's necessary?

[2015-12-23 02:14] 23Skidoo commented on #2982
This information [is used during building](https://github.com/haskell/cabal/blob/master/Cabal/Distribution/Simple/GHC.hs#L522), so I'd like to do this check on each `cabal build` and possibly also when doing `cabal sdist`/`cabal check`. Same for the `other-modules`/`exposed-modules` check.

[2015-12-23 02:17] ezyang commented on #2982
Oh I see, you mean the Template Haskell extension! I can't tell you if an arbitrary extension was enabled, but I CAN tell you if Template Haskell was enabled from an interface file.

Let me bring up another comment: we need a command line interface for this. This is a bit annoying, because the possibilities are basically endless. What should GHC accept as a flag?

[2015-12-23 02:37] 23Skidoo commented on #2982
This is nice, but ideally I'd like to do this check for all extensions, though for most of them we can be more lenient (just print a warning), while omitting TH from `other-extensions` should be an error. Data from `other-extensions` is now used by the solver, so nudging people to keep it up to date is useful.

If `--make` could be used together with `-M` (so that GHC would build the exe/library a

[2015-12-23 02:42] ezyang commented on #2982
Well, `-M` doesn't give extension info, does it?

That's a bunch of commands. Would be nice to get some agreement on how to organize them, what their output should be, etc.

[2015-12-23 04:18] ezyang opened #2985 "[nix-local-build] Per local-package component enabling/disabling"
I tried to use new-build on Cabal with GHC 8.0, with tests enabled for my local package. The process went like this:
1.  A lot of packages are not updated for GHC 8.0. I briefly forgot that about `--allow-newer`, and decided to just vendor the "bad" packages, adding them to my cabal.project (woohoo for new-build!)
2. After vendoring a few, I attempted to get new-build to give me an install plan. B

[2015-12-23 08:00] ezyang opened #2986 "[nix-local-build] Gets confused when vendored package has same version as Hackage"
If your vendored package (listed in project.cabal) has the same version as the one on Hackage, the planner will refine it to the installed plan, but then wonder why there's no inplace copy of the package available. We should either (1) error earlier, or (2) not refine it into the install plan.

[2015-12-23 13:45] edsko opened #2988 ""flags" field does not seem to be honoured?"
In a ` cabal.project` file such as

[code]

the `flags` line does not seem to have any effect (with or without quotes). But perhaps I just don't know the right syntax.

[2015-12-23 16:11] ezyang commented on #2978
Hello danfran, you are using the right parameter. On Cabal HEAD, I verified that the contents of buildDir are printing out the Sandbox directory. Here is my test:
[cabal-2978.zip](https://github.com/haskell/cabal/files/70986/cabal-2978.zip)

Initialize a sandbox in this directory and then call 'cabal install'. The hook will print the right path.

Note that if you say 'cabal build', buildDir will p

[2015-12-23 16:21] ezyang commented on #269
I reviewed the PR queue. If a PR has action-required on it, it means that the PR needs updates before it can go in (not JUST rebasing; it was CRed but there were things that needed to be changed.) Should we close those PRs to make the PR queue look more friendly? Phabricator does WAY better in this regard.

In any case, it is not easy to contribute modifications to Cabal. I wish it were easier, bu

[2015-12-23 16:21] ezyang commented on #2938
OK, I'll close this ticket in favor of the other one, and make sure #269 doesn't get closed :)

[2015-12-23 16:21] #2938 closed

[2015-12-23 16:27] ezyang commented on #2935
I can't repro on Cabal HEAD.

{{{
ezyang@sabre:~/Dev/cabalbugs/cabal-2935$ cabal configure
Resolving dependencies...
[1 of 1] Compiling Main             ( dist/setup/setup.hs, dist/setup/Main.o )
Linking ./dist/setup/setup ...
Configuring cabal2935-0.1.0.0...
dist/build
ezyang@sabre:~/Dev/cabalbugs/cabal-2935$ cabal configure --buildir=dist2
cabal: unrecognized 'configure' option `--buildir=dist2'

[2015-12-23 16:27] #2935 closed

[2015-12-23 16:34] ezyang commented on #2932
Confirmed, the culprit is `updatePackageDescription` in `Distribution/PackageDescription.hs`. I'd be very appreciative if you could upload a test case for this!

[2015-12-23 16:46] danfran commented on #2978
Hi ezyang, thanks for the answer.

I run it but I cannot see the hook working.

After `cabal install` nothing has returned. Only `cabal build` return as usual `dist/build`.

I am wondering how this could work if the hooks belong to an external package (sorry, I was not totally clear in my question).

I mean given a package A (the hook) and a package B that uses the package A.

If the package B is

[2015-12-23 16:51] ezyang commented on #2978
What is the output of `cabal --version`? Can you try running with a newer version?

Your second problem seems like a different problem. Could you make a zip file like the test I uploaded showing this problem (with a list of commands to run to trigger it?)

[2015-12-23 17:04] danfran commented on #2978
`
$ cabal --version
cabal-install version 1.22.6.0
using version 1.22.4.0 of the Cabal library
`

and ghc is 7.10.3

[2015-12-23 17:23] ezyang commented on #2978
Could you please run

[code]

and then try again?

[2015-12-23 17:31] phadej commented on #2919
Why this is closed, I cannot see release yet? actually, One would need to backport fix to 1.22 branch...

[2015-12-23 17:37] ezyang commented on #2910
Hello @enolan, do you have suggested interface for being able to check if components are being built?

[2015-12-23 17:44] danfran commented on #2978
Hi ezyang,

it looks good now thanks! I can see both hook and package working under the same `dist/dist-xxxxx`.

[2015-12-23 17:45] ezyang commented on #2919
Oops, I saw merged and closed it, but we haven't released yet.

[2015-12-23 17:50] ezyang commented on #2978
OK. If the second problem is still an issue please reopen this ticket!

[2015-12-23 17:50] #2978 closed

[2015-12-23 17:50] phadej commented on #2919
@23Skidoo what you think, should I backport binary-0.8 patch to 1.22 branch as well?

[2015-12-23 18:05] ezyang opened #2989 "Adding a test case requires me to edit too many damn files"
If I'm adding a new test to Cabal, there are three things I expect to have to do:

1. Create the actual packages involved in the test
2. Create the script to actually run the test
3. (Maybe) edit a file somewhere to let the test runner know about the test.

Step (3) has too much friction:

1. To add a PackageTest to the test runner, I have to both add an import and then add it to the list of tests

[2015-12-23 18:35] ezyang commented on #2964
@lmdehaas could you please run `cabal install -v3 cabal-install` (or any other package of your choice) and paste the output here?

It would also be helpful to know how you installed your Haskell installation.

[2015-12-23 18:39] ezyang opened #2990 "Logs do not exist"
In #2909 and #2964 parallel Cabal attempts to print the build log to give users an idea what went wrong; however, something has gone wrong and the build log does not actually exist. Representative error:

[code]

It should be investigated why this is happening.

[2015-12-23 18:41] ezyang commented on #2909
Hello @P-Mercator, the log still looks truncated. Either that, or there was an intermittent connectivity problem. Can you try again?

[2015-12-23 18:47] ezyang commented on #2902
Well, it's failing because `getcwd` syscall is returning nothing. It should be simple enough to run `getCurrentDirectory` at the beginning of cabal-install and catch and handle the exception properly. Alternately, `getCurrentDirectory` could be changed so that it throws a better error in this situation.

[2015-12-23 18:53] ezyang commented on #2902
https://ghc.haskell.org/trac/ghc/ticket/11280#ticket

[2015-12-23 18:55] #2888 closed

[2015-12-23 18:57] ezyang commented on #2884
@23Skidoo are we even planning a new 1.22 release?

[2015-12-23 19:05] ezyang commented on #2878
Based on strace, this appears to be ar's fault. According to http://stackoverflow.com/questions/7027286/make-errors-ar-creating-lib-libmgr-a this can be suppressed by passing the `-c` flag. However, we need to make sure that this flag is respected by all `ar` we may want to invoke. We could also set up the subprocess call so that its stderr is pointed to our stdout, but then perhaps we should appl

[2015-12-23 19:08] ezyang commented on #2872
@BardurArantsson The historic motivation for the abstraction barrier is that Cabal looks at one package at a time, cabal-install looks at multiple packages. One might argue that Cabal/cabal-install should be modularized further (the file-formats library), but historically it's been pretty annoying to do development on multiple packages so it's not been done.

[2015-12-23 19:10] ezyang commented on #2858
(Would be useful to know in this ticket exactly *how* the error messages are unfriendly, and what you'd like to see. I definitely agree that they're unfriendly, but how?)

[2015-12-23 19:16] ezyang commented on #2856
@crockeea I can't reproduce. Could you please run the following:

[code]

and then let us know if the problem shows up again?

If it does show up again, we will need a FULL package that we can actually compile.

[2015-12-23 23:03] 23Skidoo commented on #2919
@phadej Sure, that would not be bad.

Re: next 1.22 point release, I've e-mailed Ryan, but he hasn't responded yet.

[2015-12-23 23:11] 23Skidoo commented on #2884
@ezyang Actually yes, we are, see #2966.

[2015-12-23 23:58] ezyang commented on #2836
I'm going to close this for now, because implementing it properly would require both Cabal and cabal-install to take the idea of component as the central unit (for building, and install planning) more seriously.

[2015-12-23 23:58] #2836 closed

[2015-12-23 23:59] ezyang commented on #2851
OK, I'm going to mark this as fixed.

[2015-12-23 23:59] #2851 closed

[2015-12-24 00:14] 23Skidoo commented on #2982
@ezyang

My idea was that it could be changed to do that (in a backwards-compatible way, via `Makefile` comments). Perhaps this could be enabled via a flag to avoid breaking consumers not expecting comments in `ghc -M` output. So running our hypothetical `ghc --make -dump-exts -M deps.d Foo.hs` would both build the library and produce the following `deps.d` file:

[code]

Hmm, actually, nothing re

[2015-12-24 00:17] ezyang commented on #2854
This report contradicts the report in #1358, where someone observed that the flags were being applied recursively even when they didn't want that.

Generally, it seems like the `--flags` command line argument to `cabal-install` is kind of misguided; it implies that flags in Cabal are some sort of global namespace when they really are not (the modular solver has a flag variable per package instance

[2015-12-24 00:18] ezyang commented on #1358
See also #2854, where a user expected a flag to be inherited and it was not.

[2015-12-24 00:19] 23Skidoo commented on #2982
Though there are some cases when `ghc -M` currently fails (`DEPENDS` pragma, CPP headers, TH's `addDependentFile`), see https://github.com/23Skidoo/ghc-parmake/issues/9 for discussion.

[2015-12-24 00:29] ezyang commented on #2982
I filed a ticket on GHC for simultaneous `--make` and `-M`: https://ghc.haskell.org/trac/ghc/ticket/11281#comment:1

I'm not really convinced by the API for getting out extensions.

[2015-12-24 00:31] enolan commented on #2910
Hi Edward. My plan was to move the call to `readBuildTargets` from `Distribution.Simple.Build.build` to `Distribution.Simple.buildAction`. Inside the `preBuild` `buildHook` and `postBuild` hooks, the `componentsConfigs` field of `LocalBuildInfo` would only include components that were actually being built. I can't think of a reason the build phase would need to know about components that are confi

[2015-12-24 00:32] ezyang commented on #2854
BTW, #937 reports that the flag assignment only applies for the current package.

[2015-12-24 00:48] ezyang commented on #2910
OK, some thoughts:

1. If you really want something only to be run per if something else is being built, this suggests we should have a per-component build hook, which gets called for every component being built (even better, you can get a ComponentLocalBuildInfo!) (ditto with postBuild/preBuild, I guess).

2. I don't think your plan works: componentsInBuildOrder will throw a hissy fit because it

[2015-12-24 00:57] ezyang commented on #937
To summarize, I think the following behavior is requested:

1. If "cabal configure" is called with an `-f` argument for a non existent flag, we should error.
2. If "cabal install foo-0.1" is called with an `-f` argument for a non existent flag, we should error.
3. If "cabal install foo" is called with an `-f` argument for a non existent flag, we should warn. Something like, "Attempted to set flag

[2015-12-24 00:59] ezyang commented on #2855
The sources for the user guide are here https://github.com/haskell/cabal/tree/master/Cabal/doc

Patches very happily accepted!

[2015-12-24 01:04] enolan commented on #2910
Yes, that makes sense. So we should either change the hooks to take an additional argument of `ComponentLocalBuildInfo` or add a new set of hooks with that parameter that default to doing nothing?

[2015-12-24 01:10] 23Skidoo commented on #2855
The problem here is that I don't have write access to haskell.org/cabal. Tried emailing admin@haskell.org, but to no avail. @rthomas also mentioned that he had problems with SFTP access.

BTW, once this is sorted out, we can configure Travis to build and deploy documentation for us.

[2015-12-24 01:10] ezyang commented on #2910
Changing the hooks will break existing hooks in two ways: (1) they won't typecheck anymore, and (2) they'll get run multiple times but most users expect their hooks to run once. I'd add some new hooks.

[2015-12-24 01:15] gbaz commented on #2855
@johnw can you hook @23Skidoo up with write access? (btw  I checked my mail archives and it looks like I can't find the email to admin@ requesting this, but that could be an error on my end...)

[2015-12-24 01:15] gbaz commented on #2855
@jwiegley can you hook @23Skidoo up with write access? (btw I checked my mail archives and it looks like I can't find the email to admin@ requesting this, but that could be an error on my end...)

[2015-12-24 01:21] 23Skidoo commented on #2982
Care to elaborate?

[2015-12-24 01:21] 23Skidoo commented on #2855
Well, it was quite some time ago.

[2015-12-24 01:41] ezyang commented on #2982
I dunno. (1) it seems annoying to parse and (2) it offends me aesthetically. Someone else should feel welcome to submit the GHC ticket requesting this though :)

[2015-12-24 08:52] hvr commented on #2940
Duplicate of  one-year-old #2311,  see also #2362

[2015-12-24 08:56] hvr commented on #2940
That's odd... I notice `alex.cabal` doesn't specify any build-tools dependency on `happy`, so why is Cabal even allowed to regenerate Happy parsers?

[2015-12-24 10:59] thielema commented on #937
On Wed, 23 Dec 2015, Edward Z. Yang wrote:

How to cope with multiple packages, e.g. "cabal install -fsomeFlag bar-0.1 foo" ?

[2015-12-24 18:31] ezyang commented on #2970
Well, for now I'm going to refactor the Cabal test suite to make it easier to write tests with.

[2015-12-24 21:54] ezyang commented on #937
Good question. I think there are two possibilities.

POSSIBILITY ONE: Flag assignments apply to all explicitly specified packages (but not recursively depended upon ones.  If "cabal install foo bar" is called with an -f argument for a non existent flag for both selected versions of foo and bar, we error "Attempted to set flag -ffoo, but none of the selected packages have this flag." Maybe we can e

[2015-12-25 05:28] ezyang commented on #2711
I have a better idea, which is to use the executable name of the package tests to infer the build directory.

[2015-12-25 05:30] ezyang commented on #2365
This should be fixed by the nix-local-build branch, which introduces "projects" which have a shared (monotonically growing) global database and a per-project database for local sources / vendored things.

[2015-12-25 05:32] ezyang opened #2994 "In principle, Setup --builddir=/path/to/dist should work even if CWD isn't in /path/to"
Right now it doesn't. Would be as easy as saving the current working directory in LBI and changeDirectory'ing to it first before doing anything.

[2015-12-25 07:25] edsko opened #2996 ""Freeze" the state of the package DB?"
It's somewhat annoying when using cabal-nix that whenever I call `cabal update`, a subsequent `cabal-nix` might start installing a bunch of new packages. (Somewhat related to @hvr 's way-back feature.)

[2015-12-25 08:19] edsko commented on #2977
Ah, indeed. Running with -v suggests

[code]

and that seems to work.

[2015-12-25 09:37] hvr commented on #2996
Btw I actually love that `cabal new-build` rebuilds stuff against the latest versions by default, some stuff I'm working on relies on this very property. Freezing the package db should be something the user explicitly requests (e.g. by writing something like `index-snapshot: 2015-12-24T14:43` into the `cabal.project` file).

[2015-12-25 09:37] edsko commented on #2996
Ah, yes, I'm not suggesting freezing should happen by default.

[2015-12-25 09:40] hvr commented on #2996
I hope I'll get to forward-porting the index-wayback branch very soon so we can glue it all together and see how it interoperates with nix-local-build & hackage-security

[2015-12-25 13:31] edsko opened #2997 "Global --extra-lib-dirs and --extra-include-dirs ignored?"
So I tried compiling hackage with new-build, and hackage relies on `text-icu`, which in my case is installed in the brew `Cellar` and hence needs additional lib and include paths. However, doing

[code]

had no effect, nor had setting the `extra-include-dirs` and `extra-lib-dirs` flags in the global section of the `cabal.project` file. This worked though:

[code]

(which arguably is the most logic

[2015-12-25 13:56] ezyang commented on #2977
Right. GHCi really needs to step up its "multiple local packages" game. SPJ and I have chatted about it, we have some ideas about how to do it, but it's not been implemented.

[2015-12-25 22:35] 23Skidoo commented on #2994
I guess we can also use `getExecutablePath`? Not sure if it works with `runghc`, though.

[2015-12-25 23:56] ezyang commented on #2994
It doesn't, and if you're using the default setup executable it won't even give you the right directory.

[2015-12-26 00:06] lmdehaas commented on #2990
The output of "cabal install -v3 -j1 cabal-install" on the same system as #2964 is in the txt file. Since the initial error, the system was updated from Yosemite to El Capitan.

[cabal install -v3 -j1 cabal-install output.txt](https://github.com/haskell/cabal/files/72289/cabal.install.-v3.-j1.cabal-install.output.txt)

[2015-12-26 00:14] lmdehaas commented on #2964
@ezyang I pasted the (very, very long) output under #2990. Haskell was installed through the latest image from https://www.haskell.org/platform/.

[2015-12-26 01:26] ezyang commented on #2964
The most recent log you posted seems to suggest cabal-install was installed successfully. Is there an executable named cabal-install in /Users/Lucas/Library/Haskell/bin?

My second question is, does the folder /Users/Lucas/Library/Haskell/logs exist? If not, what happens if you create it and run the command again?

[2015-12-26 01:27] ezyang commented on #2990
(Same as from other thread: does the logs directory exist? If so, what is the output of `ls -l /Users/Lucas/.cabal/logs/`

[2015-12-26 09:06] lmdehaas commented on #2990
It turned out to be a permission problem in my case. I changed the following permissions:

`sudo chmod -R g+w /Users/Lucas/Library/Haskell`
`sudo chmod -R g+w /Users/Lucas/.cabal/`

...and now all installs I try, including cabal-install, appear to run successfully.

[2015-12-26 10:23] jdnavarro commented on #2858
We briefly discussed this in the last Hackathon with @kosmikus. It was clear that this was something that needed improvement, but it wasn't clearcut how to go about it, so further discussion was necessary.

The first step would be to classify the different kind of solver errors and try to come up with improved message proposals. For example, a frequent solver failure scenario is usually due to a s

[2015-12-27 06:15] ezyang opened #2999 "hpc doesn't work with absolute distdir"
If you try to do any HPC using an absolute `--distdir`, `hpc` will fail to find the tix files. This is due to this bug: https://ghc.haskell.org/trac/ghc/ticket/10951

Cabal could work around this by relativizing the dist-dir with respect to the CWD, and then proceeding from there. This is what I had to do for the new test suite in #2998.

[2015-12-27 09:43] danfran opened #3000 "How to manage post-build-hook phase with the current stable Cabal version?"
Hi,

based on #2978 (that looks fixed now on the master version of Cabal), I am still looking for a solution with the current stable version 1.22.4.0 (and older versions) to manage a post-build-hook inside a sandbox.

One assumption first:
The sandbox-hash looks built in `Distribution.Client.Sandbox` via `sandboxBuildDir` (Jenkins hash algorithm). AFAIK it uses the current Cabal instance (/path/to

[2015-12-27 10:58] BardurArantsson commented on #2970
FWIW, I think your refactoring is basically The Right Way To Do It, so as far as I'm concerned at least, I think you can just close this when #2998 is merged (as it will hopefully be soonish).

[2015-12-27 11:13] BardurArantsson commented on #2872
@ezyang Oh, right. That does kind of make sense -- so cabal-install essentially started as a "solver" of sorts and evolved into the beast we have today :).

[2015-12-27 11:15] BardurArantsson commented on #2872
Just FTR: It's pretty unlikely that I'll actually get around to this any time in the near future (and the demand is probably quite limited), so if anyone wants to pick it up, be my guest. I'd be happy to help.

[2015-12-27 11:17] BardurArantsson commented on #2872
(Added label "easy" to the 'start-of-line-regex-marker' version since it requires very little knowledge of Cabal internals and would probably be sufficient for most uses.)

[2015-12-27 11:32] BardurArantsson commented on #269
@ezyang I think maybe doing the action-required -> close thing might be feasible, but it's Yet Another Informal Rule That All Project Members/Contributors Have To Rememember so I'd lean towards *not* doing it. I don't know Phabricator[1], but I don't find it surprising that it does this better -- almost *everything* does, probably including the old-fashioned mailing-lists-for-git-patches approach

[2015-12-27 16:18] ezyang commented on #269
@BardurArantsson I tried using the "action-required" label to mark this, but no one could remember to add/remove this label as necessary (and non-contributors don't even have the rights to do it!)

I think close is better: we only need to educate people with commit bits how to do this (users will automatically know to reopen requests when they submit them.)

I have definitely also come to the conc

[2015-12-27 16:20] ezyang commented on #3000
Have you tried printing out LocalBuildInfo and seeing if anything in there looks reasonable? Since you are trying to workaround the issue, it seems OK to copypaste any relevant code from cabal-install to get it working.

[2015-12-27 17:19] BardurArantsson opened #3001 "Add guidelines around FIXME/TODO/XXX"
(Placeholder comment, I'll update the issue shortly with a proper description.)

[2015-12-27 23:03] 23Skidoo commented on #2999
/cc @ttuegel

[2015-12-27 23:05] ttuegel commented on #2999
I think that's a reasonable work-around.

[2015-12-28 02:05] ezyang commented on #2970
OK close it for now.

[2015-12-28 02:05] #2970 closed

[2015-12-28 12:16] danfran commented on #3000
I printed out the LocalBuildInfo that it turned out to be really huge. So I have extracted only the info relative to a module (Arithmetic):

[code]

These are other values I get from `Simple.postBuild.Args` => []
and:

[code]

As you can see there is pretty much nothing significative in there. BTW I used the current git-master version of Cabal.

So to workaround the problem, at the moment I am usi

[2015-12-28 13:27] hvr opened #3003 "Cabal-1.22.6.0 incompatible with binary-0.8"
Here's what happens if you have `binary-0.8` installed (this was with GHC 7.10.3):

[code]

[2015-12-28 13:34] hvr commented on #3003
Sadly, I don't know if we fix the situation for pre-`setup-depends` cabals at all... :-/

/cc @edsko @dcoutts

[2015-12-28 13:39] phadej commented on #3003
you can install `Cabal` if you do ` cabal configure --ghc-options=-DMIN_VERSION_binary_0_8_0=1`;
unfortunately it's something you just have to know :(

[2015-12-28 13:41] hvr commented on #3003
@phadej it's a problem though as it breaks as soon as any install-plan automatically results in an (re)installation of `Cabal`... we can't expect  cabal users to start manually setting CPP flags :-(

[2015-12-28 13:43] hvr commented on #3003
Btw, adding `custom-setup` section with `setup-depends`  mirroring `library`'s `build-depends` doesn't work either for `Cabal`... so it seems we can't even fix this easily for `setup-depends` aware Cabals :-(

[2015-12-28 13:50] phadej commented on #3003
@hvr, I'm not sure if reinstallation of `Cabal` is a good idea, i.e. if there is a real problem. I try to downplay this, as I just don't know if this can be solved, except by setting `binary <0.8` on `ghc <8.0`.

[2015-12-28 14:00] hvr commented on #3003
With the new `custom-setup` feature, reinstallation of Cabal will happen, as this feature is to specify which Cabal version range a `Setup.hs` file was written against (or is known to be compatible with).

I hope you're right and this problem won't occur so much for users, but if it does, user's will just have yet another complaint about cabal, and no amount of downplaying is gonna resolve that...

[2015-12-28 14:04] phadej commented on #3003
I'm ok, with setting
- changing `binary <0.8` for just release `Cabal`
- making
[code]
for yet another release, if we really need `binary-0.8` support

[2015-12-28 14:04] hvr commented on #3003
@phadej are you sure that works?

[2015-12-28 14:19] phadej commented on #3003
@hvr, what if the `if Impl ghc` is added to `custom-setup` ? So it could work with `custom-setup` aware `cabal` and recent enough `ghc`? Or is there still so corner cases?

[2015-12-28 14:21] hvr commented on #3003
Once you can use `custom-setup` (but this is broken for `Cabal` currently), you also get properly working `MIN_VERSION_...` macros anyway. So there's no need to reject `binary-0.8` in that case :-/

[2015-12-28 15:53] snoyberg opened #3004 "Incorrect special character handling in Haddock response files"
This has been causing us quite some trouble with our Stackage builds (see: https://github.com/fpco/stackage/issues/1018). I recommend considering this a major issue worthy of an emergency patch, since the following combination seems to always cause failed Haddock builds:

* Newest released Cabal (1.22.6.0)
* Upcoming Haddock release (> 2.16.1)
* Any cabal file with a newline in the synopsis

When

[2015-12-28 16:01] phadej commented on #3003
Extreme solution, would to have `Cabal`'s `master`(and `1.24`)  be `binary >= 0.8`; and `1.22` series with `<0.8`?

[2015-12-28 16:08] phadej commented on #269
I'm not sure how re-opening in github works; IIRC non-collaborator cannot reopen issue if collaborator have closed it

[2015-12-28 16:25] phadej commented on #3003
Yet, the problem will probably still exist if user has both `binary-0.7` and `binary-0.8` in package database, GHC will probably pick `0.8` for `Setup` compilation?

[2015-12-28 19:00] ezyang commented on #3003
The analysis in this bug is incomplete.

The problem is that 1.22 and prior release of Cabal had "build-type: Custom", which causes GHC to first try to build the Setup executable with "ghc --make" (using the default database) before actually building it proper. Prior to setup dependencies, no dependencies were specified for this call, which is why binary-0.8 is automatically being picked when this

[2015-12-28 19:06] ezyang commented on #269
I guess that's this bug: https://github.com/isaacs/github/issues/361

So we can't do that.

[2015-12-28 20:06] ezyang commented on #3004
Reproduced.

[2015-12-28 22:07] ezyang commented on #3004
If I understand correctly, we can't fix this until https://github.com/haskell/haddock/issues/379 is fixed, because Haddock does not yet support the standard GCC response file format.

[2015-12-28 22:07] 23Skidoo commented on #3004
/cc @randen

[2015-12-28 22:07] ezyang commented on #3004
If you like, we can disable response files for now until Haddock fixes this.

[2015-12-28 22:09] 23Skidoo commented on #3004
Yes, needs to be fixed in Haddock first.

[2015-12-28 22:16] ezyang commented on #3004
The relevant code to fix is Distribution.Simple.Haddock, in renderArgs. Here's a hokey patch that doesn't work:

{{{
--- a/Cabal/Distribution/Simple/Haddock.hs
+++ b/Cabal/Distribution/Simple/Haddock.hs
@@ -497,7 +497,7 @@ renderArgs verbosity tmpFileOpts version comp args k = do
                  withTempFileEx tmpFileOpts outputDir "haddock-response.txt" $
                     \responseFileName

[2015-12-28 23:34] randen commented on #3004
Arrrgv! Right, so even with cabal doing the escaping, e.g., snoyberg's ghc patch for response-file-generation, the called program must also be aware of the escaping and do the unescaping.  Haddock > 2.16.1 was only used in building the docs for the recent HP releases on exactly one machine, so that is why this problem has laid dormant until we are now post-7.10.3.

Is escaping backslashes, newline

[2015-12-28 23:44] 23Skidoo commented on #3004
[This part of `gcc`'s source](https://github.com/gcc-mirror/gcc/blob/master/libiberty/argv.c#L135) is actually quite readable and well-commented, so I suggest doing exactly that.

[2015-12-29 11:10] edsko commented on #2981
Ok, this was my fault after all; one of the packages in the project had a constraint on `containers >= 0.5`, which clashed with `template-haskell` on ghc 7.4. The error from the solver was very unhelpful here, but `--reorder-goals` made it a lot clearer. Seeing some strange behaviour still now but I'll open a separate ticket about that.

[2015-12-29 11:10] #2981 closed

[2015-12-29 11:22] edsko opened #3010 "Strange solver behaviour"
I don't know if this is expected behaviour or not. I finally managed to build the hackage-security project using `new-build` on 7.4 [after lowering a bound on containers](https://github.com/haskell/cabal/issues/2981#issuecomment-167766564). My project file now looks like:

[code]

Running `cabal-nix new-build` in the hackage-security directory works. However, running `cabal-nix new-build --reorder

[2015-12-29 11:34] edsko opened #3011 "Don't overwrite build artefacts when switching ghc version"
We talked about this already, recording so we don't forget. Perhaps we ought to have some kind of "named profiles", so that build artefacts are stored in `dist-newstyle/:profile/...`. Currently it's very annoying that when i switch `ghc` version everything (local) gets overwritten.

[2015-12-29 11:44] edsko commented on #3010
(I just noticed that on 7.8 even without `--reorder-goals` it's also building `Cabal-1.20`, in addition to `Cabal-1.23`; it might have done the same on 7.4, I don't know. Doesn't change the question.)

[2015-12-29 11:46] edsko commented on #3010
(And yes, I realize I should be the one to understand this one, having implemented setup dependencies. But I don't think we changed the requirements on setup dependencies for packages without an explicit setup dependencies section, which `cabal-install` does not have, because we did not know which constraints to generate. I think @dcoutts however did change that behaviour in the `nix-local-build`

[2015-12-29 17:04] randen commented on #3004
This may sound gross, but what if we do something like base64-encode each argument chunk, separating each by newlines?  No escaping necessary (other than whatever the receiving program expects for its own argument parameters, such as whether it allows newlines, etc.).  Not "standard" (like there is a standard for this) but should be completely reliable and robust.  Since it is only for cabal-haddo

[2015-12-29 17:07] ezyang commented on #3010
I reported a similar Cabal issue https://github.com/haskell/cabal/issues/2963 and Duncan gave the rationale why this was occurring. I believe that you can fix this by making `cabal-install` require a version of Cabal that is more recent than 1.22 and giving it a `setup-depends`.

[2015-12-29 17:15] ezyang commented on #3011
As a workaround, you can manually get a named profile by changing the name of the dist directory (from `dist-newstyle`). I'm not sure if `-builddir` does the trick, but creating a new directory where its contents are symlinks to the other projects certainly does.

[2015-12-29 18:02] edsko commented on #3010
Hmmm, I see. In that case, #3003 is somewhat relevant.

[2015-12-29 18:02] #3010 closed

[2015-12-29 22:09] mcandre commented on #2653
+1

[2015-12-29 22:22] 23Skidoo commented on #3004
I'd much prefer to solve this in standard way. People may want to inspect Cabal-generated response files; other tools/scripts may want to generate them.

[2015-12-30 00:03] 23Skidoo commented on #3003
To summarise, to solve this we can either:

* Add a `setup-depends` section to `Cabal.cabal` (which will require us to bump `cabal-version` to `>= 1.23`, which will break the upgrade path for users of old `cabal-install` versions).
* Or disable bootstrapping by changing the `build-type` in `Cabal.cabal` to `Simple` (already done in `master`).

@ezyang says the following about the latter solution:

[2015-12-30 11:52] edsko opened #3013 "Syntax for building all packages in the project?"

[2015-12-30 14:23] edsko opened #3014 "Unnecessary rebuilds"
I'm still seeing unnecessary rebuilds occasionally, but I have not yet been able to pinpoint under which circumstances this happens (and of course it's always too late to run with `-v3` when it happens). I think adding some kind of on-by-default information why something is being rebuilt is a priority to track this one down.

[2015-12-30 18:09] ezyang commented on #3014
I see this too, relatively frequently in fact (invariably, GHC concludes that there's nothing to rebuild). I'll try to see what is going on.

[2015-12-31 07:58] edsko commented on #3014
Hmm, I'm also seeing actual compiles.

[2015-12-31 15:23] danfran commented on #3000
I have just upgraded to Cabal 1.22.6.0 and the issues above look gone.

Does the version 1.22.6.0 include the changes suggested here: #2978 ?

I cannot find a complete changelog.

Thanks

[2015-12-31 18:29] bgamari commented on #2994
Note that f907f1a6b4241ab4b75eaafa2ffb9031de8f008a caused a regression in GHC, [#11326](https://ghc.haskell.org/trac/ghc/ticket/11326).

[2015-12-31 21:15] ezyang commented on #2994
OK, let's revert this and add a new field to the LBI that actually contains the absolute path.

[2016-01-01 15:01] garetxe opened #3016 "Take into account installed pkg-config versions when resolving dependencies"
When constructing the installation plan, it seems like pkg-config does not take into account the versions of the installed system packages, and it always chooses the latest available version from hackage. This makes distributing bindings in hackage for the latest version of a given library fairly difficult, as far as I can tell. (Maybe there is a way? I would be happy to learn if so.)

An example

[2016-01-01 16:19] ezyang commented on #3016
This is #335! Some implementation guidance is in that ticket.

[2016-01-01 16:19] #3016 closed

[2016-01-01 19:09] ezyang commented on #2716
Closing this for now.

[2016-01-01 19:09] #2716 closed

[2016-01-01 19:53] ezyang opened #3017 "Reserve a package namespace for sub-libraries in GHC 7.8 and prior"
In #269, and even the existing support for test suite libraries (detailed-0.9) (and related to #2716), there are situations when Cabal generates multiple libraries for a single package. At the moment, these libraries are only ever installed locally; however, they are installed to the inplace package database and are communicated to GHC.

Now, there is a very big wart in the current handling of det

[2016-01-01 20:36] dmcclean commented on #2821
You could use this to emulate a sort of "optional dependency" where package P provides instances for classes defined in packages A and B, but only when A and B are already being pulled in for some other reason. Optional dependencies like that would avoid one major source of temptation to create orphan instances.

[2016-01-01 20:55] ezyang commented on #2821
I've recently come around to the idea that maybe we should use flags to expose extra functionality (like instances, optional bonuses when people have more dependencies). This would help package authors address a very big issue, which is "how many dependencies should I put in the core package, as opposed to split out into separate packages." The issue is even more keenly felt when orphans are invol

[2016-01-02 09:01] edsko opened #3019 "Last step in cabal-nix sometimes takes a loooooooooong time"
Building `hackage-server`:

[code]

and then.. nothing.. The `cabal-nix` process is using some 25% CPU at this point, and I have no idea what it's doing. That temp directory mentioned on the last line is already gone, so it's not just deleting. What it is doing is anyone's guess.. I CTRL-C'ed it after 12 minutes. Retried, same thing. Wiped `dist-newbuild`, same thing. I've seen long times before b

[2016-01-02 10:31] edsko commented on #3019
.. rebooted machine, same problem. Started with a completely blank `~/.cabal` directory, same problem. Started with blank `~/.cabal` directory, blank `dist-newstyle` directory, _and_ blank `~/.ghc` directory, _still_ same problem. Now I don't know what to try next anymore.. What is going on??

[2016-01-02 15:49] ezyang commented on #3019
What commit ID? (I hope I didn't push a regression!)

[2016-01-02 15:50] edsko commented on #3019
f8d8f85d9d2bb3c1b56b3d73b210641236572b6c . I haven't updated my nix branch in a while so I doubt it's your doing :)

[2016-01-02 16:01] ezyang commented on #3019
If you can, try strace'ing the process and see what it's churning on.

[2016-01-02 16:23] edsko commented on #3019
Hmmm, that was a good suggestion. `dtruss` (on OSX here) provided an important clue:

[code]

and so on and so forth for lots of files. I have no idea what's going on, but if it's somehow trying to read all the blobs in the server `state/` directory for whatever reason then that certainly explains why it's taking so long (and why it didn't before -- I just moved to an actual Hackage snapshot).

So

[2016-01-02 16:28] edsko commented on #3019
I'm also somewhat confused by that `dtruss` output; as far as I can tell, that particular file (`.../blobs...`) does not contain that data (`lass='hs-valid'>...`)... But perhaps I'm reading the output wrong.

[2016-01-02 21:57] ezyang opened #3020 "[nix-local-build] Doesn't reconfigure after a custom Setup rebuilds"
What is says on the tin.

[2016-01-02 22:33] ezyang commented on #269
I have a working implementation of this. I'll clean it up and PR.

[2016-01-03 01:19] BartMassey commented on #269
Thanks!

[2016-01-03 03:42] ezyang commented on #269
One thing is that my implementation "accidentally" supports installing the helper libraries too (although there's no way to refer to them, except through the real library, or dynamic linking.)

[2016-01-03 05:20] ezyang opened #3021 "[nix-local-build] (Needlessly) reconfigures if build fails (and build has not been successful yet)"
What it says on the tin.

[2016-01-03 16:56] hdgarrood opened #3024 "`cabal test` outputs stdout and stderr out of order"
With https://github.com/hdgarrood/cabal-test-stderr, if you run `cabal test`, you get this:

[code]

But if you run the test executable directly, you get this:

[code]

That is, the other way around.

The source code is:

[code]

I expected `cabal test` to produce text output in the same order as running the executable directly, even if the test executable outputs text to both stderr and stdout.

[2016-01-03 17:16] int-index opened #3025 "Unknown extensions: TypeApplications"
Steps to reproduce: add `TypeApplications` to the `default-extensions` field. The extension is now merged in GHC HEAD.

[2016-01-03 19:29] mrkkrp opened #3026 ""Could not resolve dependencies" does not output anything"
OK, it's rather strange. I pushed a cosmetic commit to one project and after that build for GHC 7.6 (Cabal 1.16) fails with this:

https://travis-ci.org/mrkkrp/slug/jobs/99976117#L176

Note that it built OK previously and that commit didn't change dependency list or something. Now, as you can see, Cabal is no longer able to resolve dependencies, and it does not print any information about what exa

[2016-01-03 20:35] ezyang commented on #3026
Can you fix this issue by upgrading Cabal first and then building? What happens if you crank up the verbosity?

Looking at your build matrix, this could be an issue with Cabal 1.16, and only Cabal 1.16 (e.g. the error message got improved in a later release.) If that's the case, I'm not really sure what we can do: you should run a less buggy version.

The failure of dependency resolution is consis

[2016-01-03 20:48] Rufflewind commented on #2902
I couldn't reproduce that exact error message with ghc-7.10.  Instead, what I see is:

    test: getCurrentDirectory: does not exist (No such file or directory)

I don't understand what is the cause of this discrepancy.

---

Now, I could improve the error message by changing from "No such file or directory" to "Current working directory no longer exists".  But that alone isn't going to fix the bu

[2016-01-03 20:54] ezyang commented on #3025
Thanks. We also need MonadFailDesugaring.

[2016-01-03 21:44] mrkkrp commented on #3026
Cabal 1.16 is needed to test with older GHC. So, conclusion here is that dependency resolver can instantly stop working for no apparent reason. I don't understand how it's possible, unless someone has removed older versions of packages from Hackage, which is unlikely.

Where else I can ask what to do with this?

[2016-01-03 22:58] mrkkrp commented on #3026
It's still a great mystery (maybe it depends on weather or phase of moon), but kind people on `#haskell` told me to try `--reorder-goals` and it worked. Closing.

[2016-01-03 22:58] #3026 closed

[2016-01-04 00:13] ezyang commented on #2902
I misdiagnosed a test case. The real problem is the error handler Cabal installs:

[code]

This doesn't print out as accurate a message as GHC's default handler does. Would be worth investigating why.

[2016-01-04 09:51] hvr commented on #3003
Fwiw, we don't *need* to bump `cabal-version` for that. Older cabal version will just nag about the unrecognised stanza :-)

However, setting `build-type: Simple` sounds like the better alternative to me. We should rather optimise for Hackage than for bootstrapping IMO. And It's not like bootstrapping becomes impossible by this...

However,

[2016-01-04 10:08] hvr commented on #3003
fixed =)

[2016-01-04 10:09] 23Skidoo commented on #3003
I think Hackage itself does a correctness check on upload, though that can probably also be circumvented.

[2016-01-04 16:34] dcoutts commented on #2974
Ben and I decided not to support this as it's actually rather tricky to implement. Adding globbing features on names within dirs is easy, doing it with dirs too affects the rest of the algorithm for checking if files have changed. So perhaps we should parse them like this and then say explicitly they're not supported.

[2016-01-04 22:05] #3025 closed

[2016-01-04 23:14] ezyang commented on #2974
If #2973 was fixed that would go a long way towards making this less troublesome.

In the Shake model, this would not be difficult to implement: the directory glob would be an oracle (i.e., we just run every invocation of Cabal) and then you would look at the result and see if it changed from last time (if it did, reparse!)

[2016-01-05 18:39] Blaisorblade commented on #3024
Have you tried different `--show-details=` settings, in particular `--show-details=streaming`? Since you dislike `cabal`'s filtering anyway, that might be what you want (and the implementation might be doing what you want, guessing from https://github.com/haskell/cabal/pull/1727/files#diff-604b1e3eaf4c44ccd162dc7c95128ee5R73).

Also, it's unclear whether (and where) ordering between stdout and std

[2016-01-05 18:42] Irio commented on #2851
Was having this problem (OS X El Capitan 10.11.2 and GHC 7.10.2) and solved after reinstalling GHC through https://ghcformacosx.github.io/.

[2016-01-05 19:05] #2645 closed

[2016-01-05 20:24] hdgarrood commented on #3024
Perhaps it will help to talk about where I'm coming from: essentially, what I would like to have is a command to run all the test suites without doing any kind of buffering or filtering. The only problem (as far as I'm aware) with just running `./dist/build/tests/tests` directly is that if I add another test suite to my cabal file, I also need to add another call to my test script, and it seems qu

[2016-01-06 00:43] Blaisorblade commented on #3024
I'm not sure on the exact requirements, but I suspect in a perfect world it'd be overall easier to do fancy error reporting on test reports before stringifying them. I think that's also what happens on the JVM in most cases, by loading test classes at runtime; in Haskell, I'd rather exchange structured data (JSON? YAML?).

:+1: I'd even go one step back to user requirements.
What's your test frame

[2016-01-06 00:47] Blaisorblade commented on #3024
Whoops, people are onto that already: https://github.com/haskell/cabal/issues/1601#issuecomment-29907652

[2016-01-06 00:51] hdgarrood commented on #3024
This is [PureScript](https://github.com/purescript/purescript). No test framework; just a bunch of tests and a call to `exitFailure` if any of them fail. (There are two test suites in the cabal file, and both use the exit code interface, not `detailed`).

The interleaving matters to me because one of the tests has two different sections; the first happens to output to stdout, and the second to std

[2016-01-06 05:54] ezyang commented on #3024
Maybe the reason it doesn't work with `streaming` is that we forgot to turn off stdout/stderr buffering. Should be an easy patch to try, and might fix the problem.

[2016-01-06 07:35] hvr commented on #2645
@BardurArantsson @martinivik is there some more concrete description of which behaviour this patch changes? the commit msg is rather terse and doesn't really explain the consequences IMO. For starters, what is considered a preference? A `--constraint` are clearly not mere "preferences", I'm rather confused.

[2016-01-06 12:37] martinvlk commented on #2645
@hvr: I hear you, fair point.

[2016-01-06 14:21] Blaisorblade commented on #3024
I'd advise to try forcing line buffering in the launched test suite; line buffering is enabled by default when process run against terminals, but not when they run against pipes. That should be actually easy and, if you're right, should fix the problem. Maybe you want to have cabal tell the testsuite to do that if you don't always want that (but why?), but I'll leave that up to you.

-----

Otherw

[2016-01-06 16:32] #3004 closed

[2016-01-06 20:41] ezyang commented on #3024
Then it seems reasonable for Cabal to present a pseudo-terminal to the subprocess when it intends to pass the information straight through to the user's terminal. (Well, someone has to implement it first though...)

[2016-01-06 22:38] ezyang commented on #2989
I think this is fixed, at least for Cabal.

[2016-01-06 22:38] #2989 closed

[2016-01-07 00:07] ttuegel commented on #3024
@ezyang The only reason I didn't do that in the first place is that Windows doesn't seem to have a notion analogous to pseudoterminals; I think the Cabal library should have the same features on all platforms. As discussed elsewhere, I think the correct way forward on this is to make the library "dumb" with respect to logging, i.e. only supporting `--show-details=direct`. (The presence of that opt

[2016-01-07 08:41] edsko opened #3032 "Parser problem"
This works:

[code]

but this does not

[code]

[2016-01-07 19:31] Blaisorblade commented on #3024
:+1: to `--show-details=direct`.

On pseudoterminals: I said "sanest", but I did mean "still not sane, just less so". The TL;DR is "it's low-level UNIX APIs, so let's please run away from that complexity and maintenance hell".

I implicitly assumed that pseudoterminals would be a pain to support, based on everything I hear about TTYs in general (not on having actually done it); it's low-level leak

[2016-01-07 19:45] thomie commented on #2982
Alternative solutions, that don't require teaching Cabal how to chase dependencies, or to get that information from the compiler.

* How about Cabal doesn't do that, but instead lets GHC do the linking. Wouldn't that solve this ticket? (maybe naive)

* Or, alternatively, add a flag `-no-chase-dependencies` to GHC. Similar to `-hide-all-packages`, it requires you to specify each module explicitly.

[2016-01-07 20:07] ezyang commented on #2982
thomie: It would, except for the bit where GHC does not actually know how to link static archives on not-Darwin systems. Which is a bit goofy and probably should be fixed! https://ghc.haskell.org/trac/ghc/ticket/11373#ticket

The second suggestion would work, and would be fairly easy to do.

[2016-01-07 22:51] BardurArantsson commented on #2645
@hvr: Was the concern only about the commit message, or are you concerned about the actual content of the PR?

If it's just the message... I don't think there's any constent guideline for commit messages, is there? If that's the thing you were asking about, I'll try to add something with #3001.

[2016-01-07 22:56] BardurArantsson commented on #3001
Note to self: #2800 is relevant

[2016-01-07 23:30] hdgarrood commented on #3024
Just in case I wasn't clear: This is for the PureScript compiler, which is all written in Haskell.

Looking at this discussion, I think it probably does make more sense just to make our test suite stop outputting to stderr, and send everything to stdout. It wouldn't be very much effort to do so. I'm not really sold on the `detailed` interface, but that's perhaps beside the point.

[2016-01-08 14:19] dcoutts commented on #3014
I just fixed one source of these. When you do:

-- make source changes
cabal new-build the-exe
cabal new-build the-lib
-- everything should be up to date now
cabal new-build the-exe
-- oh no, it tries to rebuild the exe

It accumulates a set of the components that have not changed since config/files changed.

[2016-01-08 21:54] #2835 closed

[2016-01-08 21:55] ezyang commented on #2835
We probably should also do this for cabal-install but I'll leave that for another time.

[2016-01-08 23:47] ezyang commented on #2821
To compare, Cargo's equivalent of flags (features) supports specifying what "features" should be enabled in a dependency. See: http://doc.crates.io/manifest.html#the-[features]-section

[2016-01-10 17:46] amigalemming opened #3033 "GHCi-Options"
Since we have `cabal repl`, how about a `GHCi-Options` field? I know, you prefer direct Cabal support to such `Options` fields that allow to pass anything.
Here is my use case: The package `synthesizer-llvm` requires a lot of FFI and this prohibits usage in GHCi unless you pass the `-fobject-code` option to GHCi.
I can run:
[code]
But I want to enable this trick permanently, e.g. by adding this li

[2016-01-10 20:52] ezyang opened #3034 "Drop 6.4.1 InstalledPackageInfo support"
@dcoutts has stated that he'd be happy to drop it, so let's do it.

[2016-01-10 22:03] ezyang commented on #2854
By the way, you can use `cabal install --only-dependencies --constraint="hmatrix +openblas"` to get the desired effect.

[2016-01-10 22:16] trofi commented on #2821
Cabal does nothing to prevent exposing additional modules over flags even for simplest cases.
Example json-0.9.1 package:

    if flag(generic)
      exposed-modules:  Text.JSON.Generic
    if flag(parsec)
      exposed-modules:  Text.JSON.Parsec
    if flag(pretty)
      exposed-modules:  Text.JSON.Pretty

git-annex requires Text.JSON.Generic.

Maybe 'cabal check' could detect these and warn abou

[2016-01-11 06:07] ChrisPenner commented on #2455
I'm having this issue (just tried today)
Did anyone find a solution?
[code]

[2016-01-11 16:04] ttuegel commented on #2395
Although I still think there is great value in making it easier for external agents to drive the configure-build-test-install process, I realized recently that we already have most of the machinery needed to implement a simpler, yet still powerful, plugin model.

The setup-depends work solves many of the problems with `build-type: Custom`, but your project is still tightly coupled to the Cabal API

[2016-01-11 16:19] 23Skidoo commented on #3033
Probably better implemented with a conditional:

[code]

[2016-01-11 16:19] 23Skidoo commented on #3034
+1.

[2016-01-11 16:23] amigalemming commented on #3033
On Mon, 11 Jan 2016, Mikhail Glushenkov wrote:

I thought that conditionals are only evaluated at configuration time.

I had the analogy to GHC-Prof-Options in mind.

[2016-01-11 16:31] 23Skidoo commented on #3033
Hmm, yes, you're right.

[2016-01-11 16:49] ezyang commented on #2395
To be clear, there are two things you might be referring to package description: the literal Cabal file (which can be parsed into GenericPackageDescription), or the description with conditionals resolved (PackageDescription). The latter's Binary/Show/Read serialization is NOT stable across versions. The former is insufficient for most plugins, who want the configured package.

[2016-01-11 17:16] ttuegel commented on #2395
I mean the literal Cabal file. I realize this is not enough for some of the plugins currently in existence, but I think there is a big, unexploited space of potential plugins that don't exist because the cost of integrating with the Cabal API is too high. I think the doctest-discover example I gave captures that well: at the moment, it operates as a GHC preprocessing stage because it would be unne

[2016-01-11 17:17] ttuegel commented on #2395
Oh, I should also point out: there is nothing stopping us from using the literal Cabal file format for a textual representation of the package description even *after* all the conditionals have been resolved. And of course the Read/Show/Binary instances are too fragile for this.

[2016-01-11 18:44] ezyang commented on #1446
I'm pretty sure I accidentally fixed this bug in #3015.

[2016-01-11 18:44] #1446 closed

[2016-01-11 18:47] ezyang commented on #1893
I think in the course of #3022 I will fix this bug.

[2016-01-11 19:17] ezyang commented on #1893
No, I'm bailing. The problem is that if we have separate `cabal_macros.h` per library, the preprocessors need to know about what component they are building. Currently, the `Preprocessor` interfaces does not get this information, so we'd need to extend this interface. Unfortunately, the preprocessor hooks are a very commonly used interface in Custom setup files, so we need to decide if we're going

[2016-01-11 19:43] dcoutts commented on #3034
This would leave 6.4.2 as the earliest ghc version we support.

[2016-01-11 19:59] 23Skidoo commented on #1893
You mean `setup-depends`? Yes, that's what it's for. We should start taking advantage of it!

[2016-01-11 22:29] ezyang commented on #1747
It will take a little bit of work to explain the error. The way that Cabal figures out that a header file is missing is by creating a C file that attempts to include every header file referenced in the `includes` field and link against all libraries in the `extra-libraries` field. So the file that induced the error is not anything the user actually wrote. The relevant implementation is in Distribu

[2016-01-11 23:01] ezyang commented on #3020
As a workaround, if you delete `dist-newstyle/build/Cabal-1.23.0.0/cache/config` (or whatever your package is) that will induce a reconfigure.

[2016-01-12 05:32] ezyang commented on #2395
Yes, that's true.

I was under the impression that most plugins are also going to want access to LocalBuildInfo, but I haven't actually checked.

[2016-01-12 09:40] rthomas commented on #2855
I've been able to push to www.haskell.org with sftp for the last releases I did - it seems at some point their infrastructure was rejigged and is no longer accepting connections at wiki.haskell.org.

Should I push the docs up from master, or from the 1.22 branch?